Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

style(000-12): fix clippy items-after-test-module and apply cargo fmt
  ito-rs/crates/ito-cli/src/app/show.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-cli/tests/create_more.rs
  ito-rs/crates/ito-common/src/id/change_id.rs
  ito-rs/crates/ito-common/src/id/sub_module_id.rs
  ito-rs/crates/ito-core/src/backend_http.rs
  ito-rs/crates/ito-core/src/create/mod.rs
  ito-rs/crates/ito-core/src/module_repository.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/tests/backend_sub_module_support.rs
  ito-rs/crates/ito-core/tests/create.rs
  ito-rs/crates/ito-domain/src/changes/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

refactor(000-12): split create_sub_module tests to separate file (fix max-lines)
  ito-rs/crates/ito-core/src/create/create_sub_module_tests.rs
  ito-rs/crates/ito-core/src/create/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(001-27): add requirement_id field to delta spec parsing
  ito-rs/crates/ito-core/src/show/mod.rs
  ito-rs/crates/ito-core/tests/show.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(001-27): add requirements field to enhanced task parsing
  ito-rs/crates/ito-core/src/backend_http.rs
  ito-rs/crates/ito-core/src/tasks.rs
  ito-rs/crates/ito-domain/src/tasks/compute.rs
  ito-rs/crates/ito-domain/src/tasks/parse.rs
  ito-rs/crates/ito-domain/src/tasks/relational_tests.rs
  ito-rs/crates/ito-domain/tests/tasks_parsing.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(001-27): add traceability computation module
  ito-rs/crates/ito-domain/src/lib.rs
  ito-rs/crates/ito-domain/src/traceability.rs
  ito-rs/crates/ito-domain/tests/traceability.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(001-27): integrate traceability validation into ito validate
  ito-rs/crates/ito-core/src/validate/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(001-27): add traceability context to review instructions
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/src/templates/review.rs
  ito-rs/crates/ito-core/src/templates/types.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/review.md.j2
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(001-27): add ito trace command
  ito-rs/crates/ito-cli/src/app/mod.rs
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/app/trace.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/trace.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(001-27): update authoring templates with traceability guidance
  ito-rs/crates/ito-domain/src/tasks/parse.rs
  ito-rs/crates/ito-templates/assets/default/project/.ito/AGENTS.md
  ito-rs/crates/ito-templates/assets/instructions/agent/new-proposal.md.j2
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/spec.md
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/tasks.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

test(001-27): add end-to-end traceability fixtures and tests
  ito-rs/crates/ito-cli/tests/trace_more.rs
  ito-rs/crates/ito-core/tests/traceability_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(000-12): address code review feedback on sub-module support (#179)
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/list.rs
  ito-rs/crates/ito-cli/src/app/show.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-core/src/create/mod.rs
  ito-rs/crates/ito-core/src/list.rs
  ito-rs/crates/ito-core/src/module_repository.rs
  ito-rs/crates/ito-core/src/sqlite_project_store.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/repo-sweep.md.j2
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style(001-27): apply cargo fmt formatting
  ito-rs/crates/ito-cli/src/app/trace.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/trace_more.rs
  ito-rs/crates/ito-core/src/templates/review.rs
  ito-rs/crates/ito-core/src/trace.rs
  ito-rs/crates/ito-core/tests/traceability_e2e.rs
  ito-rs/crates/ito-domain/src/traceability.rs
  ito-rs/crates/ito-domain/tests/tasks_parsing.rs
  ito-rs/crates/ito-domain/tests/traceability.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

set tasks completed
  .ito/changes/001-27_add-requirement-traceability/tasks.md
Due: none

fix(001-27): remove redundant archived path check and wire backend task requirements
  ito-rs/crates/ito-core/src/backend_http.rs
  ito-rs/crates/ito-core/src/trace.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs: remove iterator-chain-to-for-loop guidance from Rust style guide
  .ito/user-rust-style.md
  .opencode/agents/code-simplifier.md
  CLAUDE.md
  ito-rs/AGENTS.md
Due: markdownlint-cli2

fix(001-27): address PR review feedback
  ito-rs/crates/ito-cli/src/app/mod.rs
  ito-rs/crates/ito-cli/src/app/trace.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/trace_more.rs
  ito-rs/crates/ito-core/src/backend_http.rs
  ito-rs/crates/ito-core/src/show/mod.rs
  ito-rs/crates/ito-core/src/tasks.rs
  ito-rs/crates/ito-core/src/templates/review.rs
  ito-rs/crates/ito-core/tests/traceability_e2e.rs
  ito-rs/crates/ito-domain/src/tasks/parse.rs
  ito-rs/crates/ito-domain/src/traceability.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(001-27): restore non-strict validation test for uncovered requirements
  ito-rs/crates/ito-core/tests/traceability_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

changes and docs
  docs/presentations/march-2026/ito-lifecycle.svg
  docs/presentations/march-2026/ito-workflow-diagram.svg
  docs/presentations/march-2026/slides.html
Due: none

feat(019.01-01): add module confirmation gate to proposal prompts
  .ito/changes/019.01-01_module-confirmation-gate/.ito.yaml
  .ito/changes/019.01-01_module-confirmation-gate/README.md
  .ito/changes/019.01-01_module-confirmation-gate/proposal.md
  .ito/changes/019.01-01_module-confirmation-gate/specs/interactive-module-selection/spec.md
  .ito/changes/019.01-01_module-confirmation-gate/tasks.md
  .ito/modules/019_templates/sub/01_modules/module.md
  .ito/workflows/.state/change-allocations.json
  .opencode/skills/ito-write-change-proposal/SKILL.md
  ito-rs/crates/ito-templates/assets/instructions/agent/new-proposal.md.j2
  ito-rs/crates/ito-templates/assets/skills/ito-proposal/SKILL.md
Due: markdownlint-cli2

chore: fix end-of-file in change-allocations.json
  .ito/workflows/.state/change-allocations.json
Due: none

fix: address PR review feedback for module confirmation gate
  .claude/skills/ito-write-change-proposal/SKILL.md
  .codex/skills/ito-write-change-proposal/SKILL.md
  .github/skills/ito-write-change-proposal/SKILL.md
  .opencode/skills/ito-write-change-proposal/SKILL.md
  .pi/skills/ito-write-change-proposal/SKILL.md
  ito-rs/crates/ito-templates/assets/instructions/agent/new-proposal.md.j2
  ito-rs/crates/ito-templates/assets/skills/ito-proposal/SKILL.md
Due: markdownlint-cli2

fix: add --schema parameter to create-change examples in SKILL.md files
  .claude/skills/ito-write-change-proposal/SKILL.md
  .codex/skills/ito-write-change-proposal/SKILL.md
  .github/skills/ito-write-change-proposal/SKILL.md
  .opencode/skills/ito-write-change-proposal/SKILL.md
  .pi/skills/ito-write-change-proposal/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-proposal/SKILL.md
Due: markdownlint-cli2

Update ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/app/run.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: repair malformed Trace match arm in run.rs dispatch
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/app/trace.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-domain/src/tasks/parse.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(001-27): add requirement traceability chain (#181)
  ito-rs/crates/ito-cli/src/app/mod.rs
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/app/trace.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/trace_more.rs
  ito-rs/crates/ito-core/src/backend_http.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/show/mod.rs
  ito-rs/crates/ito-core/src/tasks.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/src/templates/review.rs
  ito-rs/crates/ito-core/src/templates/types.rs
  ito-rs/crates/ito-core/src/trace.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/tests/show.rs
  ito-rs/crates/ito-core/tests/traceability_e2e.rs
  ito-rs/crates/ito-domain/src/lib.rs
  ito-rs/crates/ito-domain/src/tasks/compute.rs
  ito-rs/crates/ito-domain/src/tasks/parse.rs
  ito-rs/crates/ito-domain/src/tasks/relational_tests.rs
  ito-rs/crates/ito-domain/src/traceability.rs
  ito-rs/crates/ito-domain/tests/tasks_parsing.rs
  ito-rs/crates/ito-domain/tests/traceability.rs
  ito-rs/crates/ito-templates/assets/default/project/.ito/AGENTS.md
  ito-rs/crates/ito-templates/assets/instructions/agent/new-proposal.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/review.md.j2
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/spec.md
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/tasks.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

update ito repo files
  .claude/skills/ito-proposal/SKILL.md
  .codex/skills/ito-proposal/SKILL.md
  .github/skills/ito-proposal/SKILL.md
  .ito/AGENTS.md
  .ito/changes/026-01_ito-cleanup/.ito.yaml
  .ito/changes/026-01_ito-cleanup/design.md
  .ito/changes/026-01_ito-cleanup/proposal.md
  .ito/changes/026-01_ito-cleanup/specs/cleanup-cli/spec.md
  .ito/changes/026-01_ito-cleanup/specs/cleanup-instruction/spec.md
  .ito/changes/026-01_ito-cleanup/specs/cleanup-skill/spec.md
  .ito/changes/026-01_ito-cleanup/tasks.md
  .ito/modules/026_utilities/module.md
  .ito/workflows/.state/change-allocations.json
  .opencode/skills/ito-proposal/SKILL.md
  .pi/skills/ito-proposal/SKILL.md
Due: markdownlint-cli2

update ito repo files
  .ito/workflows/.state/change-allocations.json
Due: none

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
