Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: cargo
  language: system
  args:
  - fmt
  - --manifest-path
  - ito-rs/Cargo.toml
  - --all
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: cargo
  language: system
  args:
  - clippy
  - --manifest-path
  - ito-rs/Cargo.toml
  - --workspace
  - --all-targets
  - --
  - -D
  - warnings
  - -D
  - clippy::dbg_macro
  - -D
  - clippy::todo
  - -D
  - clippy::unimplemented
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

cargo-test:
  name: cargo test (ito-rs)
  entry: make
  language: system
  args:
  - test
  pass_filenames: false
  stages:
  - pre-push

check-max-lines:
  name: check max lines (ito-rs)
  entry: python3
  language: system
  args:
  - ito-rs/tools/check_max_lines.py
  - --soft-limit
  - '1000'
  - --hard-limit
  - '1200'
  - --root
  - ito-rs
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

no need for init
  .github/workflows/copilot-setup-steps.yml
Due: none

switch to maintained
  .github/workflows/copilot-setup-steps.yml
Due: none

cache apt
  .github/workflows/copilot-setup-steps.yml
Due: none

borked
  .github/workflows/copilot-setup-steps.yml
Due: none

??
  .github/workflows/copilot-setup-steps.yml
Due: none

updated workflow for the selfhosted runners
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/polish-release-notes.yml
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
  .github/workflows/update-homebrew.yml
Due: arch-guardrails

formatting
  .github/workflows/copilot-setup-steps.yml
Due: none

added cache
  .github/workflows/copilot-setup-steps.yml
Due: none

refactor to action
  .github/actions/cache-apt-pkgs/action.yml
  .github/workflows/copilot-setup-steps.yml
Due: none

simplify workflows
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
  .github/workflows/update-homebrew.yml
Due: arch-guardrails

ci: cache Rust deps and raise test timeout
  .github/workflows/ci.yml
Due: arch-guardrails

fix(release): enable crates.io publishing, migrate CI to self-hosted runners (#6)
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/polish-release-notes.yml
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
  .github/workflows/update-homebrew.yml
  Makefile
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/misc_more.rs
  ito-rs/crates/ito-test-support/Cargo.toml
  ito-rs/release-plz.toml
  ito-rs/tools/sync_versions.py
  release-plz.toml
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

Update CI workflow to use self-hosted runner group
  .github/workflows/ci.yml
Due: arch-guardrails

Fix group name in CI workflow configuration
  .github/workflows/ci.yml
Due: arch-guardrails

Fix group name in Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Due: none

Refactor CI workflow to simplify runs-on syntax
  .github/workflows/ci.yml
Due: arch-guardrails

fix(test): use uppercase filenames in planning_init test for case-sensitive filesystems
  ito-rs/crates/ito-core/tests/planning_init.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

001-19: archive completed flag (#4)
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/polish-release-notes.yml
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
  .github/workflows/update-homebrew.yml
  extras/scripts/git-worktrees/git-wtadd.sh
  extras/scripts/git-worktrees/git-wtclone.sh
  extras/scripts/git-worktrees/git-wtlist.sh
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/archive_completed.rs
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-core/tests/planning_init.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

instal gh cli
  .github/workflows/release-plz.yml
Due: none

run releases on gh runners
  .github/workflows/release.yml
Due: none

Update release-plz.yml
  .github/workflows/release-plz.yml
Due: none

Update release-plz.yml (#8)
  .github/workflows/release-plz.yml
Due: none

bruf
  .github/workflows/release-plz.yml
Due: none

fix(guardrails): add ito-config to required ito-core edges
  .ito/changes/015-14_consolidate-workspace-crates/tasks.md
  ito-rs/tools/arch_guardrails.py
Due: none

chore: archive 015-14_consolidate-workspace-crates
  .ito/changes/archive/2026-02-10-015-14_consolidate-workspace-crates/.ito.yaml
  .ito/changes/archive/2026-02-10-015-14_consolidate-workspace-crates/proposal.md
  .ito/changes/archive/2026-02-10-015-14_consolidate-workspace-crates/specs/ito-core/spec.md
  .ito/changes/archive/2026-02-10-015-14_consolidate-workspace-crates/specs/ito-domain/spec.md
  .ito/changes/archive/2026-02-10-015-14_consolidate-workspace-crates/specs/ralph-crate/spec.md
  .ito/changes/archive/2026-02-10-015-14_consolidate-workspace-crates/specs/repo-precommit-quality-gates/spec.md
  .ito/changes/archive/2026-02-10-015-14_consolidate-workspace-crates/specs/rust-workspace/spec.md
  .ito/changes/archive/2026-02-10-015-14_consolidate-workspace-crates/tasks.md
  .ito/modules/015_onion-architecture-refactor/module.md
Due: none

Ralph loop iteration 1
  .ito/changes/003-03_optimize-unit-test-speed/tasks.md
  Makefile
Due: arch-guardrails

Ralph loop iteration 2
  .ito/changes/003-03_optimize-unit-test-speed/tasks.md
  .ito/changes/003-04_optimize-test-execution/.ito.yaml
  .ito/changes/003-04_optimize-test-execution/proposal.md
  .ito/changes/003-04_optimize-test-execution/specs/qa-testing-area/spec.md
  .ito/changes/003-04_optimize-test-execution/tasks.md
  .ito/modules/003_qa-testing/module.md
  .ito/workflows/.state/change-allocations.json
  ito-rs/AGENTS.md
  ito-rs/Cargo.lock
  ito-rs/Cargo.toml
  ito-rs/crates/ito-cli/Cargo.toml
  ito-rs/crates/ito-cli/tests/list_regression.rs
  ito-rs/crates/ito-core/Cargo.toml
  ito-rs/crates/ito-core/src/list.rs
  ito-rs/crates/ito-core/src/process.rs
  ito-rs/crates/ito-core/src/ralph/validation.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test: any of: ^ito-rs/.*\.(rs|toml)$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
