Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

feat(core): add ensure_worktree operation for change worktree lifecycle (012-05)
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/worktree_ensure.rs
  ito-rs/crates/ito-core/src/worktree_ensure_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: start task for change 012-05_worktree-lifecycle-and-init
  .ito/changes/012-05_worktree-lifecycle-and-init/tasks.md
Due: none

chore: complete task for change 012-05_worktree-lifecycle-and-init
  .ito/changes/012-05_worktree-lifecycle-and-init/tasks.md
Due: none

feat(cli): add ito worktree ensure and setup sub-commands (012-05)
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/cli/worktree.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/src/commands/worktree.rs
  ito-rs/crates/ito-cli/src/runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(cli,templates): add worktree-init instruction artifact and update apply template (012-05)
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/worktree-init.md.j2
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

test(core): add end-to-end smoke tests for worktree ensure + init flow (012-05)
  ito-rs/crates/ito-core/tests/worktree_ensure_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: complete task for change 028-01_ito-orchestrate-command-and-agent
  .ito/changes/028-01_ito-orchestrate-command-and-agent/demos/task-1.1-orchestrate-instruction.md
  .ito/changes/028-01_ito-orchestrate-command-and-agent/tasks.md
Due: none

chore: start task for change 028-01_ito-orchestrate-command-and-agent
  .ito/changes/028-01_ito-orchestrate-command-and-agent/tasks.md
Due: none

fix(core): address review findings — path traversal, change_id validation, init markers, API cleanup (012-05)
  ito-rs/crates/ito-cli/src/cli/worktree.rs
  ito-rs/crates/ito-cli/src/commands/worktree.rs
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-config/src/config/worktree_init_tests.rs
  ito-rs/crates/ito-core/src/worktree_ensure.rs
  ito-rs/crates/ito-core/src/worktree_ensure_tests.rs
  ito-rs/crates/ito-core/src/worktree_init.rs
  ito-rs/crates/ito-core/src/worktree_init_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: complete task for change 028-01_ito-orchestrate-command-and-agent
  .ito/changes/028-01_ito-orchestrate-command-and-agent/demos/task-1.2-orchestrate-prompt-and-presets.md
  .ito/changes/028-01_ito-orchestrate-command-and-agent/tasks.md
Due: none

chore: complete task for change 028-01_ito-orchestrate-command-and-agent
  .ito/changes/028-01_ito-orchestrate-command-and-agent/tasks.md
Due: none

fix: address PR #203 review feedback
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/commands/worktree.rs
  ito-rs/crates/ito-config/src/config/mod.rs
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-config/src/config/worktree_init_types.rs
  ito-rs/crates/ito-core/src/worktree_ensure.rs
  ito-rs/crates/ito-core/src/worktree_ensure_tests.rs
  ito-rs/crates/ito-core/src/worktree_init.rs
  ito-rs/crates/ito-core/src/worktree_init_tests.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/worktree-init.md.j2
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(security): canonicalize gitdir pointer to prevent path-traversal write
  ito-rs/crates/ito-core/src/worktree_ensure.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(worktrees): add worktree lifecycle management and initialization (012-05) (#203)
  .opencode/agent/ito-quick.md
  Cargo.lock
  Cargo.toml
  docs/presentations/march-2026/ito-lifecycle-slide-deck.md
  docs/presentations/march-2026/slides.html
  docs/presentations/tips-march-2026/slides-neon.html
  docs/presentations/tips-march-2026/slides-playful.html
  docs/presentations/tips-march-2026/slides.html
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/cli/worktree.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/src/commands/worktree.rs
  ito-rs/crates/ito-cli/src/runtime.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-config/src/config/mod.rs
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-config/src/config/worktree_init_tests.rs
  ito-rs/crates/ito-config/src/config/worktree_init_types.rs
  ito-rs/crates/ito-core/Cargo.toml
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/worktree_ensure.rs
  ito-rs/crates/ito-core/src/worktree_ensure_tests.rs
  ito-rs/crates/ito-core/src/worktree_init.rs
  ito-rs/crates/ito-core/src/worktree_init_tests.rs
  ito-rs/crates/ito-core/tests/worktree_ensure_e2e.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/worktree-init.md.j2
  schemas/ito-config.schema.json
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

fix(core): address PR #204 review findings
  .ito/AGENTS.md
  ito-rs/crates/ito-cli/src/commands/sync.rs
  ito-rs/crates/ito-core/src/coordination_worktree.rs
  ito-rs/crates/ito-core/src/coordination_worktree_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Update schemas/ito-config.schema.json
  schemas/ito-config.schema.json
Due: none

fix(cli): split sync into blocking (before-read) and background (after-write) variants
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-cli/src/commands/sync.rs
  ito-rs/crates/ito-cli/src/commands/tasks.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(025-09): add worktree sync command with rate limiting, coordination-first archive, and configurable main integration
  .claude/skills/ito-apply/SKILL.md
  .claude/skills/ito-archive/SKILL.md
  .claude/skills/ito-finish/SKILL.md
  .claude/skills/ito-using-git-worktrees/SKILL.md
  .opencode/skills/ito-apply/SKILL.md
  .opencode/skills/ito-archive/SKILL.md
  .opencode/skills/ito-finish/SKILL.md
  .opencode/skills/ito-using-git-worktrees/SKILL.md
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/cli_tests.rs
  ito-rs/crates/ito-cli/src/commands/config/config_tests.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/src/commands/sync.rs
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-cli/tests/instructions_more.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-core/src/config.rs
  ito-rs/crates/ito-core/src/coordination.rs
  ito-rs/crates/ito-core/src/coordination_tests.rs
  ito-rs/crates/ito-core/src/coordination_worktree.rs
  ito-rs/crates/ito-core/src/coordination_worktree_tests.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/archive.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/finish.md.j2
  ito-rs/crates/ito-templates/src/instructions_tests.rs
  schemas/ito-config.schema.json
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: regenerate ito config schema
  schemas/ito-config.schema.json
Due: none

chore: regenerate config schema (resolve markers)
  schemas/ito-config.schema.json
Due: none

fix(cli): make post-create sync blocking
  ito-rs/crates/ito-cli/src/commands/create.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: address PR review findings
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-core/src/coordination_worktree.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/archive.md.j2
  schemas/ito-config.schema.json
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(025-09): add worktree sync command with coordination-first archive (#204)
  .claude/skills/ito-apply/SKILL.md
  .claude/skills/ito-archive/SKILL.md
  .claude/skills/ito-finish/SKILL.md
  .claude/skills/ito-using-git-worktrees/SKILL.md
  .ito/AGENTS.md
  .opencode/skills/ito-apply/SKILL.md
  .opencode/skills/ito-archive/SKILL.md
  .opencode/skills/ito-finish/SKILL.md
  .opencode/skills/ito-using-git-worktrees/SKILL.md
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/cli_tests.rs
  ito-rs/crates/ito-cli/src/commands/config/config_tests.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/src/commands/sync.rs
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-cli/tests/instructions_more.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-core/src/config.rs
  ito-rs/crates/ito-core/src/coordination.rs
  ito-rs/crates/ito-core/src/coordination_tests.rs
  ito-rs/crates/ito-core/src/coordination_worktree.rs
  ito-rs/crates/ito-core/src/coordination_worktree_tests.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/archive.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/finish.md.j2
  ito-rs/crates/ito-templates/src/instructions_tests.rs
  schemas/ito-config.schema.json
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

added brv
  .agents/skills/byterover/SKILL.md
  .brv/config.json
  .opencode/package-lock.json
  .pi/npm/package-lock.json
  .pi/npm/package.json
  AGENTS.md
  notes.md
Due: markdownlint-cli2

style: cargo fmt normalization
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/worktree.rs
  ito-rs/crates/ito-core/src/coordination_worktree.rs
  ito-rs/crates/ito-core/src/coordination_worktree_tests.rs
  ito-rs/crates/ito-core/src/worktree_ensure.rs
  ito-rs/crates/ito-core/src/worktree_ensure_tests.rs
  ito-rs/crates/ito-core/src/worktree_init.rs
  ito-rs/crates/ito-core/src/worktree_init_tests.rs
  ito-rs/crates/ito-core/tests/worktree_ensure_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: create change 029-01_add-byterover-integration
  .ito/changes/029-01_add-byterover-integration/.ito.yaml
  .ito/changes/029-01_add-byterover-integration/README.md
  .ito/changes/archive/2026-04-24-012-05_worktree-lifecycle-and-init/.ito.yaml
  .ito/changes/archive/2026-04-24-012-05_worktree-lifecycle-and-init/proposal.md
  .ito/changes/archive/2026-04-24-012-05_worktree-lifecycle-and-init/specs/config/spec.md
  .ito/changes/archive/2026-04-24-012-05_worktree-lifecycle-and-init/specs/worktree-init-files/spec.md
  .ito/changes/archive/2026-04-24-012-05_worktree-lifecycle-and-init/specs/worktree-lifecycle/spec.md
  .ito/changes/archive/2026-04-24-012-05_worktree-lifecycle-and-init/specs/worktree-setup/spec.md
  .ito/changes/archive/2026-04-24-012-05_worktree-lifecycle-and-init/tasks.md
  .ito/modules/012_git-worktrees/module.md
  .ito/modules/029_agent-memory/module.md
  .ito/specs/config/spec.md
  .ito/specs/worktree-init-files/spec.md
  .ito/specs/worktree-lifecycle/spec.md
  .ito/specs/worktree-setup/spec.md
  .ito/workflows/.state/change-allocations.json
Due: none

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
