Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

chore: create change 016-17_add-list-archive
  .ito/changes/016-17_add-list-archive/.ito.yaml
  .ito/modules/016_cli/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

test(cli): prevent html viewer browser prompts
  ito-rs/crates/ito-cli/tests/view_proposal.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: sync coordination worktree
  .ito/changes/016-17_add-list-archive/specs/cli-list/spec.md
  .ito/changes/016-17_add-list-archive/tasks.md
Due: none

fix(016-17): address PR review feedback
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/list_archive.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-config/src/config/memory_tests.rs
  ito-rs/crates/ito-core/src/distribution.rs
  ito-rs/crates/ito-core/src/list.rs
  ito-rs/crates/ito-templates/src/instructions_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(notes): record byterover autonomous-approval follow-up
  notes.md
Due: markdownlint-cli2

chore: sync coordination worktree
  .ito/changes/archive/2026-04-25-016-17_add-list-archive/.ito.yaml
  .ito/changes/archive/2026-04-25-016-17_add-list-archive/specs/cli-list/spec.md
  .ito/changes/archive/2026-04-25-016-17_add-list-archive/tasks.md
  .ito/modules/016_cli/module.md
  .ito/specs/cli-list/spec.md
Due: none

updated prompt
  .brv/context-tree/_manifest.json
  .codex/prompts/ito-list.md
  .github/prompts/ito-list.prompt.md
Due: markdownlint-cli2

chore: create change 016-18_add-archived-list-filter
  .ito/changes/016-18_add-archived-list-filter/.ito.yaml
  .ito/modules/016_cli/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

chore: sync coordination worktree
  .ito/changes/016-18_add-archived-list-filter/proposal.md
  .ito/changes/016-18_add-archived-list-filter/specs/cli-list/spec.md
  .ito/changes/016-18_add-archived-list-filter/tasks.md
Due: none

chore: create change 029-03_memory-skill-discoverability
  .ito/changes/029-03_memory-skill-discoverability/.ito.yaml
  .ito/changes/029-03_memory-skill-discoverability/README.md
  .ito/modules/029_agent-memory/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

chore: sync coordination worktree
  .ito/changes/029-03_memory-skill-discoverability/design.md
  .ito/changes/029-03_memory-skill-discoverability/proposal.md
  .ito/changes/029-03_memory-skill-discoverability/specs/agent-memory-abstraction/spec.md
  .ito/changes/029-03_memory-skill-discoverability/tasks.md
Due: none

chore: start task for change 029-03_memory-skill-discoverability
  .ito/changes/029-03_memory-skill-discoverability/tasks.md
Due: none

chore(memory): record release workflow
  .brv/context-tree/_index.md
  .brv/context-tree/_manifest.json
  .brv/context-tree/development/_index.md
  .brv/context-tree/development/release_workflow/_index.md
  .brv/context-tree/development/release_workflow/release_workflow.abstract.md
  .brv/context-tree/development/release_workflow/release_workflow.md
  .brv/context-tree/development/release_workflow/release_workflow.overview.md
  .brv/dream-state.json
Due: markdownlint-cli2

chore: complete task for change 029-03_memory-skill-discoverability
  .ito/changes/029-03_memory-skill-discoverability/tasks.md
Due: none

chore: create change 011-04_ito-init-update
  .ito/changes/011-04_ito-init-update/.ito.yaml
  .ito/modules/011_config-system/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

chore: sync coordination worktree
  .ito/changes/011-04_ito-init-update/design.md
  .ito/changes/011-04_ito-init-update/proposal.md
  .ito/changes/011-04_ito-init-update/specs/cli-init/spec.md
  .ito/changes/011-04_ito-init-update/specs/cli-update/spec.md
  .ito/changes/011-04_ito-init-update/specs/config-schema/spec.md
  .ito/changes/011-04_ito-init-update/tasks.md
Due: none

chore: sync coordination worktree
  .ito/changes/archive/2026-04-25-029-03_memory-skill-discoverability/.ito.yaml
  .ito/changes/archive/2026-04-25-029-03_memory-skill-discoverability/README.md
  .ito/changes/archive/2026-04-25-029-03_memory-skill-discoverability/design.md
  .ito/changes/archive/2026-04-25-029-03_memory-skill-discoverability/proposal.md
  .ito/changes/archive/2026-04-25-029-03_memory-skill-discoverability/specs/agent-memory-abstraction/spec.md
  .ito/changes/archive/2026-04-25-029-03_memory-skill-discoverability/tasks.md
  .ito/modules/029_agent-memory/module.md
  .ito/specs/agent-memory-abstraction/spec.md
Due: none

fix(cli): handle empty artifact instructions
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/artifact.md.j2
  ito-rs/crates/ito-templates/src/instructions_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(memory): add Ito memory skill discovery
  docs/config.md
  ito-rs/crates/ito-cli/src/cli/agent.rs
  ito-rs/crates/ito-cli/tests/agent_instruction_memory.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_agent_instruction_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-templates/assets/skills/ito-memory/SKILL.md
  ito-rs/crates/ito-templates/src/lib.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: sync coordination worktree
  .ito/changes/011-04_ito-init-update/design.md
  .ito/changes/011-04_ito-init-update/proposal.md
  .ito/changes/011-04_ito-init-update/specs/worktree-aware-template-rendering/spec.md
  .ito/changes/011-04_ito-init-update/tasks.md
Due: none

chore: create change 001-33_enhance-spec-driven-workflow-validation
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/.ito.yaml
  .ito/modules/001_workflow-enhancements/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

chore: sync coordination worktree
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/design.md
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/proposal.md
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/specs/cli-templates-schemas/spec.md
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/specs/cli-validate/spec.md
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/specs/ito-schemas/spec.md
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/specs/tasks-tracking/spec.md
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/tasks.md
Due: none

chore: create change 012-08_replace-raw-git-worktrees-with-worktrunk
  .ito/changes/012-08_replace-raw-git-worktrees-with-worktrunk/.ito.yaml
  .ito/changes/012-08_replace-raw-git-worktrees-with-worktrunk/README.md
  .ito/modules/012_git-worktrees/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

chore: sync coordination worktree
  .ito/changes/012-08_replace-raw-git-worktrees-with-worktrunk/design.md
  .ito/changes/012-08_replace-raw-git-worktrees-with-worktrunk/proposal.md
  .ito/changes/012-08_replace-raw-git-worktrees-with-worktrunk/specs/ralph-worktree-awareness/spec.md
  .ito/changes/012-08_replace-raw-git-worktrees-with-worktrunk/specs/worktree-aware-template-rendering/spec.md
  .ito/changes/012-08_replace-raw-git-worktrees-with-worktrunk/specs/worktree-lifecycle/spec.md
  .ito/changes/012-08_replace-raw-git-worktrees-with-worktrunk/tasks.md
Due: none

fix(templates): enforce worktree write isolation
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/new-proposal.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/worktree-init.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/worktrees.md.j2
  ito-rs/crates/ito-templates/assets/skills/ito-using-git-worktrees/SKILL.md
  ito-rs/crates/ito-templates/src/instructions_tests.rs
  ito-rs/crates/ito-templates/src/project_templates.rs
  ito-rs/crates/ito-templates/tests/worktree_template_rendering.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(templates): enforce worktree write isolation (#214)
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/new-proposal.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/worktree-init.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/worktrees.md.j2
  ito-rs/crates/ito-templates/assets/skills/ito-using-git-worktrees/SKILL.md
  ito-rs/crates/ito-templates/src/instructions_tests.rs
  ito-rs/crates/ito-templates/src/project_templates.rs
  ito-rs/crates/ito-templates/tests/worktree_template_rendering.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: sync coordination worktree
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/proposal.md
Due: none

chore: start task for change 001-33_enhance-spec-driven-workflow-validation
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/tasks.md
Due: none

chore: complete task for change 001-33_enhance-spec-driven-workflow-validation
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/demos/task-1.1-spec-driven-templates.md
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/tasks.md
Due: none

feat(templates): enrich spec-driven workflow templates (refs 001-33 task 1.1)
  ito-rs/crates/ito-core/tests/templates_schema_resolution.rs
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/design.md
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/proposal.md
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/spec.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
