Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            feat,
            fix,
            docs,
            style,
            refactor,
            perf,
            test,
            build,
            ci,
            chore,
            revert,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.20.0]
        args: [--config, .markdownlint-cli2.yaml]
        files: \.md$
        exclude: ^\.ito/

      - id: cargo-fmt
        name: cargo fmt (ito-rs)
        entry: make
        language: system
        args: [fmt]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-clippy
        name: cargo clippy (ito-rs)
        entry: make
        language: system
        args: [clippy]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-test-coverage
        name: cargo test with coverage (ito-rs)
        entry: make
        language: system
        args: [test-coverage]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-push]

      - id: cargo-test-affected
        name: cargo test affected (ito-rs)
        entry: make
        language: system
        args: [test-affected]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-commit]

      - id: check-max-lines
        name: check max lines (ito-rs)
        entry: make
        language: system
        args: [check-max-lines]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$

      - id: arch-guardrails
        name: architecture guardrails
        entry: make
        language: system
        args: [arch-guardrails]
        pass_filenames: false
        files: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$

      - id: cargo-deny
        name: cargo deny (license/advisory checks)
        entry: make
        language: system
        args: [cargo-deny]
        pass_filenames: false
        files: ^ito-rs/.*\.(toml|lock)$

feat(ito): add pending schema and instruction artifacts
  ito-rs/crates/ito-core/src/templates/review.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: remove duplicate tracking_file_path re-introduced by rebase
  ito-rs/crates/ito-core/src/tasks.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style: apply cargo fmt import sorting to validate and template test files
  ito-rs/crates/ito-core/src/validate/issue.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-templates/tests/worktree_template_rendering.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

archive changes
  .ito/changes/archive/2026-02-25-019-03_upgrade-marker-managed-prompt-refresh/.ito.yaml
  .ito/changes/archive/2026-02-25-019-03_upgrade-marker-managed-prompt-refresh/design.md
  .ito/changes/archive/2026-02-25-019-03_upgrade-marker-managed-prompt-refresh/proposal.md
  .ito/changes/archive/2026-02-25-019-03_upgrade-marker-managed-prompt-refresh/specs/ito-init/spec.md
  .ito/changes/archive/2026-02-25-019-03_upgrade-marker-managed-prompt-refresh/specs/rust-installers/spec.md
  .ito/changes/archive/2026-02-25-019-03_upgrade-marker-managed-prompt-refresh/tasks.md
  .ito/changes/archive/2026-02-25-019-04_schema-driven-validation/.ito.yaml
  .ito/changes/archive/2026-02-25-019-04_schema-driven-validation/design.md
  .ito/changes/archive/2026-02-25-019-04_schema-driven-validation/proposal.md
  .ito/changes/archive/2026-02-25-019-04_schema-driven-validation/specs/cli-validate/spec.md
  .ito/changes/archive/2026-02-25-019-04_schema-driven-validation/specs/ito-schemas/spec.md
  .ito/changes/archive/2026-02-25-019-04_schema-driven-validation/tasks.md
  .ito/specs/ito-init/spec.md
  .ito/specs/rust-installers/spec.md
Due: none

fix(001-24): remove orphaned change dir re-introduced by merge
  .ito/changes/001-24_schema-validation-format-specs/.ito.yaml
  .ito/changes/001-24_schema-validation-format-specs/design.md
  .ito/changes/001-24_schema-validation-format-specs/proposal.md
  .ito/changes/001-24_schema-validation-format-specs/specs/delta-specs/spec.md
  .ito/changes/001-24_schema-validation-format-specs/specs/tasks-tracking/spec.md
  .ito/changes/001-24_schema-validation-format-specs/tasks.md
Due: none

merge
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/src/templates/review.rs
  ito-rs/crates/ito-core/src/validate/repo_integrity.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Dev (#105)
  .ito/changes/001-24_schema-validation-format-specs/design.md
  .ito/changes/001-24_schema-validation-format-specs/proposal.md
  .ito/changes/001-24_schema-validation-format-specs/specs/delta-specs/spec.md
  .ito/changes/001-24_schema-validation-format-specs/specs/tasks-tracking/spec.md
  .ito/changes/001-24_schema-validation-format-specs/tasks.md
  .ito/changes/archive/2026-02-25-019-03_upgrade-marker-managed-prompt-refresh/.ito.yaml
  .ito/changes/archive/2026-02-25-019-03_upgrade-marker-managed-prompt-refresh/design.md
  .ito/changes/archive/2026-02-25-019-03_upgrade-marker-managed-prompt-refresh/proposal.md
  .ito/changes/archive/2026-02-25-019-03_upgrade-marker-managed-prompt-refresh/specs/ito-init/spec.md
  .ito/changes/archive/2026-02-25-019-03_upgrade-marker-managed-prompt-refresh/specs/rust-installers/spec.md
  .ito/changes/archive/2026-02-25-019-03_upgrade-marker-managed-prompt-refresh/tasks.md
  .ito/changes/archive/2026-02-25-019-04_schema-driven-validation/.ito.yaml
  .ito/changes/archive/2026-02-25-019-04_schema-driven-validation/design.md
  .ito/changes/archive/2026-02-25-019-04_schema-driven-validation/proposal.md
  .ito/changes/archive/2026-02-25-019-04_schema-driven-validation/specs/cli-validate/spec.md
  .ito/changes/archive/2026-02-25-019-04_schema-driven-validation/specs/ito-schemas/spec.md
  .ito/changes/archive/2026-02-25-019-04_schema-driven-validation/tasks.md
  .ito/specs/ito-init/spec.md
  .ito/specs/rust-installers/spec.md
  ito-rs/crates/ito-core/src/validate/format_specs.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(show): add specs bundle output
  .ito/changes/016-14_show-specs-bundle/proposal.md
  .ito/changes/016-14_show-specs-bundle/specs/cli-show/spec.md
  .ito/changes/016-14_show-specs-bundle/tasks.md
  .ito/modules/016_cli/module.md
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/app/show.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/help.rs
  ito-rs/crates/ito-cli/tests/show_specs_bundle.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-core/src/show/mod.rs
  ito-rs/crates/ito-core/tests/show.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

clean up
  .ito/changes/001-25_tracking-file-support/tasks.md
  .ito/changes/022-01_separate-tests-into-foo-tests/tasks.md
  .ito/changes/023-06_harness-audit-hooks/.ito.yaml
  .ito/changes/archive/2026-02-11-003-03_optimize-unit-test-speed/tasks.md
  .ito/changes/archive/2026-02-11-003-04_optimize-test-execution/.ito.yaml
  .ito/changes/archive/2026-02-11-003-04_optimize-test-execution/proposal.md
  .ito/changes/archive/2026-02-11-003-04_optimize-test-execution/specs/qa-testing-area/spec.md
  .ito/changes/archive/2026-02-11-003-04_optimize-test-execution/tasks.md
  .ito/changes/archive/2026-02-14-002-15_retriable-harness-crashes/.ito.yaml
  .ito/changes/archive/2026-02-14-002-15_retriable-harness-crashes/proposal.md
  .ito/changes/archive/2026-02-14-002-15_retriable-harness-crashes/specs/retriable-harness-crashes/spec.md
  .ito/changes/archive/2026-02-14-002-15_retriable-harness-crashes/specs/rust-ralph/spec.md
  .ito/changes/archive/2026-02-14-002-15_retriable-harness-crashes/tasks.md
  .ito/modules/023_harness-hooks/module.md
Due: none

promote agent usage
  .ito/user-prompts/guidance.md
  ito-rs/AGENTS.md
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
Due: markdownlint-cli2

docs(skills): fix apply steps and proposal artifacts
  .claude/skills/ito-apply-change-proposal/SKILL.md
  .claude/skills/ito-using-git-worktrees/SKILL.md
  .claude/skills/ito-write-change-proposal/SKILL.md
  .codex/skills/ito-apply-change-proposal/SKILL.md
  .codex/skills/ito-using-git-worktrees/SKILL.md
  .codex/skills/ito-write-change-proposal/SKILL.md
  .github/skills/ito-apply-change-proposal/SKILL.md
  .github/skills/ito-using-git-worktrees/SKILL.md
  .github/skills/ito-write-change-proposal/SKILL.md
  .opencode/skills/ito-apply-change-proposal/SKILL.md
  .opencode/skills/ito-using-git-worktrees/SKILL.md
  .opencode/skills/ito-write-change-proposal/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-apply-change-proposal/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-write-change-proposal/SKILL.md
Due: markdownlint-cli2

fix(show): fail when no main specs
  ito-rs/crates/ito-cli/src/app/show.rs
  ito-rs/crates/ito-core/src/show/mod.rs
  ito-rs/crates/ito-core/tests/show.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style: cargo fmt
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/app/show.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/show_specs_bundle.rs
  ito-rs/crates/ito-core/tests/show.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(show): add specs bundle output
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/app/show.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/show_specs_bundle.rs
  ito-rs/crates/ito-core/src/show/mod.rs
  ito-rs/crates/ito-core/tests/show.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(coordination): reserve 023-07_harness-context-inference
  .ito/changes/023-07_harness-context-inference/.ito.yaml
Due: none

style: cargo fmt
  .claude/skills/ito-using-git-worktrees/SKILL.md
  .codex/skills/ito-using-git-worktrees/SKILL.md
  .github/skills/ito-using-git-worktrees/SKILL.md
  .opencode/skills/ito-using-git-worktrees/SKILL.md
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/app/show.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/show_specs_bundle.rs
  ito-rs/crates/ito-core/tests/show.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(agent): add harness context inference instruction
  .ito/changes/023-07_harness-context-inference/.ito.yaml
  .ito/changes/023-07_harness-context-inference/design.md
  .ito/changes/023-07_harness-context-inference/proposal.md
  .ito/changes/023-07_harness-context-inference/specs/harness-context-inference/spec.md
  .ito/changes/023-07_harness-context-inference/tasks.md
  .ito/modules/023_harness-hooks/module.md
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/tests/agent_instruction_context.rs
  ito-rs/crates/ito-core/src/harness_context.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/tests/harness_context.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(harness): inject continuation context via ito agent
  .claude/hooks/ito-context.sh
  .claude/session-start.sh
  .claude/settings.json
  .github/copilot-instructions.md
  .opencode/plugins/ito-skills.js
  ito-rs/crates/ito-templates/assets/adapters/claude/hooks/ito-context.sh
  ito-rs/crates/ito-templates/assets/adapters/claude/session-start.sh
  ito-rs/crates/ito-templates/assets/adapters/opencode/ito-skills.js
  ito-rs/crates/ito-templates/assets/default/project/.claude/settings.json
  ito-rs/crates/ito-templates/assets/default/project/.github/copilot-instructions.md
Due: markdownlint-cli2

fix(opencode): avoid blocking on toast + add debug logging
  .opencode/plugins/ito-skills.js
  ito-rs/crates/ito-templates/assets/adapters/opencode/ito-skills.js
Due: none

feat(023-07): harness context inference (#109)
  .claude/hooks/ito-context.sh
  .claude/session-start.sh
  .claude/settings.json
  .github/copilot-instructions.md
  .ito/changes/023-07_harness-context-inference/.ito.yaml
  .ito/changes/023-07_harness-context-inference/design.md
  .ito/changes/023-07_harness-context-inference/proposal.md
  .ito/changes/023-07_harness-context-inference/specs/harness-context-inference/spec.md
  .ito/changes/023-07_harness-context-inference/tasks.md
  .ito/modules/023_harness-hooks/module.md
  .ito/workflows/.state/change-allocations.json
  .opencode/plugins/ito-skills.js
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/tests/agent_instruction_context.rs
  ito-rs/crates/ito-core/src/harness_context.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/tests/harness_context.rs
  ito-rs/crates/ito-templates/assets/adapters/claude/hooks/ito-context.sh
  ito-rs/crates/ito-templates/assets/adapters/claude/session-start.sh
  ito-rs/crates/ito-templates/assets/adapters/opencode/ito-skills.js
  ito-rs/crates/ito-templates/assets/default/project/.claude/settings.json
  ito-rs/crates/ito-templates/assets/default/project/.github/copilot-instructions.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat: add Pi harness integration (shares OpenCode skills/commands)
  .pi/extensions/ito-skills.ts
  .pi/prompts/ito-apply.md
  .pi/prompts/ito-archive.md
  .pi/prompts/ito-list.md
  .pi/prompts/ito-project-setup.md
  .pi/prompts/ito-proposal.md
  .pi/prompts/ito-research.md
  .pi/prompts/ito-review.md
  .pi/prompts/ito.md
  .pi/settings.json
Due: markdownlint-cli2

style: pretty format json
  .pi/settings.json
Due: none

chore(coordination): reserve 023-08_pi-harness-integration
  .ito/changes/023-08_pi-harness-integration/.ito.yaml
Due: none
