Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            feat,
            fix,
            docs,
            style,
            refactor,
            perf,
            test,
            build,
            ci,
            chore,
            revert,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.20.0]
        args: [--config, .markdownlint-cli2.yaml]
        files: \.md$
        exclude: ^\.ito/

      - id: cargo-fmt
        name: cargo fmt (ito-rs)
        entry: make
        language: system
        args: [fmt]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-clippy
        name: cargo clippy (ito-rs)
        entry: make
        language: system
        args: [clippy]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-test-coverage
        name: cargo test with coverage (ito-rs)
        entry: make
        language: system
        args: [test-coverage]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-push]

      - id: cargo-test-affected
        name: cargo test affected (ito-rs)
        entry: make
        language: system
        args: [test-affected]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-commit]

      - id: check-max-lines
        name: check max lines (ito-rs)
        entry: make
        language: system
        args: [check-max-lines]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$

      - id: arch-guardrails
        name: architecture guardrails
        entry: make
        language: system
        args: [arch-guardrails]
        pass_filenames: false
        files: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$

      - id: cargo-deny
        name: cargo deny (license/advisory checks)
        entry: make
        language: system
        args: [cargo-deny]
        pass_filenames: false
        files: ^ito-rs/.*\.(toml|lock)$

feat(023-08): add Pi harness type, embedded assets, and agent templates
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-templates/assets/adapters/pi/ito-skills.ts
  ito-rs/crates/ito-templates/assets/agents/pi/ito-general.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-quick.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-thinking.md
  ito-rs/crates/ito-templates/assets/default/project/.pi/settings.json
  ito-rs/crates/ito-templates/src/agents.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(023-08): wire Pi into distribution and installer
  ito-rs/crates/ito-core/src/distribution.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(023-08): add Pi bootstrap template, tests, and clippy verification
  ito-rs/crates/ito-core/src/distribution.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/bootstrap.md.j2
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

refactor(023-08): make Pi self-contained with its own skills and commands
  ito-rs/crates/ito-core/src/distribution.rs
  ito-rs/crates/ito-templates/assets/adapters/pi/ito-skills.ts
  ito-rs/crates/ito-templates/assets/default/project/.pi/settings.json
  ito-rs/crates/ito-templates/assets/instructions/agent/bootstrap.md.j2
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

refactor(023-08): polish Pi harness integration
  ito-rs/crates/ito-core/src/distribution.rs
  ito-rs/crates/ito-templates/assets/adapters/pi/ito-skills.ts
  ito-rs/crates/ito-templates/assets/agents/pi/ito-general.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-quick.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-thinking.md
  ito-rs/crates/ito-templates/assets/default/project/.pi/commands/ito-project-setup.md
  ito-rs/crates/ito-templates/src/agents.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style: apply cargo fmt to pre-existing code
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/app/show.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/show_specs_bundle.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-core/tests/show.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(023-08): add Pi to interactive tool selection in ito init
  ito-rs/crates/ito-cli/src/app/init.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(023-08): add Pi subagent support via pi-subagents package
  ito-rs/crates/ito-templates/assets/agents/pi/ito-general.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-quick.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-thinking.md
  ito-rs/crates/ito-templates/assets/default/project/.pi/commands/ito-project-setup.md
  ito-rs/crates/ito-templates/assets/default/project/.pi/settings.json
  ito-rs/crates/ito-templates/assets/instructions/agent/bootstrap.md.j2
  ito-rs/crates/ito-templates/src/agents.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs(skills): restore trailing newlines
  .claude/skills/ito-using-git-worktrees/SKILL.md
  .codex/skills/ito-using-git-worktrees/SKILL.md
  .github/skills/ito-using-git-worktrees/SKILL.md
  .opencode/skills/ito-using-git-worktrees/SKILL.md
Due: markdownlint-cli2

feat(pi): add pi-subagents config and agents
  .pi/agents/ito-general.md
  .pi/agents/ito-quick.md
  .pi/agents/ito-thinking.md
  .pi/commands/ito-project-setup.md
  .pi/settings.json
Due: markdownlint-cli2

chore(coordination): reserve 019-06_schema-selection-guidance
  .ito/changes/019-06_schema-selection-guidance/.ito.yaml
Due: none

chore(schemas): remove legacy workflow schema copies
  schemas/README.md
  schemas/spec-driven/schema.yaml
  schemas/spec-driven/templates/design.md
  schemas/spec-driven/templates/proposal.md
  schemas/spec-driven/templates/spec.md
  schemas/spec-driven/templates/tasks.md
  schemas/tdd/schema.yaml
  schemas/tdd/templates/docs.md
  schemas/tdd/templates/implementation.md
  schemas/tdd/templates/spec.md
  schemas/tdd/templates/test.md
Due: markdownlint-cli2

chore(schemas): remove legacy workflow schema copies (#112)
  schemas/README.md
  schemas/spec-driven/schema.yaml
  schemas/spec-driven/templates/design.md
  schemas/spec-driven/templates/proposal.md
  schemas/spec-driven/templates/spec.md
  schemas/spec-driven/templates/tasks.md
  schemas/tdd/schema.yaml
  schemas/tdd/templates/docs.md
  schemas/tdd/templates/implementation.md
  schemas/tdd/templates/spec.md
  schemas/tdd/templates/test.md
Due: markdownlint-cli2

chore(coordination): reserve 019-06_embedded-schema-validation
  .ito/changes/019-06_embedded-schema-validation/.ito.yaml
Due: none

chore(019): add embedded schema validation change
  .ito/changes/019-07_embedded-schema-validation/.ito.yaml
  .ito/changes/019-07_embedded-schema-validation/proposal.md
  .ito/changes/019-07_embedded-schema-validation/specs/ito-schemas/spec.md
  .ito/changes/019-07_embedded-schema-validation/tasks.md
  .ito/modules/019_templates/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

feat(schemas): ship embedded validation.yaml
  ito-rs/crates/ito-cli/tests/templates_schemas_export.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-templates/assets/schemas/event-driven/validation.yaml
  ito-rs/crates/ito-templates/assets/schemas/minimalist/validation.yaml
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/validation.yaml
  ito-rs/crates/ito-templates/assets/schemas/tdd/validation.yaml
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(pi): add pi-subagents npm metadata
  .pi/npm/.gitignore
  .pi/npm/package-lock.json
  .pi/npm/package.json
Due: none

Ralph loop iteration 1
  ito-rs/crates/ito-cli/tests/config_more.rs
  ito-rs/crates/ito-config/src/config/mod.rs
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-core/src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 2
  .ito/changes/000-07_remote-audit-mirror-branch/tasks.md
  ito-rs/crates/ito-core/src/audit/mirror.rs
  ito-rs/crates/ito-core/src/audit/mod.rs
  ito-rs/crates/ito-core/src/audit/writer.rs
  ito-rs/crates/ito-core/tests/audit_mirror.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 1
  .ito/changes/001-12_project-setup-wizard/tasks.md
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-core/src/audit/mod.rs
  ito-rs/crates/ito-core/src/audit/writer.rs
  ito-rs/crates/ito-templates/assets/adapters/codex/ito-skills-bootstrap.md
  ito-rs/crates/ito-templates/assets/default/project/.claude/commands/ito-project-setup.md
  ito-rs/crates/ito-templates/assets/default/project/.codex/commands/ito-project-setup.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/project.md
  ito-rs/crates/ito-templates/assets/default/project/.opencode/commands/ito-project-setup.md
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/assets/default/project/CLAUDE.md
  ito-rs/crates/ito-templates/assets/instructions/agent/project-setup.md.j2
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

001-25
  .ito/changes/001-25_tracking-file-support/tasks.md
  .ito/config.json
  ito-rs/crates/ito-core/src/audit/mirror.rs
  ito-rs/crates/ito-core/src/tasks.rs
  ito-rs/crates/ito-core/src/templates/types.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/tests/audit_mirror.rs
  ito-rs/crates/ito-core/tests/tasks_api.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 1
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/help.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/src/commands/state.rs
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/crates/ito-cli/tests/cli_smoke.rs
  ito-rs/crates/ito-cli/tests/plan_state_more.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/state.rs
  ito-rs/crates/ito-core/src/stats.rs
  ito-rs/crates/ito-domain/src/lib.rs
  ito-rs/crates/ito-domain/src/state.rs
  ito-rs/crates/ito-domain/tests/state.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 2
  .ito/changes/006-21_remove-ito-state-command/tasks.md
  README.md
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/cli_smoke.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

update ito install
  .claude/session-start.sh
  .claude/settings.json
  .claude/skills/ito-apply-change-proposal/SKILL.md
  .claude/skills/ito-using-git-worktrees/SKILL.md
  .claude/skills/ito-write-change-proposal/SKILL.md
  .codex/skills/ito-apply-change-proposal/SKILL.md
  .codex/skills/ito-using-git-worktrees/SKILL.md
  .codex/skills/ito-write-change-proposal/SKILL.md
  .github/skills/ito-apply-change-proposal/SKILL.md
  .github/skills/ito-using-git-worktrees/SKILL.md
  .github/skills/ito-write-change-proposal/SKILL.md
  .ito/planning/STATE.md
  .opencode/plugins/ito-skills.js
  .opencode/skills/ito-apply-change-proposal/SKILL.md
  .opencode/skills/ito-using-git-worktrees/SKILL.md
  .opencode/skills/ito-write-change-proposal/SKILL.md
  .pi/agents/ito-general.md
  .pi/agents/ito-quick.md
  .pi/agents/ito-thinking.md
  .pi/skills/ito-test-with-subagent/SKILL.md
  .pi/skills/ito-using-git-worktrees/SKILL.md
  .pi/skills/ito-using-ito-skills/SKILL.md
Due: markdownlint-cli2

update ito install
  .claude/skills/ito-using-git-worktrees/SKILL.md
  .codex/skills/ito-using-git-worktrees/SKILL.md
  .github/skills/ito-using-git-worktrees/SKILL.md
  .opencode/skills/ito-using-git-worktrees/SKILL.md
  .pi/skills/ito-using-git-worktrees/SKILL.md
Due: markdownlint-cli2

Update ito-rs/crates/ito-cli/tests/templates_schemas_export.rs
  ito-rs/crates/ito-cli/tests/templates_schemas_export.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(019-07): address PR review feedback
  .ito/changes/019-07_embedded-schema-validation/tasks.md
  ito-rs/crates/ito-core/src/validate/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style(019-07): apply rustfmt
  ito-rs/crates/ito-core/src/validate/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(019-07): ship embedded schema validation.yaml (#113)
  .ito/changes/019-07_embedded-schema-validation/.ito.yaml
  .ito/changes/019-07_embedded-schema-validation/proposal.md
  .ito/changes/019-07_embedded-schema-validation/specs/ito-schemas/spec.md
  .ito/changes/019-07_embedded-schema-validation/tasks.md
  .ito/modules/019_templates/module.md
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-cli/tests/templates_schemas_export.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-templates/assets/schemas/event-driven/validation.yaml
  ito-rs/crates/ito-templates/assets/schemas/minimalist/validation.yaml
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/validation.yaml
  ito-rs/crates/ito-templates/assets/schemas/tdd/validation.yaml
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(pr95): address review feedback on bootstrap and templates
  ito-rs/crates/ito-cli/tests/update_smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

change proposl admin
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-core/src/validate/issue.rs
  ito-rs/crates/ito-core/src/validate/repo_integrity.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

refactor(validate): sort imports and add format validation module
  ito-rs/crates/ito-core/src/validate/repo_integrity.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style(validate): sort imports alphabetically in validation modules
  ito-rs/crates/ito-core/src/validate/repo_integrity.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(ito): add pending schema and instruction artifacts
  ito-rs/crates/ito-core/src/templates/review.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

PR fixes
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-core/src/templates/review.rs
  ito-rs/crates/ito-core/src/validate/repo_integrity.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails
