Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            feat,
            fix,
            docs,
            style,
            refactor,
            perf,
            test,
            build,
            ci,
            chore,
            revert,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.20.0]
        args: [--config, .markdownlint-cli2.yaml]
        files: \.md$
        exclude: ^\.ito/

      - id: cargo-fmt
        name: cargo fmt (ito-rs)
        entry: make
        language: system
        args: [fmt]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-clippy
        name: cargo clippy (ito-rs)
        entry: make
        language: system
        args: [clippy]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-test-coverage
        name: cargo test with coverage (ito-rs)
        entry: make
        language: system
        args: [test-coverage]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-push]

      - id: cargo-test-affected
        name: cargo test affected (ito-rs)
        entry: make
        language: system
        args: [test-affected]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-commit]

      - id: check-max-lines
        name: check max lines (ito-rs)
        entry: make
        language: system
        args: [check-max-lines]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$

      - id: arch-guardrails
        name: architecture guardrails
        entry: make
        language: system
        args: [arch-guardrails]
        pass_filenames: false
        files: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$

      - id: cargo-deny
        name: cargo deny (license/advisory checks)
        entry: make
        language: system
        args: [cargo-deny]
        pass_filenames: false
        files: ^ito-rs/.*\.(toml|lock)$

Ralph loop iteration 2
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/cli_smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 1
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/cli_smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 1
  ito-rs/crates/ito-core/src/audit/mod.rs
  ito-rs/crates/ito-core/src/audit/writer.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fmt
  .ito/workflows/.state/change-allocations.json
Due: none

check in
  .ito/changes/019-06_schema-selection-guidance/.ito.yaml
  .ito/changes/019-06_schema-selection-guidance/design.md
  .ito/changes/019-06_schema-selection-guidance/proposal.md
  .ito/changes/019-06_schema-selection-guidance/specs/agent-instructions/spec.md
  .ito/changes/019-06_schema-selection-guidance/tasks.md
  .ito/modules/019_templates/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

fix(audit): enable auto-fix drift reconciliation by default
  .ito/changes/019-06_schema-selection-guidance/tasks.md
  .pi/extensions/ito-skills.ts
  ito-rs/crates/ito-templates/assets/adapters/opencode/ito-skills.js
  ito-rs/crates/ito-templates/assets/adapters/pi/ito-skills.ts
Due: none

feat(019-06): add schemas instruction artifact with text and JSON output
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/schemas.md.j2
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(019-06): update write-change-proposal skill with schema selection step
  .ito/changes/019-06_schema-selection-guidance/tasks.md
  ito-rs/crates/ito-templates/assets/skills/ito-write-change-proposal/SKILL.md
Due: markdownlint-cli2

test(019-06): add tests for schema listing output
  .ito/changes/019-06_schema-selection-guidance/tasks.md
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/tests/templates_schemas_listing.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(dev): apply hook formatting and adapter sync
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/tests/templates_schemas_listing.rs
  ito-rs/crates/ito-templates/assets/adapters/opencode/ito-skills.js
  ito-rs/crates/ito-templates/assets/adapters/pi/ito-skills.ts
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(019-06): add schemas section to bootstrap instruction template
  .ito/changes/019-06_schema-selection-guidance/tasks.md
  ito-rs/crates/ito-templates/assets/instructions/agent/bootstrap.md.j2
Due: none

chore(tasks): reconcile 019-06 task status drift
  .ito/changes/019-06_schema-selection-guidance/tasks.md
Due: none

chore(019-06): mark all tasks complete
  .ito/changes/019-06_schema-selection-guidance/tasks.md
Due: none

fix(audit): silence drift notice when auto-fix succeeds
  .opencode/plugins/ito-skills.js
  .pi/extensions/ito-skills.ts
Due: none

fix(review): JSON-encode session start context
  .claude/session-start.sh
Due: none

update schema
  schemas/ito-config.schema.json
Due: none

fix(review): address PR 114 workflow feedback
  .claude/session-start.sh
  .claude/skills/ito-apply-change-proposal/SKILL.md
  .codex/skills/ito-apply-change-proposal/SKILL.md
  .github/skills/ito-apply-change-proposal/SKILL.md
  .opencode/plugins/ito-skills.js
  .opencode/skills/ito-apply-change-proposal/SKILL.md
Due: markdownlint-cli2

fix(review): make opencode audit autofix opt-out
  .opencode/plugins/ito-skills.js
Due: none

feat(002-17): add /loop wrapper for ralph
  .ito/changes/002-17_opencode-loop-command/.ito.yaml
  .ito/changes/002-17_opencode-loop-command/proposal.md
  .ito/changes/002-17_opencode-loop-command/specs/opencode-loop-command/spec.md
  .ito/changes/002-17_opencode-loop-command/tasks.md
  .ito/modules/002_ralph-loop/module.md
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-core/tests/distribution.rs
  ito-rs/crates/ito-templates/assets/commands/loop.md
  ito-rs/crates/ito-templates/assets/skills/loop/SKILL.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(loop): harden wrapper guidance
  .ito/changes/002-17_opencode-loop-command/proposal.md
  ito-rs/crates/ito-templates/assets/commands/loop.md
  ito-rs/crates/ito-templates/assets/skills/loop/SKILL.md
Due: markdownlint-cli2

feat(002-17): add /loop wrapper for ralph (#115)
  .ito/changes/002-17_opencode-loop-command/.ito.yaml
  .ito/changes/002-17_opencode-loop-command/proposal.md
  .ito/changes/002-17_opencode-loop-command/specs/opencode-loop-command/spec.md
  .ito/changes/002-17_opencode-loop-command/tasks.md
  .ito/modules/002_ralph-loop/module.md
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-core/tests/distribution.rs
  ito-rs/crates/ito-templates/assets/commands/loop.md
  ito-rs/crates/ito-templates/assets/skills/loop/SKILL.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

merge fix
  .ito/specs/rust-installers/spec.md
Due: none
