Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: cargo
  language: system
  args:
  - fmt
  - --manifest-path
  - ito-rs/Cargo.toml
  - --all
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: cargo
  language: system
  args:
  - clippy
  - --manifest-path
  - ito-rs/Cargo.toml
  - --workspace
  - --all-targets
  - --
  - -D
  - warnings
  - -D
  - clippy::dbg_macro
  - -D
  - clippy::todo
  - -D
  - clippy::unimplemented
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

cargo-test:
  name: cargo test (ito-rs)
  entry: make
  language: system
  args:
  - test
  pass_filenames: false
  stages:
  - pre-push

check-max-lines:
  name: check max lines (ito-rs)
  entry: python3
  language: system
  args:
  - ito-rs/tools/check_max_lines.py
  - --soft-limit
  - '1000'
  - --hard-limit
  - '1200'
  - --root
  - ito-rs
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

Refactor GitHub Actions workflow for setup steps
  .github/workflows/copilot-setup-steps.yml
Due: none

Change apt-get install command to use sudo
  .github/workflows/copilot-setup-steps.yml
Due: none

Remove 'uv' installation step from workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

Update copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Due: none

mise
  .github/workflows/copilot-setup-steps.yml
  mise.toml
Due: none

simplify more
  .github/workflows/copilot-setup-steps.yml
Due: none

no need for init
  .github/workflows/copilot-setup-steps.yml
Due: none

cache apt
  .github/workflows/copilot-setup-steps.yml
Due: none

switch to maintained
  .github/workflows/copilot-setup-steps.yml
Due: none

??
  .github/workflows/copilot-setup-steps.yml
Due: none

borked
  .github/workflows/copilot-setup-steps.yml
Due: none

formatting
  .github/workflows/copilot-setup-steps.yml
Due: none

added cache
  .github/workflows/copilot-setup-steps.yml
Due: none

refactor to action
  .github/actions/cache-apt-pkgs/action.yml
  .github/workflows/copilot-setup-steps.yml
Due: none

updated workflow for the selfhosted runners
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/polish-release-notes.yml
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
  .github/workflows/update-homebrew.yml
Due: arch-guardrails

simplify workflows
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
  .github/workflows/update-homebrew.yml
Due: arch-guardrails

fix(release): move release-plz.toml to repo root, remove git_only, enable crates.io publishing
  .github/workflows/release-plz.yml
  ito-rs/crates/ito-test-support/Cargo.toml
  ito-rs/release-plz.toml
  release-plz.toml
Due: cargo-fmt, cargo-clippy, cargo-test, arch-guardrails

ci: migrate Linux CI jobs to self-hosted runner group
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/polish-release-notes.yml
  .github/workflows/release.yml
  .github/workflows/update-homebrew.yml
Due: arch-guardrails

chore: remove Release Please references from Makefile and sync_versions.py
  Makefile
  ito-rs/tools/sync_versions.py
Due: arch-guardrails

test: skip PTY interactive tests in CI to prevent hangs
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/misc_more.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

archived
  .ito/changes/001-19_archive-completed-flag/tasks.md
  .ito/changes/archive/2026-02-09-015-15_move-ralph-command-to-commands/.ito.yaml
  .ito/changes/archive/2026-02-09-015-15_move-ralph-command-to-commands/proposal.md
  .ito/changes/archive/2026-02-09-015-15_move-ralph-command-to-commands/specs/rust-cli-plumbing/spec.md
  .ito/changes/archive/2026-02-09-015-15_move-ralph-command-to-commands/tasks.md
  .ito/modules/015_onion-architecture-refactor/module.md
  .ito/specs/rust-cli-plumbing/spec.md
  opencode.jsonc
Due: none

workflow
  .github/workflows/copilot-setup-steps.yml
  .ito/changes/005-14_enable-crates-io-publishing/.ito.yaml
  .ito/changes/005-14_enable-crates-io-publishing/proposal.md
  .ito/changes/005-14_enable-crates-io-publishing/specs/crates-io-publishing/spec.md
  .ito/changes/005-14_enable-crates-io-publishing/specs/distribution/spec.md
  .ito/changes/005-14_enable-crates-io-publishing/specs/release-artifacts/spec.md
  .ito/changes/005-14_enable-crates-io-publishing/tasks.md
  .ito/changes/archive/2026-02-09-002-13_add-ralph-continue-ready/.ito.yaml
  .ito/changes/archive/2026-02-09-002-13_add-ralph-continue-ready/design.md
  .ito/changes/archive/2026-02-09-002-13_add-ralph-continue-ready/proposal.md
  .ito/changes/archive/2026-02-09-002-13_add-ralph-continue-ready/specs/cli-ralph/spec.md
  .ito/changes/archive/2026-02-09-002-13_add-ralph-continue-ready/tasks.md
  .ito/modules/002_ralph-loop/module.md
  .ito/modules/005_dev-tooling/module.md
  .ito/specs/cli-ralph/spec.md
  .ito/workflows/.state/change-allocations.json
Due: none

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test: any of: ^ito-rs/.*\.(rs|toml)$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
