Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            feat,
            fix,
            docs,
            style,
            refactor,
            perf,
            test,
            build,
            ci,
            chore,
            revert,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.20.0]
        args: [--config, .markdownlint-cli2.yaml]
        files: \.md$
        exclude: ^\.ito/

      - id: cargo-fmt
        name: cargo fmt (ito-rs)
        entry: make
        language: system
        args: [fmt]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-clippy
        name: cargo clippy (ito-rs)
        entry: make
        language: system
        args: [clippy]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-test-coverage
        name: cargo test with coverage (ito-rs)
        entry: make
        language: system
        args: [test-coverage]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-push]

      - id: cargo-test-affected
        name: cargo test affected (ito-rs)
        entry: make
        language: system
        args: [test-affected]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-commit]

      - id: check-max-lines
        name: check max lines (ito-rs)
        entry: make
        language: system
        args: [check-max-lines]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$

      - id: arch-guardrails
        name: architecture guardrails
        entry: make
        language: system
        args: [arch-guardrails]
        pass_filenames: false
        files: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$

      - id: cargo-deny
        name: cargo deny (license/advisory checks)
        entry: make
        language: system
        args: [cargo-deny]
        pass_filenames: false
        files: ^ito-rs/.*\.(toml|lock)$

chore: start task for change 029-02_agent-memory-abstraction
  .ito/changes/029-02_agent-memory-abstraction/tasks.md
Due: none

chore: complete task for change 029-02_agent-memory-abstraction
  .ito/changes/029-02_agent-memory-abstraction/tasks.md
Due: none

fix(ci): un-ignore .brv/ and forbid brv vc / cloud sync
  .gitignore
  AGENTS.md
Due: markdownlint-cli2

docs(agents): own ByteRover/brv guidance in repo AGENTS.md
  AGENTS.md
Due: markdownlint-cli2

feat(012-06): enforce change worktree guidance
  docs/presentations/march-2026/ito-lifecycle-slide-deck.md
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/new-proposal.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/worktree-init.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/worktrees.md.j2
  ito-rs/crates/ito-templates/assets/skills/ito-using-git-worktrees/SKILL.md
  ito-rs/crates/ito-templates/src/instructions_tests.rs
  ito-rs/crates/ito-templates/src/project_templates.rs
  ito-rs/crates/ito-templates/tests/worktree_template_rendering.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

update opencode config
  opencode.jsonc
Due: none

feat(029-02): memory resolver + memory-capture/-search/-query CLI artifacts (Wave 2)
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/memory_instructions.rs
  ito-rs/crates/ito-cli/src/app/mod.rs
  ito-rs/crates/ito-cli/src/cli/agent.rs
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/crates/ito-cli/tests/agent_instruction_memory.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_agent_instruction_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-core/src/config.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/memory/mod.rs
  ito-rs/crates/ito-core/src/memory/rendering.rs
  ito-rs/crates/ito-core/src/memory/rendering_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(029-02): apply + finish memory reminders (Wave 3)
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/finish.md.j2
  ito-rs/crates/ito-templates/src/instructions_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(029-02): add MemoryConfig types + validation (Wave 1)
  ito-rs/crates/ito-config/src/config/memory_tests.rs
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-core/src/config.rs
  schemas/ito-config.schema.json
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs(029-02): document `memory` config section (Wave 4)
  docs/config.md
Due: markdownlint-cli2

fix(012-06): address PR review guidance nits
  ito-rs/crates/ito-templates/assets/instructions/agent/new-proposal.md.j2
  ito-rs/crates/ito-templates/src/project_templates.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

refactor(029-02): move memory template helpers to memory_instructions
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/memory_instructions.rs
  ito-rs/crates/ito-templates/src/instructions_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(012-06): enforce change worktree guidance (#210)
  docs/presentations/march-2026/ito-lifecycle-slide-deck.md
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/new-proposal.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/worktree-init.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/worktrees.md.j2
  ito-rs/crates/ito-templates/assets/skills/ito-using-git-worktrees/SKILL.md
  ito-rs/crates/ito-templates/src/instructions_tests.rs
  ito-rs/crates/ito-templates/src/project_templates.rs
  ito-rs/crates/ito-templates/tests/worktree_template_rendering.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: complete task for change 012-06_enforce-worktree-change-guidance
  .ito/changes/012-06_enforce-worktree-change-guidance/tasks.md
Due: none

chore: sync coordination worktree
  .ito/changes/archive/2026-04-25-012-06_enforce-worktree-change-guidance/.ito.yaml
  .ito/changes/archive/2026-04-25-012-06_enforce-worktree-change-guidance/design.md
  .ito/changes/archive/2026-04-25-012-06_enforce-worktree-change-guidance/proposal.md
  .ito/changes/archive/2026-04-25-012-06_enforce-worktree-change-guidance/specs/cli-artifact-workflow/spec.md
  .ito/changes/archive/2026-04-25-012-06_enforce-worktree-change-guidance/tasks.md
  .ito/modules/012_git-worktrees/module.md
  .ito/specs/cli-artifact-workflow/spec.md
Due: none

chore: sync coordination worktree
  .ito/changes/029-02_agent-memory-abstraction/specs/agent-memory-abstraction/spec.md
Due: none

chore: sync coordination worktree
  .ito/changes/archive/2026-04-25-002-18_extend-ralph-loop-orchestration/.ito.yaml
  .ito/changes/archive/2026-04-25-002-18_extend-ralph-loop-orchestration/design.md
  .ito/changes/archive/2026-04-25-002-18_extend-ralph-loop-orchestration/proposal.md
  .ito/changes/archive/2026-04-25-002-18_extend-ralph-loop-orchestration/specs/opencode-loop-command/spec.md
  .ito/changes/archive/2026-04-25-002-18_extend-ralph-loop-orchestration/specs/ralph-execution-context/spec.md
  .ito/changes/archive/2026-04-25-002-18_extend-ralph-loop-orchestration/specs/ralph-git-automation/spec.md
  .ito/changes/archive/2026-04-25-002-18_extend-ralph-loop-orchestration/specs/ralph-parallel-execution/spec.md
  .ito/changes/archive/2026-04-25-002-18_extend-ralph-loop-orchestration/specs/ralph-queue-execution/spec.md
  .ito/changes/archive/2026-04-25-002-18_extend-ralph-loop-orchestration/specs/ralph-run-reporting/spec.md
  .ito/changes/archive/2026-04-25-002-18_extend-ralph-loop-orchestration/specs/ralph-runtime-capabilities/spec.md
  .ito/changes/archive/2026-04-25-002-18_extend-ralph-loop-orchestration/specs/ralph-task-sources/spec.md
  .ito/changes/archive/2026-04-25-002-18_extend-ralph-loop-orchestration/tasks.md
  .ito/modules/002_ralph-loop/module.md
  .ito/specs/opencode-loop-command/spec.md
  .ito/specs/ralph-execution-context/spec.md
  .ito/specs/ralph-git-automation/spec.md
  .ito/specs/ralph-parallel-execution/spec.md
  .ito/specs/ralph-queue-execution/spec.md
  .ito/specs/ralph-run-reporting/spec.md
  .ito/specs/ralph-runtime-capabilities/spec.md
  .ito/specs/ralph-task-sources/spec.md
Due: none

chore: sync coordination worktree
  .ito/changes/archive/2026-04-25-023-09_marker-aware-manifest-installs/.ito.yaml
  .ito/changes/archive/2026-04-25-023-09_marker-aware-manifest-installs/proposal.md
  .ito/changes/archive/2026-04-25-023-09_marker-aware-manifest-installs/specs/cli-update/spec.md
  .ito/changes/archive/2026-04-25-023-09_marker-aware-manifest-installs/tasks.md
  .ito/modules/023_harness-hooks/module.md
  .ito/specs/cli-update/spec.md
Due: none

chore: sync coordination worktree
  .ito/changes/archive/2026-04-25-025-08_coordination-worktree-storage/.ito.yaml
  .ito/changes/archive/2026-04-25-025-08_coordination-worktree-storage/design.md
  .ito/changes/archive/2026-04-25-025-08_coordination-worktree-storage/proposal.md
  .ito/changes/archive/2026-04-25-025-08_coordination-worktree-storage/specs/cascading-config/spec.md
  .ito/changes/archive/2026-04-25-025-08_coordination-worktree-storage/specs/change-coordination-branch/spec.md
  .ito/changes/archive/2026-04-25-025-08_coordination-worktree-storage/specs/cli-init/spec.md
  .ito/changes/archive/2026-04-25-025-08_coordination-worktree-storage/specs/coordination-worktree-migration/spec.md
  .ito/changes/archive/2026-04-25-025-08_coordination-worktree-storage/specs/coordination-worktree/spec.md
  .ito/changes/archive/2026-04-25-025-08_coordination-worktree-storage/specs/ito-config-crate/spec.md
  .ito/changes/archive/2026-04-25-025-08_coordination-worktree-storage/tasks.md
  .ito/modules/025_repository-backends/module.md
  .ito/specs/cascading-config/spec.md
  .ito/specs/change-coordination-branch/spec.md
  .ito/specs/cli-init/spec.md
  .ito/specs/coordination-worktree-migration/spec.md
  .ito/specs/coordination-worktree/spec.md
  .ito/specs/ito-config-crate/spec.md
Due: none

chore: sync coordination worktree
  .ito/changes/archive/2026-04-25-025-09_add-worktree-sync-command/.ito.yaml
  .ito/changes/archive/2026-04-25-025-09_add-worktree-sync-command/demos/task-1.1-sync-cli-surface.md
  .ito/changes/archive/2026-04-25-025-09_add-worktree-sync-command/demos/task-1.2-core-sync.md
  .ito/changes/archive/2026-04-25-025-09_add-worktree-sync-command/demos/task-1.3-sync-rate-limit.md
  .ito/changes/archive/2026-04-25-025-09_add-worktree-sync-command/demos/task-1.4-config-support.md
  .ito/changes/archive/2026-04-25-025-09_add-worktree-sync-command/demos/task-2.1-archive-lifecycle.md
  .ito/changes/archive/2026-04-25-025-09_add-worktree-sync-command/demos/task-2.2-cli-instruction-templates.md
  .ito/changes/archive/2026-04-25-025-09_add-worktree-sync-command/demos/task-2.3-skill-wrappers.md
  .ito/changes/archive/2026-04-25-025-09_add-worktree-sync-command/demos/task-3.1-shared-sync-hooks.md
  .ito/changes/archive/2026-04-25-025-09_add-worktree-sync-command/demos/task-3.2-archive-finish-followup.md
  .ito/changes/archive/2026-04-25-025-09_add-worktree-sync-command/demos/task-3.3-final-validation.md
  .ito/changes/archive/2026-04-25-025-09_add-worktree-sync-command/design.md
  .ito/changes/archive/2026-04-25-025-09_add-worktree-sync-command/proposal.md
  .ito/changes/archive/2026-04-25-025-09_add-worktree-sync-command/specs/agent-instructions/spec.md
  .ito/changes/archive/2026-04-25-025-09_add-worktree-sync-command/specs/cli-archive/spec.md
  .ito/changes/archive/2026-04-25-025-09_add-worktree-sync-command/specs/cli-config/spec.md
  .ito/changes/archive/2026-04-25-025-09_add-worktree-sync-command/specs/cli-sync/spec.md
  .ito/changes/archive/2026-04-25-025-09_add-worktree-sync-command/specs/config-defaults/spec.md
  .ito/changes/archive/2026-04-25-025-09_add-worktree-sync-command/specs/coordination-worktree/spec.md
  .ito/changes/archive/2026-04-25-025-09_add-worktree-sync-command/tasks.md
  .ito/modules/025_repository-backends/module.md
  .ito/specs/agent-instructions/spec.md
  .ito/specs/cli-archive/spec.md
  .ito/specs/cli-config/spec.md
  .ito/specs/cli-sync/spec.md
  .ito/specs/config-defaults/spec.md
  .ito/specs/coordination-worktree/spec.md
Due: none

chore: sync coordination worktree
  .ito/changes/archive/2026-04-25-028-01_ito-orchestrate-command-and-agent/.ito.yaml
  .ito/changes/archive/2026-04-25-028-01_ito-orchestrate-command-and-agent/demos/task-1.1-orchestrate-instruction.md
  .ito/changes/archive/2026-04-25-028-01_ito-orchestrate-command-and-agent/demos/task-1.2-orchestrate-prompt-and-presets.md
  .ito/changes/archive/2026-04-25-028-01_ito-orchestrate-command-and-agent/design.md
  .ito/changes/archive/2026-04-25-028-01_ito-orchestrate-command-and-agent/proposal.md
  .ito/changes/archive/2026-04-25-028-01_ito-orchestrate-command-and-agent/specs/agent-instructions/spec.md
  .ito/changes/archive/2026-04-25-028-01_ito-orchestrate-command-and-agent/specs/change-repository/spec.md
  .ito/changes/archive/2026-04-25-028-01_ito-orchestrate-command-and-agent/specs/orchestrate-gates/spec.md
  .ito/changes/archive/2026-04-25-028-01_ito-orchestrate-command-and-agent/specs/orchestrate-instruction/spec.md
  .ito/changes/archive/2026-04-25-028-01_ito-orchestrate-command-and-agent/specs/orchestrate-parallelism/spec.md
  .ito/changes/archive/2026-04-25-028-01_ito-orchestrate-command-and-agent/specs/orchestrate-presets/spec.md
  .ito/changes/archive/2026-04-25-028-01_ito-orchestrate-command-and-agent/specs/orchestrate-run-state/spec.md
  .ito/changes/archive/2026-04-25-028-01_ito-orchestrate-command-and-agent/specs/orchestrate-setup/spec.md
  .ito/changes/archive/2026-04-25-028-01_ito-orchestrate-command-and-agent/specs/orchestrate-user-prompt/spec.md
  .ito/changes/archive/2026-04-25-028-01_ito-orchestrate-command-and-agent/specs/orchestrate-workflow-skill/spec.md
  .ito/changes/archive/2026-04-25-028-01_ito-orchestrate-command-and-agent/tasks.md
  .ito/modules/028_orchestration/module.md
  .ito/specs/agent-instructions/spec.md
  .ito/specs/change-repository/spec.md
  .ito/specs/orchestrate-gates/spec.md
  .ito/specs/orchestrate-instruction/spec.md
  .ito/specs/orchestrate-parallelism/spec.md
  .ito/specs/orchestrate-presets/spec.md
  .ito/specs/orchestrate-run-state/spec.md
  .ito/specs/orchestrate-setup/spec.md
  .ito/specs/orchestrate-user-prompt/spec.md
  .ito/specs/orchestrate-workflow-skill/spec.md
Due: none

chore: sync coordination worktree
  .ito/changes/archive/2026-04-25-029-01_add-byterover-integration/.ito.yaml
  .ito/changes/archive/2026-04-25-029-01_add-byterover-integration/README.md
  .ito/changes/archive/2026-04-25-029-01_add-byterover-integration/proposal.md
  .ito/changes/archive/2026-04-25-029-01_add-byterover-integration/specs/agent-memory-byterover/spec.md
  .ito/changes/archive/2026-04-25-029-01_add-byterover-integration/tasks.md
  .ito/modules/029_agent-memory/module.md
Due: none

chore: sync coordination worktree
  .ito/changes/archive/2026-04-25-029-02_agent-memory-abstraction/.ito.yaml
  .ito/changes/archive/2026-04-25-029-02_agent-memory-abstraction/README.md
  .ito/changes/archive/2026-04-25-029-02_agent-memory-abstraction/proposal.md
  .ito/changes/archive/2026-04-25-029-02_agent-memory-abstraction/specs/agent-instructions/spec.md
  .ito/changes/archive/2026-04-25-029-02_agent-memory-abstraction/specs/agent-memory-abstraction/spec.md
  .ito/changes/archive/2026-04-25-029-02_agent-memory-abstraction/tasks.md
  .ito/modules/029_agent-memory/module.md
  .ito/specs/agent-instructions/spec.md
  .ito/specs/agent-memory-abstraction/spec.md
Due: none

fix(029-02): address gemini review (scope quoting + for-loop style)
  ito-rs/crates/ito-core/src/config.rs
  ito-rs/crates/ito-core/src/memory/rendering.rs
  ito-rs/crates/ito-core/src/memory/rendering_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: sync coordination worktree
  .ito/changes/archive/2026-04-25-000-10_cli-type-safe-args/.ito.yaml
  .ito/modules/000_ungrouped/module.md
Due: none

chore: sync coordination worktree
  .ito/changes/archive/2026-04-25-023-06_harness-audit-hooks/.ito.yaml
  .ito/changes/archive/2026-04-25-023-08_pi-harness-integration/.ito.yaml
Due: none

feat(029-02): agent memory abstraction (capture/search/query) (#211)
  docs/config.md
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/memory_instructions.rs
  ito-rs/crates/ito-cli/src/app/mod.rs
  ito-rs/crates/ito-cli/src/cli/agent.rs
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/crates/ito-cli/tests/agent_instruction_memory.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_agent_instruction_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-config/src/config/memory_tests.rs
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-core/src/config.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/memory/mod.rs
  ito-rs/crates/ito-core/src/memory/rendering.rs
  ito-rs/crates/ito-core/src/memory/rendering_tests.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/finish.md.j2
  ito-rs/crates/ito-templates/src/instructions_tests.rs
  schemas/ito-config.schema.json
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails
