Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            feat,
            fix,
            docs,
            style,
            refactor,
            perf,
            test,
            build,
            ci,
            chore,
            revert,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.20.0]
        args: [--config, .markdownlint-cli2.yaml]
        files: \.md$
        exclude: ^\.ito/

      - id: cargo-fmt
        name: cargo fmt (ito-rs)
        entry: make
        language: system
        args: [fmt]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-clippy
        name: cargo clippy (ito-rs)
        entry: make
        language: system
        args: [clippy]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-test-coverage
        name: cargo test with coverage (ito-rs)
        entry: make
        language: system
        args: [test-coverage]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-push]

      - id: cargo-test-affected
        name: cargo test affected (ito-rs)
        entry: make
        language: system
        args: [test-affected]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-commit]

      - id: check-max-lines
        name: check max lines (ito-rs)
        entry: make
        language: system
        args: [check-max-lines]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$

      - id: arch-guardrails
        name: architecture guardrails
        entry: make
        language: system
        args: [arch-guardrails]
        pass_filenames: false
        files: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$

      - id: cargo-deny
        name: cargo deny (license/advisory checks)
        entry: make
        language: system
        args: [cargo-deny]
        pass_filenames: false
        files: ^ito-rs/.*\.(toml|lock)$

fix(ito-backend): repair auth + CORS parsing after rebase
  ito-rs/crates/ito-backend/src/auth.rs
  ito-rs/crates/ito-backend/src/server.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(024-01): address review feedback (ready response, docs, warnings)
  .ito/changes/024-01_add-shared-state-api/proposal.md
  .ito/modules/024_ito-backend/module.md
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-backend/src/auth.rs
  ito-rs/crates/ito-backend/src/error.rs
  ito-rs/crates/ito-backend/src/server.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/serve_api.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 1
  .ito/changes/024-01_add-shared-state-api/.ito.yaml
  .ito/changes/024-01_add-shared-state-api/design.md
  .ito/changes/024-01_add-shared-state-api/proposal.md
  .ito/changes/024-01_add-shared-state-api/specs/backend-state-api/spec.md
  .ito/changes/024-01_add-shared-state-api/specs/config/spec.md
  .ito/changes/024-01_add-shared-state-api/tasks.md
  .ito/modules/024_ito-backend/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

fix(024-01): align docs + auth hardening + style nits
  Cargo.lock
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-backend/src/auth.rs
  ito-rs/crates/ito-cli/Cargo.toml
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/serve_api.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

Update ito-rs/crates/ito-backend/src/auth.rs
  ito-rs/crates/ito-backend/src/auth.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(024-02): add backend repository adapters and artifact sync service
  .ito/changes/024-02_add-cli-backend-client/tasks.md
  ito-rs/crates/ito-core/src/backend_change_repository.rs
  ito-rs/crates/ito-core/src/backend_sync.rs
  ito-rs/crates/ito-core/src/backend_task_repository.rs
  ito-rs/crates/ito-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(024-02): add backend runtime config, client factory, and domain ports
  .ito/changes/024-02_add-cli-backend-client/tasks.md
  Cargo.lock
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-core/Cargo.toml
  ito-rs/crates/ito-core/src/backend_client.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-domain/src/backend.rs
  ito-rs/crates/ito-domain/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

fix(ralph): skip git commit when working tree is clean
  ito-rs/crates/ito-core/src/ralph/runner.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(024): draft backend state API change set
  .ito/changes/024-01_add-shared-state-api/specs/backend-artifact-store/spec.md
  .ito/changes/024-01_add-shared-state-api/specs/backend-auth/spec.md
  .ito/changes/024-01_add-shared-state-api/specs/backend-event-ingest/spec.md
  .ito/changes/024-01_add-shared-state-api/specs/change-allocation/spec.md
  .ito/changes/024-01_add-shared-state-api/specs/change-leasing/spec.md
  .ito/changes/024-02_add-cli-backend-client/.ito.yaml
  .ito/changes/024-02_add-cli-backend-client/design.md
  .ito/changes/024-02_add-cli-backend-client/proposal.md
  .ito/changes/024-02_add-cli-backend-client/specs/backend-change-claim/spec.md
  .ito/changes/024-02_add-cli-backend-client/specs/backend-change-sync/spec.md
  .ito/changes/024-02_add-cli-backend-client/specs/backend-client-runtime/spec.md
  .ito/changes/024-02_add-cli-backend-client/specs/change-repository/spec.md
  .ito/changes/024-02_add-cli-backend-client/specs/cli-tasks/spec.md
  .ito/changes/024-02_add-cli-backend-client/specs/config/spec.md
  .ito/changes/024-02_add-cli-backend-client/specs/task-repository/spec.md
  .ito/changes/024-02_add-cli-backend-client/tasks.md
  .ito/changes/024-03_add-backend-project-bootstrap/.ito.yaml
  .ito/changes/024-03_add-backend-project-bootstrap/design.md
  .ito/changes/024-03_add-backend-project-bootstrap/proposal.md
  .ito/changes/024-03_add-backend-project-bootstrap/specs/backend-project-bootstrap/spec.md
  .ito/changes/024-03_add-backend-project-bootstrap/tasks.md
  .ito/changes/024-04_add-backend-event-forwarding/.ito.yaml
  .ito/changes/024-04_add-backend-event-forwarding/design.md
  .ito/changes/024-04_add-backend-event-forwarding/proposal.md
  .ito/changes/024-04_add-backend-event-forwarding/specs/backend-event-forwarding/spec.md
  .ito/changes/024-04_add-backend-event-forwarding/tasks.md
  .ito/changes/024-05_add-backend-archive-sync/.ito.yaml
  .ito/changes/024-05_add-backend-archive-sync/design.md
  .ito/changes/024-05_add-backend-archive-sync/proposal.md
  .ito/changes/024-05_add-backend-archive-sync/specs/backend-archive-sync/spec.md
  .ito/changes/024-05_add-backend-archive-sync/specs/cli-archive/spec.md
  .ito/changes/024-05_add-backend-archive-sync/tasks.md
  .pi/extensions/ito-skills.ts
Due: none

Ralph loop iteration 1
  .ito/changes/024-03_add-backend-project-bootstrap/tasks.md
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-backend/tests/bootstrap_endpoints.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 1
  .ito/changes/024-02_add-cli-backend-client/tasks.md
  docs/backend-client-mode.md
  docs/config.md
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-core/src/backend_sync.rs
  ito-rs/crates/ito-core/tests/backend_client_mode.rs
  ito-rs/crates/ito-domain/src/backend.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(024-02): add CLI claim/release/allocate/sync command surface
  .ito/changes/024-02_add-cli-backend-client/tasks.md
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-core/src/backend_coordination.rs
  ito-rs/crates/ito-core/src/backend_sync.rs
  ito-rs/crates/ito-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(024-02): integrate backend sync into task mutation commands
  .ito/changes/024-02_add-cli-backend-client/tasks.md
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_tasks_help.snap
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 1
  .ito/changes/024-05_add-backend-archive-sync/tasks.md
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-core/src/backend_coordination.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/tests/backend_archive.rs
  ito-rs/crates/ito-domain/src/backend.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 1
  .ito/changes/024-04_add-backend-event-forwarding/tasks.md
  Cargo.lock
  Cargo.toml
  ito-rs/crates/ito-backend/Cargo.toml
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-backend/tests/event_ingest.rs
  ito-rs/crates/ito-cli/Cargo.toml
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/crates/ito-core/src/event_forwarder.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/tests/event_forwarding.rs
  ito-rs/crates/ito-domain/src/backend.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

fix(024): address PR feedback (idempotency, TLS, docs)
  Cargo.lock
  Cargo.toml
  docs/backend-client-mode.md
  docs/config.md
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-core/src/backend_client.rs
  ito-rs/crates/ito-core/tests/event_forwarding.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(deps): enable HTTPS for ureq without disallowed root cert license
  Cargo.lock
  Cargo.toml
  ito-rs/crates/ito-cli/Cargo.toml
Due: cargo-fmt, cargo-clippy, arch-guardrails, cargo-deny

fix(024): improve backend-mode ergonomics + docs consistency
  .ito/changes/024-01_add-shared-state-api/design.md
  .ito/changes/024-01_add-shared-state-api/specs/backend-artifact-store/spec.md
  .ito/changes/024-02_add-cli-backend-client/specs/config/spec.md
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-cli/src/util.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(024): harden ingest idempotency + sync/pull cleanup
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-core/src/backend_sync.rs
  ito-rs/crates/ito-core/src/event_forwarder.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(config): update generated config schema
  schemas/ito-config.schema.json
Due: none

ci: autofix also regenerates config schema
  .github/workflows/ci.yml
Due: arch-guardrails

chore(024): add proposals for multi-tenant backend and grep
  .ito/changes/024-10_multi-tenant-backend-server/.ito.yaml
  .ito/changes/024-10_multi-tenant-backend-server/design.md
  .ito/changes/024-10_multi-tenant-backend-server/proposal.md
  .ito/changes/024-10_multi-tenant-backend-server/specs/artifact-front-matter/spec.md
  .ito/changes/024-10_multi-tenant-backend-server/specs/backend-agent-instructions/spec.md
  .ito/changes/024-10_multi-tenant-backend-server/specs/backend-artifact-store/spec.md
  .ito/changes/024-10_multi-tenant-backend-server/specs/backend-auth/spec.md
  .ito/changes/024-10_multi-tenant-backend-server/specs/backend-client-project-scope/spec.md
  .ito/changes/024-10_multi-tenant-backend-server/specs/backend-event-ingest/spec.md
  .ito/changes/024-10_multi-tenant-backend-server/specs/backend-project-store/spec.md
  .ito/changes/024-10_multi-tenant-backend-server/specs/backend-state-api/spec.md
  .ito/changes/024-10_multi-tenant-backend-server/specs/config/spec.md
  .ito/changes/024-10_multi-tenant-backend-server/tasks.md
  .ito/changes/024-11_add-grep-command/.ito.yaml
  .ito/changes/024-11_add-grep-command/design.md
  .ito/changes/024-11_add-grep-command/proposal.md
  .ito/changes/024-11_add-grep-command/specs/cli-grep/spec.md
  .ito/changes/024-11_add-grep-command/tasks.md
  .ito/modules/024_ito-backend/module.md
Due: none

fix(ralph): continue-module skips processed and validates worktree tasks
  ito-rs/crates/ito-core/src/ralph/runner.rs
  ito-rs/crates/ito-core/src/ralph/runner/runner_tests.rs
  ito-rs/crates/ito-core/src/ralph/validation.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(024-11): add grep command
  .ito/changes/024-11_add-grep-command/tasks.md
  Cargo.lock
  Cargo.toml
  ito-rs/crates/ito-cli/src/app/grep.rs
  ito-rs/crates/ito-cli/src/app/mod.rs
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/cli/grep.rs
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/crates/ito-cli/tests/grep_more.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-core/Cargo.toml
  ito-rs/crates/ito-core/src/grep.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/stats.rs
  ito-rs/crates/ito-core/tests/grep_scopes.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

Add agentic workflow duplicate-code-detector
  .gitattributes
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/duplicate-code-detector.md
Due: markdownlint-cli2

add workflow
  .gitattributes
  .github/workflows/duplicate-code-detector.lock.yml
  .github/workflows/duplicate-code-detector.md
Due: markdownlint-cli2

feat(024-10): add YAML front matter parsing/writing utilities
  .ito/changes/024-10_multi-tenant-backend-server/tasks.md
  Cargo.lock
  ito-rs/crates/ito-core/Cargo.toml
  ito-rs/crates/ito-core/src/front_matter.rs
  ito-rs/crates/ito-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

feat(024-10): wire multi-tenant backend server config
  .ito/changes/024-10_multi-tenant-backend-server/tasks.md
  Cargo.lock
  ito-rs/crates/ito-backend/Cargo.toml
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-backend/src/auth.rs
  ito-rs/crates/ito-backend/src/error.rs
  ito-rs/crates/ito-backend/src/lib.rs
  ito-rs/crates/ito-backend/src/server.rs
  ito-rs/crates/ito-backend/src/state.rs
  ito-rs/crates/ito-backend/tests/bootstrap_endpoints.rs
  ito-rs/crates/ito-backend/tests/event_ingest.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/serve_api.rs
  ito-rs/crates/ito-config/src/config/backend_types.rs
  ito-rs/crates/ito-config/src/config/mod.rs
  ito-rs/crates/ito-config/src/config/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny
