Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            feat,
            fix,
            docs,
            style,
            refactor,
            perf,
            test,
            build,
            ci,
            chore,
            revert,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.20.0]
        args: [--config, .markdownlint-cli2.yaml]
        files: \.md$
        exclude: ^\.ito/

      - id: cargo-fmt
        name: cargo fmt (ito-rs)
        entry: make
        language: system
        args: [fmt]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-clippy
        name: cargo clippy (ito-rs)
        entry: make
        language: system
        args: [clippy]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-test-coverage
        name: cargo test with coverage (ito-rs)
        entry: make
        language: system
        args: [test-coverage]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-push]

      - id: cargo-test-affected
        name: cargo test affected (ito-rs)
        entry: make
        language: system
        args: [test-affected]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-commit]

      - id: check-max-lines
        name: check max lines (ito-rs)
        entry: make
        language: system
        args: [check-max-lines]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$

      - id: arch-guardrails
        name: architecture guardrails
        entry: make
        language: system
        args: [arch-guardrails]
        pass_filenames: false
        files: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$

      - id: cargo-deny
        name: cargo deny (license/advisory checks)
        entry: make
        language: system
        args: [cargo-deny]
        pass_filenames: false
        files: ^ito-rs/.*\.(toml|lock)$

fix(009-03): address PR 172 review feedback
  .ito/changes/009-03_move-audit-storage-off-work-branches/specs/execution-logs/spec.md
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/crates/ito-cli/tests/audit_remote_mode.rs
  ito-rs/crates/ito-core/src/audit/reader.rs
  ito-rs/crates/ito-core/src/audit/reader_tests.rs
  ito-rs/crates/ito-core/src/audit/reconcile.rs
  ito-rs/crates/ito-core/src/audit/store.rs
  ito-rs/crates/ito-core/src/audit/stream.rs
  ito-rs/crates/ito-core/src/backend_http.rs
  ito-rs/crates/ito-core/src/backend_http/backend_http_tests.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-core/tests/audit_storage.rs
  qa/backend/README.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(009-03): route audit storage off work branches
  .gitignore
  .ito/changes/009-03_move-audit-storage-off-work-branches/.ito.yaml
  .ito/changes/009-03_move-audit-storage-off-work-branches/design.md
  .ito/changes/009-03_move-audit-storage-off-work-branches/proposal.md
  .ito/changes/009-03_move-audit-storage-off-work-branches/specs/audit-remote-mirroring/spec.md
  .ito/changes/009-03_move-audit-storage-off-work-branches/specs/audit-storage-routing/spec.md
  .ito/changes/009-03_move-audit-storage-off-work-branches/specs/backend-event-ingest/spec.md
  .ito/changes/009-03_move-audit-storage-off-work-branches/specs/execution-logs/spec.md
  .ito/changes/009-03_move-audit-storage-off-work-branches/tasks.md
  .ito/modules/009_logging-telemetry/module.md
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-backend/tests/event_ingest.rs
  ito-rs/crates/ito-cli/src/app/validate.rs
  ito-rs/crates/ito-cli/src/commands/audit.rs
  ito-rs/crates/ito-cli/src/runtime.rs
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/crates/ito-cli/tests/audit_more.rs
  ito-rs/crates/ito-cli/tests/audit_remote_mode.rs
  ito-rs/crates/ito-cli/tests/coverage_smoke.rs
  ito-rs/crates/ito-cli/tests/validate_more.rs
  ito-rs/crates/ito-core/src/audit/mirror.rs
  ito-rs/crates/ito-core/src/audit/mod.rs
  ito-rs/crates/ito-core/src/audit/reader.rs
  ito-rs/crates/ito-core/src/audit/reader_tests.rs
  ito-rs/crates/ito-core/src/audit/reconcile.rs
  ito-rs/crates/ito-core/src/audit/store.rs
  ito-rs/crates/ito-core/src/audit/stream.rs
  ito-rs/crates/ito-core/src/audit/worktree.rs
  ito-rs/crates/ito-core/src/audit/writer.rs
  ito-rs/crates/ito-core/src/backend_http.rs
  ito-rs/crates/ito-core/src/backend_http/backend_http_tests.rs
  ito-rs/crates/ito-core/src/event_forwarder.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-core/tests/audit_mirror.rs
  ito-rs/crates/ito-core/tests/audit_storage.rs
  qa/backend/README.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs(homebrew): align install docs with current formula name
  .ito/specs/homebrew-formula/spec.md
  README.md
  docs/backend-client-mode.md
Due: markdownlint-cli2

docs(apply): add showboat demo document guidance and enable backend config
  .ito/config.json
  .ito/user-prompts/apply.md
  .ito/user-prompts/guidance.md
Due: none

chore(deps): upgrade pi-subagents from 0.11.0 to 0.11.10
  .pi/npm/package-lock.json
  .pi/npm/package.json
Due: none

docs: add Showboat demo guidance, homebrew install fix, and deps upgrade (#173)
  .ito/config.json
  .ito/specs/homebrew-formula/spec.md
  .ito/user-prompts/apply.md
  .ito/user-prompts/guidance.md
  .pi/npm/package-lock.json
  .pi/npm/package.json
  README.md
  docs/backend-client-mode.md
Due: markdownlint-cli2

feat(000-12): refine sub-module support proposal
  .ito/changes/000-12_sub-module-support/design.md
  .ito/changes/000-12_sub-module-support/proposal.md
  .ito/changes/000-12_sub-module-support/specs/backend-project-store/spec.md
  .ito/changes/000-12_sub-module-support/specs/change-creation/spec.md
  .ito/changes/000-12_sub-module-support/specs/change-repository/spec.md
  .ito/changes/000-12_sub-module-support/specs/cli-sub-module/spec.md
  .ito/changes/000-12_sub-module-support/specs/flexible-id-parser/spec.md
  .ito/changes/000-12_sub-module-support/specs/module-repository/spec.md
  .ito/changes/000-12_sub-module-support/specs/repo-sweep-prompt/spec.md
  .ito/changes/000-12_sub-module-support/specs/sub-module-id-format/spec.md
  .ito/changes/000-12_sub-module-support/specs/sub-module/spec.md
  .ito/changes/000-12_sub-module-support/tasks.md
  .ito/changes/001-28_tmux-skill-integration/tasks.md
  .ito/config.json
  .ito/workflows/.state/change-allocations.json
  .superset/config.json
Due: none

fix(ito-templates): branch bare-control worktrees from default branch
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/worktrees.md.j2
  ito-rs/crates/ito-templates/assets/skills/ito-using-git-worktrees/SKILL.md
  ito-rs/crates/ito-templates/src/instructions_tests.rs
  ito-rs/crates/ito-templates/src/project_templates.rs
  ito-rs/crates/ito-templates/tests/worktree_template_rendering.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(001-27): extend requirement traceability to archived change bundles
  .ito/changes/001-27_add-requirement-traceability/design.md
  .ito/changes/001-27_add-requirement-traceability/proposal.md
  .ito/changes/001-27_add-requirement-traceability/specs/cli-surface/spec.md
  .ito/changes/001-27_add-requirement-traceability/specs/cli-trace/spec.md
  .ito/changes/001-27_add-requirement-traceability/specs/cli-validate/spec.md
  .ito/changes/001-27_add-requirement-traceability/specs/peer-review-instruction/spec.md
  .ito/changes/001-27_add-requirement-traceability/specs/requirement-traceability/spec.md
  .ito/changes/001-27_add-requirement-traceability/specs/tasks-tracking/spec.md
  .ito/changes/001-27_add-requirement-traceability/tasks.md
Due: none

chore(001-31): allocate tmux tooling change and refresh workflow tasks
  .ito/changes/001-28_tmux-skill-integration/tasks.md
  .ito/changes/001-29_proposal-viewer-command/tasks.md
  .ito/changes/001-30_proposal-viewer-html/tasks.md
  .ito/changes/001-31_tools-config-tmux/.ito.yaml
  .ito/changes/001-31_tools-config-tmux/proposal.md
  .ito/changes/001-31_tools-config-tmux/specs/cli-init/spec.md
  .ito/changes/001-31_tools-config-tmux/specs/config-schema/spec.md
  .ito/changes/001-31_tools-config-tmux/specs/global-config/spec.md
  .ito/changes/001-31_tools-config-tmux/specs/tools-config/spec.md
  .ito/changes/001-31_tools-config-tmux/tasks.md
  .ito/modules/001_workflow-enhancements/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

add cloud init
  .claude/session-start.sh
Due: none

add cloud init
  .ito/workflows/.state/change-allocations.json
Due: none

chore: normalize proposal viewer demos
  .ito/changes/001-29_proposal-viewer-command/demos/task-1.1-artifact-collector.md
  .ito/changes/001-29_proposal-viewer-command/demos/task-2.1-viewer-backend-trait.md
  .ito/changes/001-29_proposal-viewer-command/demos/task-2.2-2.5-viewer-backends.md
  .ito/changes/001-29_proposal-viewer-command/demos/task-3.1-4.1-cli-view-command.md
Due: none

Move all dev dependencies to mise.toml, simplify make init
  Makefile
  mise.toml
Due: arch-guardrails

fix(001-31): address PR review feedback
  .ito/changes/001-28_tmux-skill-integration/demos/tmux-skill-installation.md
  .ito/changes/001-29_proposal-viewer-command/demos/task-3.1-4.1-cli-view-command.md
  .ito/changes/001-29_proposal-viewer-command/tasks.md
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/view.rs
  ito-rs/crates/ito-cli/tests/init_tmux.rs
  ito-rs/crates/ito-cli/tests/view_proposal.rs
  ito-rs/crates/ito-core/src/distribution.rs
  ito-rs/crates/ito-core/src/viewer/bat.rs
  ito-rs/crates/ito-core/src/viewer/mod.rs
  ito-rs/crates/ito-core/src/viewer/registry.rs
  ito-rs/crates/ito-core/src/viewer/tmux_nvim.rs
  ito-rs/crates/ito-templates/assets/skills/tmux/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/tmux/scripts/wait-for-text.sh
  ito-rs/crates/ito-templates/src/lib.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Update init.rs
  ito-rs/crates/ito-cli/src/app/init.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(001-31): handle follow-up review notes
  .ito/changes/001-29_proposal-viewer-command/demos/task-3.1-4.1-cli-view-command.md
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/tests/init_tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

refactor(viewer): replace manual temp file handling with `tempfile` crate in TmuxNvimViewer (#177)
  ito-rs/crates/ito-core/Cargo.toml
  ito-rs/crates/ito-core/src/viewer/tmux_nvim.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

feat(000-12): add sub-module domain types and extend ID parser for NNN.SS-NN_name format
  .ito/changes/000-12_sub-module-support/tasks.md
  ito-rs/crates/ito-common/src/id/change_id.rs
  ito-rs/crates/ito-common/src/id/mod.rs
  ito-rs/crates/ito-common/src/id/sub_module_id.rs
  ito-rs/crates/ito-core/src/backend_http.rs
  ito-rs/crates/ito-core/src/change_repository.rs
  ito-rs/crates/ito-core/src/module_repository.rs
  ito-rs/crates/ito-core/src/sqlite_project_store_repositories.rs
  ito-rs/crates/ito-domain/src/changes/mod.rs
  ito-rs/crates/ito-domain/src/modules/mod.rs
  ito-rs/crates/ito-test-support/src/mock_repos.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(000-12): extend filesystem repositories with sub-module scanning and sub_module_id population
  .ito/changes/000-12_sub-module-support/tasks.md
  ito-rs/crates/ito-core/src/backend_change_repository.rs
  ito-rs/crates/ito-core/src/change_repository.rs
  ito-rs/crates/ito-core/src/module_repository.rs
  ito-rs/crates/ito-core/src/ralph/runner/runner_tests.rs
  ito-rs/crates/ito-core/tests/backend_client_mode.rs
  ito-rs/crates/ito-core/tests/backend_module_repository.rs
  ito-rs/crates/ito-core/tests/change_repository_lifecycle.rs
  ito-rs/crates/ito-core/tests/change_repository_parity.rs
  ito-rs/crates/ito-core/tests/change_target_resolution_parity.rs
  ito-rs/crates/ito-core/tests/import.rs
  ito-rs/crates/ito-core/tests/repository_runtime.rs
  ito-rs/crates/ito-domain/src/modules/repository.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(000-12): add CLI commands for sub-module creation, listing, show, and validation
  .ito/changes/000-12_sub-module-support/tasks.md
  ito-rs/crates/ito-cli/src/app/list.rs
  ito-rs/crates/ito-cli/src/app/show.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_create_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-core/src/create/mod.rs
  ito-rs/crates/ito-core/src/list.rs
  ito-rs/crates/ito-core/src/repository_runtime.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(000-12): support sub-module-scoped change creation with --sub-module flag
  .ito/changes/000-12_sub-module-support/tasks.md
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-cli/tests/create_more.rs
  ito-rs/crates/ito-core/src/create/mod.rs
  ito-rs/crates/ito-core/tests/create.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(000-12): extend backend repositories and stores with sub-module ID support
  .ito/changes/000-12_sub-module-support/tasks.md
  ito-rs/crates/ito-core/src/backend_http.rs
  ito-rs/crates/ito-core/src/backend_module_repository.rs
  ito-rs/crates/ito-core/src/sqlite_project_store.rs
  ito-rs/crates/ito-core/src/sqlite_project_store_repositories.rs
  ito-rs/crates/ito-core/tests/backend_sub_module_support.rs
  ito-rs/crates/ito-core/tests/change_repository_parity.rs
  ito-rs/crates/ito-core/tests/change_target_resolution_parity.rs
  ito-rs/crates/ito-core/tests/repository_runtime.rs
  ito-rs/crates/ito-core/tests/sqlite_archive_mirror.rs
  ito-rs/crates/ito-core/tests/sqlite_task_mutations.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs(000-12): finalize specs and rustdoc for sub-module support
  .ito/changes/000-12_sub-module-support/specs/backend-project-store/spec.md
  .ito/changes/000-12_sub-module-support/tasks.md
  ito-rs/crates/ito-common/src/id/change_id.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(000-12): add repo-sweep agent instruction for sub-module ID format awareness
  .ito/changes/000-12_sub-module-support/tasks.md
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/agent_instruction_repo_sweep.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_agent_instruction_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-templates/assets/instructions/agent/repo-sweep.md.j2
  ito-rs/crates/ito-templates/src/instructions_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(000-12): mark all 47 tasks complete
  .ito/changes/000-12_sub-module-support/tasks.md
Due: none

refactor(000-12): quality improvements from code-quality-squad and rust-quality-checker
  ito-rs/crates/ito-cli/src/app/list.rs
  ito-rs/crates/ito-cli/src/app/show.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_create_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-common/src/id/change_id.rs
  ito-rs/crates/ito-common/src/id/mod.rs
  ito-rs/crates/ito-common/src/id/sub_module_id.rs
  ito-rs/crates/ito-core/src/backend_http.rs
  ito-rs/crates/ito-core/src/backend_module_repository.rs
  ito-rs/crates/ito-core/src/change_repository.rs
  ito-rs/crates/ito-core/src/list.rs
  ito-rs/crates/ito-core/src/module_repository.rs
  ito-rs/crates/ito-domain/src/changes/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails
