Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            feat,
            fix,
            docs,
            style,
            refactor,
            perf,
            test,
            build,
            ci,
            chore,
            revert,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.20.0]
        args: [--config, .markdownlint-cli2.yaml]
        files: \.md$
        exclude: ^\.ito/

      - id: cargo-fmt
        name: cargo fmt (ito-rs)
        entry: make
        language: system
        args: [fmt]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-clippy
        name: cargo clippy (ito-rs)
        entry: make
        language: system
        args: [clippy]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-test-coverage
        name: cargo test with coverage (ito-rs)
        entry: make
        language: system
        args: [test-coverage]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-push]

      - id: cargo-test-affected
        name: cargo test affected (ito-rs)
        entry: make
        language: system
        args: [test-affected]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-commit]

      - id: check-max-lines
        name: check max lines (ito-rs)
        entry: make
        language: system
        args: [check-max-lines]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$

      - id: arch-guardrails
        name: architecture guardrails
        entry: make
        language: system
        args: [arch-guardrails]
        pass_filenames: false
        files: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$

      - id: cargo-deny
        name: cargo deny (license/advisory checks)
        entry: make
        language: system
        args: [cargo-deny]
        pass_filenames: false
        files: ^ito-rs/.*\.(toml|lock)$

fix progess
  .ito/changes/016-11_module-description-args/.ito.yaml
  .ito/changes/016-11_module-description-args/design.md
  .ito/changes/016-11_module-description-args/proposal.md
  .ito/changes/016-11_module-description-args/specs/cli-module/spec.md
  .ito/changes/016-11_module-description-args/specs/rust-artifact-workflow/spec.md
  .ito/changes/016-11_module-description-args/tasks.md
  .ito/changes/archive/2026-02-18-023-01_opencode-audit-hooks/.ito.yaml
  .ito/changes/archive/2026-02-18-023-01_opencode-audit-hooks/design.md
  .ito/changes/archive/2026-02-18-023-01_opencode-audit-hooks/proposal.md
  .ito/changes/archive/2026-02-18-023-01_opencode-audit-hooks/specs/tool-adapters/spec.md
  .ito/changes/archive/2026-02-18-023-01_opencode-audit-hooks/tasks.md
  .ito/changes/archive/2026-02-18-023-02_claude-audit-hooks/.ito.yaml
  .ito/changes/archive/2026-02-18-023-02_claude-audit-hooks/design.md
  .ito/changes/archive/2026-02-18-023-02_claude-audit-hooks/proposal.md
  .ito/changes/archive/2026-02-18-023-02_claude-audit-hooks/specs/tool-adapters/spec.md
  .ito/changes/archive/2026-02-18-023-02_claude-audit-hooks/tasks.md
  .ito/changes/archive/2026-02-18-023-03_github-copilot-audit-hooks/.ito.yaml
  .ito/changes/archive/2026-02-18-023-03_github-copilot-audit-hooks/design.md
  .ito/changes/archive/2026-02-18-023-03_github-copilot-audit-hooks/proposal.md
  .ito/changes/archive/2026-02-18-023-03_github-copilot-audit-hooks/specs/tool-adapters/spec.md
  .ito/changes/archive/2026-02-18-023-03_github-copilot-audit-hooks/tasks.md
  .ito/changes/archive/2026-02-18-023-04_codex-audit-instructions/.ito.yaml
  .ito/changes/archive/2026-02-18-023-04_codex-audit-instructions/design.md
  .ito/changes/archive/2026-02-18-023-04_codex-audit-instructions/proposal.md
  .ito/changes/archive/2026-02-18-023-04_codex-audit-instructions/specs/tool-adapters/spec.md
  .ito/changes/archive/2026-02-18-023-04_codex-audit-instructions/tasks.md
  .ito/changes/archive/2026-02-18-023-05_init-update-installer-parity/.ito.yaml
  .ito/changes/archive/2026-02-18-023-05_init-update-installer-parity/design.md
  .ito/changes/archive/2026-02-18-023-05_init-update-installer-parity/proposal.md
  .ito/changes/archive/2026-02-18-023-05_init-update-installer-parity/specs/cli-update/spec.md
  .ito/changes/archive/2026-02-18-023-05_init-update-installer-parity/specs/rust-installers/spec.md
  .ito/changes/archive/2026-02-18-023-05_init-update-installer-parity/tasks.md
  .ito/modules/016_cli/module.md
  .ito/modules/023_harness-hooks/module.md
  .ito/specs/cli-update/spec.md
  .ito/specs/rust-installers/spec.md
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-cli/tests/archive_completed.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(016-11): add --description argument for create module command
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(016-11): implement module description parameter handling in core
  ito-rs/crates/ito-core/src/create/mod.rs
  ito-rs/crates/ito-core/tests/create.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

test(016-11): add test coverage for module description argument
  ito-rs/crates/ito-cli/tests/create_more.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(016-11): update adapter and task tracking for description args
  .ito/changes/016-11_module-description-args/tasks.md
  ito-rs/crates/ito-templates/assets/adapters/opencode/ito-skills.js
Due: none

style(016-11): apply rustfmt ordering fixes
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-core/tests/create.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(016-11): match managed file paths in bash commands
  ito-rs/crates/ito-templates/assets/adapters/opencode/ito-skills.js
Due: none

chore(coordination): reserve 016-12_sort-id-lists-ascending
  .ito/changes/016-12_sort-id-lists-ascending/.ito.yaml
Due: none

feat(016-11): implement module description parameter handling in core
  ito-rs/crates/ito-core/tests/create.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(016-11): add --description argument for create module command
  ito-rs/crates/ito-cli/src/cli.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

changes
  .ito/changes/016-12_sort-id-lists-ascending/.ito.yaml
  .ito/modules/016_cli/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

wip
  .claude/skills/ito-using-git-worktrees/SKILL.md
  .codex/skills/ito-using-git-worktrees/SKILL.md
  .github/skills/ito-using-git-worktrees/SKILL.md
  .opencode/agent/ito-quick.md
  .opencode/skills/ito-using-git-worktrees/SKILL.md
Due: markdownlint-cli2

fmt
  .ito/workflows/.state/change-allocations.json
Due: none

fix(tasks): accept [>] status markers and repair parse doctests
  ito-rs/crates/ito-domain/src/tasks/parse.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

track change
  .ito/changes/016-12_sort-id-lists-ascending/design.md
  .ito/changes/016-12_sort-id-lists-ascending/proposal.md
  .ito/changes/016-12_sort-id-lists-ascending/specs/change-creation/spec.md
  .ito/changes/016-12_sort-id-lists-ascending/specs/cli-list/spec.md
  .ito/changes/016-12_sort-id-lists-ascending/specs/cli-show/spec.md
  .ito/changes/016-12_sort-id-lists-ascending/specs/cli-tasks/spec.md
  .ito/changes/016-12_sort-id-lists-ascending/tasks.md
Due: none

fix(review): address PR 78 core and adapter feedback
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/tests/distribution.rs
  ito-rs/crates/ito-core/tests/support/mod.rs
  ito-rs/crates/ito-core/tests/tasks_api.rs
  ito-rs/crates/ito-core/tests/tasks_checkbox_format.rs
  ito-rs/crates/ito-core/tests/tasks_orchestration.rs
  ito-rs/crates/ito-templates/assets/adapters/opencode/ito-skills.js
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style(tests): apply rustfmt updates
  ito-rs/crates/ito-core/tests/distribution.rs
  ito-rs/crates/ito-core/tests/tasks_api.rs
  ito-rs/crates/ito-core/tests/tasks_checkbox_format.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(ci): skip ito audit checks when ito CLI is unavailable
  .github/workflows/copilot-setup-steps.yml
  ito-rs/crates/ito-templates/assets/default/project/.github/workflows/copilot-setup-steps.yml
Due: none

feat(016-12): standardize ascending ID ordering across lists and state
  .ito/changes/016-12_sort-id-lists-ascending/design.md
  .ito/changes/016-12_sort-id-lists-ascending/proposal.md
  .ito/changes/016-12_sort-id-lists-ascending/specs/change-creation/spec.md
  .ito/changes/016-12_sort-id-lists-ascending/specs/cli-list/spec.md
  .ito/changes/016-12_sort-id-lists-ascending/specs/cli-show/spec.md
  .ito/changes/016-12_sort-id-lists-ascending/specs/cli-tasks/spec.md
  .ito/changes/016-12_sort-id-lists-ascending/tasks.md
  ito-rs/crates/ito-cli/src/app/list.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-cli/tests/list_regression.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_list_help.snap
  ito-rs/crates/ito-cli/tests/tasks_more.rs
  ito-rs/crates/ito-core/src/create/mod.rs
  ito-rs/crates/ito-core/src/list.rs
  ito-rs/crates/ito-core/src/tasks.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/tests/create.rs
  ito-rs/crates/ito-domain/src/tasks/compute.rs
  ito-rs/crates/ito-domain/src/tasks/parse.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(tasks): repair failing task doctest snippets
  ito-rs/crates/ito-core/src/tasks.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(016-12): sort enhanced ready and blocked tasks by ID
  ito-rs/crates/ito-domain/src/tasks/compute.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style(016-12): format compute task sorting assertions
  ito-rs/crates/ito-domain/src/tasks/compute.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(016-12): standardize ascending ID ordering across list surfaces (#85)
  .ito/changes/016-12_sort-id-lists-ascending/tasks.md
  ito-rs/crates/ito-cli/src/app/list.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-cli/tests/list_regression.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_list_help.snap
  ito-rs/crates/ito-cli/tests/tasks_more.rs
  ito-rs/crates/ito-core/src/create/mod.rs
  ito-rs/crates/ito-core/src/list.rs
  ito-rs/crates/ito-core/src/tasks.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/tests/create.rs
  ito-rs/crates/ito-domain/src/tasks/compute.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails
