Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            feat,
            fix,
            docs,
            style,
            refactor,
            perf,
            test,
            build,
            ci,
            chore,
            revert,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.20.0]
        args: [--config, .markdownlint-cli2.yaml]
        files: \.md$
        exclude: ^\.ito/

      - id: cargo-fmt
        name: cargo fmt (ito-rs)
        entry: make
        language: system
        args: [fmt]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-clippy
        name: cargo clippy (ito-rs)
        entry: make
        language: system
        args: [clippy]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-test-coverage
        name: cargo test with coverage (ito-rs)
        entry: make
        language: system
        args: [test-coverage]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-push]

      - id: cargo-test-affected
        name: cargo test affected (ito-rs)
        entry: make
        language: system
        args: [test-affected]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-commit]

      - id: check-max-lines
        name: check max lines (ito-rs)
        entry: make
        language: system
        args: [check-max-lines]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$

      - id: arch-guardrails
        name: architecture guardrails
        entry: make
        language: system
        args: [arch-guardrails]
        pass_filenames: false
        files: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$

      - id: cargo-deny
        name: cargo deny (license/advisory checks)
        entry: make
        language: system
        args: [cargo-deny]
        pass_filenames: false
        files: ^ito-rs/.*\.(toml|lock)$

presentations
  docs/presentations/march-2026/ito-lifecycle-slide-deck.md
  docs/presentations/march-2026/ito-workflow-diagram.png
  docs/presentations/march-2026/slides.html
  docs/presentations/tips-march-2026/Makefile
  docs/presentations/tips-march-2026/ai-assisted-engineering-patterns-march-2026-neon.md
  docs/presentations/tips-march-2026/ai-assisted-engineering-patterns-march-2026-playful.md
  docs/presentations/tips-march-2026/ai-assisted-engineering-patterns-march-2026.md
  docs/presentations/tips-march-2026/slides-neon.html
  docs/presentations/tips-march-2026/slides-playful.html
  docs/presentations/tips-march-2026/slides.html
  docs/presentations/tips-march-2026/themes/neon-grid.css
Due: markdownlint-cli2

feat: add configurable logging of invalid CLI commands
  Cargo.lock
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/crates/ito-config/src/config/mod.rs
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-logging/Cargo.toml
  ito-rs/crates/ito-logging/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

refactor: address review feedback on invalid command logging
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-logging/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: sanitize sensitive flags and paths before invalid command logging
  ito-rs/crates/ito-cli/src/util.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

refactor(016-15): replace sync-by-comment with exhaustive destructuring for AgentInstructionArgs
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/cli/agent.rs
  ito-rs/crates/ito-cli/tests/instructions_more.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs(016-15): add retrospective change proposal for exhaustive destructuring refactor
  .ito/changes/016-15_agent-instruction-args-exhaustive-destructure/.ito.yaml
  .ito/changes/016-15_agent-instruction-args-exhaustive-destructure/proposal.md
  .ito/changes/016-15_agent-instruction-args-exhaustive-destructure/specs/agent-instructions/spec.md
  .ito/changes/016-15_agent-instruction-args-exhaustive-destructure/tasks.md
Due: none

style(016-15): collapse nested if-let per clippy collapsible_if lint
  ito-rs/crates/ito-cli/src/app/instructions.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style: apply cargo fmt to ito-config and ito-logging
  ito-rs/crates/ito-config/src/config/mod.rs
  ito-rs/crates/ito-logging/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat: add configurable logging of invalid CLI commands (#183)
  .ito/changes/016-15_agent-instruction-args-exhaustive-destructure/.ito.yaml
  .ito/changes/016-15_agent-instruction-args-exhaustive-destructure/proposal.md
  .ito/changes/016-15_agent-instruction-args-exhaustive-destructure/specs/agent-instructions/spec.md
  .ito/changes/016-15_agent-instruction-args-exhaustive-destructure/tasks.md
  Cargo.lock
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/cli/agent.rs
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/crates/ito-cli/tests/instructions_more.rs
  ito-rs/crates/ito-config/src/config/mod.rs
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-logging/Cargo.toml
  ito-rs/crates/ito-logging/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

feat(019-08): add proposal intake routing
  .ito/changes/019-08_proposal-intake-and-schema-routing/.ito.yaml
  .ito/changes/019-08_proposal-intake-and-schema-routing/demos/routing-assets.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/design.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/proposal.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/specs/change-request-routing/spec.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/specs/proposal-intake/spec.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/specs/schema-selection-guidance/spec.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/tasks.md
  .ito/modules/019_templates/module.md
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-templates/assets/commands/ito-feature.md
  ito-rs/crates/ito-templates/assets/commands/ito-fix.md
  ito-rs/crates/ito-templates/assets/commands/ito-proposal-intake.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/AGENTS.md
  ito-rs/crates/ito-templates/assets/instructions/agent/schemas.md.j2
  ito-rs/crates/ito-templates/assets/skills/ito-brainstorming/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-feature/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-fix/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-proposal-intake/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-proposal/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-workflow/SKILL.md
  ito-rs/crates/ito-templates/src/instructions_tests.rs
  ito-rs/crates/ito-templates/src/lib.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Update ito-rs/crates/ito-templates/assets/skills/ito-feature/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-feature/SKILL.md
Due: markdownlint-cli2

Update ito-rs/crates/ito-templates/assets/skills/ito-proposal-intake/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-proposal-intake/SKILL.md
Due: markdownlint-cli2

Update ito-rs/crates/ito-templates/assets/skills/ito-fix/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-fix/SKILL.md
Due: markdownlint-cli2

feat(019-08): add proposal intake routing (#186)
  .ito/changes/019-08_proposal-intake-and-schema-routing/.ito.yaml
  .ito/changes/019-08_proposal-intake-and-schema-routing/demos/routing-assets.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/design.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/proposal.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/specs/change-request-routing/spec.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/specs/proposal-intake/spec.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/specs/schema-selection-guidance/spec.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/tasks.md
  .ito/modules/019_templates/module.md
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-templates/assets/commands/ito-feature.md
  ito-rs/crates/ito-templates/assets/commands/ito-fix.md
  ito-rs/crates/ito-templates/assets/commands/ito-proposal-intake.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/AGENTS.md
  ito-rs/crates/ito-templates/assets/instructions/agent/schemas.md.j2
  ito-rs/crates/ito-templates/assets/skills/ito-brainstorming/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-feature/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-fix/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-proposal-intake/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-proposal/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-workflow/SKILL.md
  ito-rs/crates/ito-templates/src/instructions_tests.rs
  ito-rs/crates/ito-templates/src/lib.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

archive changes
  .ito/changes/019-08_proposal-intake-and-schema-routing/design.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/specs/schema-selection-guidance/spec.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/tasks.md
  .ito/changes/archive/2026-04-01-016-15_agent-instruction-args-exhaustive-destructure/.ito.yaml
  .ito/changes/archive/2026-04-01-016-15_agent-instruction-args-exhaustive-destructure/proposal.md
  .ito/changes/archive/2026-04-01-016-15_agent-instruction-args-exhaustive-destructure/specs/agent-instructions/spec.md
  .ito/changes/archive/2026-04-01-016-15_agent-instruction-args-exhaustive-destructure/tasks.md
  .ito/changes/archive/2026-04-01-019.01-01_module-confirmation-gate/.ito.yaml
  .ito/changes/archive/2026-04-01-019.01-01_module-confirmation-gate/README.md
  .ito/changes/archive/2026-04-01-019.01-01_module-confirmation-gate/proposal.md
  .ito/changes/archive/2026-04-01-019.01-01_module-confirmation-gate/specs/interactive-module-selection/spec.md
  .ito/changes/archive/2026-04-01-019.01-01_module-confirmation-gate/tasks.md
  .ito/specs/agent-instructions/spec.md
  .ito/workflows/.state/change-allocations.json
Due: none

feat(016-16): add change proposal for archive instruction and flag support
  .ito/changes/016-16_archive-instruction-and-flag-support/.ito.yaml
  .ito/changes/016-16_archive-instruction-and-flag-support/specs/agent-instructions/spec.md
  .ito/changes/016-16_archive-instruction-and-flag-support/tasks.md
  .ito/modules/016_cli/module.md
Due: none

feat(016-16): support archive artifact in ito agent instruction
  .ito/changes/016-16_archive-instruction-and-flag-support/demos/implementation.md
  .ito/changes/016-16_archive-instruction-and-flag-support/tasks.md
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/cli/agent.rs
  ito-rs/crates/ito-cli/tests/instructions_more.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_agent_instruction_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-templates/assets/instructions/agent/archive.md.j2
  ito-rs/crates/ito-templates/src/instructions_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(001-30): add HTML browser viewer backend for proposal viewing
  .ito/changes/001-30_proposal-viewer-html/demos/html-viewer.md
  .ito/changes/001-30_proposal-viewer-html/tasks.md
  ito-rs/crates/ito-cli/tests/view_proposal.rs
  ito-rs/crates/ito-core/src/viewer/html.rs
  ito-rs/crates/ito-core/src/viewer/mod.rs
  ito-rs/crates/ito-core/src/viewer/registry.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style(016-16): apply cargo fmt and fix end-of-file in changed files
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-cli/tests/instructions_more.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: resolve merge conflict in change-allocations.json
  .ito/workflows/.state/change-allocations.json
Due: none

Update ito-rs/crates/ito-core/src/viewer/html.rs
  ito-rs/crates/ito-core/src/viewer/html.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

refactor: extract command_on_path and run_with_stdin into viewer::util
  ito-rs/crates/ito-core/src/viewer/bat.rs
  ito-rs/crates/ito-core/src/viewer/glow.rs
  ito-rs/crates/ito-core/src/viewer/html.rs
  ito-rs/crates/ito-core/src/viewer/mod.rs
  ito-rs/crates/ito-core/src/viewer/tmux_nvim.rs
  ito-rs/crates/ito-core/src/viewer/util.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

test: use stub scripts for deterministic HTML viewer tests
  ito-rs/crates/ito-cli/tests/view_proposal.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: resolve merge conflict markers in 019-08 change artifacts
  .ito/changes/019-08_proposal-intake-and-schema-routing/design.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/specs/schema-selection-guidance/spec.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/tasks.md
Due: none

fix: capture stderr from pandoc/opener and surface install hints
  ito-rs/crates/ito-cli/src/commands/view.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(016-16): address PR review feedback
  .ito/changes/016-16_archive-instruction-and-flag-support/demos/implementation.md
  .ito/changes/016-16_archive-instruction-and-flag-support/specs/agent-instructions/spec.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/design.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/specs/schema-selection-guidance/spec.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/tasks.md
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-cli/tests/instructions_more.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: implement availability_hint for HtmlViewer
  ito-rs/crates/ito-core/src/viewer/html.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(001-30): add HTML browser viewer backend (#188)
  .ito/changes/001-30_proposal-viewer-html/demos/html-viewer.md
  .ito/changes/001-30_proposal-viewer-html/tasks.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/specs/schema-selection-guidance/spec.md
  .ito/changes/archive/2026-04-01-016-15_agent-instruction-args-exhaustive-destructure/.ito.yaml
  .ito/changes/archive/2026-04-01-016-15_agent-instruction-args-exhaustive-destructure/proposal.md
  .ito/changes/archive/2026-04-01-016-15_agent-instruction-args-exhaustive-destructure/specs/agent-instructions/spec.md
  .ito/changes/archive/2026-04-01-016-15_agent-instruction-args-exhaustive-destructure/tasks.md
  .ito/changes/archive/2026-04-01-019.01-01_module-confirmation-gate/.ito.yaml
  .ito/changes/archive/2026-04-01-019.01-01_module-confirmation-gate/README.md
  .ito/changes/archive/2026-04-01-019.01-01_module-confirmation-gate/proposal.md
  .ito/changes/archive/2026-04-01-019.01-01_module-confirmation-gate/specs/interactive-module-selection/spec.md
  .ito/changes/archive/2026-04-01-019.01-01_module-confirmation-gate/tasks.md
  .ito/specs/agent-instructions/spec.md
  ito-rs/crates/ito-cli/src/commands/view.rs
  ito-rs/crates/ito-cli/tests/view_proposal.rs
  ito-rs/crates/ito-core/src/viewer/bat.rs
  ito-rs/crates/ito-core/src/viewer/glow.rs
  ito-rs/crates/ito-core/src/viewer/html.rs
  ito-rs/crates/ito-core/src/viewer/mod.rs
  ito-rs/crates/ito-core/src/viewer/registry.rs
  ito-rs/crates/ito-core/src/viewer/tmux_nvim.rs
  ito-rs/crates/ito-core/src/viewer/util.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(016-16): support archive artifact in ito agent instruction (#187)
  .ito/changes/016-16_archive-instruction-and-flag-support/.ito.yaml
  .ito/changes/016-16_archive-instruction-and-flag-support/demos/implementation.md
  .ito/changes/016-16_archive-instruction-and-flag-support/specs/agent-instructions/spec.md
  .ito/changes/016-16_archive-instruction-and-flag-support/tasks.md
  .ito/modules/016_cli/module.md
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/cli/agent.rs
  ito-rs/crates/ito-cli/tests/instructions_more.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_agent_instruction_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-templates/assets/instructions/agent/archive.md.j2
  ito-rs/crates/ito-templates/src/instructions_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

archive changes
  .ito/changes/019-08_proposal-intake-and-schema-routing/design.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/tasks.md
  .ito/workflows/.state/change-allocations.json
Due: none

update specs
  .ito/changes/archive/2026-04-03-001-30_proposal-viewer-html/.ito.yaml
  .ito/changes/archive/2026-04-03-001-30_proposal-viewer-html/demos/html-viewer.md
  .ito/changes/archive/2026-04-03-001-30_proposal-viewer-html/proposal.md
  .ito/changes/archive/2026-04-03-001-30_proposal-viewer-html/specs/proposal-viewer-html/spec.md
  .ito/changes/archive/2026-04-03-001-30_proposal-viewer-html/specs/proposal-viewer/spec.md
  .ito/changes/archive/2026-04-03-001-30_proposal-viewer-html/tasks.md
  .ito/changes/archive/2026-04-03-016-16_archive-instruction-and-flag-support/.ito.yaml
  .ito/changes/archive/2026-04-03-016-16_archive-instruction-and-flag-support/demos/implementation.md
  .ito/changes/archive/2026-04-03-016-16_archive-instruction-and-flag-support/specs/agent-instructions/spec.md
  .ito/changes/archive/2026-04-03-016-16_archive-instruction-and-flag-support/tasks.md
  .ito/changes/archive/2026-04-03-019-08_proposal-intake-and-schema-routing/.ito.yaml
  .ito/changes/archive/2026-04-03-019-08_proposal-intake-and-schema-routing/demos/routing-assets.md
  .ito/changes/archive/2026-04-03-019-08_proposal-intake-and-schema-routing/design.md
  .ito/changes/archive/2026-04-03-019-08_proposal-intake-and-schema-routing/proposal.md
  .ito/changes/archive/2026-04-03-019-08_proposal-intake-and-schema-routing/specs/change-request-routing/spec.md
  .ito/changes/archive/2026-04-03-019-08_proposal-intake-and-schema-routing/specs/proposal-intake/spec.md
  .ito/changes/archive/2026-04-03-019-08_proposal-intake-and-schema-routing/specs/schema-selection-guidance/spec.md
  .ito/changes/archive/2026-04-03-019-08_proposal-intake-and-schema-routing/tasks.md
  .ito/modules/001_workflow-enhancements/module.md
  .ito/modules/016_cli/module.md
  .ito/modules/019_templates/module.md
  .ito/specs/agent-instructions/spec.md
  .ito/specs/proposal-viewer-html/spec.md
  .ito/specs/proposal-viewer/spec.md
Due: none
