Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

feat(024-16): align Homebrew install and service bootstrap (#156)
  .github/workflows/polish-release-notes.yml
  .github/workflows/v-release.yml
  .ito/changes/024-16_homebrew-service-bootstrap/.ito.yaml
  .ito/changes/024-16_homebrew-service-bootstrap/proposal.md
  .ito/changes/024-16_homebrew-service-bootstrap/specs/backend-state-api/spec.md
  .ito/changes/024-16_homebrew-service-bootstrap/specs/homebrew-formula/spec.md
  .ito/changes/024-16_homebrew-service-bootstrap/tasks.md
  .ito/modules/024_ito-backend/module.md
  .ito/workflows/.state/change-allocations.json
  README.md
  docs/backend-client-mode.md
  docs/install.md
  ito-rs/crates/ito-cli/Cargo.toml
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/serve_api.rs
  ito-rs/crates/ito-cli/tests/serve_api_service.rs
  ito-rs/crates/ito-core/tests/backend_auth_service.rs
  services/com.withakay.ito.backend.plist
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

changes
  .ito/changes/024-15_docker-and-helm/.ito.yaml
  .ito/changes/024-15_docker-and-helm/proposal.md
  .ito/changes/024-15_docker-and-helm/specs/container-image/spec.md
  .ito/changes/024-15_docker-and-helm/specs/helm-chart/spec.md
  .ito/changes/024-15_docker-and-helm/tasks.md
  .ito/changes/024-17_backend-status-command/.ito.yaml
  .ito/changes/024-17_backend-status-command/design.md
  .ito/changes/024-17_backend-status-command/proposal.md
  .ito/changes/024-17_backend-status-command/specs/backend-client-runtime/spec.md
  .ito/changes/024-17_backend-status-command/specs/backend-event-forwarding/spec.md
  .ito/changes/024-17_backend-status-command/specs/backend-status-check/spec.md
  .ito/changes/024-17_backend-status-command/tasks.md
  .ito/config.json
  notes.md
Due: markdownlint-cli2

feat(024-17): add backend subcommand group, auth verify endpoint, and health-check client
  .ito/changes/024-17_backend-status-command/tasks.md
  Cargo.lock
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-backend/src/auth.rs
  ito-rs/crates/ito-backend/src/lib.rs
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/cli/backend.rs
  ito-rs/crates/ito-cli/src/commands/backend.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-core/Cargo.toml
  ito-rs/crates/ito-core/src/backend_health.rs
  ito-rs/crates/ito-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

feat(024-17): implement backend status/generate-token handlers and fix silent fallbacks
  .ito/changes/024-17_backend-status-command/tasks.md
  ito-rs/crates/ito-cli/src/app/grep.rs
  ito-rs/crates/ito-cli/src/commands/backend.rs
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-cli/src/util.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

attempt to fix homebrew release
  .github/workflows/v-release.yml
Due: none

test(024-17): add Wave 3 integration tests for backend status, generate-token, and silent fallback fixes
  .ito/changes/024-17_backend-status-command/tasks.md
  ito-rs/crates/ito-cli/tests/backend_status_more.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

remove duplicate loop
  ito-rs/crates/ito-templates/assets/skills/loop/SKILL.md
Due: markdownlint-cli2

fix test after renaming
  ito-rs/crates/ito-core/tests/distribution.rs
  ito-rs/crates/ito-templates/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(024-17): honor backend env overrides and tighten warning coverage
  .ito/changes/024-17_backend-status-command/tasks.md
  ito-rs/crates/ito-cli/tests/backend_status_more.rs
  ito-rs/crates/ito-core/src/backend_client.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Update ito-rs/crates/ito-cli/src/commands/backend.rs
  ito-rs/crates/ito-cli/src/commands/backend.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(024-17): add backend status and token tooling (#159)
  .ito/changes/024-17_backend-status-command/tasks.md
  Cargo.lock
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-backend/src/auth.rs
  ito-rs/crates/ito-backend/src/lib.rs
  ito-rs/crates/ito-cli/src/app/grep.rs
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/cli/backend.rs
  ito-rs/crates/ito-cli/src/commands/backend.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/crates/ito-cli/tests/backend_status_more.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-core/Cargo.toml
  ito-rs/crates/ito-core/src/backend_client.rs
  ito-rs/crates/ito-core/src/backend_health.rs
  ito-rs/crates/ito-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

feat(025-04): add repository runtime and remote adapters
  .ito/changes/025-04_add-repository-runtime-factory/tasks.md
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-cli/src/app/common.rs
  ito-rs/crates/ito-cli/src/app/grep.rs
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/list.rs
  ito-rs/crates/ito-cli/src/app/show.rs
  ito-rs/crates/ito-cli/src/app/status.rs
  ito-rs/crates/ito-cli/src/app/validate.rs
  ito-rs/crates/ito-cli/src/commands/backend.rs
  ito-rs/crates/ito-cli/src/commands/ralph.rs
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-cli/src/runtime.rs
  ito-rs/crates/ito-core/src/archive.rs
  ito-rs/crates/ito-core/src/backend_coordination.rs
  ito-rs/crates/ito-core/src/backend_http.rs
  ito-rs/crates/ito-core/src/backend_module_repository.rs
  ito-rs/crates/ito-core/src/fs_project_store.rs
  ito-rs/crates/ito-core/src/grep.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/list.rs
  ito-rs/crates/ito-core/src/ralph/prompt.rs
  ito-rs/crates/ito-core/src/ralph/runner.rs
  ito-rs/crates/ito-core/src/remote_task_repository.rs
  ito-rs/crates/ito-core/src/repository_runtime.rs
  ito-rs/crates/ito-core/src/show/mod.rs
  ito-rs/crates/ito-core/src/tasks.rs
  ito-rs/crates/ito-core/src/templates/review.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/tests/repository_runtime.rs
  ito-rs/crates/ito-core/tests/show.rs
  ito-rs/crates/ito-core/tests/templates_review_context.rs
  ito-rs/crates/ito-domain/src/backend.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs: add git-yolo fallback guidance
  AGENTS.md
Due: markdownlint-cli2

feat(025-03) wire-module-repository-backends
  .ito/changes/025-03_wire-module-repository-backends/tasks.md
  ito-rs/crates/ito-core/src/backend_module_repository.rs
  ito-rs/crates/ito-core/tests/backend_module_repository.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(025-03): honor module name lookups and sort backend listings
  ito-rs/crates/ito-core/src/backend_module_repository.rs
  ito-rs/crates/ito-core/tests/backend_module_repository.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(025-01): align backend and sqlite change repository parity
  ito-rs/crates/ito-core/src/backend_change_repository.rs
  ito-rs/crates/ito-core/src/change_repository.rs
  ito-rs/crates/ito-core/src/sqlite_project_store.rs
  ito-rs/crates/ito-core/tests/change_repository_parity.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

025-01-wire-change-repository-backends
  .ito/changes/025-01_wire-change-repository-backends/tasks.md
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-cli/src/app/validate.rs
  ito-rs/crates/ito-core/src/backend_change_repository.rs
  ito-rs/crates/ito-core/src/backend_http.rs
  ito-rs/crates/ito-core/src/change_repository.rs
  ito-rs/crates/ito-core/src/repository_runtime.rs
  ito-rs/crates/ito-core/src/sqlite_project_store.rs
  ito-rs/crates/ito-core/src/task_repository.rs
  ito-rs/crates/ito-core/tests/backend_client_mode.rs
  ito-rs/crates/ito-core/tests/change_repository_lifecycle.rs
  ito-rs/crates/ito-core/tests/ralph.rs
  ito-rs/crates/ito-core/tests/repository_runtime.rs
  ito-rs/crates/ito-domain/src/backend.rs
  ito-rs/crates/ito-domain/src/changes/mod.rs
  ito-rs/crates/ito-domain/src/changes/repository.rs
  ito-rs/crates/ito-test-support/src/mock_repos.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

025-02-wire-task-repository-backends
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/repository_runtime.rs
  ito-rs/crates/ito-core/src/task_mutations.rs
  ito-rs/crates/ito-core/src/tasks.rs
  ito-rs/crates/ito-core/tests/repository_runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

025-02-wire-task-repository-backends
  .ito/changes/025-02_wire-task-repository-backends/tasks.md
  Cargo.lock
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-cli/src/commands/tasks/backend.rs
  ito-rs/crates/ito-cli/src/commands/tasks/support.rs
  ito-rs/crates/ito-core/Cargo.toml
  ito-rs/crates/ito-core/src/repository_runtime.rs
  ito-rs/crates/ito-core/src/task_mutations.rs
  ito-rs/crates/ito-core/src/tasks.rs
  ito-rs/crates/ito-core/tests/repository_runtime.rs
  ito-rs/crates/ito-core/tests/task_mutations_remote.rs
  ito-rs/crates/ito-core/tests/task_repository_summary.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

fix(025-02): complete repository-backed task mutations
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-backend/tests/task_mutations.rs
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-cli/src/commands/tasks/support.rs
  ito-rs/crates/ito-cli/tests/tasks_remote_mode.rs
  ito-rs/crates/ito-core/src/backend_http.rs
  ito-rs/crates/ito-core/src/fs_project_store.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/repository_runtime.rs
  ito-rs/crates/ito-core/src/sqlite_project_store.rs
  ito-rs/crates/ito-core/src/task_mutations.rs
  ito-rs/crates/ito-core/tests/repository_runtime.rs
  ito-rs/crates/ito-core/tests/sqlite_task_mutations.rs
  ito-rs/crates/ito-core/tests/task_mutations_remote.rs
  ito-rs/crates/ito-domain/src/backend.rs
  ito-rs/crates/ito-domain/src/tasks/mod.rs
  ito-rs/crates/ito-domain/src/tasks/mutations.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(025-07): -add-local-sqlite-repository-mode
  .ito/changes/025-07_add-local-sqlite-repository-mode/tasks.md
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-core/src/config.rs
  ito-rs/crates/ito-core/src/repository_runtime.rs
  ito-rs/crates/ito-core/src/sqlite_project_store.rs
  ito-rs/crates/ito-core/tests/change_repository_lifecycle.rs
  ito-rs/crates/ito-core/tests/repository_runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

025-07-add-local-sqlite-repository-mode
  ito-rs/crates/ito-core/src/sqlite_project_store.rs
  ito-rs/crates/ito-core/tests/repository_runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(025-07): tighten sqlite mode parity and validation
  ito-rs/crates/ito-core/src/backend_change_repository.rs
  ito-rs/crates/ito-core/src/repository_runtime.rs
  ito-rs/crates/ito-core/src/sqlite_project_store.rs
  ito-rs/crates/ito-core/tests/change_target_resolution_parity.rs
  ito-rs/crates/ito-core/tests/repository_runtime_config_validation.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(025): resolve integration build fallout
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-core/src/backend_change_repository.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/tests/change_repository_lifecycle.rs
  ito-rs/crates/ito-core/tests/sqlite_task_mutations.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(025-05): add repository-backed promoted spec reads
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-backend/tests/specs.rs
  ito-rs/crates/ito-cli/src/app/common.rs
  ito-rs/crates/ito-cli/src/app/show.rs
  ito-rs/crates/ito-cli/src/app/validate.rs
  ito-rs/crates/ito-cli/tests/show_specs_remote_mode.rs
  ito-rs/crates/ito-core/src/backend_http.rs
  ito-rs/crates/ito-core/src/backend_spec_repository.rs
  ito-rs/crates/ito-core/src/fs_project_store.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/repository_runtime.rs
  ito-rs/crates/ito-core/src/show/mod.rs
  ito-rs/crates/ito-core/src/spec_repository.rs
  ito-rs/crates/ito-core/src/sqlite_project_store.rs
  ito-rs/crates/ito-core/tests/change_repository_lifecycle.rs
  ito-rs/crates/ito-core/tests/repository_runtime.rs
  ito-rs/crates/ito-core/tests/spec_repository_backends.rs
  ito-rs/crates/ito-core/tests/spec_show_repository.rs
  ito-rs/crates/ito-domain/src/backend.rs
  ito-rs/crates/ito-domain/src/lib.rs
  ito-rs/crates/ito-domain/src/specs/mod.rs
  ito-rs/crates/ito-domain/src/specs/repository.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(025-05): mirror archived changes through backend stores
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-backend/src/error.rs
  ito-rs/crates/ito-backend/tests/archive_sync.rs
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-cli/src/app/common.rs
  ito-rs/crates/ito-cli/src/app/grep.rs
  ito-rs/crates/ito-cli/src/app/show.rs
  ito-rs/crates/ito-cli/src/commands/tasks/backend.rs
  ito-rs/crates/ito-cli/tests/archive_remote_mode.rs
  ito-rs/crates/ito-core/src/backend_http.rs
  ito-rs/crates/ito-core/src/backend_sync.rs
  ito-rs/crates/ito-core/src/fs_project_store.rs
  ito-rs/crates/ito-core/src/sqlite_project_store.rs
  ito-rs/crates/ito-core/tests/sqlite_archive_mirror.rs
  ito-rs/crates/ito-domain/src/backend.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(025-06): guide agents toward backend workflows
  .ito/AGENTS.md
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-templates/assets/default/project/.ito/AGENTS.md
  ito-rs/crates/ito-templates/assets/instructions/agent/backend.md.j2
  ito-rs/crates/ito-templates/assets/skills/ito-tasks/SKILL.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs(025): mark repository backend module complete
  .ito/changes/025-01_wire-change-repository-backends/tasks.md
  .ito/changes/025-05_mirror-specs-and-archives-to-backend/tasks.md
  .ito/changes/025-06_improve-agent-backend-workflows/tasks.md
  .ito/modules/025_repository-backends/module.md
Due: none

style(025): apply formatter and clippy fixes
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-backend/tests/archive_sync.rs
  ito-rs/crates/ito-backend/tests/specs.rs
  ito-rs/crates/ito-backend/tests/task_mutations.rs
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-cli/src/app/show.rs
  ito-rs/crates/ito-cli/src/app/validate.rs
  ito-rs/crates/ito-cli/src/commands/tasks/backend.rs
  ito-rs/crates/ito-cli/src/commands/tasks/support.rs
  ito-rs/crates/ito-cli/tests/archive_remote_mode.rs
  ito-rs/crates/ito-cli/tests/show_specs_remote_mode.rs
  ito-rs/crates/ito-cli/tests/tasks_remote_mode.rs
  ito-rs/crates/ito-core/src/backend_http.rs
  ito-rs/crates/ito-core/src/backend_module_repository.rs
  ito-rs/crates/ito-core/src/change_repository.rs
  ito-rs/crates/ito-core/src/fs_project_store.rs
  ito-rs/crates/ito-core/src/repository_runtime.rs
  ito-rs/crates/ito-core/src/sqlite_project_store.rs
  ito-rs/crates/ito-core/src/task_mutations.rs
  ito-rs/crates/ito-core/tests/change_repository_lifecycle.rs
  ito-rs/crates/ito-core/tests/change_repository_parity.rs
  ito-rs/crates/ito-core/tests/change_target_resolution_parity.rs
  ito-rs/crates/ito-core/tests/ralph.rs
  ito-rs/crates/ito-core/tests/spec_repository_backends.rs
  ito-rs/crates/ito-core/tests/sqlite_archive_mirror.rs
  ito-rs/crates/ito-core/tests/sqlite_task_mutations.rs
  ito-rs/crates/ito-domain/src/changes/repository.rs
  ito-rs/crates/ito-domain/src/tasks/mutations.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style(025): satisfy clippy warnings
  ito-rs/crates/ito-core/src/backend_http.rs
  ito-rs/crates/ito-core/src/change_repository.rs
  ito-rs/crates/ito-core/src/task_repository.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style(025): address remaining cli clippy warnings
  ito-rs/crates/ito-cli/src/app/validate.rs
  ito-rs/crates/ito-cli/tests/archive_remote_mode.rs
  ito-rs/crates/ito-cli/tests/show_specs_remote_mode.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

refactor(025): split sqlite backend store support
  ito-rs/crates/ito-cli/tests/tasks_remote_mode.rs
  ito-rs/crates/ito-core/src/sqlite_project_store.rs
  ito-rs/crates/ito-core/src/sqlite_project_store_backend.rs
  ito-rs/crates/ito-core/src/sqlite_project_store_mutations.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
