Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

chore: create change 029-02_agent-memory-abstraction
  .ito/changes/029-02_agent-memory-abstraction/.ito.yaml
  .ito/changes/029-02_agent-memory-abstraction/README.md
  .ito/modules/029_agent-memory/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

chore: sync coordination worktree
  .ito/changes/019-09_ito-update-repo-skill/.ito.yaml
  .ito/changes/019-09_ito-update-repo-skill/proposal.md
  .ito/changes/019-09_ito-update-repo-skill/specs/ito-managed-asset-naming/spec.md
  .ito/changes/019-09_ito-update-repo-skill/specs/ito-managed-asset-versioning/spec.md
  .ito/changes/019-09_ito-update-repo-skill/specs/ito-update-repo-skill/spec.md
  .ito/changes/019-09_ito-update-repo-skill/tasks.md
  .ito/changes/029-01_add-byterover-integration/README.md
  .ito/changes/029-01_add-byterover-integration/proposal.md
  .ito/changes/029-01_add-byterover-integration/specs/agent-memory-byterover/spec.md
  .ito/changes/029-01_add-byterover-integration/tasks.md
  .ito/changes/029-02_agent-memory-abstraction/proposal.md
  .ito/changes/029-02_agent-memory-abstraction/specs/agent-instructions/spec.md
  .ito/changes/029-02_agent-memory-abstraction/specs/agent-memory-abstraction/spec.md
  .ito/changes/029-02_agent-memory-abstraction/tasks.md
  .ito/modules/019_templates/module.md
Due: none

chore: start task for change 029-01_add-byterover-integration
  .ito/changes/029-01_add-byterover-integration/tasks.md
Due: none

chore: complete task for change 029-01_add-byterover-integration
  .ito/changes/029-01_add-byterover-integration/tasks.md
Due: none

chore: complete task for change 029-01_add-byterover-integration
  .ito/changes/029-01_add-byterover-integration/specs/agent-memory-byterover/spec.md
  .ito/changes/029-01_add-byterover-integration/tasks.md
Due: none

chore: complete task for change 029-01_add-byterover-integration
  .ito/changes/029-01_add-byterover-integration/README.md
  .ito/changes/029-01_add-byterover-integration/tasks.md
Due: none

feat(029-01): add ByteRover integration and bootstrap curation
  .agents/skills/byterover/README.md
  .agents/skills/byterover/byterover-audit/SKILL.md
  .agents/skills/byterover/byterover-explore/SKILL.md
  .agents/skills/byterover/byterover-plan/SKILL.md
  .agents/skills/byterover/byterover-review/SKILL.md
  .claude/skills/byterover-audit/SKILL.md
  .claude/skills/byterover-explore/SKILL.md
  .claude/skills/byterover-plan/SKILL.md
  .claude/skills/byterover-review/SKILL.md
  .claude/skills/byterover/SKILL.md
  .gitignore
Due: markdownlint-cli2

chore: sync coordination worktree
  .ito/changes/027-01_add-ito-wiki/design.md
  .ito/changes/027-01_add-ito-wiki/proposal.md
  .ito/changes/027-01_add-ito-wiki/specs/ito-wiki-maintenance/spec.md
  .ito/changes/027-01_add-ito-wiki/specs/ito-wiki-skill/spec.md
  .ito/changes/027-01_add-ito-wiki/specs/ito-wiki-workflow-integration/spec.md
  .ito/changes/027-01_add-ito-wiki/specs/ito-wiki/spec.md
  .ito/changes/027-01_add-ito-wiki/tasks.md
Due: none

feat(orchestrate): add top-level OpenCode orchestrator agents
  .opencode/agent/ito-orchestrator-planner.md
  .opencode/agent/ito-orchestrator-researcher.md
  .opencode/agent/ito-orchestrator-reviewer.md
  .opencode/agent/ito-orchestrator-worker.md
  .opencode/agent/ito-orchestrator.md
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/tests/agent_instruction_orchestrate.rs
  ito-rs/crates/ito-templates/assets/agents/opencode/ito-orchestrator-planner.md
  ito-rs/crates/ito-templates/assets/agents/opencode/ito-orchestrator-researcher.md
  ito-rs/crates/ito-templates/assets/agents/opencode/ito-orchestrator-reviewer.md
  ito-rs/crates/ito-templates/assets/agents/opencode/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/agents/opencode/ito-orchestrator.md
  ito-rs/crates/ito-templates/assets/instructions/agent/orchestrate.md.j2
  ito-rs/crates/ito-templates/assets/presets/orchestrate/generic.yaml
  ito-rs/crates/ito-templates/src/instructions_tests.rs
  ito-rs/crates/ito-templates/src/lib.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

test(orchestrate): cover generic role fallback
  ito-rs/crates/ito-cli/tests/agent_instruction_orchestrate.rs
  ito-rs/crates/ito-templates/assets/presets/orchestrate/generic.yaml
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(orchestrate): install orchestrator roles for all harnesses
  ito-rs/crates/ito-cli/tests/agent_instruction_orchestrate.rs
  ito-rs/crates/ito-templates/assets/agents/claude-code/ito-orchestrator-planner.md
  ito-rs/crates/ito-templates/assets/agents/claude-code/ito-orchestrator-researcher.md
  ito-rs/crates/ito-templates/assets/agents/claude-code/ito-orchestrator-reviewer.md
  ito-rs/crates/ito-templates/assets/agents/claude-code/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/agents/codex/ito-orchestrator-planner/SKILL.md
  ito-rs/crates/ito-templates/assets/agents/codex/ito-orchestrator-researcher/SKILL.md
  ito-rs/crates/ito-templates/assets/agents/codex/ito-orchestrator-reviewer/SKILL.md
  ito-rs/crates/ito-templates/assets/agents/codex/ito-orchestrator-worker/SKILL.md
  ito-rs/crates/ito-templates/assets/agents/github-copilot/ito-orchestrator-planner.md
  ito-rs/crates/ito-templates/assets/agents/github-copilot/ito-orchestrator-researcher.md
  ito-rs/crates/ito-templates/assets/agents/github-copilot/ito-orchestrator-reviewer.md
  ito-rs/crates/ito-templates/assets/agents/github-copilot/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-orchestrator-planner.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-orchestrator-researcher.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-orchestrator-reviewer.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/presets/orchestrate/generic.yaml
  ito-rs/crates/ito-templates/src/agents.rs
  ito-rs/crates/ito-templates/src/lib.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(orchestrate): make default roles deterministic
  ito-rs/crates/ito-templates/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(orchestrate): keep coordinator prompt update-safe
  .opencode/agent/ito-orchestrator.md
  ito-rs/crates/ito-cli/tests/agent_instruction_orchestrate.rs
  ito-rs/crates/ito-templates/assets/agents/opencode/ito-orchestrator.md
  ito-rs/crates/ito-templates/assets/presets/orchestrate/go.yaml
  ito-rs/crates/ito-templates/assets/presets/orchestrate/python.yaml
  ito-rs/crates/ito-templates/assets/presets/orchestrate/rust.yaml
  ito-rs/crates/ito-templates/assets/presets/orchestrate/typescript.yaml
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(orchestrate): avoid changing existing coordinator template
  ito-rs/crates/ito-templates/assets/agents/opencode/ito-orchestrator.md
Due: markdownlint-cli2

fix(orchestrate): render explicit roles only
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/tests/agent_instruction_orchestrate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(orchestrate): keep researcher agents read-only
  .opencode/agent/ito-orchestrator-researcher.md
  ito-rs/crates/ito-templates/assets/agents/claude-code/ito-orchestrator-researcher.md
  ito-rs/crates/ito-templates/assets/agents/github-copilot/ito-orchestrator-researcher.md
  ito-rs/crates/ito-templates/assets/agents/opencode/ito-orchestrator-researcher.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-orchestrator-researcher.md
Due: markdownlint-cli2

fix(orchestrate): mark OpenCode agent templates managed
  .opencode/agent/ito-orchestrator-planner.md
  .opencode/agent/ito-orchestrator-reviewer.md
  .opencode/agent/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/agents/opencode/ito-orchestrator-planner.md
  ito-rs/crates/ito-templates/assets/agents/opencode/ito-orchestrator-reviewer.md
  ito-rs/crates/ito-templates/assets/agents/opencode/ito-orchestrator-worker.md
Due: markdownlint-cli2

fix(orchestrate): mark researcher agent managed
  .opencode/agent/ito-orchestrator-researcher.md
Due: markdownlint-cli2

fix(orchestrate): align role prompts across harnesses
  ito-rs/crates/ito-templates/assets/agents/claude-code/ito-orchestrator-planner.md
  ito-rs/crates/ito-templates/assets/agents/claude-code/ito-orchestrator-researcher.md
  ito-rs/crates/ito-templates/assets/agents/claude-code/ito-orchestrator-reviewer.md
  ito-rs/crates/ito-templates/assets/agents/claude-code/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/agents/codex/ito-orchestrator-planner/SKILL.md
  ito-rs/crates/ito-templates/assets/agents/codex/ito-orchestrator-researcher/SKILL.md
  ito-rs/crates/ito-templates/assets/agents/codex/ito-orchestrator-reviewer/SKILL.md
  ito-rs/crates/ito-templates/assets/agents/codex/ito-orchestrator-worker/SKILL.md
  ito-rs/crates/ito-templates/assets/agents/github-copilot/ito-orchestrator-planner.md
  ito-rs/crates/ito-templates/assets/agents/github-copilot/ito-orchestrator-researcher.md
  ito-rs/crates/ito-templates/assets/agents/github-copilot/ito-orchestrator-reviewer.md
  ito-rs/crates/ito-templates/assets/agents/github-copilot/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-orchestrator-planner.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-orchestrator-researcher.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-orchestrator-reviewer.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/presets/orchestrate/generic.yaml
  ito-rs/crates/ito-templates/src/lib.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

test(orchestrate): scope coordinator embed assertion
  ito-rs/crates/ito-templates/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(orchestrate): align researcher safety prompts
  .opencode/agent/ito-orchestrator-researcher.md
  ito-rs/crates/ito-templates/assets/agents/claude-code/ito-orchestrator-researcher.md
  ito-rs/crates/ito-templates/assets/agents/github-copilot/ito-orchestrator-researcher.md
  ito-rs/crates/ito-templates/assets/agents/opencode/ito-orchestrator-researcher.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-orchestrator-researcher.md
Due: markdownlint-cli2

fix(orchestrate): add coordinator agent for all harnesses
  ito-rs/crates/ito-templates/assets/agents/claude-code/ito-orchestrator.md
  ito-rs/crates/ito-templates/assets/agents/codex/ito-orchestrator/SKILL.md
  ito-rs/crates/ito-templates/assets/agents/github-copilot/ito-orchestrator.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-orchestrator.md
  ito-rs/crates/ito-templates/src/lib.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(orchestrate): constrain Codex researcher tools
  ito-rs/crates/ito-templates/assets/agents/codex/ito-orchestrator-researcher/SKILL.md
Due: markdownlint-cli2

fix(orchestrate): mark OpenCode coordinator managed
  .opencode/agent/ito-orchestrator.md
  ito-rs/crates/ito-templates/assets/agents/opencode/ito-orchestrator.md
Due: markdownlint-cli2

fix(orchestrate): surface coordinator and Codex tools
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/tests/agent_instruction_orchestrate.rs
  ito-rs/crates/ito-templates/assets/agents/codex/ito-orchestrator-planner/SKILL.md
  ito-rs/crates/ito-templates/assets/agents/codex/ito-orchestrator-reviewer/SKILL.md
  ito-rs/crates/ito-templates/assets/agents/codex/ito-orchestrator-worker/SKILL.md
  ito-rs/crates/ito-templates/assets/agents/codex/ito-orchestrator/SKILL.md
  ito-rs/crates/ito-templates/assets/instructions/agent/orchestrate.md.j2
  ito-rs/crates/ito-templates/src/instructions_tests.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Add top-level Ito orchestrator agents (#208)
  .opencode/agent/ito-orchestrator-planner.md
  .opencode/agent/ito-orchestrator-researcher.md
  .opencode/agent/ito-orchestrator-reviewer.md
  .opencode/agent/ito-orchestrator-worker.md
  .opencode/agent/ito-orchestrator.md
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/tests/agent_instruction_orchestrate.rs
  ito-rs/crates/ito-templates/assets/agents/claude-code/ito-orchestrator-planner.md
  ito-rs/crates/ito-templates/assets/agents/claude-code/ito-orchestrator-researcher.md
  ito-rs/crates/ito-templates/assets/agents/claude-code/ito-orchestrator-reviewer.md
  ito-rs/crates/ito-templates/assets/agents/claude-code/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/agents/claude-code/ito-orchestrator.md
  ito-rs/crates/ito-templates/assets/agents/codex/ito-orchestrator-planner/SKILL.md
  ito-rs/crates/ito-templates/assets/agents/codex/ito-orchestrator-researcher/SKILL.md
  ito-rs/crates/ito-templates/assets/agents/codex/ito-orchestrator-reviewer/SKILL.md
  ito-rs/crates/ito-templates/assets/agents/codex/ito-orchestrator-worker/SKILL.md
  ito-rs/crates/ito-templates/assets/agents/codex/ito-orchestrator/SKILL.md
  ito-rs/crates/ito-templates/assets/agents/github-copilot/ito-orchestrator-planner.md
  ito-rs/crates/ito-templates/assets/agents/github-copilot/ito-orchestrator-researcher.md
  ito-rs/crates/ito-templates/assets/agents/github-copilot/ito-orchestrator-reviewer.md
  ito-rs/crates/ito-templates/assets/agents/github-copilot/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/agents/github-copilot/ito-orchestrator.md
  ito-rs/crates/ito-templates/assets/agents/opencode/ito-orchestrator-planner.md
  ito-rs/crates/ito-templates/assets/agents/opencode/ito-orchestrator-researcher.md
  ito-rs/crates/ito-templates/assets/agents/opencode/ito-orchestrator-reviewer.md
  ito-rs/crates/ito-templates/assets/agents/opencode/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-orchestrator-planner.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-orchestrator-researcher.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-orchestrator-reviewer.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-orchestrator.md
  ito-rs/crates/ito-templates/assets/instructions/agent/orchestrate.md.j2
  ito-rs/crates/ito-templates/assets/presets/orchestrate/generic.yaml
  ito-rs/crates/ito-templates/assets/presets/orchestrate/go.yaml
  ito-rs/crates/ito-templates/assets/presets/orchestrate/python.yaml
  ito-rs/crates/ito-templates/assets/presets/orchestrate/rust.yaml
  ito-rs/crates/ito-templates/assets/presets/orchestrate/typescript.yaml
  ito-rs/crates/ito-templates/src/agents.rs
  ito-rs/crates/ito-templates/src/instructions_tests.rs
  ito-rs/crates/ito-templates/src/lib.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
