Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: cargo
  language: system
  args:
  - fmt
  - --manifest-path
  - ito-rs/Cargo.toml
  - --all
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: cargo
  language: system
  args:
  - clippy
  - --manifest-path
  - ito-rs/Cargo.toml
  - --workspace
  - --all-targets
  - --
  - -D
  - warnings
  - -D
  - clippy::dbg_macro
  - -D
  - clippy::todo
  - -D
  - clippy::unimplemented
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

cargo-test:
  name: cargo test (ito-rs)
  entry: make
  language: system
  args:
  - test
  pass_filenames: false
  stages:
  - pre-push

check-max-lines:
  name: check max lines (ito-rs)
  entry: python3
  language: system
  args:
  - ito-rs/tools/check_max_lines.py
  - --soft-limit
  - '1000'
  - --hard-limit
  - '1200'
  - --root
  - ito-rs
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

Ralph loop iteration 1
  .ito/changes/015-02_refactor-cli-web-decouple/tasks.md
  .ito/changes/015-03_update-rust-workspace-specs/specs/rust-workspace/spec.md
  .ito/changes/015-03_update-rust-workspace-specs/tasks.md
  ito-rs/crates/ito-cli/Cargo.toml
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/tools/arch_guardrails.py
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

Ralph loop iteration 2
  .ito/changes/archive/2026-02-06-015-03_update-rust-workspace-specs/.ito.yaml
  .ito/changes/archive/2026-02-06-015-03_update-rust-workspace-specs/proposal.md
  .ito/changes/archive/2026-02-06-015-03_update-rust-workspace-specs/specs/rust-workspace/spec.md
  .ito/changes/archive/2026-02-06-015-03_update-rust-workspace-specs/tasks.md
  .ito/modules/015_onion-architecture-refactor/module.md
  .ito/specs/rust-workspace/spec.md
  ito-rs/crates/ito-core/src/ralph/runner.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

Ralph loop iteration 2
  .ito/changes/015-04_refactor-tracer-bullet-ito-list/tasks.md
  .ito/changes/015-05_refactor-change-repo-ports/tasks.md
  .ito/changes/015-06_refactor-module-repo-ports/tasks.md
  ito-rs/Cargo.lock
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-cli/src/app/common.rs
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/list.rs
  ito-rs/crates/ito-cli/src/app/show.rs
  ito-rs/crates/ito-cli/src/app/status.rs
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-cli/tests/list_regression.rs
  ito-rs/crates/ito-core/Cargo.toml
  ito-rs/crates/ito-core/src/change_repository.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/list.rs
  ito-rs/crates/ito-core/src/module_repository.rs
  ito-rs/crates/ito-core/src/ralph/prompt.rs
  ito-rs/crates/ito-core/src/ralph/runner.rs
  ito-rs/crates/ito-core/src/show/mod.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/tests/show.rs
  ito-rs/crates/ito-core/tests/validate.rs
  ito-rs/crates/ito-domain/src/changes/mod.rs
  ito-rs/crates/ito-domain/src/changes/repository.rs
  ito-rs/crates/ito-domain/src/modules/repository.rs
  ito-rs/tools/arch_guardrails.py
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

Ralph loop iteration 1
  .ito/changes/015-07_refactor-task-repo-ports/tasks.md
  .ito/changes/015-08_refactor-error-boundaries/tasks.md
  .ito/changes/015-09_refactor-process-exec-boundary/tasks.md
  ito-rs/Cargo.lock
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-core/src/archive.rs
  ito-rs/crates/ito-core/src/change_repository.rs
  ito-rs/crates/ito-core/src/error_bridge.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/list.rs
  ito-rs/crates/ito-core/src/module_repository.rs
  ito-rs/crates/ito-core/src/process.rs
  ito-rs/crates/ito-core/src/ralph/runner.rs
  ito-rs/crates/ito-core/src/ralph/validation.rs
  ito-rs/crates/ito-core/src/repo_index.rs
  ito-rs/crates/ito-core/src/show/mod.rs
  ito-rs/crates/ito-core/src/task_repository.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/src/validate/repo_integrity.rs
  ito-rs/crates/ito-domain/Cargo.toml
  ito-rs/crates/ito-domain/src/changes/repository.rs
  ito-rs/crates/ito-domain/src/discovery.rs
  ito-rs/crates/ito-domain/src/errors.rs
  ito-rs/crates/ito-domain/src/lib.rs
  ito-rs/crates/ito-domain/src/modules/repository.rs
  ito-rs/crates/ito-domain/src/tasks/repository.rs
  ito-rs/tools/arch_guardrails.py
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

Ralph loop iteration 1
  .ito/changes/015-10_refactor-adapter-thinning/tasks.md
  .ito/modules/015_onion-architecture-refactor/module.md
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/tasks.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

Ralph loop iteration 1
  .ito/changes/015-11_refactor-schema-usage-guidelines/schema-usage-audit.md
  .ito/changes/015-11_refactor-schema-usage-guidelines/specs/ito-schemas/spec.md
  .ito/changes/015-11_refactor-schema-usage-guidelines/tasks.md
  ito-rs/crates/ito-schemas/tests/guardrails.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

refactor: harden architecture guardrails with documented baselines
  ito-rs/tools/arch_guardrails.py
Due: none

Ralph loop iteration 1
  .github/workflows/ci.yml
  .ito/changes/015-13_standardize-arch-guardrails-tooling/tasks.md
  Makefile
  ito-rs/deny.toml
  ito-rs/tools/arch_guardrails.py
Due: cargo-fmt, cargo-clippy, cargo-test, arch-guardrails

chore(015-14): remove stale ito-harness and ito-schemas directories
  ito-rs/crates/ito-harness/CHANGELOG.md
  ito-rs/crates/ito-harness/Cargo.toml
  ito-rs/crates/ito-harness/src/lib.rs
  ito-rs/crates/ito-harness/src/opencode.rs
  ito-rs/crates/ito-harness/src/stub.rs
  ito-rs/crates/ito-harness/src/types.rs
  ito-rs/crates/ito-harness/tests/opencode.rs
  ito-rs/crates/ito-harness/tests/stub.rs
  ito-rs/crates/ito-schemas/CHANGELOG.md
  ito-rs/crates/ito-schemas/Cargo.toml
  ito-rs/crates/ito-schemas/src/lib.rs
  ito-rs/crates/ito-schemas/src/workflow.rs
  ito-rs/crates/ito-schemas/src/workflow_plan.rs
  ito-rs/crates/ito-schemas/src/workflow_state.rs
  ito-rs/crates/ito-schemas/tests/guardrails.rs
  ito-rs/crates/ito-schemas/tests/validation.rs
  ito-rs/crates/ito-schemas/tests/workflow_roundtrip.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

feat(009-02): implement event-sourced audit log infrastructure
  ito-rs/crates/ito-cli/src/commands/audit.rs
  ito-rs/crates/ito-core/src/audit/mod.rs
  ito-rs/crates/ito-core/src/audit/reader.rs
  ito-rs/crates/ito-core/src/audit/reconcile.rs
  ito-rs/crates/ito-core/src/audit/stream.rs
  ito-rs/crates/ito-core/src/audit/validate.rs
  ito-rs/crates/ito-core/src/audit/worktree.rs
  ito-rs/crates/ito-core/src/audit/writer.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-domain/src/audit/context.rs
  ito-rs/crates/ito-domain/src/audit/event.rs
  ito-rs/crates/ito-domain/src/audit/materialize.rs
  ito-rs/crates/ito-domain/src/audit/mod.rs
  ito-rs/crates/ito-domain/src/audit/reconcile.rs
  ito-rs/crates/ito-domain/src/audit/writer.rs
  ito-rs/crates/ito-domain/src/lib.rs
  ito-rs/tools/arch_guardrails.py
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

feat(009-02): register audit command in CLI
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/src/runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

chore(009-02): update CLI help snapshots and validation
  ito-rs/crates/ito-cli/src/app/validate.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

feat(009-02): integrate audit context into CLI commands
  ito-rs/crates/ito-cli/src/commands/config.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-cli/src/commands/plan.rs
  ito-rs/crates/ito-cli/src/commands/tasks.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

feat(009-02): audit event recording in archive and run flows
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-cli/src/app/run.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

chore(009-02): update Cargo dependencies for audit system
  ito-rs/Cargo.lock
  ito-rs/crates/ito-cli/Cargo.toml
  ito-rs/crates/ito-core/Cargo.toml
  ito-rs/crates/ito-domain/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-test, arch-guardrails

chore: migrate .opencode/command to .opencode/commands
  .opencode/commands/ito-project-setup.md
Due: markdownlint-cli2

feat: add fixup command for quick commit amendments
  .opencode/commands/fixup.md
Due: markdownlint-cli2

chore: update Ito embedded templates and instructions
  ito-rs/crates/ito-templates/assets/default/project/.ito/AGENTS.md
  ito-rs/crates/ito-templates/assets/default/project/.opencode/commands/ito-project-setup.md
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/bootstrap.md.j2
Due: markdownlint-cli2

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test: any of: ^ito-rs/.*\.(rs|toml)$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
