Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

Update ito-rs/crates/ito-domain/src/tasks/checkbox.rs
  ito-rs/crates/ito-domain/src/tasks/checkbox.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

refactor: address PR review feedback
  .ito/changes/022-01_separate-tests-into-foo-tests/specs/rust-test-file-conventions/spec.md
  .ito/changes/022-01_separate-tests-into-foo-tests/tasks.md
  .pre-commit-config.yaml
  ito-rs/crates/ito-core/src/tasks.rs
  ito-rs/crates/ito-domain/src/tasks/checkbox.rs
  ito-rs/crates/ito-domain/src/tasks/parse.rs
  ito-rs/crates/ito-domain/src/tasks/update.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

test(ito-domain): fix CI failures
  ito-rs/crates/ito-domain/src/tasks/checkbox_tests.rs
  ito-rs/crates/ito-domain/src/tasks/cycle_tests.rs
  ito-rs/crates/ito-domain/src/tasks/mod.rs
  ito-rs/crates/ito-domain/src/tasks/relational_tests.rs
  ito-rs/crates/ito-domain/tests/tasks_parsing_additional.rs
  ito-rs/crates/ito-domain/tests/tasks_update.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(ito-domain): detect incomplete enhanced tasks
  ito-rs/crates/ito-domain/src/tasks/parse.rs
  ito-rs/crates/ito-domain/tests/tasks_parsing_additional.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(coordination): reserve 023-01_opencode-audit-hooks
  .ito/changes/023-01_opencode-audit-hooks/.ito.yaml
Due: none

chore(coordination): reserve 023-02_claude-audit-hooks
  .ito/changes/023-02_claude-audit-hooks/.ito.yaml
Due: none

chore(coordination): reserve 023-03_github-copilot-audit-hooks
  .ito/changes/023-03_github-copilot-audit-hooks/.ito.yaml
Due: none

chore(coordination): reserve 023-04_codex-audit-instructions
  .ito/changes/023-04_codex-audit-instructions/.ito.yaml
Due: none

chore(coordination): reserve 023-05_init-update-installer-parity
  .ito/changes/023-05_init-update-installer-parity/.ito.yaml
Due: none

fixes
  .ito/changes/022-01_separate-tests-into-foo-tests/specs/rust-test-file-conventions/spec.md
  .ito/changes/022-01_separate-tests-into-foo-tests/tasks.md
  .pre-commit-config.yaml
  ito-rs/crates/ito-core/src/tasks.rs
  ito-rs/crates/ito-domain/src/tasks/checkbox.rs
  ito-rs/crates/ito-domain/src/tasks/parse.rs
  ito-rs/crates/ito-domain/src/tasks/update.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fixes
  ito-rs/crates/ito-core/src/tasks.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Feat/009 02 task parse shorthands (#81)
  .ito/changes/001-18_agent-instruction-peer-review/tasks.md
  .ito/changes/009-02_event-sourced-audit-log/specs/cli-tasks/spec.md
  .ito/changes/009-02_event-sourced-audit-log/tasks.md
  .ito/changes/022-01_separate-tests-into-foo-tests/.ito.yaml
  .ito/changes/022-01_separate-tests-into-foo-tests/proposal.md
  .ito/changes/022-01_separate-tests-into-foo-tests/specs/rust-test-file-conventions/spec.md
  .ito/changes/022-01_separate-tests-into-foo-tests/tasks.md
  .ito/modules/022_test-support/module.md
  .ito/workflows/.state/change-allocations.json
  .pre-commit-config.yaml
  Makefile
  ito-rs/crates/ito-cli/tests/tasks_more.rs
  ito-rs/crates/ito-core/src/tasks.rs
  ito-rs/crates/ito-core/tests/tasks_checkbox_format.rs
  ito-rs/crates/ito-domain/src/tasks/checkbox.rs
  ito-rs/crates/ito-domain/src/tasks/mod.rs
  ito-rs/crates/ito-domain/src/tasks/parse.rs
  ito-rs/crates/ito-domain/src/tasks/update.rs
  ito-rs/crates/ito-domain/tests/tasks_parsing.rs
  ito-rs/tools/hooks/pre-commit
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(coordination): reserve 023-06_harness-audit-hooks
  .ito/changes/023-06_harness-audit-hooks/.ito.yaml
Due: none

module 023 proposals
  .ito/changes/023-01_opencode-audit-hooks/.ito.yaml
  .ito/changes/023-01_opencode-audit-hooks/design.md
  .ito/changes/023-01_opencode-audit-hooks/proposal.md
  .ito/changes/023-01_opencode-audit-hooks/specs/tool-adapters/spec.md
  .ito/changes/023-01_opencode-audit-hooks/tasks.md
  .ito/changes/023-02_claude-audit-hooks/.ito.yaml
  .ito/changes/023-02_claude-audit-hooks/design.md
  .ito/changes/023-02_claude-audit-hooks/proposal.md
  .ito/changes/023-02_claude-audit-hooks/specs/tool-adapters/spec.md
  .ito/changes/023-02_claude-audit-hooks/tasks.md
  .ito/changes/023-03_github-copilot-audit-hooks/.ito.yaml
  .ito/changes/023-03_github-copilot-audit-hooks/design.md
  .ito/changes/023-03_github-copilot-audit-hooks/proposal.md
  .ito/changes/023-03_github-copilot-audit-hooks/specs/tool-adapters/spec.md
  .ito/changes/023-03_github-copilot-audit-hooks/tasks.md
  .ito/changes/023-04_codex-audit-instructions/.ito.yaml
  .ito/changes/023-04_codex-audit-instructions/design.md
  .ito/changes/023-04_codex-audit-instructions/proposal.md
  .ito/changes/023-04_codex-audit-instructions/specs/tool-adapters/spec.md
  .ito/changes/023-04_codex-audit-instructions/tasks.md
  .ito/changes/023-05_init-update-installer-parity/.ito.yaml
  .ito/changes/023-05_init-update-installer-parity/design.md
  .ito/changes/023-05_init-update-installer-parity/proposal.md
  .ito/changes/023-05_init-update-installer-parity/specs/cli-update/spec.md
  .ito/changes/023-05_init-update-installer-parity/specs/rust-installers/spec.md
  .ito/changes/023-05_init-update-installer-parity/tasks.md
  .ito/changes/023-06_harness-audit-hooks/.ito.yaml
  .ito/modules/023_harness-hooks/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

fix ralph
  .ito/user-prompts/apply.md
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-cli/src/cli/ralph.rs
  ito-rs/crates/ito-cli/src/commands/ralph.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_ralph_help.snap
  ito-rs/crates/ito-core/src/harness/opencode.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 1
  .ito/changes/023-01_opencode-audit-hooks/tasks.md
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-templates/assets/adapters/opencode/ito-skills.js
  ito-rs/crates/ito-templates/assets/default/project/.opencode/commands/ito-project-setup.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 2
  .ito/changes/023-01_opencode-audit-hooks/tasks.md
  ito-rs/crates/ito-cli/src/commands/ralph.rs
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/update_smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 1
  .ito/changes/023-02_claude-audit-hooks/tasks.md
Due: none

Ralph loop iteration 2
  .ito/changes/023-02_claude-audit-hooks/tasks.md
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/support/mod.rs
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-core/src/distribution.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-core/tests/distribution.rs
  ito-rs/crates/ito-templates/assets/adapters/claude/hooks/ito-audit.sh
  ito-rs/crates/ito-templates/assets/default/project/.claude/settings.json
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 1
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-templates/assets/commands/ito-apply.md
  ito-rs/crates/ito-templates/assets/commands/ito-archive.md
  ito-rs/crates/ito-templates/assets/commands/ito-list.md
  ito-rs/crates/ito-templates/assets/commands/ito-proposal.md
  ito-rs/crates/ito-templates/assets/commands/ito-research.md
  ito-rs/crates/ito-templates/assets/commands/ito-review.md
  ito-rs/crates/ito-templates/assets/commands/ito.md
  ito-rs/crates/ito-templates/assets/default/project/.github/workflows/copilot-setup-steps.yml
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 2
  .ito/changes/023-03_github-copilot-audit-hooks/tasks.md
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-core/src/distribution.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-core/tests/distribution.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 1
  .ito/changes/023-04_codex-audit-instructions/tasks.md
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-templates/assets/default/project/.codex/commands/ito-project-setup.md
  ito-rs/crates/ito-templates/assets/default/project/.codex/instructions/ito-audit.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 1
  .ito/changes/023-05_init-update-installer-parity/tasks.md
  ito-rs/crates/ito-cli/src/app/update.rs
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fmt fix
  ito-rs/crates/ito-cli/src/app/update.rs
  ito-rs/crates/ito-cli/tests/update_smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(coordination): reserve 016-11_module-description-args
  .ito/changes/016-11_module-description-args/.ito.yaml
Due: none

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
