Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

chore: start task for change 019-09_ito-update-repo-skill
  .ito/changes/019-09_ito-update-repo-skill/tasks.md
Due: none

chore: complete task for change 019-09_ito-update-repo-skill
  .ito/changes/019-09_ito-update-repo-skill/tasks.md
Due: none

chore: unshelve task for change 019-09_ito-update-repo-skill
  .ito/changes/019-09_ito-update-repo-skill/tasks.md
Due: none

chore: start task for change 000-11_normalize-main-spec-formatting
  .ito/changes/000-11_normalize-main-spec-formatting/tasks.md
Due: none

chore: complete task for change 000-11_normalize-main-spec-formatting
  .ito/changes/000-11_normalize-main-spec-formatting/demos/task-3.1-delta-heading-validator.md
  .ito/changes/000-11_normalize-main-spec-formatting/tasks.md
Due: none

feat(validate): flag delta headings in main specs (000-11_normalize-main-spec-formatting)
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: sync coordination worktree
  .ito/changes/archive/2026-05-12-000-11_normalize-main-spec-formatting/applied.txt
  .ito/changes/archive/2026-05-12-000-11_normalize-main-spec-formatting/demos/task-3.1-delta-heading-validator.md
  .ito/changes/archive/2026-05-12-000-11_normalize-main-spec-formatting/inventory.json
  .ito/changes/archive/2026-05-12-000-11_normalize-main-spec-formatting/plan.md
  .ito/changes/archive/2026-05-12-000-11_normalize-main-spec-formatting/proposal.md
  .ito/changes/archive/2026-05-12-000-11_normalize-main-spec-formatting/specs/spec-formatting/spec.md
  .ito/changes/archive/2026-05-12-000-11_normalize-main-spec-formatting/tasks.md
  .ito/specs/spec-formatting/spec.md
Due: none

chore: sync coordination worktree
  .ito/specs/spec-formatting/spec.md
Due: none

chore: sync coordination worktree
  .ito/changes/019-09_ito-update-repo-skill/demos/task-2.3-orphan-cleanup-apply.md
  .ito/changes/019-09_ito-update-repo-skill/design.md
Due: none

chore: sync coordination worktree
  .ito/changes/019-09_ito-update-repo-skill/demos/task-2.3-orphan-cleanup-apply.md
Due: none

chore: sync coordination worktree
  .ito/changes/archive/2026-05-13-019-09_ito-update-repo-skill/.ito.yaml
  .ito/changes/archive/2026-05-13-019-09_ito-update-repo-skill/demos/task-2.3-orphan-cleanup-apply.md
  .ito/changes/archive/2026-05-13-019-09_ito-update-repo-skill/design.md
  .ito/changes/archive/2026-05-13-019-09_ito-update-repo-skill/proposal.md
  .ito/changes/archive/2026-05-13-019-09_ito-update-repo-skill/specs/ito-managed-asset-naming/spec.md
  .ito/changes/archive/2026-05-13-019-09_ito-update-repo-skill/specs/ito-managed-asset-versioning/spec.md
  .ito/changes/archive/2026-05-13-019-09_ito-update-repo-skill/specs/ito-update-repo-skill/spec.md
  .ito/changes/archive/2026-05-13-019-09_ito-update-repo-skill/tasks.md
  .ito/modules/019_templates/module.md
  .ito/specs/ito-managed-asset-naming/spec.md
  .ito/specs/ito-managed-asset-versioning/spec.md
  .ito/specs/ito-update-repo-skill/spec.md
Due: none

chore: sync coordination worktree
  .ito/config.json
Due: none

feat(opencode): add worktree session titles
  .opencode/plugins/ito-skills.js
Due: none

chore(coordination): reserve 025-12_narrow-coordination-branch
  .ito/changes/025-12_narrow-coordination-branch/.ito.yaml
  .ito/changes/025-12_narrow-coordination-branch/README.md
Due: none

chore(coordination): document 025-12 change
  .ito/changes/025-12_narrow-coordination-branch/proposal.md
  .ito/changes/025-12_narrow-coordination-branch/specs/change-coordination-branch/spec.md
  .ito/changes/025-12_narrow-coordination-branch/tasks.md
  .ito/modules/025_repository-backends/module.md
Due: none

chore: sync coordination worktree
  .ito/modules/025_repository-backends/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

chore(coordination): refine 025-12 scope
  .ito/changes/025-12_narrow-coordination-branch/proposal.md
  .ito/changes/025-12_narrow-coordination-branch/specs/change-coordination-branch/spec.md
  .ito/changes/025-12_narrow-coordination-branch/tasks.md
Due: none

fix(coordination): initialize branch from empty history
  ito-rs/crates/ito-core/src/git.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(opencode): add worktree session titles (#242)
  .opencode/plugins/ito-skills.js
Due: none

fix(coordination): initialize branch from empty history (#243)
  ito-rs/crates/ito-core/src/git.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: capture coordination follow-up state
  .brv/context-tree/_index.md
  .brv/context-tree/_manifest.json
  .brv/context-tree/development/_index.md
  .brv/context-tree/development/ito_workflow/_index.md
  .brv/context-tree/development/ito_workflow/context.md
  .brv/context-tree/development/ito_workflow/coordination_branch_git_behavior.abstract.md
  .brv/context-tree/development/ito_workflow/coordination_branch_git_behavior.md
  .brv/context-tree/development/ito_workflow/coordination_branch_git_behavior.overview.md
  .brv/context-tree/development/ito_workflow/coordination_branch_setup.abstract.md
  .brv/context-tree/development/ito_workflow/coordination_branch_setup.overview.md
  .brv/context-tree/development/ito_workflow/coordination_symlink_repair_and_sync.md
  .brv/context-tree/development/ito_workflow/ito_config_gotcha.abstract.md
  .brv/context-tree/development/ito_workflow/ito_config_gotcha.md
  .brv/context-tree/development/ito_workflow/ito_config_gotcha.overview.md
  .brv/dream-log/drm-1778699244871.json
  .brv/dream-state.json
  .brv/review-backups/development/ito_workflow/coordination_branch_git_behavior.md
  .brv/review-backups/development/ito_workflow/coordination_branch_setup.md
  .github/agents/ito-general.md
  .github/agents/ito-quick.md
  .github/agents/ito-thinking.md
  .ito/config.json
  .opencode/package-lock.json
  docs/ito/changes/active/001-33_enhance-spec-driven-workflow-validation/demos/task-3.1-final-gate.md
  docs/ito/changes/active/001-34_add-ddd-discovery-workflow/artifacts/strategic_ddd_for_coding_agents.md
  docs/ito/changes/archive/2026-02-05-005-13_agent-model-manager/design.md
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-templates/src/agents.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

ensure coordination_branch is enabled
  .ito/config.json
Due: none

fix: address PR review feedback
  .brv/context-tree/_index.md
  .brv/context-tree/development/_index.md
  .brv/context-tree/development/ito_workflow/_index.md
  .brv/context-tree/development/ito_workflow/coordination_branch_git_behavior.abstract.md
  .brv/context-tree/development/ito_workflow/coordination_branch_git_behavior.md
  .brv/context-tree/development/ito_workflow/coordination_branch_git_behavior.overview.md
  .brv/context-tree/development/ito_workflow/coordination_branch_setup.abstract.md
  .brv/context-tree/development/ito_workflow/coordination_branch_setup.overview.md
  .brv/context-tree/development/ito_workflow/ito_config_gotcha.abstract.md
  .brv/context-tree/development/ito_workflow/ito_config_gotcha.overview.md
  .brv/review-backups/development/ito_workflow/coordination_branch_git_behavior.md
  ito-rs/crates/ito-config/src/config/types.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Document coordination branch follow-up state (#244)
  .brv/context-tree/_index.md
  .brv/context-tree/_manifest.json
  .brv/context-tree/development/_index.md
  .brv/context-tree/development/ito_workflow/_index.md
  .brv/context-tree/development/ito_workflow/context.md
  .brv/context-tree/development/ito_workflow/coordination_branch_git_behavior.abstract.md
  .brv/context-tree/development/ito_workflow/coordination_branch_git_behavior.md
  .brv/context-tree/development/ito_workflow/coordination_branch_git_behavior.overview.md
  .brv/context-tree/development/ito_workflow/coordination_branch_setup.abstract.md
  .brv/context-tree/development/ito_workflow/coordination_branch_setup.overview.md
  .brv/context-tree/development/ito_workflow/coordination_symlink_repair_and_sync.md
  .brv/context-tree/development/ito_workflow/ito_config_gotcha.abstract.md
  .brv/context-tree/development/ito_workflow/ito_config_gotcha.md
  .brv/context-tree/development/ito_workflow/ito_config_gotcha.overview.md
  .brv/dream-log/drm-1778699244871.json
  .brv/dream-state.json
  .brv/review-backups/development/ito_workflow/coordination_branch_git_behavior.md
  .brv/review-backups/development/ito_workflow/coordination_branch_setup.md
  .github/agents/ito-general.md
  .github/agents/ito-quick.md
  .github/agents/ito-thinking.md
  docs/ito/changes/archive/2026-02-05-005-13_agent-model-manager/design.md
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-templates/src/agents.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: start task for change 016-18_add-archived-list-filter
  .ito/changes/016-18_add-archived-list-filter/tasks.md
Due: none

chore: complete task for change 016-18_add-archived-list-filter
  .ito/changes/016-18_add-archived-list-filter/tasks.md
Due: none

chore: complete task for change 016-18_add-archived-list-filter
  .ito/changes/016-18_add-archived-list-filter/demos/archived-list-filter.md
  .ito/changes/016-18_add-archived-list-filter/tasks.md
Due: none

chore: sync coordination worktree
  .ito/changes/016-18_add-archived-list-filter/tasks.md
Due: none

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
