Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: cargo
  language: system
  args:
  - fmt
  - --manifest-path
  - ito-rs/Cargo.toml
  - --all
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: cargo
  language: system
  args:
  - clippy
  - --manifest-path
  - ito-rs/Cargo.toml
  - --workspace
  - --all-targets
  - --
  - -D
  - warnings
  - -D
  - clippy::dbg_macro
  - -D
  - clippy::todo
  - -D
  - clippy::unimplemented
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

cargo-test:
  name: cargo test (ito-rs)
  entry: make
  language: system
  args:
  - test
  pass_filenames: false
  stages:
  - pre-push

check-max-lines:
  name: check max lines (ito-rs)
  entry: python3
  language: system
  args:
  - ito-rs/tools/check_max_lines.py
  - --soft-limit
  - '1000'
  - --hard-limit
  - '1200'
  - --root
  - ito-rs
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

chore(009-02): update project documentation and task tracking
  .ito/changes/009-02_event-sourced-audit-log/specs/cli-config/spec.md
  .ito/changes/009-02_event-sourced-audit-log/specs/cli-plan/spec.md
  .ito/changes/009-02_event-sourced-audit-log/tasks.md
  AGENTS.md
Due: markdownlint-cli2

chore: update research matrix and development tooling
  .ito/research/parity-matrix.md
  .opencode/skills/models-dev/models-dev.py
Due: none

chore(009-02): core infrastructure updates
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-core/src/ralph/runner.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

refactor: move audit event imports to ito-core re-exports
  ito-rs/Cargo.lock
  ito-rs/crates/ito-cli/Cargo.toml
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-cli/src/commands/audit.rs
  ito-rs/crates/ito-cli/src/commands/config.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-cli/src/commands/plan.rs
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-cli/src/runtime.rs
  ito-rs/crates/ito-core/src/audit/mod.rs
  ito-rs/crates/ito-core/src/audit/reader.rs
  ito-rs/crates/ito-core/src/audit/validate.rs
  ito-rs/crates/ito-core/src/audit/worktree.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

feat(012-02): add configurable worktree apply behavior
  .ito/changes/012-02_configurable-worktree-apply-behavior/.ito.yaml
  .ito/changes/012-02_configurable-worktree-apply-behavior/defaults.md
  .ito/changes/012-02_configurable-worktree-apply-behavior/design.md
  .ito/changes/012-02_configurable-worktree-apply-behavior/proposal.md
  .ito/changes/012-02_configurable-worktree-apply-behavior/specs/cli-artifact-workflow/spec.md
  .ito/changes/012-02_configurable-worktree-apply-behavior/specs/cli-config/spec.md
  .ito/changes/012-02_configurable-worktree-apply-behavior/specs/cli-init/spec.md
  .ito/changes/012-02_configurable-worktree-apply-behavior/specs/cli-update/spec.md
  .ito/changes/012-02_configurable-worktree-apply-behavior/specs/global-config/spec.md
  .ito/changes/012-02_configurable-worktree-apply-behavior/tasks.md
  Makefile
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/mod.rs
  ito-rs/crates/ito-cli/src/app/update.rs
  ito-rs/crates/ito-cli/src/app/worktree_wizard.rs
  ito-rs/crates/ito-cli/src/commands/config.rs
  ito-rs/crates/ito-config/src/config/mod.rs
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-core/src/config.rs
  ito-rs/crates/ito-core/src/state.rs
  ito-rs/crates/ito-core/src/tasks.rs
  ito-rs/crates/ito-core/tests/planning_init.rs
  ito-rs/crates/ito-core/tests/show.rs
  ito-rs/crates/ito-core/tests/validate.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

docs: add architecture docs and crate-level AGENTS.md files
  .ito/architecture.md
  ito-rs/AGENTS.md
  ito-rs/crates/ito-cli/AGENTS.md
  ito-rs/crates/ito-common/AGENTS.md
  ito-rs/crates/ito-config/AGENTS.md
  ito-rs/crates/ito-core/AGENTS.md
  ito-rs/crates/ito-domain/AGENTS.md
  ito-rs/crates/ito-logging/AGENTS.md
  ito-rs/crates/ito-templates/AGENTS.md
  ito-rs/crates/ito-test-support/AGENTS.md
  ito-rs/crates/ito-web/AGENTS.md
Due: markdownlint-cli2

chore: update project guidance and user-guidance files
  .ito/user-guidance.md
  AGENTS.md
Due: markdownlint-cli2

chore: add 001-19 archive-completed-flag change proposal
  .ito/changes/001-19_archive-completed-flag/.ito.yaml
  .ito/changes/001-19_archive-completed-flag/proposal.md
  .ito/changes/001-19_archive-completed-flag/specs/cli-archive/spec.md
  .ito/changes/001-19_archive-completed-flag/tasks.md
Due: none

feat(012-03): implement worktree-aware AGENTS.md and skill templates
  .ito/changes/012-03_worktree-aware-agents-md/.ito.yaml
  .ito/changes/012-03_worktree-aware-agents-md/proposal.md
  .ito/changes/012-03_worktree-aware-agents-md/specs/distribution/spec.md
  .ito/changes/012-03_worktree-aware-agents-md/specs/ito-init/spec.md
  .ito/changes/012-03_worktree-aware-agents-md/specs/worktree-aware-template-rendering/spec.md
  .ito/changes/012-03_worktree-aware-agents-md/tasks.md
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/app/update.rs
  ito-rs/crates/ito-cli/src/app/worktree_wizard.rs
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-core/src/distribution.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-core/tests/distribution.rs
  ito-rs/crates/ito-templates/assets/default/project/.ito/AGENTS.md
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/bootstrap.md.j2
  ito-rs/crates/ito-templates/assets/skills/using-git-worktrees/SKILL.md
  ito-rs/crates/ito-templates/src/lib.rs
  ito-rs/crates/ito-templates/src/project_templates.rs
  ito-rs/crates/ito-templates/tests/worktree_template_rendering.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

chore: archive 012-02 change and merge specs into main
  .ito/changes/archive/2026-02-08-012-02_configurable-worktree-apply-behavior/.ito.yaml
  .ito/changes/archive/2026-02-08-012-02_configurable-worktree-apply-behavior/defaults.md
  .ito/changes/archive/2026-02-08-012-02_configurable-worktree-apply-behavior/design.md
  .ito/changes/archive/2026-02-08-012-02_configurable-worktree-apply-behavior/proposal.md
  .ito/changes/archive/2026-02-08-012-02_configurable-worktree-apply-behavior/specs/cli-artifact-workflow/spec.md
  .ito/changes/archive/2026-02-08-012-02_configurable-worktree-apply-behavior/specs/cli-config/spec.md
  .ito/changes/archive/2026-02-08-012-02_configurable-worktree-apply-behavior/specs/cli-init/spec.md
  .ito/changes/archive/2026-02-08-012-02_configurable-worktree-apply-behavior/specs/cli-update/spec.md
  .ito/changes/archive/2026-02-08-012-02_configurable-worktree-apply-behavior/specs/global-config/spec.md
  .ito/changes/archive/2026-02-08-012-02_configurable-worktree-apply-behavior/tasks.md
  .ito/modules/012_git-worktrees/module.md
  .ito/specs/cli-artifact-workflow/spec.md
  .ito/specs/cli-config/spec.md
  .ito/specs/cli-init/spec.md
  .ito/specs/cli-update/spec.md
  .ito/specs/global-config/spec.md
Due: none

feat(009-02): add audit event for module.change_added and validate --audit flags
  .gitignore
  .ito/AGENTS.md
  .ito/changes/009-02_event-sourced-audit-log/tasks.md
  ito-rs/crates/ito-cli/src/app/validate.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

chore: update CLI help snapshots, planning state, pre-commit config, and add test-with-subagent skill and ito-list assets
  .claude/skills/ito-test-with-subagent/SKILL.md
  .codex/skills/ito-test-with-subagent/SKILL.md
  .github/skills/ito-test-with-subagent/SKILL.md
  .ito/planning/STATE.md
  .ito/workflows/.state/change-allocations.json
  .opencode/skills/ito-test-with-subagent/SKILL.md
  .pre-commit-config.yaml
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_init_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_validate_help.snap
  ito-rs/crates/ito-templates/assets/commands/ito-list.md
  ito-rs/crates/ito-templates/assets/skills/ito-list/SKILL.md
Due: markdownlint-cli2, arch-guardrails

feat(002-13): add ralph --continue-ready flag and implementation
  ito-rs/crates/ito-cli/src/app/ralph.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/ralph_smoke.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_ralph_help.snap
  ito-rs/crates/ito-core/src/ralph/runner.rs
  ito-rs/crates/ito-core/tests/ralph.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

chore: archive 001-17 change and update module metadata
  .ito/changes/001-17_fuzzy-change-matching-for-change-flags/.ito.yaml
  .ito/changes/001-17_fuzzy-change-matching-for-change-flags/design.md
  .ito/changes/001-17_fuzzy-change-matching-for-change-flags/proposal.md
  .ito/changes/001-17_fuzzy-change-matching-for-change-flags/specs/cli-change-targets/spec.md
  .ito/changes/001-17_fuzzy-change-matching-for-change-flags/tasks.md
  .ito/modules/001_workflow-enhancements/module.md
  .ito/modules/002_ralph-loop/module.md
  .ito/modules/013_ito-skills-adoption/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

docs(002-13): add change proposal artifacts
  .ito/changes/002-13_add-ralph-continue-ready/.ito.yaml
  .ito/changes/002-13_add-ralph-continue-ready/design.md
  .ito/changes/002-13_add-ralph-continue-ready/proposal.md
  .ito/changes/002-13_add-ralph-continue-ready/specs/cli-ralph/spec.md
  .ito/changes/002-13_add-ralph-continue-ready/tasks.md
Due: none

chore: add archived change artifacts
  .ito/changes/archive/2026-02-08-001-17_fuzzy-change-matching-for-change-flags/.ito.yaml
  .ito/changes/archive/2026-02-08-001-17_fuzzy-change-matching-for-change-flags/design.md
  .ito/changes/archive/2026-02-08-001-17_fuzzy-change-matching-for-change-flags/proposal.md
  .ito/changes/archive/2026-02-08-001-17_fuzzy-change-matching-for-change-flags/specs/cli-change-targets/spec.md
  .ito/changes/archive/2026-02-08-001-17_fuzzy-change-matching-for-change-flags/tasks.md
  .ito/changes/archive/2026-02-08-001-20_init-update-flag/.ito.yaml
  .ito/changes/archive/2026-02-08-001-20_init-update-flag/proposal.md
  .ito/changes/archive/2026-02-08-001-20_init-update-flag/tasks.md
  .ito/changes/archive/2026-02-08-013-20_add-ito-list-command/.ito.yaml
  .ito/changes/archive/2026-02-08-013-20_add-ito-list-command/proposal.md
  .ito/changes/archive/2026-02-08-013-20_add-ito-list-command/tasks.md
Due: none

test: add coverage smoke tests
  ito-rs/crates/ito-cli/tests/coverage_smoke.rs
  ito-rs/crates/ito-test-support/tests/mock_repos_smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

refactor(001-12): simplify project-setup change proposal and specs
  .ito/changes/001-12_project-setup-wizard/proposal.md
  .ito/changes/001-12_project-setup-wizard/specs/agent-instructions/spec.md
  .ito/changes/001-12_project-setup-wizard/specs/cli-init/spec.md
  .ito/changes/001-12_project-setup-wizard/specs/project-setup/spec.md
  .ito/changes/001-12_project-setup-wizard/tasks.md
Due: none

refactor(015-15): move ralph command handler to commands/ directory
  .ito/changes/015-15_move-ralph-command-to-commands/tasks.md
  ito-rs/crates/ito-cli/src/app/mod.rs
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/src/commands/ralph.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

fix: update deny.toml advisories config for cargo-deny v0.19
  ito-rs/deny.toml
Due: cargo-fmt, cargo-clippy, cargo-test, arch-guardrails

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test: any of: ^ito-rs/.*\.(rs|toml)$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
