Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            feat,
            fix,
            docs,
            style,
            refactor,
            perf,
            test,
            build,
            ci,
            chore,
            revert,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.20.0]
        args: [--config, .markdownlint-cli2.yaml]
        files: \.md$
        exclude: ^\.ito/

      - id: cargo-fmt
        name: cargo fmt (ito-rs)
        entry: make
        language: system
        args: [fmt]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-clippy
        name: cargo clippy (ito-rs)
        entry: make
        language: system
        args: [clippy]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-test-coverage
        name: cargo test with coverage (ito-rs)
        entry: make
        language: system
        args: [test-coverage]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-push]

      - id: cargo-test-affected
        name: cargo test affected (ito-rs)
        entry: make
        language: system
        args: [test-affected]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-commit]

      - id: check-max-lines
        name: check max lines (ito-rs)
        entry: make
        language: system
        args: [check-max-lines]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$

      - id: arch-guardrails
        name: architecture guardrails
        entry: make
        language: system
        args: [arch-guardrails]
        pass_filenames: false
        files: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$

      - id: cargo-deny
        name: cargo deny (license/advisory checks)
        entry: make
        language: system
        args: [cargo-deny]
        pass_filenames: false
        files: ^ito-rs/.*\.(toml|lock)$

feat(016-12): standardize ascending ID ordering across list surfaces (#85)
  .ito/changes/016-12_sort-id-lists-ascending/tasks.md
  ito-rs/crates/ito-cli/src/app/list.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-cli/tests/list_regression.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_list_help.snap
  ito-rs/crates/ito-cli/tests/tasks_more.rs
  ito-rs/crates/ito-core/src/create/mod.rs
  ito-rs/crates/ito-core/src/list.rs
  ito-rs/crates/ito-core/src/tasks.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/tests/create.rs
  ito-rs/crates/ito-domain/src/tasks/compute.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

ci: add rust-docs to toolchain and enable doc checks in CI
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/cli/path.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-core/src/errors.rs
  ito-rs/crates/ito-core/src/harness/mod.rs
  ito-rs/crates/ito-domain/src/tasks/mod.rs
  ito-rs/crates/ito-templates/src/project_templates.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs: migrate docs site to zensical
  .gitignore
  Makefile
  README.md
  docs/agent-workflow.md
  docs/agents/prek-index-corruption.md
  docs/api/rustdoc.md
  docs/brainstorming/agent-architecture-proposal.md
  docs/brainstorming/artifact_poc.md
  docs/changes/001-21_embed-and-export-workflow-schemas/artifact-graph-spec.md
  docs/changes/001-21_embed-and-export-workflow-schemas/tasks-plan.md
  docs/ci-app-setup.md
  docs/config.md
  docs/future-ideas.md
  docs/index.md
  docs/install.md
  docs/internal/ci-app-setup.md
  docs/internal/index.md
  docs/internal/releasing.md
  docs/internal/roadmap.md
  docs/internal/worktree-hook-repair.md
  docs/pyproject.toml
  docs/quickstart.md
  docs/requirements.txt
  docs/stylesheets/extra.css
  docs/uv.lock
  mise.toml
  zensical.toml
Due: markdownlint-cli2, arch-guardrails

ci: deploy docs to GitHub Pages on release
  .github/workflows/pages.yml
Due: none

docs: remove obsolete mkdocs config
  mkdocs.yml
Due: none

docs: fix index heading levels
  docs/index.md
Due: markdownlint-cli2

docs: address review feedback
  .gitignore
  .ito/specs/homebrew-formula/spec.md
  Makefile
  README.md
  docs/agent-workflow.md
  docs/internal/worktree-hook-repair.md
  scripts/docs_copy_zensical_assets.py
  scripts/docs_prepare_check_config.py
Due: markdownlint-cli2, arch-guardrails

archived changes
  .ito/changes/archive/2026-02-20-016-11_module-description-args/.ito.yaml
  .ito/changes/archive/2026-02-20-016-11_module-description-args/design.md
  .ito/changes/archive/2026-02-20-016-11_module-description-args/proposal.md
  .ito/changes/archive/2026-02-20-016-11_module-description-args/specs/cli-module/spec.md
  .ito/changes/archive/2026-02-20-016-11_module-description-args/specs/rust-artifact-workflow/spec.md
  .ito/changes/archive/2026-02-20-016-11_module-description-args/tasks.md
  .ito/changes/archive/2026-02-20-016-12_sort-id-lists-ascending/.ito.yaml
  .ito/changes/archive/2026-02-20-016-12_sort-id-lists-ascending/design.md
  .ito/changes/archive/2026-02-20-016-12_sort-id-lists-ascending/proposal.md
  .ito/changes/archive/2026-02-20-016-12_sort-id-lists-ascending/specs/change-creation/spec.md
  .ito/changes/archive/2026-02-20-016-12_sort-id-lists-ascending/specs/cli-list/spec.md
  .ito/changes/archive/2026-02-20-016-12_sort-id-lists-ascending/specs/cli-show/spec.md
  .ito/changes/archive/2026-02-20-016-12_sort-id-lists-ascending/specs/cli-tasks/spec.md
  .ito/changes/archive/2026-02-20-016-12_sort-id-lists-ascending/tasks.md
  .ito/modules/016_cli/module.md
  .ito/specs/change-creation/spec.md
  .ito/specs/cli-list/spec.md
  .ito/specs/cli-module/spec.md
  .ito/specs/cli-show/spec.md
  .ito/specs/cli-tasks/spec.md
  .ito/specs/rust-artifact-workflow/spec.md
  assets/ito_logo.svg
Due: none

feat(001-18): add peer-review agent instruction workflow
  .ito/changes/001-18_agent-instruction-peer-review/tasks.md
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/tests/instructions_more.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/src/templates/review.rs
  ito-rs/crates/ito-core/src/templates/types.rs
  ito-rs/crates/ito-core/tests/templates_review_context.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/bootstrap.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/review.md.j2
  ito-rs/crates/ito-templates/assets/skills/ito-review/SKILL.md
  ito-rs/crates/ito-templates/src/instructions.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs: address remaining review nits
  .ito/specs/cli-show/spec.md
  .ito/specs/cli-tasks/spec.md
  .ito/specs/homebrew-formula/spec.md
  Makefile
  scripts/docs_prepare_check_config.py
Due: arch-guardrails

docs: clarify Homebrew formula and fix list sort spec
  .ito/specs/cli-list/spec.md
  README.md
  docs/install.md
Due: markdownlint-cli2

Update ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/instructions.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(001-18): add peer-review agent instruction workflow (#88)
  .ito/changes/001-18_agent-instruction-peer-review/tasks.md
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/tests/instructions_more.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/src/templates/review.rs
  ito-rs/crates/ito-core/src/templates/types.rs
  ito-rs/crates/ito-core/tests/templates_review_context.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/bootstrap.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/review.md.j2
  ito-rs/crates/ito-templates/assets/skills/ito-review/SKILL.md
  ito-rs/crates/ito-templates/src/instructions.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: remove extra argument from compute_review_context call (#89)
  ito-rs/crates/ito-cli/src/app/instructions.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: clean up changelogs for v0.1.8 release (#90)
  CHANGELOG.md
  ito-rs/crates/ito-common/CHANGELOG.md
  ito-rs/crates/ito-config/CHANGELOG.md
  ito-rs/crates/ito-core/CHANGELOG.md
  ito-rs/crates/ito-domain/CHANGELOG.md
  ito-rs/crates/ito-logging/CHANGELOG.md
  ito-rs/crates/ito-templates/CHANGELOG.md
  ito-rs/crates/ito-web/CHANGELOG.md
Due: markdownlint-cli2

refactor(templates): deduplicate and tighten instruction templates
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/artifact.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/bootstrap.md.j2
Due: none

feat(templates): add interview-first guidance to proposal workflow
  ito-rs/crates/ito-templates/assets/commands/ito-proposal.md
  ito-rs/crates/ito-templates/assets/instructions/agent/new-proposal.md.j2
  ito-rs/crates/ito-templates/assets/skills/ito-write-change-proposal/SKILL.md
Due: markdownlint-cli2

feat(templates): add github-copilot harness support to bootstrap
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/tests/agent_instruction_bootstrap.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/bootstrap.md.j2
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails
