Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.20.0]
        args: [--config, .markdownlint-cli2.yaml]
        files: \.md$
        exclude: ^\.ito/

      - id: cargo-fmt
        name: cargo fmt (ito-rs)
        entry: cargo
        language: system
        args: [fmt, --manifest-path, ito-rs/Cargo.toml, --all]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-clippy
        name: cargo clippy (ito-rs)
        entry: cargo
        language: system
        args:
          - clippy
          - --manifest-path
          - ito-rs/Cargo.toml
          - --workspace
          - --all-targets
          - --
          - -D
          - warnings
          - -D
          - clippy::dbg_macro
          - -D
          - clippy::todo
          - -D
          - clippy::unimplemented
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-test-coverage
        name: cargo test with coverage (ito-rs)
        entry: make
        language: system
        args: [test-coverage]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-commit, pre-push]

      - id: cargo-test
        name: cargo test (ito-rs)
        entry: make
        language: system
        args: [test]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$
        stages: [pre-push]

      - id: check-max-lines
        name: check max lines (ito-rs)
        entry: python3
        language: system
        args: [ito-rs/tools/check_max_lines.py, --soft-limit, "1000", --hard-limit, "1200", --root, ito-rs]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$

      - id: arch-guardrails
        name: architecture guardrails
        entry: make
        language: system
        args: [arch-guardrails]
        pass_filenames: false
        files: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$

fix: address gemini PR findings for schema safety and managed templates
  docs/changes/001-21_embed-and-export-workflow-schemas/artifact-graph-spec.md
  docs/changes/001-21_embed-and-export-workflow-schemas/tasks-plan.md
  ito-rs/crates/ito-core/src/workflow/mod.rs
  ito-rs/crates/ito-core/src/workflow/schema_assets.rs
  ito-rs/crates/ito-core/tests/workflow_schema_resolution.rs
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/design.md
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/proposal.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

fix: resolve rebase hook regressions
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/commands/help.rs
  ito-rs/crates/ito-cli/src/commands/templates.rs
  ito-rs/crates/ito-cli/tests/templates_schemas_export.rs
  ito-rs/crates/ito-core/src/workflow/mod.rs
  ito-rs/crates/ito-core/src/workflow/schema_assets.rs
  ito-rs/crates/ito-core/src/workflow/types.rs
  ito-rs/crates/ito-core/tests/workflow_schema_resolution.rs
  ito-rs/crates/ito-templates/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

Update ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/spec.md
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/spec.md
Due: markdownlint-cli2

fix: run full workspace tests and stabilize workflow doctests
  Makefile
  ito-rs/crates/ito-core/src/workflow/mod.rs
  ito-rs/crates/ito-core/src/workflow/schema_assets.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

fix: harden schema path resolution and add traversal tests
  ito-rs/crates/ito-core/src/workflow/schema_assets.rs
  ito-rs/crates/ito-core/tests/workflow_schema_resolution.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

docs: fix doctest snippets and clarify templates handler runtime
  ito-rs/crates/ito-cli/src/commands/help.rs
  ito-rs/crates/ito-cli/src/commands/templates.rs
  ito-rs/crates/ito-templates/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

chore: trim cli spacing to satisfy line limit hooks
  ito-rs/crates/ito-cli/src/cli.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

001 23 phase specific user prompts (#24)
  .ito/changes/001-21_phase-specific-user-prompts/.ito.yaml
  .ito/changes/001-21_phase-specific-user-prompts/design.md
  .ito/changes/001-21_phase-specific-user-prompts/proposal.md
  .ito/changes/001-21_phase-specific-user-prompts/specs/instruction-guidance-injection/spec.md
  .ito/changes/001-21_phase-specific-user-prompts/specs/phase-specific-user-prompts/spec.md
  .ito/changes/001-21_phase-specific-user-prompts/specs/user-guidance-file/spec.md
  .ito/changes/001-21_phase-specific-user-prompts/tasks.md
  .ito/modules/001_workflow-enhancements/module.md
  docs/config.md
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/update.rs
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/user_guidance_injection.rs
  ito-rs/crates/ito-core/src/config.rs
  ito-rs/crates/ito-core/src/distribution.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-core/src/workflow/mod.rs
  ito-rs/crates/ito-core/tests/workflow_user_guidance.rs
  ito-rs/crates/ito-templates/assets/default/project/.ito/AGENTS.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-prompts/apply.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-prompts/guidance.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-prompts/proposal.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-prompts/tasks.md
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/assets/default/project/CLAUDE.md
  ito-rs/crates/ito-templates/assets/skills/using-git-worktrees/SKILL.md
  ito-rs/crates/ito-templates/tests/user_guidance_template.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

chore: remove leftover conflict marker in workflow module
  .ito/modules/001_workflow-enhancements/module.md
Due: none

chore: regenerate cargo-dist release workflow
  .github/workflows/v-release.yml
Due: none

001-21_embed-and-export-workflow-schemas: embed and export workflow schemas (#15)
  .github/workflows/v-release.yml
  .ito/changes/001-21_embed-and-export-workflow-schemas/.ito.yaml
  .ito/changes/001-21_embed-and-export-workflow-schemas/design.md
  .ito/changes/001-21_embed-and-export-workflow-schemas/proposal.md
  .ito/changes/001-21_embed-and-export-workflow-schemas/specs/cli-templates-schemas/spec.md
  .ito/modules/001_workflow-enhancements/module.md
  Makefile
  docs/changes/001-21_embed-and-export-workflow-schemas/artifact-graph-spec.md
  docs/changes/001-21_embed-and-export-workflow-schemas/tasks-plan.md
  docs/schema-customization.md
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/help.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/src/commands/templates.rs
  ito-rs/crates/ito-cli/tests/templates_schemas_export.rs
  ito-rs/crates/ito-core/src/workflow/mod.rs
  ito-rs/crates/ito-core/src/workflow/schema_assets.rs
  ito-rs/crates/ito-core/src/workflow/types.rs
  ito-rs/crates/ito-core/tests/workflow_schema_resolution.rs
  ito-rs/crates/ito-domain/src/workflow.rs
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/schema.yaml
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/design.md
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/proposal.md
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/spec.md
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/tasks.md
  ito-rs/crates/ito-templates/assets/schemas/tdd/schema.yaml
  ito-rs/crates/ito-templates/assets/schemas/tdd/templates/docs.md
  ito-rs/crates/ito-templates/assets/schemas/tdd/templates/implementation.md
  ito-rs/crates/ito-templates/assets/schemas/tdd/templates/spec.md
  ito-rs/crates/ito-templates/assets/schemas/tdd/templates/test.md
  ito-rs/crates/ito-templates/src/lib.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

refactor: remove workflow command and migrate core workflow module to templates
  ito-rs/crates/ito-cli/src/app/common.rs
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/app/status.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-cli/src/commands/help.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/crates/ito-cli/tests/agent_instruction_worktrees.rs
  ito-rs/crates/ito-cli/tests/cli_smoke.rs
  ito-rs/crates/ito-cli/tests/cli_snapshots.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_agent_instruction_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/src/templates/schema_assets.rs
  ito-rs/crates/ito-core/src/templates/types.rs
  ito-rs/crates/ito-domain/src/workflow.rs
  ito-rs/crates/ito-domain/tests/workflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

clean up
  docs/agent-architecture-proposal.md
  docs/brainstorming/artifact_poc.md
  docs/documentation-drift-analysis.md
  docs/hardcoded_paths_audit_summary.md
  docs/project-planning-research-proposal.md
  docs/schema-workflow-gaps.md
Due: markdownlint-cli2

change allocations
  .ito/workflows/.state/change-allocations.json
Due: none

better error handling
  ito-rs/crates/ito-core/src/workflow/schema_assets.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

fix: resolve merge fallout in workflow/template refactor
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-domain/src/workflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

ADD so release trigger homebrew automatically
  .github/workflows/v-release.yml
Due: none

changes
  .ito/changes/001-23_embed-and-export-workflow-schemas/.ito.yaml
  .ito/changes/001-23_embed-and-export-workflow-schemas/design.md
  .ito/changes/001-23_embed-and-export-workflow-schemas/proposal.md
  .ito/changes/001-23_embed-and-export-workflow-schemas/specs/artifact-graph/spec.md
  .ito/changes/001-23_embed-and-export-workflow-schemas/specs/cli-templates-schemas/spec.md
  .ito/changes/001-23_embed-and-export-workflow-schemas/tasks.md
  .ito/changes/011-03_generate-config-json-schema/.ito.yaml
  .ito/changes/011-03_generate-config-json-schema/design.md
  .ito/changes/011-03_generate-config-json-schema/proposal.md
  .ito/changes/011-03_generate-config-json-schema/specs/config-schema/spec.md
  .ito/changes/011-03_generate-config-json-schema/tasks.md
Due: none

Ralph loop iteration 1
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/app/update.rs
  ito-rs/crates/ito-core/src/distribution.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

refactor: remove workflow compatibility surface across rust crates
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/app/update.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/src/commands/templates.rs
  ito-rs/crates/ito-cli/src/commands/workflow.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/src/templates/schema_assets.rs
  ito-rs/crates/ito-core/tests/templates_schema_resolution.rs
  ito-rs/crates/ito-core/tests/templates_user_guidance.rs
  ito-rs/crates/ito-domain/src/lib.rs
  ito-rs/crates/ito-domain/src/workflow.rs
  ito-rs/crates/ito-domain/tests/workflow.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

refactor(ito-common): tighten id parsing and improve docs
  ito-rs/crates/ito-common/src/id/change_id.rs
  ito-rs/crates/ito-common/src/id/error.rs
  ito-rs/crates/ito-common/src/id/mod.rs
  ito-rs/crates/ito-common/src/id/module_id.rs
  ito-rs/crates/ito-common/src/id/spec_id.rs
  ito-rs/crates/ito-common/src/match_.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

refactor(ito-config): validate ito dir overrides and expand docs
  ito-rs/crates/ito-config/src/config/defaults.rs
  ito-rs/crates/ito-config/src/config/schema.rs
  ito-rs/crates/ito-config/src/ito_dir/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails
