Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

update specs
  .ito/changes/archive/2026-04-03-001-30_proposal-viewer-html/.ito.yaml
  .ito/changes/archive/2026-04-03-001-30_proposal-viewer-html/demos/html-viewer.md
  .ito/changes/archive/2026-04-03-001-30_proposal-viewer-html/proposal.md
  .ito/changes/archive/2026-04-03-001-30_proposal-viewer-html/specs/proposal-viewer-html/spec.md
  .ito/changes/archive/2026-04-03-001-30_proposal-viewer-html/specs/proposal-viewer/spec.md
  .ito/changes/archive/2026-04-03-001-30_proposal-viewer-html/tasks.md
  .ito/changes/archive/2026-04-03-016-16_archive-instruction-and-flag-support/.ito.yaml
  .ito/changes/archive/2026-04-03-016-16_archive-instruction-and-flag-support/demos/implementation.md
  .ito/changes/archive/2026-04-03-016-16_archive-instruction-and-flag-support/specs/agent-instructions/spec.md
  .ito/changes/archive/2026-04-03-016-16_archive-instruction-and-flag-support/tasks.md
  .ito/changes/archive/2026-04-03-019-08_proposal-intake-and-schema-routing/.ito.yaml
  .ito/changes/archive/2026-04-03-019-08_proposal-intake-and-schema-routing/demos/routing-assets.md
  .ito/changes/archive/2026-04-03-019-08_proposal-intake-and-schema-routing/design.md
  .ito/changes/archive/2026-04-03-019-08_proposal-intake-and-schema-routing/proposal.md
  .ito/changes/archive/2026-04-03-019-08_proposal-intake-and-schema-routing/specs/change-request-routing/spec.md
  .ito/changes/archive/2026-04-03-019-08_proposal-intake-and-schema-routing/specs/proposal-intake/spec.md
  .ito/changes/archive/2026-04-03-019-08_proposal-intake-and-schema-routing/specs/schema-selection-guidance/spec.md
  .ito/changes/archive/2026-04-03-019-08_proposal-intake-and-schema-routing/tasks.md
  .ito/modules/001_workflow-enhancements/module.md
  .ito/modules/016_cli/module.md
  .ito/modules/019_templates/module.md
  .ito/specs/agent-instructions/spec.md
  .ito/specs/proposal-viewer-html/spec.md
  .ito/specs/proposal-viewer/spec.md
Due: none

fix: audit hook should warn, not block, on validation failure
  .claude/hooks/ito-audit.sh
  ito-rs/crates/ito-templates/assets/adapters/claude/hooks/ito-audit.sh
Due: none

fix: audit hook should warn, not block, on validation failure (#191)
  .claude/hooks/ito-audit.sh
  ito-rs/crates/ito-templates/assets/adapters/claude/hooks/ito-audit.sh
Due: none

docs: add planning document for centralize-change-proposals
  .ito/changes/centralize-change-proposals-planning.md
Due: none

feat: add pending Ito change proposals
  .ito/changes/001-32_add-planning-workflow/.ito.yaml
  .ito/changes/001-32_add-planning-workflow/design.md
  .ito/changes/001-32_add-planning-workflow/proposal.md
  .ito/changes/001-32_add-planning-workflow/specs/cli-plan/spec.md
  .ito/changes/001-32_add-planning-workflow/specs/ito-slash-command/spec.md
  .ito/changes/001-32_add-planning-workflow/specs/planning-workflow/spec.md
  .ito/changes/001-32_add-planning-workflow/tasks.md
  .ito/changes/025-08_coordination-worktree-storage/.ito.yaml
  .ito/changes/025-08_coordination-worktree-storage/design.md
  .ito/changes/025-08_coordination-worktree-storage/proposal.md
  .ito/changes/025-08_coordination-worktree-storage/specs/cascading-config/spec.md
  .ito/changes/025-08_coordination-worktree-storage/specs/change-coordination-branch/spec.md
  .ito/changes/025-08_coordination-worktree-storage/specs/cli-init/spec.md
  .ito/changes/025-08_coordination-worktree-storage/specs/coordination-worktree-migration/spec.md
  .ito/changes/025-08_coordination-worktree-storage/specs/coordination-worktree/spec.md
  .ito/changes/025-08_coordination-worktree-storage/specs/ito-config-crate/spec.md
  .ito/changes/025-08_coordination-worktree-storage/tasks.md
  .ito/changes/027-01_add-ito-wiki/design.md
  .ito/changes/027-01_add-ito-wiki/proposal.md
  .ito/changes/027-01_add-ito-wiki/specs/ito-wiki-maintenance/spec.md
  .ito/changes/027-01_add-ito-wiki/specs/ito-wiki-skill/spec.md
  .ito/changes/027-01_add-ito-wiki/specs/ito-wiki-workflow-integration/spec.md
  .ito/changes/027-01_add-ito-wiki/specs/ito-wiki/spec.md
  .ito/changes/027-01_add-ito-wiki/tasks.md
  .ito/modules/001_workflow-enhancements/module.md
  .ito/modules/025_repository-backends/module.md
  .ito/modules/027_ito-wiki/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

feat(025-08): add coordination worktree setup and migration guidance
  .ito/.gitignore
  .ito/AGENTS.md
  .ito/CLAUDE.md
  .ito/audit/.gitkeep
  .ito/config.json
  .ito/modules/000_ungrouped/module.md
  ito-rs/AGENTS.md
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/cli/agent.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_agent_instruction_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_init_help.snap
  ito-rs/crates/ito-common/src/git_url.rs
  ito-rs/crates/ito-common/src/lib.rs
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-core/src/coordination.rs
  ito-rs/crates/ito-core/src/coordination_worktree.rs
  ito-rs/crates/ito-core/src/coordination_worktree_tests.rs
  ito-rs/crates/ito-core/src/create/mod.rs
  ito-rs/crates/ito-core/src/git_remote.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/repo_paths.rs
  ito-rs/crates/ito-core/tests/coordination_worktree.rs
  ito-rs/crates/ito-core/tests/repo_paths.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/migrate-to-coordination-worktree.md.j2
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: address clippy and rustdoc warnings in coordination worktree code
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-common/src/git_url.rs
  ito-rs/crates/ito-core/src/coordination.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: address remaining clippy warning in config test
  .opencode/package-lock.json
  ito-rs/crates/ito-config/src/config/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: address PR review feedback for coordination worktree
  .ito/changes/025-08_coordination-worktree-storage/specs/coordination-worktree/spec.md
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-core/src/coordination.rs
  ito-rs/crates/ito-core/src/coordination_worktree.rs
  ito-rs/crates/ito-core/src/coordination_worktree_tests.rs
  ito-rs/crates/ito-core/src/repo_paths.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/migrate-to-coordination-worktree.md.j2
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: address remaining PR review feedback (round 2)
  .gitignore
  .ito/.gitignore
  .ito/changes/001-32_add-planning-workflow/specs/ito-slash-command/spec.md
  .ito/changes/001-32_add-planning-workflow/tasks.md
  .ito/changes/025-08_coordination-worktree-storage/tasks.md
  .ito/changes/027-01_add-ito-wiki/design.md
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-config/src/config/coordination_storage_tests.rs
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-core/src/coordination_worktree.rs
  ito-rs/crates/ito-core/tests/repo_paths.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/migrate-to-coordination-worktree.md.j2
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: address PR review feedback (round 3)
  ito-rs/crates/ito-cli/tests/init_coordination.rs
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-core/src/coordination.rs
  ito-rs/crates/ito-core/src/coordination_worktree.rs
  ito-rs/crates/ito-core/src/coordination_worktree_tests.rs
  ito-rs/crates/ito-core/src/repo_paths.rs
  ito-rs/crates/ito-core/tests/repo_paths.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(002-18): extend ralph orchestration parity
  .ito/changes/002-18_extend-ralph-loop-orchestration/.ito.yaml
  .ito/changes/002-18_extend-ralph-loop-orchestration/design.md
  .ito/changes/002-18_extend-ralph-loop-orchestration/proposal.md
  .ito/changes/002-18_extend-ralph-loop-orchestration/specs/opencode-loop-command/spec.md
  .ito/changes/002-18_extend-ralph-loop-orchestration/specs/ralph-execution-context/spec.md
  .ito/changes/002-18_extend-ralph-loop-orchestration/specs/ralph-git-automation/spec.md
  .ito/changes/002-18_extend-ralph-loop-orchestration/specs/ralph-parallel-execution/spec.md
  .ito/changes/002-18_extend-ralph-loop-orchestration/specs/ralph-queue-execution/spec.md
  .ito/changes/002-18_extend-ralph-loop-orchestration/specs/ralph-run-reporting/spec.md
  .ito/changes/002-18_extend-ralph-loop-orchestration/specs/ralph-runtime-capabilities/spec.md
  .ito/changes/002-18_extend-ralph-loop-orchestration/specs/ralph-task-sources/spec.md
  .ito/changes/002-18_extend-ralph-loop-orchestration/tasks.md
  .ito/modules/002_ralph-loop/module.md
  .ito/workflows/.state/change-allocations.json
  Cargo.lock
  ito-rs/crates/ito-cli/Cargo.toml
  ito-rs/crates/ito-cli/src/cli/ralph.rs
  ito-rs/crates/ito-cli/src/commands/ralph.rs
  ito-rs/crates/ito-cli/src/commands/ralph/support.rs
  ito-rs/crates/ito-cli/tests/ralph_smoke.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_ralph_help.snap
  ito-rs/crates/ito-core/src/ralph/prompt.rs
  ito-rs/crates/ito-core/src/ralph/runner.rs
  ito-rs/crates/ito-core/src/ralph/runner/runner_tests.rs
  ito-rs/crates/ito-core/src/ralph/runner/tests.rs
  ito-rs/crates/ito-core/src/ralph/state.rs
  ito-rs/crates/ito-core/tests/ralph.rs
  ito-rs/crates/ito-templates/assets/commands/ito-loop.md
  ito-rs/crates/ito-templates/assets/skills/ito-loop/SKILL.md
  ito-rs/crates/ito-templates/src/lib.rs
  qa/ralph/test-ralph-loop.sh
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

test(002-18): stabilize ralph push smoke tests
  ito-rs/crates/ito-cli/tests/ralph_smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

init
  .ito/workflows/.state/change-allocations.json
Due: none

fix: harden coordination worktree portability
  ito-rs/crates/ito-cli/tests/init_coordination.rs
  ito-rs/crates/ito-core/src/coordination.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: support sha256 coordination orphan commits
  ito-rs/crates/ito-core/src/coordination_worktree.rs
  ito-rs/crates/ito-core/src/coordination_worktree_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: use junctions for windows coordination links
  Cargo.lock
  ito-rs/crates/ito-core/Cargo.toml
  ito-rs/crates/ito-core/src/coordination.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

fix(002-18): address PR review issues
  .ito/changes/002-18_extend-ralph-loop-orchestration/specs/opencode-loop-command/spec.md
  .ito/changes/002-18_extend-ralph-loop-orchestration/specs/ralph-git-automation/spec.md
  .ito/changes/002-18_extend-ralph-loop-orchestration/specs/ralph-queue-execution/spec.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/design.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/specs/schema-selection-guidance/spec.md
  .ito/changes/019-08_proposal-intake-and-schema-routing/tasks.md
  ito-rs/crates/ito-cli/src/commands/ralph/support.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: add doc comment for empty tree hash, trim whitespace in worktree_path config
  ito-rs/crates/ito-core/src/coordination_worktree.rs
  ito-rs/crates/ito-core/src/repo_paths.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

refactor: extract inline tests from oversized modules
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/instructions_tests.rs
  ito-rs/crates/ito-core/src/coordination.rs
  ito-rs/crates/ito-core/src/coordination_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: scrub inherited git env in coordination worktree tests
  ito-rs/crates/ito-core/src/coordination_worktree_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: address PR review comments
  ito-rs/crates/ito-cli/src/app/instructions_tests.rs
  ito-rs/crates/ito-core/src/coordination_worktree_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

refactor: extract inline tests from oversized modules (#196)
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/instructions_tests.rs
  ito-rs/crates/ito-core/src/coordination.rs
  ito-rs/crates/ito-core/src/coordination_tests.rs
  ito-rs/crates/ito-core/src/coordination_worktree_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Update ito-rs/crates/ito-cli/src/commands/ralph/support.rs
  ito-rs/crates/ito-cli/src/commands/ralph/support.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(002-18): extend ralph orchestration parity (#195)
  .ito/changes/002-18_extend-ralph-loop-orchestration/.ito.yaml
  .ito/changes/002-18_extend-ralph-loop-orchestration/design.md
  .ito/changes/002-18_extend-ralph-loop-orchestration/proposal.md
  .ito/changes/002-18_extend-ralph-loop-orchestration/specs/opencode-loop-command/spec.md
  .ito/changes/002-18_extend-ralph-loop-orchestration/specs/ralph-execution-context/spec.md
  .ito/changes/002-18_extend-ralph-loop-orchestration/specs/ralph-git-automation/spec.md
  .ito/changes/002-18_extend-ralph-loop-orchestration/specs/ralph-parallel-execution/spec.md
  .ito/changes/002-18_extend-ralph-loop-orchestration/specs/ralph-queue-execution/spec.md
  .ito/changes/002-18_extend-ralph-loop-orchestration/specs/ralph-run-reporting/spec.md
  .ito/changes/002-18_extend-ralph-loop-orchestration/specs/ralph-runtime-capabilities/spec.md
  .ito/changes/002-18_extend-ralph-loop-orchestration/specs/ralph-task-sources/spec.md
  .ito/changes/002-18_extend-ralph-loop-orchestration/tasks.md
  .ito/modules/002_ralph-loop/module.md
  .ito/specs/agent-instructions/spec.md
  .ito/workflows/.state/change-allocations.json
  Cargo.lock
  ito-rs/crates/ito-cli/Cargo.toml
  ito-rs/crates/ito-cli/src/cli/ralph.rs
  ito-rs/crates/ito-cli/src/commands/ralph.rs
  ito-rs/crates/ito-cli/src/commands/ralph/support.rs
  ito-rs/crates/ito-cli/tests/ralph_smoke.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_ralph_help.snap
  ito-rs/crates/ito-core/src/ralph/mod.rs
  ito-rs/crates/ito-core/src/ralph/prompt.rs
  ito-rs/crates/ito-core/src/ralph/runner.rs
  ito-rs/crates/ito-core/src/ralph/runner/runner_tests.rs
  ito-rs/crates/ito-core/src/ralph/runner/tests.rs
  ito-rs/crates/ito-core/src/ralph/state.rs
  ito-rs/crates/ito-core/tests/ralph.rs
  ito-rs/crates/ito-templates/assets/commands/ito-loop.md
  ito-rs/crates/ito-templates/assets/skills/ito-loop/SKILL.md
  ito-rs/crates/ito-templates/src/lib.rs
  qa/ralph/test-ralph-loop.sh
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

fix(ralph): restore task source support
  ito-rs/crates/ito-core/src/ralph/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(ralph): restore task source support
  ito-rs/crates/ito-cli/src/commands/ralph/support.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(ralph): restore task source support
  ito-rs/crates/ito-core/src/ralph/task_sources.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(ralph): restore task source support (#199)
  ito-rs/crates/ito-cli/src/commands/ralph/support.rs
  ito-rs/crates/ito-core/src/ralph/mod.rs
  ito-rs/crates/ito-core/src/ralph/task_sources.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: add ByteRover repo guidance
  .brv/config.json
Due: none

chore: add ByteRover repo guidance
  AGENTS.md
Due: markdownlint-cli2

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
