Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.20.0]
        args: [--config, .markdownlint-cli2.yaml]
        files: \.md$
        exclude: ^\.ito/

      - id: cargo-fmt
        name: cargo fmt (ito-rs)
        entry: cargo
        language: system
        args: [fmt, --manifest-path, ito-rs/Cargo.toml, --all]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-clippy
        name: cargo clippy (ito-rs)
        entry: cargo
        language: system
        args:
          - clippy
          - --manifest-path
          - ito-rs/Cargo.toml
          - --workspace
          - --all-targets
          - --
          - -D
          - warnings
          - -D
          - clippy::dbg_macro
          - -D
          - clippy::todo
          - -D
          - clippy::unimplemented
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-test-coverage
        name: cargo test with coverage (ito-rs)
        entry: make
        language: system
        args: [test-coverage]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-commit, pre-push]

      - id: cargo-test
        name: cargo test (ito-rs)
        entry: make
        language: system
        args: [test]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$
        stages: [pre-push]

      - id: check-max-lines
        name: check max lines (ito-rs)
        entry: python3
        language: system
        args: [ito-rs/tools/check_max_lines.py, --soft-limit, "1000", --hard-limit, "1200", --root, ito-rs]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$

      - id: arch-guardrails
        name: architecture guardrails
        entry: make
        language: system
        args: [arch-guardrails]
        pass_filenames: false
        files: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$

refactor(015-15): eliminate argv round-trip in ralph command handler
  ito-rs/crates/ito-cli/src/commands/ralph.rs
  ito-rs/deny.toml
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

refactor(015-15): move ralph command to commands/ and eliminate argv round-trip
  .ito/changes/015-15_move-ralph-command-to-commands/tasks.md
  ito-rs/crates/ito-cli/src/app/mod.rs
  ito-rs/crates/ito-cli/src/app/ralph.rs
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/src/commands/ralph.rs
  ito-rs/deny.toml
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

chore(extras): add git worktree helper scripts
  extras/README.md
  extras/install.sh
  extras/scripts/git-worktrees/VERSION
  extras/scripts/git-worktrees/git-wtadd.sh
  extras/scripts/git-worktrees/git-wtclone.sh
  extras/scripts/git-worktrees/git-wtlist.sh
  extras/scripts/git-worktrees/git-wtlock.sh
  extras/scripts/git-worktrees/git-wtremove.sh
Due: markdownlint-cli2

chore: updated repo files
  .claude/agents/ito-general.md
  .claude/agents/ito-quick.md
  .claude/agents/ito-thinking.md
  .claude/commands/ito-list.md
  .claude/skills/ito-list/SKILL.md
  .claude/skills/ito-using-git-worktrees/SKILL.md
  .codex/prompts/ito-list.md
  .codex/skills/ito-list/SKILL.md
  .codex/skills/ito-using-git-worktrees/SKILL.md
  .github/agents/ito-general.md
  .github/agents/ito-quick.md
  .github/agents/ito-thinking.md
  .github/prompts/ito-list.prompt.md
  .github/skills/ito-list/SKILL.md
  .github/skills/ito-using-git-worktrees/SKILL.md
  .gitignore
  .ito/config.json
  .opencode/commands/ito-list.md
  .opencode/skills/ito-list/SKILL.md
  .opencode/skills/ito-using-git-worktrees/SKILL.md
  AGENTS.md
Due: markdownlint-cli2

feat(012-04): add config-driven worktree guidance
  .ito/changes/archive/2026-02-09-012-04_config-driven-worktree-guidance/.ito.yaml
  .ito/changes/archive/2026-02-09-012-04_config-driven-worktree-guidance/proposal.md
  .ito/changes/archive/2026-02-09-012-04_config-driven-worktree-guidance/specs/agent-instructions/spec.md
  .ito/changes/archive/2026-02-09-012-04_config-driven-worktree-guidance/specs/cascading-config/spec.md
  .ito/changes/archive/2026-02-09-012-04_config-driven-worktree-guidance/specs/cli-init/spec.md
  .ito/changes/archive/2026-02-09-012-04_config-driven-worktree-guidance/specs/cli-update/spec.md
  .ito/changes/archive/2026-02-09-012-04_config-driven-worktree-guidance/tasks.md
  .ito/modules/012_git-worktrees/module.md
  .ito/specs/agent-instructions/spec.md
  .ito/specs/cascading-config/spec.md
  .ito/workflows/.state/change-allocations.json
  .pre-commit-config.yaml
  AGENTS.md
  docs/developers/worktrees.md
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/update.rs
  ito-rs/crates/ito-cli/src/app/worktree_wizard.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/agent_instruction_worktrees.rs
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_agent_instruction_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-config/src/config/mod.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-core/tests/distribution.rs
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/assets/instructions/agent/worktrees.md.j2
  ito-rs/crates/ito-templates/assets/skills/ito-workflow/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/using-git-worktrees/SKILL.md
  ito-rs/crates/ito-templates/src/project_templates.rs
  ito-rs/crates/ito-templates/tests/worktree_template_rendering.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

chore(deps): update lockfile and cargo-deny config
  ito-rs/Cargo.lock
Due: none

fix dev version string
  ito-rs/crates/ito-cli/build.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

fix(deps): resolve cargo-deny advisory failure and clean up config
  ito-rs/Cargo.lock
  ito-rs/Cargo.toml
  ito-rs/crates/ito-logging/src/lib.rs
  ito-rs/deny.toml
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

feat(archive): add --completed flag to ArchiveArgs CLI definition (001-19_archive-completed-flag)
  ito-rs/Cargo.lock
  ito-rs/Cargo.toml
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-logging/src/lib.rs
  ito-rs/deny.toml
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

feat(archive): implement batch archive logic for --completed flag (GREEN phase) (001-19_archive-completed-flag)
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-cli/tests/archive_completed.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

refactor(archive): extract shared argv-building and add doc comments (001-19_archive-completed-flag)
  ito-rs/crates/ito-cli/src/app/archive.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

archived
  .ito/changes/001-19_archive-completed-flag/tasks.md
  .ito/changes/archive/2026-02-09-015-15_move-ralph-command-to-commands/.ito.yaml
  .ito/changes/archive/2026-02-09-015-15_move-ralph-command-to-commands/proposal.md
  .ito/changes/archive/2026-02-09-015-15_move-ralph-command-to-commands/specs/rust-cli-plumbing/spec.md
  .ito/changes/archive/2026-02-09-015-15_move-ralph-command-to-commands/tasks.md
  .ito/modules/015_onion-architecture-refactor/module.md
  .ito/specs/rust-cli-plumbing/spec.md
  opencode.jsonc
Due: none

ci: cache Rust deps and raise test timeout
  .github/workflows/ci.yml
Due: arch-guardrails

ci: increase CI test timeout and drop redundant build step
  .github/workflows/ci.yml
Due: arch-guardrails

ci: exclude ito-web from test matrix to avoid timeouts
  .github/workflows/ci.yml
Due: arch-guardrails

fix(worktrees): replace kill -INT with exit 1 in git worktree helper scripts
  extras/scripts/git-worktrees/git-wtadd.sh
  extras/scripts/git-worktrees/git-wtclone.sh
  extras/scripts/git-worktrees/git-wtlist.sh
Due: none

refactor(ito-cli): improve error handling and CLI arg validation
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/cli.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

test(init): skip PTY interactive test in CI to prevent hangs
  ito-rs/crates/ito-cli/tests/init_more.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

workflow
  .github/workflows/copilot-setup-steps.yml
  .ito/changes/005-14_enable-crates-io-publishing/.ito.yaml
  .ito/changes/005-14_enable-crates-io-publishing/proposal.md
  .ito/changes/005-14_enable-crates-io-publishing/specs/crates-io-publishing/spec.md
  .ito/changes/005-14_enable-crates-io-publishing/specs/distribution/spec.md
  .ito/changes/005-14_enable-crates-io-publishing/specs/release-artifacts/spec.md
  .ito/changes/005-14_enable-crates-io-publishing/tasks.md
  .ito/changes/archive/2026-02-09-002-13_add-ralph-continue-ready/.ito.yaml
  .ito/changes/archive/2026-02-09-002-13_add-ralph-continue-ready/design.md
  .ito/changes/archive/2026-02-09-002-13_add-ralph-continue-ready/proposal.md
  .ito/changes/archive/2026-02-09-002-13_add-ralph-continue-ready/specs/cli-ralph/spec.md
  .ito/changes/archive/2026-02-09-002-13_add-ralph-continue-ready/tasks.md
  .ito/modules/002_ralph-loop/module.md
  .ito/modules/005_dev-tooling/module.md
  .ito/specs/cli-ralph/spec.md
  .ito/workflows/.state/change-allocations.json
Due: none

Update install_args in copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Due: none

Update mise installation arguments and log level
  .github/workflows/copilot-setup-steps.yml
Due: none

Add prek-action to GitHub workflow
  .github/workflows/copilot-setup-steps.yml
Due: none

Reorder actions and update setup steps
  .github/workflows/copilot-setup-steps.yml
Due: none

Update copilot-setup-steps.yml
  .github/workflows/copilot-setup-steps.yml
Due: none

Change Python version management command in workflow
  .github/workflows/copilot-setup-steps.yml
Due: none
