Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

Dev (#107)
  .claude/skills/ito-write-change-proposal/SKILL.md
  .codex/skills/ito-write-change-proposal/SKILL.md
  .github/skills/ito-write-change-proposal/SKILL.md
  .ito/changes/019-06_schema-selection-guidance/.ito.yaml
  .ito/modules/023_harness-hooks/module.md
  .ito/planning/STATE.md
  .opencode/plugins/ito-skills.js
  .opencode/skills/ito-write-change-proposal/SKILL.md
  ito-rs/crates/ito-core/src/show/mod.rs
  ito-rs/crates/ito-core/tests/show.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(023-08): add Pi as a first-class harness (#110)
  .pi/commands/ito-project-setup.md
  .pi/extensions/ito-skills.ts
  .pi/settings.json
  .pi/skills/ito-test-with-subagent/SKILL.md
  .pi/skills/ito-using-ito-skills/SKILL.md
  ito-rs/crates/ito-templates/assets/adapters/pi/ito-skills.ts
Due: markdownlint-cli2

feat(002-17): add /loop wrapper for ralph (#115)
  .ito/changes/002-17_opencode-loop-command/.ito.yaml
  .ito/changes/002-17_opencode-loop-command/proposal.md
  .ito/changes/002-17_opencode-loop-command/specs/opencode-loop-command/spec.md
  .ito/changes/002-17_opencode-loop-command/tasks.md
  .ito/modules/002_ralph-loop/module.md
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-core/tests/distribution.rs
  ito-rs/crates/ito-templates/assets/commands/loop.md
  ito-rs/crates/ito-templates/assets/skills/loop/SKILL.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat: dev integration — schema guidance, audit silence, Pi harness, specs bundle (#114)
  .claude/skills/ito-write-change-proposal/SKILL.md
  .codex/skills/ito-write-change-proposal/SKILL.md
  .github/skills/ito-write-change-proposal/SKILL.md
  .ito/changes/019-06_schema-selection-guidance/.ito.yaml
  .ito/planning/STATE.md
  .opencode/plugins/ito-skills.js
  .opencode/skills/ito-write-change-proposal/SKILL.md
  .pi/commands/ito-project-setup.md
  .pi/extensions/ito-skills.ts
  .pi/settings.json
  .pi/skills/ito-test-with-subagent/SKILL.md
  .pi/skills/ito-using-ito-skills/SKILL.md
  ito-rs/crates/ito-core/src/show/mod.rs
  ito-rs/crates/ito-core/tests/audit_mirror.rs
  ito-rs/crates/ito-core/tests/show.rs
  ito-rs/crates/ito-templates/assets/adapters/pi/ito-skills.ts
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

update files
  .claude/skills/ito-using-git-worktrees/SKILL.md
  .codex/skills/ito-using-git-worktrees/SKILL.md
  .github/skills/ito-using-git-worktrees/SKILL.md
  .ito/workflows/.state/change-allocations.json
  .opencode/skills/ito-using-git-worktrees/SKILL.md
  .pi/skills/ito-using-git-worktrees/SKILL.md
Due: markdownlint-cli2

ito init
  .claude/commands/ito-loop.md
  .claude/skills/ito-loop/SKILL.md
  .claude/skills/ito-using-git-worktrees/SKILL.md
  .codex/prompts/ito-loop.md
  .codex/skills/ito-loop/SKILL.md
  .codex/skills/ito-using-git-worktrees/SKILL.md
  .github/prompts/ito-loop.prompt.md
  .github/skills/ito-loop/SKILL.md
  .github/skills/ito-using-git-worktrees/SKILL.md
  .opencode/commands/ito-loop.md
  .opencode/skills/ito-loop/SKILL.md
  .opencode/skills/ito-using-git-worktrees/SKILL.md
  .pi/commands/ito-loop.md
  .pi/skills/ito-loop/SKILL.md
  .pi/skills/ito-using-git-worktrees/SKILL.md
  AGENTS.md
  ito-rs/crates/ito-core/tests/distribution.rs
  ito-rs/crates/ito-templates/assets/commands/ito-loop.md
  ito-rs/crates/ito-templates/assets/skills/ito-loop/SKILL.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 1
  .ito/changes/024-01_add-shared-state-api/.ito.yaml
  .ito/changes/024-01_add-shared-state-api/design.md
  .ito/changes/024-01_add-shared-state-api/proposal.md
  .ito/changes/024-01_add-shared-state-api/specs/backend-state-api/spec.md
  .ito/changes/024-01_add-shared-state-api/specs/config/spec.md
  .ito/changes/024-01_add-shared-state-api/tasks.md
  .ito/modules/024_ito-backend/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

update
  .claude/skills/ito-loop/SKILL.md
  .codex/skills/ito-loop/SKILL.md
  .github/skills/ito-loop/SKILL.md
  .opencode/skills/ito-loop/SKILL.md
  .pi/skills/ito-loop/SKILL.md
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/src/commands/util.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_ralph_help.snap
  ito-rs/crates/ito-core/tests/distribution.rs
  ito-rs/crates/ito-templates/assets/skills/ito-loop/SKILL.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(024-01): add ito-backend crate with REST API for shared project state
  .ito/changes/024-01_add-shared-state-api/tasks.md
  .ito/workflows/.state/change-allocations.json
  Cargo.lock
  Cargo.toml
  ito-rs/crates/ito-backend/Cargo.toml
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-backend/src/auth.rs
  ito-rs/crates/ito-backend/src/error.rs
  ito-rs/crates/ito-backend/src/lib.rs
  ito-rs/crates/ito-backend/src/server.rs
  ito-rs/crates/ito-backend/src/state.rs
  ito-rs/crates/ito-cli/Cargo.toml
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/src/commands/serve_api.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/tools/arch_guardrails.py
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

generated new config schema
  .claude/skills/ito-using-git-worktrees/SKILL.md
  .codex/skills/ito-using-git-worktrees/SKILL.md
  .github/skills/ito-using-git-worktrees/SKILL.md
  .opencode/skills/ito-using-git-worktrees/SKILL.md
  .pi/skills/ito-using-git-worktrees/SKILL.md
Due: markdownlint-cli2

chore: regenerate committed config JSON schema artifact (#117)
  schemas/ito-config.schema.json
Due: none

fix(024-01): address review feedback (ready response, docs, warnings)
  .ito/changes/024-01_add-shared-state-api/proposal.md
  .ito/modules/024_ito-backend/module.md
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-backend/src/auth.rs
  ito-rs/crates/ito-backend/src/error.rs
  ito-rs/crates/ito-backend/src/server.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/serve_api.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Update ito-rs/crates/ito-backend/src/server.rs
  ito-rs/crates/ito-backend/src/server.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Update ito-rs/crates/ito-backend/src/auth.rs
  ito-rs/crates/ito-backend/src/auth.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(024-01): align docs + auth hardening + style nits
  Cargo.lock
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-backend/src/auth.rs
  ito-rs/crates/ito-cli/Cargo.toml
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/serve_api.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

fix(ito-backend): repair auth + CORS parsing after rebase
  ito-rs/crates/ito-backend/src/auth.rs
  ito-rs/crates/ito-backend/src/server.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
