Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

docs(agents): drop redundant tool qualifier in worker rule
  .claude/agents/ito-orchestrator-worker.md
  .github/agents/ito-orchestrator-worker.md
  .opencode/agents/ito-orchestrator-worker.md
  .pi/agents/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/agents/claude-code/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/agents/github-copilot/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/agents/opencode/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-orchestrator-worker.md
Due: markdownlint-cli2

chore: complete task for change 019-12_compress-template-prompts
  .ito/changes/019-11_rename-orchestrator-assets/demos/force-init-obsolete-cleanup.md
Due: none

update ito repo files (#221)
  .claude/agents/ito-orchestrator-worker.md
  .github/agents/ito-orchestrator-worker.md
  .opencode/agents/ito-orchestrator-worker.md
  .pi/agents/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/agents/claude-code/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/agents/github-copilot/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/agents/opencode/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-orchestrator-worker.md
Due: markdownlint-cli2

docs(memory): capture obsolete specialist cleanup
  .brv/context-tree/_index.md
  .brv/context-tree/_manifest.json
  .brv/context-tree/development/_index.md
  .brv/context-tree/development/ito_workflow/_index.md
  .brv/context-tree/development/ito_workflow/obsolete_specialist_cleanup.abstract.md
  .brv/context-tree/development/ito_workflow/obsolete_specialist_cleanup.md
  .brv/context-tree/development/ito_workflow/obsolete_specialist_cleanup.overview.md
  .brv/dream-state.json
Due: markdownlint-cli2

chore: create change 019-13_compress-template-prompts
  .ito/changes/019-11_rename-orchestrator-assets/demos/force-init-obsolete-cleanup.md
Due: none

chore: create change 019-12_compress-template-prompts
  .ito/changes/019-12_compress-template-prompts/.ito.yaml
  .ito/modules/019_templates/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

chore: sync proposal for 019-12
  .ito/changes/019-12_compress-template-prompts/proposal.md
  .ito/changes/019-12_compress-template-prompts/specs/template-markdown-compression/spec.md
  .ito/changes/019-12_compress-template-prompts/tasks.md
Due: none

chore: remove stray coordination demo artifact
  .ito/changes/019-11_rename-orchestrator-assets/demos/force-init-obsolete-cleanup.md
Due: none

docs(memory): capture obsolete specialist cleanup
  .brv/context-tree/_index.md
  .brv/context-tree/_manifest.json
  .brv/context-tree/development/_index.md
  .brv/context-tree/development/ito_workflow/_index.md
  .brv/context-tree/development/ito_workflow/obsolete_specialist_cleanup.abstract.md
  .brv/context-tree/development/ito_workflow/obsolete_specialist_cleanup.md
  .brv/context-tree/development/ito_workflow/obsolete_specialist_cleanup.overview.md
Due: markdownlint-cli2

fix(019-11): make specialist cleanup prune safely on Windows
  ito-rs/crates/ito-core/src/installers/agents_cleanup.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

update ito repo files
  ito-rs/crates/ito-templates/assets/agents/codex/ito-planner/SKILL.md
  ito-rs/crates/ito-templates/assets/agents/codex/ito-reviewer/SKILL.md
Due: markdownlint-cli2

fix(release): untrack coordination change projection
  .brv/_queue_status.json
  .brv/context-tree/_index.md
  .brv/context-tree/_manifest.json
  .brv/context-tree/development/_index.md
  .brv/context-tree/development/release_workflow/_index.md
  .brv/context-tree/development/release_workflow/release_plz_guardrails.abstract.md
  .brv/context-tree/development/release_workflow/release_plz_guardrails.md
  .brv/context-tree/development/release_workflow/release_plz_guardrails.overview.md
  .brv/dream-state.json
  .ito/changes/028-02_centralize-instruction-source-of-truth/.ito.yaml
  .ito/changes/028-02_centralize-instruction-source-of-truth/design.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/proposal.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/specs/agent-memory-abstraction/spec.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/specs/coordination-worktree/spec.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/specs/instruction-source-of-truth/spec.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/specs/orchestrate-instruction/spec.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/tasks.md
Due: markdownlint-cli2

chore: create change 011-05_add-ito-validate-repo-coordination-rules
  .ito/changes/011-05_add-ito-validate-repo-coordination-rules/.ito.yaml
  .ito/modules/011_config-system/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

chore: create change 011-06_extend-ito-validate-repo-audit-repository-backend-rules
  .ito/changes/011-06_extend-ito-validate-repo-audit-repository-backend-rules/.ito.yaml
  .ito/modules/011_config-system/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

chore: sync coordination worktree
  .ito/changes/011-05_add-ito-validate-repo-coordination-rules/design.md
  .ito/changes/011-05_add-ito-validate-repo-coordination-rules/proposal.md
  .ito/changes/011-05_add-ito-validate-repo-coordination-rules/specs/ito-init/spec.md
  .ito/changes/011-05_add-ito-validate-repo-coordination-rules/specs/ito-update-repo-skill/spec.md
  .ito/changes/011-05_add-ito-validate-repo-coordination-rules/specs/pre-commit-hook-detection/spec.md
  .ito/changes/011-05_add-ito-validate-repo-coordination-rules/specs/pre-commit-hooks/spec.md
  .ito/changes/011-05_add-ito-validate-repo-coordination-rules/specs/validate-repo-cli-surface/spec.md
  .ito/changes/011-05_add-ito-validate-repo-coordination-rules/specs/validate-repo-coordination-rules/spec.md
  .ito/changes/011-05_add-ito-validate-repo-coordination-rules/specs/validate-repo-engine/spec.md
  .ito/changes/011-05_add-ito-validate-repo-coordination-rules/specs/validate-repo-worktrees-rules/spec.md
  .ito/changes/011-05_add-ito-validate-repo-coordination-rules/tasks.md
  .ito/changes/011-06_extend-ito-validate-repo-audit-repository-backend-rules/proposal.md
  .ito/changes/011-06_extend-ito-validate-repo-audit-repository-backend-rules/specs/validate-repo-audit-rules/spec.md
  .ito/changes/011-06_extend-ito-validate-repo-audit-repository-backend-rules/specs/validate-repo-backend-rules/spec.md
  .ito/changes/011-06_extend-ito-validate-repo-audit-repository-backend-rules/specs/validate-repo-repository-rules/spec.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/.ito.yaml
  .ito/changes/028-02_centralize-instruction-source-of-truth/design.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/proposal.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/specs/agent-memory-abstraction/spec.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/specs/coordination-worktree/spec.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/specs/instruction-source-of-truth/spec.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/specs/orchestrate-instruction/spec.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/tasks.md
Due: none

chore: sync coordination worktree
  .ito/changes/011-06_extend-ito-validate-repo-audit-repository-backend-rules/tasks.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/design.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/proposal.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/specs/agent-surface-taxonomy/spec.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/specs/instruction-source-of-truth/spec.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/specs/orchestrate-instruction/spec.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/tasks.md
Due: none

chore: start task for change 011-05_add-ito-validate-repo-coordination-rules
  .ito/changes/011-05_add-ito-validate-repo-coordination-rules/tasks.md
Due: none

chore: complete task for change 011-05_add-ito-validate-repo-coordination-rules
  .ito/changes/011-05_add-ito-validate-repo-coordination-rules/tasks.md
Due: none

chore: sync coordination worktree
  .ito/changes/011-05_add-ito-validate-repo-coordination-rules/demos/wave-1-engine-scaffold.md
Due: none

chore: sync coordination worktree
  .ito/changes/011-05_add-ito-validate-repo-coordination-rules/demos/wave-2-rules-and-detection.md
Due: none

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
