Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: cargo
  language: system
  args:
  - fmt
  - --manifest-path
  - ito-rs/Cargo.toml
  - --all
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: cargo
  language: system
  args:
  - clippy
  - --manifest-path
  - ito-rs/Cargo.toml
  - --workspace
  - --all-targets
  - --
  - -D
  - warnings
  - -D
  - clippy::dbg_macro
  - -D
  - clippy::todo
  - -D
  - clippy::unimplemented
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

cargo-test:
  name: cargo test (ito-rs)
  entry: make
  language: system
  args:
  - test
  pass_filenames: false
  stages:
  - pre-push

check-max-lines:
  name: check max lines (ito-rs)
  entry: python3
  language: system
  args:
  - ito-rs/tools/check_max_lines.py
  - --soft-limit
  - '1000'
  - --hard-limit
  - '1200'
  - --root
  - ito-rs
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

Update ito-rs/crates/ito-domain/src/tasks/relational.rs
  ito-rs/crates/ito-domain/src/tasks/relational.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

chore: release v0.1.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  ito-rs/crates/ito-common/CHANGELOG.md
  ito-rs/crates/ito-config/CHANGELOG.md
  ito-rs/crates/ito-core/CHANGELOG.md
  ito-rs/crates/ito-domain/CHANGELOG.md
  ito-rs/crates/ito-logging/CHANGELOG.md
  ito-rs/crates/ito-templates/CHANGELOG.md
  ito-rs/crates/ito-web/CHANGELOG.md
Due: markdownlint-cli2

chore: release v0.1.2 (#19)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  ito-rs/crates/ito-common/CHANGELOG.md
  ito-rs/crates/ito-config/CHANGELOG.md
  ito-rs/crates/ito-core/CHANGELOG.md
  ito-rs/crates/ito-domain/CHANGELOG.md
  ito-rs/crates/ito-logging/CHANGELOG.md
  ito-rs/crates/ito-templates/CHANGELOG.md
  ito-rs/crates/ito-web/CHANGELOG.md
Due: markdownlint-cli2

chore(deps): prune unused workspace dependencies
  Cargo.lock
  ito-rs/crates/ito-cli/Cargo.toml
  ito-rs/crates/ito-common/Cargo.toml
  ito-rs/crates/ito-core/Cargo.toml
  ito-rs/crates/ito-domain/Cargo.toml
  ito-rs/crates/ito-test-support/Cargo.toml
  ito-rs/crates/ito-web/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-test, arch-guardrails

get ride of old homebrew workflows, cargo dist handles it all
  .github/workflows/homebrew.yml
  .github/workflows/update-homebrew.yml
Due: none

feat(config): version config schema artifact and CI drift check
  .github/workflows/ci.yml
  .ito/changes/011-03_generate-config-json-schema/tasks.md
  Makefile
  README.md
  docs/config.md
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-templates/assets/default/project/.ito/config.json
  schemas/ito-config.schema.json
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

refactor(config): address PR feedback for schema checks
  Makefile
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

feat(config): generate and version Ito config schema artifact (#26)
  .github/workflows/ci.yml
  .ito/changes/011-03_generate-config-json-schema/tasks.md
  Makefile
  README.md
  docs/config.md
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-templates/assets/default/project/.ito/config.json
  schemas/ito-config.schema.json
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

feat(coordination): sync change workflows with coordination branch
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-cli/src/runtime.rs
  ito-rs/crates/ito-cli/tests/config_more.rs
  ito-rs/crates/ito-cli/tests/misc_more.rs
  ito-rs/crates/ito-cli/tests/parity_tasks.rs
  ito-rs/crates/ito-config/src/config/mod.rs
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-core/src/config.rs
  ito-rs/crates/ito-core/src/git.rs
  ito-rs/crates/ito-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

chore(repo): normalize line endings with gitattributes
  .gitattributes
Due: none

Update ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/init_more.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

Update ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

fix(test): stabilize coverage test binary resolution
  Makefile
  ito-rs/crates/ito-test-support/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

feat(coordination): sync change workflows with coordination branch (#29)
  .gitattributes
  Makefile
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-cli/src/runtime.rs
  ito-rs/crates/ito-cli/tests/config_more.rs
  ito-rs/crates/ito-cli/tests/misc_more.rs
  ito-rs/crates/ito-cli/tests/parity_tasks.rs
  ito-rs/crates/ito-config/src/config/mod.rs
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-core/src/config.rs
  ito-rs/crates/ito-core/src/git.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-test-support/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

chore(skills): sync worktree and workflow instructions
  .claude/skills/ito-using-git-worktrees/SKILL.md
  .claude/skills/ito-workflow/SKILL.md
  .codex/skills/ito-using-git-worktrees/SKILL.md
  .codex/skills/ito-workflow/SKILL.md
  .github/skills/ito-using-git-worktrees/SKILL.md
  .github/skills/ito-workflow/SKILL.md
  .opencode/skills/ito-using-git-worktrees/SKILL.md
  .opencode/skills/ito-workflow/SKILL.md
Due: markdownlint-cli2

docs(ito): streamline guidance and prompt overrides
  .gitignore
  .ito/AGENTS.md
  .ito/user-prompts/apply.md
  .ito/user-prompts/guidance.md
  .ito/user-prompts/proposal.md
  .ito/user-prompts/tasks.md
  AGENTS.md
  CLAUDE.md
Due: markdownlint-cli2

chore(opencode): migrate built-in agents to agents directory
  .opencode/agent/code-simplifier.md
  .opencode/agents/code-quality-squad.md
  .opencode/agents/code-simplifier.md
  .opencode/agents/documentation-police.md
  .opencode/agents/ito-general.md
  .opencode/agents/ito-quick.md
  .opencode/agents/ito-thinking.md
  .opencode/agents/test-runner.md
Due: markdownlint-cli2

fix(ci): make installer docs non-doctested and apply rustfmt
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

add bare path as allowed
  opencode.jsonc
Due: none

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test: any of: ^ito-rs/.*\.(rs|toml)$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
