Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            feat,
            fix,
            docs,
            style,
            refactor,
            perf,
            test,
            build,
            ci,
            chore,
            revert,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.20.0]
        args: [--config, .markdownlint-cli2.yaml]
        files: \.md$
        exclude: ^\.ito/

      - id: cargo-fmt
        name: cargo fmt (ito-rs)
        entry: make
        language: system
        args: [fmt]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-clippy
        name: cargo clippy (ito-rs)
        entry: make
        language: system
        args: [clippy]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-test-coverage
        name: cargo test with coverage (ito-rs)
        entry: make
        language: system
        args: [test-coverage]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-push]

      - id: cargo-test-affected
        name: cargo test affected (ito-rs)
        entry: make
        language: system
        args: [test-affected]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-commit]

      - id: check-max-lines
        name: check max lines (ito-rs)
        entry: make
        language: system
        args: [check-max-lines]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$

      - id: arch-guardrails
        name: architecture guardrails
        entry: make
        language: system
        args: [arch-guardrails]
        pass_filenames: false
        files: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$

      - id: cargo-deny
        name: cargo deny (license/advisory checks)
        entry: make
        language: system
        args: [cargo-deny]
        pass_filenames: false
        files: ^ito-rs/.*\.(toml|lock)$

docs: migrate docs site to zensical
  docs/agent-workflow.md
  docs/index.md
Due: markdownlint-cli2

feat(001-24): versioned format specs (#100)
  .ito/changes/001-24_schema-validation-format-specs/specs/tasks-tracking/spec.md
  .ito/changes/001-24_schema-validation-format-specs/tasks.md
  ito-rs/crates/ito-core/src/validate/format_specs.rs
  ito-rs/crates/ito-core/src/validate/issue.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(001-24): archive change (#101)
  .ito/changes/archive/2026-02-25-001-24_schema-validation-format-specs/.ito.yaml
  .ito/changes/archive/2026-02-25-001-24_schema-validation-format-specs/design.md
  .ito/changes/archive/2026-02-25-001-24_schema-validation-format-specs/proposal.md
  .ito/changes/archive/2026-02-25-001-24_schema-validation-format-specs/specs/delta-specs/spec.md
  .ito/changes/archive/2026-02-25-001-24_schema-validation-format-specs/specs/tasks-tracking/spec.md
  .ito/changes/archive/2026-02-25-001-24_schema-validation-format-specs/tasks.md
  .ito/specs/delta-specs/spec.md
  .ito/specs/tasks-tracking/spec.md
Due: none

docs: fix index heading levels
  docs/index.md
Due: markdownlint-cli2

feat(templates): add github-copilot harness support to bootstrap
  ito-rs/crates/ito-cli/tests/agent_instruction_bootstrap.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(019-02): hide internal guidance scaffolding from instruction output (#93)
  ito-rs/crates/ito-core/src/templates/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs: clarify Homebrew formula and fix list sort spec
  README.md
Due: markdownlint-cli2

docs: address review feedback
  docs/agent-workflow.md
Due: markdownlint-cli2

refactor(templates): remove generic skills, rename kept skills to ito- prefix
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-templates/tests/worktree_template_rendering.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: align templates exports and formatting for push checks
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

refactor(templates): split guidance and task parsing modules
  ito-rs/crates/ito-core/src/templates/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(pr95): address review feedback on bootstrap and templates
  ito-rs/crates/ito-cli/src/commands/create.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: refresh README and Windows install (#98)
  docs/index.md
Due: markdownlint-cli2

change proposl admin
  .ito/changes/001-24_schema-validation-format-specs/.ito.yaml
  .ito/changes/001-24_schema-validation-format-specs/design.md
  .ito/changes/001-24_schema-validation-format-specs/proposal.md
  .ito/changes/001-24_schema-validation-format-specs/specs/delta-specs/spec.md
  .ito/changes/001-24_schema-validation-format-specs/specs/tasks-tracking/spec.md
  .ito/changes/001-24_schema-validation-format-specs/tasks.md
  .ito/changes/019-02_internal-guidance-comments/proposal.md
  .ito/changes/019-02_internal-guidance-comments/specs/instruction-guidance-injection/spec.md
  .ito/changes/019-02_internal-guidance-comments/tasks.md
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-core/src/validate/issue.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/src/validate/repo_integrity.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(ito): add pending schema and instruction artifacts
  .ito/specs/delta-specs/spec.md
  .ito/specs/tasks-tracking/spec.md
  ito-rs/crates/ito-core/src/templates/review.rs
  ito-rs/crates/ito-core/src/validate/format_specs.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

PR fixes
  ito-rs/crates/ito-core/src/templates/review.rs
  ito-rs/crates/ito-core/src/validate/repo_integrity.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(001-25): add tracking_file_path and fix missing review module export
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-core/src/tasks.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(019-05): schema-aware validate and tasks.md validation
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-cli/src/app/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style: apply cargo fmt import sorting to validate and template test files
  ito-rs/crates/ito-core/src/validate/issue.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-templates/tests/worktree_template_rendering.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: add missing trailing newline to change-allocations.json
  .ito/workflows/.state/change-allocations.json
Due: none

Apply suggestion from @gemini-code-assist[bot]
  ito-rs/crates/ito-cli/tests/init_upgrade_more.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails
