Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            feat,
            fix,
            docs,
            style,
            refactor,
            perf,
            test,
            build,
            ci,
            chore,
            revert,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.20.0]
        args: [--config, .markdownlint-cli2.yaml]
        files: \.md$
        exclude: ^\.ito/

      - id: cargo-fmt
        name: cargo fmt (ito-rs)
        entry: make
        language: system
        args: [fmt]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-clippy
        name: cargo clippy (ito-rs)
        entry: make
        language: system
        args: [clippy]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-test-coverage
        name: cargo test with coverage (ito-rs)
        entry: make
        language: system
        args: [test-coverage]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-push]

      - id: cargo-test-affected
        name: cargo test affected (ito-rs)
        entry: make
        language: system
        args: [test-affected]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-commit]

      - id: check-max-lines
        name: check max lines (ito-rs)
        entry: make
        language: system
        args: [check-max-lines]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$

      - id: arch-guardrails
        name: architecture guardrails
        entry: make
        language: system
        args: [arch-guardrails]
        pass_filenames: false
        files: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$

      - id: cargo-deny
        name: cargo deny (license/advisory checks)
        entry: make
        language: system
        args: [cargo-deny]
        pass_filenames: false
        files: ^ito-rs/.*\.(toml|lock)$

feat(validate): schema-driven validation.yaml
  .ito/changes/019-04_schema-driven-validation/.ito.yaml
  .ito/changes/019-04_schema-driven-validation/design.md
  .ito/changes/019-04_schema-driven-validation/proposal.md
  .ito/changes/019-04_schema-driven-validation/specs/cli-validate/spec.md
  .ito/changes/019-04_schema-driven-validation/specs/ito-schemas/spec.md
  .ito/changes/019-04_schema-driven-validation/tasks.md
  .ito/modules/019_templates/module.md
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-cli/src/app/validate.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/src/templates/review.rs
  ito-rs/crates/ito-core/src/templates/schema_assets.rs
  ito-rs/crates/ito-core/src/templates/types.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style(validate): sort imports alphabetically in validation modules
  ito-rs/crates/ito-core/src/validate/issue.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/src/validate/repo_integrity.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style(templates): wrap long function signature across multiple lines
  ito-rs/crates/ito-core/src/templates/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: ensure trailing newline in change-allocations.json
  .ito/workflows/.state/change-allocations.json
Due: none

fix(validate): address review feedback
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Update ito-rs/crates/ito-core/src/templates/types.rs
  ito-rs/crates/ito-core/src/templates/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs(commands): simplify ito command documentation across harnesses
  .claude/commands/ito-apply.md
  .claude/commands/ito-archive.md
  .claude/commands/ito-list.md
  .claude/commands/ito-proposal.md
  .claude/commands/ito-research.md
  .claude/commands/ito-review.md
  .claude/commands/ito.md
  .codex/prompts/ito-apply.md
  .codex/prompts/ito-archive.md
  .codex/prompts/ito-list.md
  .codex/prompts/ito-proposal.md
  .codex/prompts/ito-research.md
  .codex/prompts/ito-review.md
  .codex/prompts/ito.md
  .github/prompts/ito-apply.prompt.md
  .github/prompts/ito-archive.prompt.md
  .github/prompts/ito-list.prompt.md
  .github/prompts/ito-proposal.prompt.md
  .github/prompts/ito-research.prompt.md
  .github/prompts/ito-review.prompt.md
  .github/prompts/ito.prompt.md
  .opencode/commands/ito-apply.md
  .opencode/commands/ito-archive.md
  .opencode/commands/ito-list.md
  .opencode/commands/ito-proposal.md
  .opencode/commands/ito-research.md
  .opencode/commands/ito-review.md
  .opencode/commands/ito.md
  ito-rs/crates/ito-templates/assets/commands/ito-apply.md
  ito-rs/crates/ito-templates/assets/commands/ito-archive.md
  ito-rs/crates/ito-templates/assets/commands/ito-list.md
  ito-rs/crates/ito-templates/assets/commands/ito-proposal.md
  ito-rs/crates/ito-templates/assets/commands/ito-research.md
  ito-rs/crates/ito-templates/assets/commands/ito-review.md
  ito-rs/crates/ito-templates/assets/commands/ito.md
Due: markdownlint-cli2

refactor(validate): sort imports and add format validation module
  ito-rs/crates/ito-core/src/validate/format_specs.rs
  ito-rs/crates/ito-core/src/validate/issue.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/src/validate/repo_integrity.rs
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/assets/skills/ito-apply-change-proposal/SKILL.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

test: update test assertions and expectations for improved clarity
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/update_smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(coordination): reserve 019-04_embed-openspec-schemas
  .ito/changes/019-04_embed-openspec-schemas/.ito.yaml
Due: none

fix(validate): tighten schema validation config
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/src/templates/types.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(validate): anchor schema resolution to change repo
  ito-rs/crates/ito-core/src/validate/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(019-04): schema-driven validation (#99)
  .ito/changes/019-04_schema-driven-validation/.ito.yaml
  .ito/changes/019-04_schema-driven-validation/design.md
  .ito/changes/019-04_schema-driven-validation/proposal.md
  .ito/changes/019-04_schema-driven-validation/specs/cli-validate/spec.md
  .ito/changes/019-04_schema-driven-validation/specs/ito-schemas/spec.md
  .ito/changes/019-04_schema-driven-validation/tasks.md
  .ito/modules/019_templates/module.md
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-cli/src/app/validate.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/src/templates/review.rs
  ito-rs/crates/ito-core/src/templates/schema_assets.rs
  ito-rs/crates/ito-core/src/templates/types.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(ito): add change 001-24 format spec proposal
  .ito/changes/001-24_schema-validation-format-specs/.ito.yaml
  .ito/changes/001-24_schema-validation-format-specs/design.md
  .ito/changes/001-24_schema-validation-format-specs/proposal.md
  .ito/changes/001-24_schema-validation-format-specs/specs/delta-specs/spec.md
  .ito/changes/001-24_schema-validation-format-specs/specs/tasks-tracking/spec.md
  .ito/changes/001-24_schema-validation-format-specs/tasks.md
Due: none

docs(specs): add delta-specs and tasks-tracking v1
  .ito/specs/delta-specs/spec.md
  .ito/specs/tasks-tracking/spec.md
Due: none

feat(validate): cite format validator ids in issues
  ito-rs/crates/ito-core/src/validate/format_specs.rs
  ito-rs/crates/ito-core/src/validate/issue.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Update ito-rs/crates/ito-core/src/validate/issue.rs
  ito-rs/crates/ito-core/src/validate/issue.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(ito): add pending schema and instruction artifacts
  .ito/changes/016-13_optimize-agent-instructions/.ito.yaml
  .ito/changes/016-13_optimize-agent-instructions/design.md
  .ito/changes/016-13_optimize-agent-instructions/proposal.md
  .ito/changes/016-13_optimize-agent-instructions/specs/agent-instructions/spec.md
  .ito/changes/016-13_optimize-agent-instructions/specs/cascading-config/spec.md
  .ito/changes/016-13_optimize-agent-instructions/specs/change-coordination-branch/spec.md
  .ito/changes/016-13_optimize-agent-instructions/tasks.md
  .ito/modules/016_cli/module.md
  .ito/specs/delta-specs/spec.md
  .ito/specs/tasks-tracking/spec.md
  ito-rs/crates/ito-core/src/templates/review.rs
  ito-rs/crates/ito-core/src/validate/format_specs.rs
  ito-rs/crates/ito-core/tests/validate.rs
  ito-rs/crates/ito-templates/assets/schemas/event-driven/schema.yaml
  ito-rs/crates/ito-templates/assets/schemas/event-driven/templates/asyncapi.yaml
  ito-rs/crates/ito-templates/assets/schemas/event-driven/templates/design.md
  ito-rs/crates/ito-templates/assets/schemas/event-driven/templates/event-modeling.md
  ito-rs/crates/ito-templates/assets/schemas/event-driven/templates/event-storming.md
  ito-rs/crates/ito-templates/assets/schemas/event-driven/templates/specs/spec.md
  ito-rs/crates/ito-templates/assets/schemas/event-driven/templates/tasks.md
  ito-rs/crates/ito-templates/assets/schemas/minimalist/schema.yaml
  ito-rs/crates/ito-templates/assets/schemas/minimalist/templates/specs/spec.md
  ito-rs/crates/ito-templates/assets/schemas/minimalist/templates/tasks.md
  notes.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs(change): clarify enhanced tasks metadata
  .ito/changes/001-24_schema-validation-format-specs/specs/tasks-tracking/spec.md
Due: none

fix(validate): enrich tasks-tracking wildcard errors
  ito-rs/crates/ito-core/src/validate/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(001-24): versioned format specs (#100)
  .ito/changes/001-24_schema-validation-format-specs/.ito.yaml
  .ito/changes/001-24_schema-validation-format-specs/design.md
  .ito/changes/001-24_schema-validation-format-specs/proposal.md
  .ito/changes/001-24_schema-validation-format-specs/specs/delta-specs/spec.md
  .ito/changes/001-24_schema-validation-format-specs/specs/tasks-tracking/spec.md
  .ito/changes/001-24_schema-validation-format-specs/tasks.md
  .ito/specs/delta-specs/spec.md
  .ito/specs/tasks-tracking/spec.md
  ito-rs/crates/ito-core/src/validate/format_specs.rs
  ito-rs/crates/ito-core/src/validate/issue.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

PR fixes
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-core/src/templates/review.rs
  ito-rs/crates/ito-core/src/validate/issue.rs
  ito-rs/crates/ito-core/src/validate/repo_integrity.rs
  ito-rs/crates/ito-core/tests/validate.rs
  ito-rs/crates/ito-templates/assets/skills/ito-apply-change-proposal/SKILL.md
  notes.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(001-24): archive change
  .ito/changes/archive/2026-02-25-001-24_schema-validation-format-specs/.ito.yaml
  .ito/changes/archive/2026-02-25-001-24_schema-validation-format-specs/design.md
  .ito/changes/archive/2026-02-25-001-24_schema-validation-format-specs/proposal.md
  .ito/changes/archive/2026-02-25-001-24_schema-validation-format-specs/specs/delta-specs/spec.md
  .ito/changes/archive/2026-02-25-001-24_schema-validation-format-specs/specs/tasks-tracking/spec.md
  .ito/changes/archive/2026-02-25-001-24_schema-validation-format-specs/tasks.md
  .ito/specs/delta-specs/spec.md
  .ito/specs/tasks-tracking/spec.md
Due: none

chore(001-24): archive change (#101)
  .ito/changes/archive/2026-02-25-001-24_schema-validation-format-specs/.ito.yaml
  .ito/changes/archive/2026-02-25-001-24_schema-validation-format-specs/design.md
  .ito/changes/archive/2026-02-25-001-24_schema-validation-format-specs/proposal.md
  .ito/changes/archive/2026-02-25-001-24_schema-validation-format-specs/specs/delta-specs/spec.md
  .ito/changes/archive/2026-02-25-001-24_schema-validation-format-specs/specs/tasks-tracking/spec.md
  .ito/changes/archive/2026-02-25-001-24_schema-validation-format-specs/tasks.md
  .ito/specs/delta-specs/spec.md
  .ito/specs/tasks-tracking/spec.md
Due: none

feat(019): add --upgrade flag to ito init for marker-scoped template refresh
  .ito/changes/019-03_upgrade-marker-managed-prompt-refresh/tasks.md
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/init_upgrade_more.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_init_help.snap
  ito-rs/crates/ito-core/src/installers/json_tests.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-templates/assets/default/project/.ito/AGENTS.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-guidance.md
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/assets/default/project/CLAUDE.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(001-25): honor apply.tracks for task tracking
  .ito/changes/001-25_tracking-file-support/.ito.yaml
  .ito/changes/001-25_tracking-file-support/design.md
  .ito/changes/001-25_tracking-file-support/proposal.md
  .ito/changes/001-25_tracking-file-support/specs/cli-tasks/spec.md
  .ito/changes/001-25_tracking-file-support/specs/cli-validate/spec.md
  .ito/changes/001-25_tracking-file-support/specs/task-repository/spec.md
  .ito/changes/001-25_tracking-file-support/specs/tasks-tracking/spec.md
  .ito/changes/001-25_tracking-file-support/tasks.md
  .ito/modules/001_workflow-enhancements/module.md
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-cli/tests/tasks_more.rs
  ito-rs/crates/ito-core/src/audit/reconcile.rs
  ito-rs/crates/ito-core/src/task_repository.rs
  ito-rs/crates/ito-core/src/tasks.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/tests/harness_streaming.rs
  ito-rs/crates/ito-core/tests/validate.rs
  ito-rs/crates/ito-domain/src/tasks/mod.rs
  ito-rs/crates/ito-domain/src/tasks/parse.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs: fix index heading levels
  docs/index.md
Due: markdownlint-cli2
