Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

fix: apply Gemini and CodeRabbit review suggestions
  Makefile
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/audit.rs
  ito-rs/crates/ito-cli/tests/cli_snapshots.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_tasks_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_version.snap
  ito-rs/crates/ito-cli/tests/support/mod.rs
  ito-rs/crates/ito-core/src/errors.rs
  ito-rs/crates/ito-core/src/git.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(010-02): generate docs site from Rust docstrings
  .github/workflows/ci.yml
  .gitignore
  .ito/changes/010-02_generate-docs-site-from-docstrings/.ito.yaml
  .ito/changes/010-02_generate-docs-site-from-docstrings/design.md
  .ito/changes/010-02_generate-docs-site-from-docstrings/proposal.md
  .ito/changes/010-02_generate-docs-site-from-docstrings/specs/docs-quick-start/spec.md
  .ito/changes/010-02_generate-docs-site-from-docstrings/specs/docs-site-generation/spec.md
  .ito/changes/010-02_generate-docs-site-from-docstrings/tasks.md
  .ito/modules/010_docs-server/module.md
  .ito/workflows/.state/change-allocations.json
  Makefile
  README.md
  docs-tools/mkdocs-rustdoc-plugin/README.md
  docs-tools/mkdocs-rustdoc-plugin/mkdocs_rustdoc_plugin/__init__.py
  docs-tools/mkdocs-rustdoc-plugin/mkdocs_rustdoc_plugin/plugin.py
  docs-tools/mkdocs-rustdoc-plugin/pyproject.toml
  docs/api/rustdoc.md
  docs/index.md
  docs/quickstart.md
  docs/requirements.txt
  mkdocs.yml
Due: markdownlint-cli2, arch-guardrails

fix: address remaining AI review feedback
  .ito/changes/000-09_add-cli-aliases/design.md
  .pre-commit-config.yaml
  ito-rs/crates/ito-cli/src/commands/audit.rs
  ito-rs/crates/ito-cli/tests/aliases.rs
  ito-rs/crates/ito-core/src/git.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Update ito-rs/crates/ito-core/src/errors.rs
  ito-rs/crates/ito-core/src/errors.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(000-09): stabilize pre-push behavior and bootstrap tooling (#43)
  .git.bak
  .ito/changes/000-08_init-coordination-branch-setup/.ito.yaml
  .ito/changes/000-08_init-coordination-branch-setup/proposal.md
  .ito/changes/000-08_init-coordination-branch-setup/specs/change-coordination-branch/spec.md
  .ito/changes/000-08_init-coordination-branch-setup/specs/cli-init/spec.md
  .ito/changes/000-08_init-coordination-branch-setup/tasks.md
  .ito/changes/000-09_add-cli-aliases/.ito.yaml
  .ito/changes/000-09_add-cli-aliases/design.md
  .ito/changes/000-09_add-cli-aliases/proposal.md
  .ito/changes/000-09_add-cli-aliases/specs/cli-aliases/spec.md
  .ito/changes/000-09_add-cli-aliases/tasks.md
  .pre-commit-config.yaml
  Makefile
  assets/ito_logo_ascii.txt
  docs/config.md
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/audit.rs
  ito-rs/crates/ito-cli/tests/aliases.rs
  ito-rs/crates/ito-cli/tests/cli_snapshots.rs
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_agent_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_agent_instruction_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_create_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_init_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_ralph_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_tasks_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_version.snap
  ito-rs/crates/ito-cli/tests/support/mod.rs
  ito-rs/crates/ito-core/src/errors.rs
  ito-rs/crates/ito-core/src/git.rs
  ito-rs/crates/ito-templates/assets/commands/ito-proposal.md
  ito-rs/crates/ito-test-support/src/lib.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Update docs-tools/mkdocs-rustdoc-plugin/mkdocs_rustdoc_plugin/plugin.py
  docs-tools/mkdocs-rustdoc-plugin/mkdocs_rustdoc_plugin/plugin.py
Due: none

archived
  .ito/changes/archive/2026-02-13-000-08_init-coordination-branch-setup/.ito.yaml
  .ito/changes/archive/2026-02-13-000-08_init-coordination-branch-setup/proposal.md
  .ito/changes/archive/2026-02-13-000-08_init-coordination-branch-setup/specs/change-coordination-branch/spec.md
  .ito/changes/archive/2026-02-13-000-08_init-coordination-branch-setup/specs/cli-init/spec.md
  .ito/changes/archive/2026-02-13-000-08_init-coordination-branch-setup/tasks.md
  .ito/changes/archive/2026-02-13-000-09_add-cli-aliases/.ito.yaml
  .ito/changes/archive/2026-02-13-000-09_add-cli-aliases/design.md
  .ito/changes/archive/2026-02-13-000-09_add-cli-aliases/proposal.md
  .ito/changes/archive/2026-02-13-000-09_add-cli-aliases/specs/cli-aliases/spec.md
  .ito/changes/archive/2026-02-13-000-09_add-cli-aliases/tasks.md
  .ito/specs/change-coordination-branch/spec.md
  .ito/specs/cli-aliases/spec.md
  .ito/specs/cli-init/spec.md
Due: none

chore(coordination): reserve 002-14_ralph-harnesses-claude-codex-copilot
  .ito/changes/002-14_ralph-harnesses-claude-codex-copilot/.ito.yaml
Due: none

feat(002-14): add Ralph harnesses proposal for Claude, Codex, and Copilot
  .ito/changes/002-14_ralph-harnesses-claude-codex-copilot/.ito.yaml
  .ito/changes/002-14_ralph-harnesses-claude-codex-copilot/design.md
  .ito/changes/002-14_ralph-harnesses-claude-codex-copilot/proposal.md
  .ito/changes/002-14_ralph-harnesses-claude-codex-copilot/specs/cli-ralph/spec.md
  .ito/changes/002-14_ralph-harnesses-claude-codex-copilot/specs/rust-ralph/spec.md
  .ito/changes/002-14_ralph-harnesses-claude-codex-copilot/tasks.md
  .ito/modules/002_ralph-loop/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

feat(002-14): add harness implementations for Claude Code, Codex, and GitHub Copilot
  .ito/changes/002-14_ralph-harnesses-claude-codex-copilot/tasks.md
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/commands/ralph.rs
  ito-rs/crates/ito-cli/tests/aliases.rs
  ito-rs/crates/ito-cli/tests/cli_snapshots.rs
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/ralph_smoke.rs
  ito-rs/crates/ito-cli/tests/support/mod.rs
  ito-rs/crates/ito-core/src/errors.rs
  ito-rs/crates/ito-core/src/git.rs
  ito-rs/crates/ito-core/src/harness/claude_code.rs
  ito-rs/crates/ito-core/src/harness/codex.rs
  ito-rs/crates/ito-core/src/harness/github_copilot.rs
  ito-rs/crates/ito-core/src/harness/mod.rs
  ito-rs/crates/ito-core/src/harness/streaming_cli.rs
  ito-rs/crates/ito-core/src/harness/types.rs
  ito-rs/crates/ito-core/src/ralph/runner.rs
  ito-rs/crates/ito-core/tests/harness_opencode.rs
  ito-rs/crates/ito-core/tests/harness_stub.rs
  ito-rs/crates/ito-test-support/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(002-14): show supported harnesses in ralph --help and improve error messages
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/ralph.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_ralph_help.snap
  ito-rs/crates/ito-core/src/harness/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(coordination): reserve 000-10_cli-type-safe-args
  .ito/changes/000-10_cli-type-safe-args/.ito.yaml
Due: none

proposal(000-10): type-safe CLI args via bridge enum pattern
  .ito/changes/000-10_cli-type-safe-args/.ito.yaml
  .ito/changes/000-10_cli-type-safe-args/proposal.md
  .ito/changes/000-10_cli-type-safe-args/specs/cli-bridge-types/spec.md
  .ito/changes/000-10_cli-type-safe-args/specs/cli-ralph/spec.md
  .ito/changes/000-10_cli-type-safe-args/tasks.md
  .ito/modules/000_ungrouped/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

fix: address PR review feedback
  ito-rs/crates/ito-cli/tests/support/mod.rs
  ito-rs/crates/ito-core/src/errors.rs
  ito-rs/crates/ito-core/src/harness/claude_code.rs
  ito-rs/crates/ito-core/src/harness/codex.rs
  ito-rs/crates/ito-core/src/harness/github_copilot.rs
  ito-rs/crates/ito-core/src/harness/streaming_cli.rs
  ito-rs/crates/ito-test-support/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: address round-2 PR review feedback
  ito-rs/crates/ito-core/src/errors.rs
  ito-rs/crates/ito-test-support/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: add missing imports and ignore markers to doctests in errors.rs and git.rs
  ito-rs/crates/ito-core/src/errors.rs
  ito-rs/crates/ito-core/src/git.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: handle incomplete UTF-8 sequences at chunk boundaries in stream_pipe
  ito-rs/crates/ito-core/src/harness/streaming_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style: fix import ordering in streaming_cli.rs
  ito-rs/crates/ito-core/src/harness/streaming_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

ci: add autofix job and consolidate CI tokens under Ito CI GitHub App
  .github/workflows/ci.yml
  .github/workflows/release-plz.yml
  .github/workflows/v-release.yml
  docs/ci-app-setup.md
Due: markdownlint-cli2, arch-guardrails

removed the claude code review workflow, gemini and coderabbit do enough
  .github/workflows/claude-code-review.yml
Due: none

ci: exclude tests/** from JSON autofix formatting
  .github/workflows/ci.yml
Due: arch-guardrails

ci: skip autofix job on forked PRs
  .github/workflows/ci.yml
Due: arch-guardrails

ci: add autofix job and consolidate CI tokens under Ito CI GitHub App (#51)
  .github/workflows/ci.yml
  .github/workflows/release-plz.yml
  .github/workflows/v-release.yml
  docs/ci-app-setup.md
Due: markdownlint-cli2, arch-guardrails

feat(010-02): generate docs site from docstrings (#44)
  .github/workflows/ci.yml
  .gitignore
  .ito/changes/010-02_generate-docs-site-from-docstrings/.ito.yaml
  .ito/changes/010-02_generate-docs-site-from-docstrings/design.md
  .ito/changes/010-02_generate-docs-site-from-docstrings/proposal.md
  .ito/changes/010-02_generate-docs-site-from-docstrings/specs/docs-quick-start/spec.md
  .ito/changes/010-02_generate-docs-site-from-docstrings/specs/docs-site-generation/spec.md
  .ito/changes/010-02_generate-docs-site-from-docstrings/tasks.md
  .ito/modules/010_docs-server/module.md
  .ito/workflows/.state/change-allocations.json
  Makefile
  README.md
  docs-tools/mkdocs-rustdoc-plugin/README.md
  docs-tools/mkdocs-rustdoc-plugin/mkdocs_rustdoc_plugin/__init__.py
  docs-tools/mkdocs-rustdoc-plugin/mkdocs_rustdoc_plugin/plugin.py
  docs-tools/mkdocs-rustdoc-plugin/pyproject.toml
  docs/api/rustdoc.md
  docs/index.md
  docs/quickstart.md
  docs/requirements.txt
  mkdocs.yml
Due: markdownlint-cli2, arch-guardrails

Update ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/app/init.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Update ito-rs/crates/ito-core/src/harness/codex.rs
  ito-rs/crates/ito-core/src/harness/codex.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: replace Err(_) wildcard match arms with named bindings in streaming_cli.rs
  ito-rs/crates/ito-core/src/harness/streaming_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(002-14): add harness implementations for Claude Code, Codex, and GitHub Copilot
  .ito/changes/002-14_ralph-harnesses-claude-codex-copilot/tasks.md
  ito-rs/crates/ito-cli/src/commands/ralph.rs
  ito-rs/crates/ito-cli/tests/ralph_smoke.rs
  ito-rs/crates/ito-core/src/harness/claude_code.rs
  ito-rs/crates/ito-core/src/harness/codex.rs
  ito-rs/crates/ito-core/src/harness/github_copilot.rs
  ito-rs/crates/ito-core/src/harness/mod.rs
  ito-rs/crates/ito-core/src/harness/streaming_cli.rs
  ito-rs/crates/ito-core/src/harness/types.rs
  ito-rs/crates/ito-core/src/ralph/runner.rs
  ito-rs/crates/ito-core/tests/harness_opencode.rs
  ito-rs/crates/ito-core/tests/harness_stub.rs
  ito-rs/crates/ito-test-support/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(002-14): add Ralph harnesses proposal for Claude, Codex, and Copilot
  .ito/workflows/.state/change-allocations.json
Due: none

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
