Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: cargo
  language: system
  args:
  - fmt
  - --manifest-path
  - ito-rs/Cargo.toml
  - --all
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: cargo
  language: system
  args:
  - clippy
  - --manifest-path
  - ito-rs/Cargo.toml
  - --workspace
  - --all-targets
  - --
  - -D
  - warnings
  - -D
  - clippy::dbg_macro
  - -D
  - clippy::todo
  - -D
  - clippy::unimplemented
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

cargo-test:
  name: cargo test (ito-rs)
  entry: make
  language: system
  args:
  - test
  pass_filenames: false
  stages:
  - pre-push

check-max-lines:
  name: check max lines (ito-rs)
  entry: python3
  language: system
  args:
  - ito-rs/tools/check_max_lines.py
  - --soft-limit
  - '1000'
  - --hard-limit
  - '1200'
  - --root
  - ito-rs
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

add bare path as allowed
  opencode.jsonc
Due: none

use selfhosted for ci
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/copilot-setup-steps.yml
Due: arch-guardrails

try namespace
  .github/workflows/ci.yml
Due: arch-guardrails

docs(agents): require change id in PR titles
  AGENTS.md
Due: markdownlint-cli2

fix(coordination): address PR review security and safety feedback
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-cli/src/commands/tasks.rs
  ito-rs/crates/ito-cli/src/runtime.rs
  ito-rs/crates/ito-config/src/config/mod.rs
  ito-rs/crates/ito-core/src/config.rs
  ito-rs/crates/ito-core/src/git.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

refactor(coordination): address remaining PR nitpicks
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-config/src/config/mod.rs
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-core/src/git.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

set namespace runner to namespace-profile-linux-amd64-4c8gb for ci
  .github/workflows/ci.yml
Due: arch-guardrails

tuner runners
  .github/workflows/ci.yml
  .github/workflows/polish-release-notes.yml
  .github/workflows/v-release.yml
Due: arch-guardrails

bacon workflow
  .gitignore
  .ito/changes/005-10_integrate-bacon-workflow/tasks.md
  AGENTS.md
  Makefile
  README.md
  ito-rs/bacon.toml
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test, arch-guardrails

dist
  dist-workspace.toml
Due: none

allow-dirty
  dist-workspace.toml
Due: none

bacon workflow (#37)
  .gitignore
  .ito/changes/005-10_integrate-bacon-workflow/tasks.md
  AGENTS.md
  Makefile
  README.md
  dist-workspace.toml
  ito-rs/bacon.toml
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test, arch-guardrails

allow-dirty (#38)
  dist-workspace.toml
Due: none

chore: release v0.1.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  ito-rs/crates/ito-common/CHANGELOG.md
  ito-rs/crates/ito-config/CHANGELOG.md
  ito-rs/crates/ito-core/CHANGELOG.md
  ito-rs/crates/ito-domain/CHANGELOG.md
  ito-rs/crates/ito-logging/CHANGELOG.md
  ito-rs/crates/ito-templates/CHANGELOG.md
  ito-rs/crates/ito-web/CHANGELOG.md
Due: markdownlint-cli2

chore: release v0.1.3 (#36)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  ito-rs/crates/ito-common/CHANGELOG.md
  ito-rs/crates/ito-config/CHANGELOG.md
  ito-rs/crates/ito-core/CHANGELOG.md
  ito-rs/crates/ito-domain/CHANGELOG.md
  ito-rs/crates/ito-logging/CHANGELOG.md
  ito-rs/crates/ito-templates/CHANGELOG.md
  ito-rs/crates/ito-web/CHANGELOG.md
Due: markdownlint-cli2

chore(coordination): reserve 000-08_init-coordination-branch-setup
  .ito/changes/000-08_init-coordination-branch-setup/.ito.yaml
Due: none

chore(coordination): reserve 000-09_add-cli-aliases
  .ito/changes/000-09_add-cli-aliases/.ito.yaml
Due: none

feat(000-09): Add CLI aliases and short flags
  AGENTS.md
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/audit.rs
  ito-rs/crates/ito-cli/tests/aliases.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

Update cli.rs
  ito-rs/crates/ito-cli/src/cli.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

Update audit.rs
  ito-rs/crates/ito-cli/src/commands/audit.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

feat(000-09): add CLI aliases and short flags (#39)
  AGENTS.md
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/audit.rs
  ito-rs/crates/ito-cli/tests/aliases.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

000-09_add-cli-aliases
  .git.bak
  .ito/changes/000-08_init-coordination-branch-setup/.ito.yaml
  .ito/changes/000-08_init-coordination-branch-setup/proposal.md
  .ito/changes/000-08_init-coordination-branch-setup/specs/change-coordination-branch/spec.md
  .ito/changes/000-08_init-coordination-branch-setup/specs/cli-init/spec.md
  .ito/changes/000-08_init-coordination-branch-setup/tasks.md
  .ito/changes/000-09_add-cli-aliases/.ito.yaml
  .ito/changes/000-09_add-cli-aliases/design.md
  .ito/changes/000-09_add-cli-aliases/proposal.md
  .ito/changes/000-09_add-cli-aliases/specs/cli-aliases/spec.md
  .ito/changes/000-09_add-cli-aliases/tasks.md
  assets/ito_logo_ascii.txt
  docs/config.md
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_agent_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_agent_instruction_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_create_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_init_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_ralph_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_tasks_help.snap
  ito-rs/crates/ito-cli/tests/support/mod.rs
  ito-rs/crates/ito-core/src/errors.rs
  ito-rs/crates/ito-core/src/git.rs
  ito-rs/crates/ito-templates/assets/commands/ito-proposal.md
  ito-rs/crates/ito-test-support/src/lib.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

000-09_add-cli-aliases
  ito-rs/crates/ito-cli/tests/aliases.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

000-09_add-cli-aliases
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_tasks_help.snap
Due: none

000-09_add-cli-aliases
  .pre-commit-config.yaml
  Makefile
Due: arch-guardrails

fix: stabilize prek hook flow and improve rust bootstrap
  Makefile
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-test-support/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

chore(coordination): reserve 010-02_generate-docs-site-from-docstrings
  .ito/changes/010-02_generate-docs-site-from-docstrings/.ito.yaml
Due: none

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test: any of: ^ito-rs/.*\.(rs|toml)$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
