Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

fix(ci): restore shell invocation and doctest examples (#71)
  ito-rs/crates/ito-config/src/ito_dir/mod.rs
  ito-rs/crates/ito-core/src/process.rs
  ito-rs/crates/ito-core/src/ralph/validation.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(019-01): address PR review feedback
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/cli/ralph.rs
  ito-rs/crates/ito-cli/src/cli/split.rs
  ito-rs/crates/ito-cli/src/cli/validate.rs
  ito-rs/crates/ito-cli/src/commands/path.rs
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/crates/ito-cli/tests/path_more.rs
  ito-rs/crates/ito-cli/tests/support/mod.rs
  ito-rs/crates/ito-config/src/ito_dir/mod.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/process.rs
  ito-rs/crates/ito-core/src/ralph/runner.rs
  ito-rs/crates/ito-core/src/ralph/runner/tests.rs
  ito-rs/crates/ito-core/src/ralph/validation.rs
  ito-rs/crates/ito-core/src/repo_paths.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/worktrees.md.j2
  ito-rs/crates/ito-templates/tests/worktree_template_rendering.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(019-01): fix doctest for private helper
  ito-rs/crates/ito-core/src/ralph/validation.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

archive changes
  .ito/changes/archive/2026-02-16-002-09_add-ralph-interactive-mode/.ito.yaml
  .ito/changes/archive/2026-02-16-002-09_add-ralph-interactive-mode/design.md
  .ito/changes/archive/2026-02-16-002-09_add-ralph-interactive-mode/proposal.md
  .ito/changes/archive/2026-02-16-002-09_add-ralph-interactive-mode/specs/cli-ralph/spec.md
  .ito/changes/archive/2026-02-16-002-09_add-ralph-interactive-mode/tasks.md
  .ito/changes/archive/2026-02-16-019-01_absolute-paths-in-output/.ito.yaml
  .ito/changes/archive/2026-02-16-019-01_absolute-paths-in-output/proposal.md
  .ito/changes/archive/2026-02-16-019-01_absolute-paths-in-output/specs/absolute-path-output/spec.md
  .ito/changes/archive/2026-02-16-019-01_absolute-paths-in-output/specs/worktree-aware-template-rendering/spec.md
  .ito/changes/archive/2026-02-16-019-01_absolute-paths-in-output/tasks.md
  .ito/modules/002_ralph-loop/module.md
  .ito/modules/019_templates/module.md
  .ito/specs/absolute-path-output/spec.md
  .ito/specs/cli-ralph/spec.md
  .ito/specs/worktree-aware-template-rendering/spec.md
  Cargo.lock
  Cargo.toml
Due: none

wtf
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  ito-rs/crates/ito-cli/build.rs
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/tools/check_cargo_no_local_version.py
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

add back README
  README.md
Due: markdownlint-cli2

Dev (#73)
  .ito/changes/archive/2026-02-16-002-09_add-ralph-interactive-mode/.ito.yaml
  .ito/changes/archive/2026-02-16-002-09_add-ralph-interactive-mode/design.md
  .ito/changes/archive/2026-02-16-002-09_add-ralph-interactive-mode/proposal.md
  .ito/changes/archive/2026-02-16-002-09_add-ralph-interactive-mode/specs/cli-ralph/spec.md
  .ito/changes/archive/2026-02-16-002-09_add-ralph-interactive-mode/tasks.md
  .ito/changes/archive/2026-02-16-019-01_absolute-paths-in-output/.ito.yaml
  .ito/changes/archive/2026-02-16-019-01_absolute-paths-in-output/proposal.md
  .ito/changes/archive/2026-02-16-019-01_absolute-paths-in-output/specs/absolute-path-output/spec.md
  .ito/changes/archive/2026-02-16-019-01_absolute-paths-in-output/specs/worktree-aware-template-rendering/spec.md
  .ito/changes/archive/2026-02-16-019-01_absolute-paths-in-output/tasks.md
  .ito/modules/002_ralph-loop/module.md
  .ito/modules/019_templates/module.md
  .ito/specs/absolute-path-output/spec.md
  .ito/specs/cli-ralph/spec.md
  .ito/specs/worktree-aware-template-rendering/spec.md
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  ito-rs/crates/ito-cli/build.rs
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/tools/check_cargo_no_local_version.py
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(coordination): reserve 022-01_separate-tests-into-foo-tests
  .ito/changes/022-01_separate-tests-into-foo-tests/.ito.yaml
Due: none

test(003-02): raise ito-core/ito-cli coverage to 80%
  .ito/changes/003-02_crate-code-quality-audit/tasks.md
  ito-rs/crates/ito-cli/src/app/worktree_wizard.rs
  ito-rs/crates/ito-cli/src/app/worktree_wizard/worktree_wizard_tests.rs
  ito-rs/crates/ito-cli/src/cli/ralph.rs
  ito-rs/crates/ito-cli/src/cli/ralph/ralph_tests.rs
  ito-rs/crates/ito-cli/src/commands/config.rs
  ito-rs/crates/ito-cli/src/commands/config/config_tests.rs
  ito-rs/crates/ito-cli/src/commands/serve.rs
  ito-rs/crates/ito-cli/src/commands/serve/serve_tests.rs
  ito-rs/crates/ito-cli/tests/audit_more.rs
  ito-rs/crates/ito-cli/tests/config_more.rs
  ito-rs/crates/ito-cli/tests/create_more.rs
  ito-rs/crates/ito-cli/tests/new_more.rs
  ito-rs/crates/ito-cli/tests/path_more.rs
  ito-rs/crates/ito-cli/tests/plan_state_more.rs
  ito-rs/crates/ito-cli/tests/serve_more.rs
  ito-rs/crates/ito-core/src/create/mod.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-core/tests/archive.rs
  ito-rs/crates/ito-core/tests/create.rs
  ito-rs/crates/ito-core/tests/repo_paths.rs
  ito-rs/crates/ito-core/tests/stats.rs
  ito-rs/crates/ito-core/tests/tasks_api.rs
  ito-rs/crates/ito-core/tests/tasks_checkbox_format.rs
  ito-rs/crates/ito-core/tests/templates_apply_instructions.rs
  ito-rs/crates/ito-core/tests/templates_change_status.rs
  ito-rs/crates/ito-test-support/src/lib.rs
  ito-rs/crates/ito-test-support/src/pty/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

test(003-02): harden repo_paths git subprocess
  ito-rs/crates/ito-core/tests/repo_paths.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

test(003-02): address review comments
  ito-rs/crates/ito-cli/src/commands/serve.rs
  ito-rs/crates/ito-cli/src/commands/serve/serve_tests.rs
  ito-rs/crates/ito-cli/tests/audit_more.rs
  ito-rs/crates/ito-cli/tests/plan_state_more.rs
  ito-rs/crates/ito-core/tests/stats.rs
  ito-rs/crates/ito-core/tests/templates_change_status.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

test(003-02): raise crate coverage to 80% (#75)
  .ito/changes/003-02_crate-code-quality-audit/tasks.md
  ito-rs/crates/ito-cli/src/app/worktree_wizard.rs
  ito-rs/crates/ito-cli/src/app/worktree_wizard/worktree_wizard_tests.rs
  ito-rs/crates/ito-cli/src/cli/ralph.rs
  ito-rs/crates/ito-cli/src/cli/ralph/ralph_tests.rs
  ito-rs/crates/ito-cli/src/commands/config.rs
  ito-rs/crates/ito-cli/src/commands/config/config_tests.rs
  ito-rs/crates/ito-cli/src/commands/serve.rs
  ito-rs/crates/ito-cli/src/commands/serve/serve_tests.rs
  ito-rs/crates/ito-cli/tests/audit_more.rs
  ito-rs/crates/ito-cli/tests/config_more.rs
  ito-rs/crates/ito-cli/tests/create_more.rs
  ito-rs/crates/ito-cli/tests/new_more.rs
  ito-rs/crates/ito-cli/tests/path_more.rs
  ito-rs/crates/ito-cli/tests/plan_state_more.rs
  ito-rs/crates/ito-cli/tests/serve_more.rs
  ito-rs/crates/ito-core/src/create/mod.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-core/tests/archive.rs
  ito-rs/crates/ito-core/tests/create.rs
  ito-rs/crates/ito-core/tests/repo_paths.rs
  ito-rs/crates/ito-core/tests/stats.rs
  ito-rs/crates/ito-core/tests/tasks_api.rs
  ito-rs/crates/ito-core/tests/tasks_checkbox_format.rs
  ito-rs/crates/ito-core/tests/templates_apply_instructions.rs
  ito-rs/crates/ito-core/tests/templates_change_status.rs
  ito-rs/crates/ito-test-support/src/lib.rs
  ito-rs/crates/ito-test-support/src/pty/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(003-02): archive crate code quality audit
  .ito/changes/archive/2026-02-17-003-02_crate-code-quality-audit/.ito.yaml
  .ito/changes/archive/2026-02-17-003-02_crate-code-quality-audit/design.md
  .ito/changes/archive/2026-02-17-003-02_crate-code-quality-audit/proposal.md
  .ito/changes/archive/2026-02-17-003-02_crate-code-quality-audit/specs/repo-precommit-quality-gates/spec.md
  .ito/changes/archive/2026-02-17-003-02_crate-code-quality-audit/tasks.md
  .ito/modules/003_qa-testing/module.md
  .ito/specs/repo-precommit-quality-gates/spec.md
Due: none

chore(hooks): move checks to pre-push
  .pre-commit-config.yaml
  Makefile
  ito-rs/tools/hooks/pre-commit
Due: arch-guardrails

fix(tasks): support explicit ids in checkbox tasks
  ito-rs/crates/ito-cli/tests/tasks_more.rs
  ito-rs/crates/ito-core/src/tasks.rs
  ito-rs/crates/ito-core/tests/tasks_checkbox_format.rs
  ito-rs/crates/ito-domain/src/tasks/parse.rs
  ito-rs/crates/ito-domain/src/tasks/update.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(create): reuse parsed module id for existing modules
  ito-rs/crates/ito-core/src/create/mod.rs
  ito-rs/crates/ito-core/tests/create.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

test(tasks): add core tasks API coverage
  ito-rs/crates/ito-core/tests/tasks_api.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(serve): require .ito to be a directory
  ito-rs/crates/ito-cli/src/commands/serve.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

test(templates): cover apply instructions and change status
  ito-rs/crates/ito-core/tests/templates_apply_instructions.rs
  ito-rs/crates/ito-core/tests/templates_change_status.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs(022-01): add rust test file convention change
  .ito/changes/022-01_separate-tests-into-foo-tests/.ito.yaml
  .ito/changes/022-01_separate-tests-into-foo-tests/proposal.md
  .ito/changes/022-01_separate-tests-into-foo-tests/specs/rust-test-file-conventions/spec.md
  .ito/changes/022-01_separate-tests-into-foo-tests/tasks.md
  .ito/modules/022_test-support/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

style(test): rustfmt merged tests
  ito-rs/crates/ito-core/tests/tasks_api.rs
  ito-rs/crates/ito-core/tests/tasks_checkbox_format.rs
  ito-rs/crates/ito-core/tests/templates_change_status.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

refactor(tasks): dedupe checkbox helpers
  ito-rs/crates/ito-core/src/tasks.rs
  ito-rs/crates/ito-domain/src/tasks/checkbox.rs
  ito-rs/crates/ito-domain/src/tasks/mod.rs
  ito-rs/crates/ito-domain/src/tasks/parse.rs
  ito-rs/crates/ito-domain/src/tasks/update.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: improve tasks handling and move checks to pre-push (#77)
  .ito/changes/022-01_separate-tests-into-foo-tests/.ito.yaml
  .ito/changes/022-01_separate-tests-into-foo-tests/proposal.md
  .ito/changes/022-01_separate-tests-into-foo-tests/specs/rust-test-file-conventions/spec.md
  .ito/changes/022-01_separate-tests-into-foo-tests/tasks.md
  .ito/modules/022_test-support/module.md
  .ito/workflows/.state/change-allocations.json
  .pre-commit-config.yaml
  Makefile
  ito-rs/crates/ito-cli/tests/tasks_more.rs
  ito-rs/crates/ito-core/src/tasks.rs
  ito-rs/crates/ito-core/tests/tasks_checkbox_format.rs
  ito-rs/crates/ito-domain/src/tasks/checkbox.rs
  ito-rs/crates/ito-domain/src/tasks/mod.rs
  ito-rs/crates/ito-domain/src/tasks/parse.rs
  ito-rs/crates/ito-domain/src/tasks/update.rs
  ito-rs/tools/hooks/pre-commit
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs(009-02): update audit log spec with task structure validation requirements
  .ito/changes/001-18_agent-instruction-peer-review/tasks.md
  .ito/changes/009-02_event-sourced-audit-log/specs/cli-tasks/spec.md
  .ito/changes/009-02_event-sourced-audit-log/tasks.md
Due: none

feat(ito-domain): enhance task parsing for wave titles and 'all prior tasks' shorthand
  ito-rs/crates/ito-domain/src/tasks/parse.rs
  ito-rs/crates/ito-domain/tests/tasks_parsing.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

perf(ito-domain): cache tasks parser regexes
  ito-rs/crates/ito-domain/src/tasks/parse.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(009-02): accept wave titles and 'All prior tasks' (#79)
  .ito/changes/001-18_agent-instruction-peer-review/tasks.md
  .ito/changes/009-02_event-sourced-audit-log/specs/cli-tasks/spec.md
  .ito/changes/009-02_event-sourced-audit-log/tasks.md
  ito-rs/crates/ito-domain/src/tasks/parse.rs
  ito-rs/crates/ito-domain/tests/tasks_parsing.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Update ito-rs/crates/ito-core/src/tasks.rs
  ito-rs/crates/ito-core/src/tasks.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Update ito-rs/crates/ito-domain/src/tasks/checkbox.rs
  ito-rs/crates/ito-domain/src/tasks/checkbox.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
