Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            feat,
            fix,
            docs,
            style,
            refactor,
            perf,
            test,
            build,
            ci,
            chore,
            revert,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.20.0]
        args: [--config, .markdownlint-cli2.yaml]
        files: \.md$
        exclude: ^\.ito/

      - id: cargo-fmt
        name: cargo fmt (ito-rs)
        entry: make
        language: system
        args: [fmt]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-clippy
        name: cargo clippy (ito-rs)
        entry: make
        language: system
        args: [clippy]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-test-coverage
        name: cargo test with coverage (ito-rs)
        entry: make
        language: system
        args: [test-coverage]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-push]

      - id: cargo-test-affected
        name: cargo test affected (ito-rs)
        entry: make
        language: system
        args: [test-affected]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-commit]

      - id: check-max-lines
        name: check max lines (ito-rs)
        entry: make
        language: system
        args: [check-max-lines]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$

      - id: arch-guardrails
        name: architecture guardrails
        entry: make
        language: system
        args: [arch-guardrails]
        pass_filenames: false
        files: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$

      - id: cargo-deny
        name: cargo deny (license/advisory checks)
        entry: make
        language: system
        args: [cargo-deny]
        pass_filenames: false
        files: ^ito-rs/.*\.(toml|lock)$

style(025): format sqlite backend support modules
  ito-rs/crates/ito-core/src/sqlite_project_store_backend.rs
  ito-rs/crates/ito-core/src/sqlite_project_store_mutations.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(025): address repository backend review feedback
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-cli/tests/show_specs_remote_mode.rs
  ito-rs/crates/ito-core/src/archive.rs
  ito-rs/crates/ito-core/src/backend_coordination.rs
  ito-rs/crates/ito-core/src/backend_http.rs
  ito-rs/crates/ito-core/src/backend_http/backend_http_tests.rs
  ito-rs/crates/ito-core/src/fs_project_store.rs
  ito-rs/crates/ito-core/src/sqlite_project_store.rs
  ito-rs/crates/ito-core/src/sqlite_project_store_backend.rs
  ito-rs/crates/ito-core/src/sqlite_project_store_mutations.rs
  ito-rs/crates/ito-core/tests/archive.rs
  ito-rs/crates/ito-core/tests/backend_archive.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style(025): fix sqlite backend clippy borrow
  ito-rs/crates/ito-core/src/sqlite_project_store_backend.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

refactor(025): split sqlite repository adapters
  ito-rs/crates/ito-core/src/sqlite_project_store.rs
  ito-rs/crates/ito-core/src/sqlite_project_store_repositories.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(025): tighten archive preflight and task payload forwarding
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-backend/tests/task_mutations.rs
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-core/src/backend_http.rs
  ito-rs/crates/ito-core/src/backend_http/backend_http_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style(025): format task payload request handlers
  ito-rs/crates/ito-backend/src/api.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(025): tighten backend task fallback and spec parsing
  ito-rs/crates/ito-core/src/backend_http.rs
  ito-rs/crates/ito-core/src/backend_http/backend_http_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style(025): format backend http regression tests
  ito-rs/crates/ito-core/src/backend_http/backend_http_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

refactor(025): clean up backend http adapters
  ito-rs/crates/ito-core/src/backend_http.rs
  ito-rs/crates/ito-core/src/backend_http/backend_http_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

update agetsn
  .ito/config.json
  .ito/workflows/.state/change-allocations.json
  .opencode/agent/ito-general.md
  .opencode/agent/ito-quick.md
  .opencode/agent/ito-thinking.md
  .opencode/agent/test-runner.md
  .opencode/agents/code-simplifier.md
  .opencode/agents/documentation-police.md
  .opencode/agents/ito-general.md
  .opencode/agents/ito-quick.md
  .opencode/agents/ito-thinking.md
  ito-rs/crates/ito-templates/src/agents.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

lint
  .ito/config.json
  ito-rs/crates/ito-cli/src/commands/backend.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: keep local main quality checks green
  ito-rs/crates/ito-cli/src/commands/backend.rs
  ito-rs/tools/check_cargo_no_local_version.py
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: validate explicit serve-api config files
  Cargo.lock
  Cargo.toml
  ito-rs/crates/ito-cli/Cargo.toml
  ito-rs/crates/ito-cli/src/commands/serve_api.rs
  ito-rs/crates/ito-cli/tests/serve_api_service.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

style: format serve-api config validation
  ito-rs/crates/ito-cli/src/commands/serve_api.rs
  ito-rs/crates/ito-cli/tests/serve_api_service.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: address serve-api config review feedback
  .ito/config.json
  .opencode/agent/ito-general.md
  .opencode/agent/ito-quick.md
  .opencode/agent/ito-thinking.md
  .opencode/agent/test-runner.md
  .opencode/agents/code-simplifier.md
  .opencode/agents/documentation-police.md
  ito-rs/crates/ito-cli/src/commands/serve_api.rs
  ito-rs/crates/ito-cli/src/commands/serve_api/serve_api_tests.rs
  ito-rs/crates/ito-templates/src/agents.rs
  ito-rs/tools/check_cargo_no_local_version.py
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style: format serve-api review fixes
  ito-rs/crates/ito-cli/src/commands/serve_api.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: validate explicit serve-api config files (#162)
  Cargo.lock
  Cargo.toml
  ito-rs/crates/ito-cli/Cargo.toml
  ito-rs/crates/ito-cli/src/commands/serve_api.rs
  ito-rs/crates/ito-cli/src/commands/serve_api/serve_api_tests.rs
  ito-rs/crates/ito-cli/tests/serve_api_service.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

docs(024): add backend import and serve proposals
  .ito/changes/024-18_import-local-state-to-backend/.ito.yaml
  .ito/changes/024-18_import-local-state-to-backend/design.md
  .ito/changes/024-18_import-local-state-to-backend/proposal.md
  .ito/changes/024-18_import-local-state-to-backend/specs/backend-change-sync/spec.md
  .ito/changes/024-18_import-local-state-to-backend/specs/backend-import/spec.md
  .ito/changes/024-18_import-local-state-to-backend/specs/change-repository/spec.md
  .ito/changes/024-18_import-local-state-to-backend/tasks.md
  .ito/changes/024-19_move-serve-api-under-backend/.ito.yaml
  .ito/changes/024-19_move-serve-api-under-backend/design.md
  .ito/changes/024-19_move-serve-api-under-backend/proposal.md
  .ito/changes/024-19_move-serve-api-under-backend/specs/backend-agent-instructions/spec.md
  .ito/changes/024-19_move-serve-api-under-backend/specs/backend-server-cli/spec.md
  .ito/changes/024-19_move-serve-api-under-backend/tasks.md
  .ito/modules/024_ito-backend/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

style(024): normalize proposal allocation state
  .ito/workflows/.state/change-allocations.json
Due: none

docs(024): propose backend import and serve command changes (#163)
  .ito/changes/024-18_import-local-state-to-backend/.ito.yaml
  .ito/changes/024-18_import-local-state-to-backend/design.md
  .ito/changes/024-18_import-local-state-to-backend/proposal.md
  .ito/changes/024-18_import-local-state-to-backend/specs/backend-change-sync/spec.md
  .ito/changes/024-18_import-local-state-to-backend/specs/backend-import/spec.md
  .ito/changes/024-18_import-local-state-to-backend/specs/change-repository/spec.md
  .ito/changes/024-18_import-local-state-to-backend/tasks.md
  .ito/changes/024-19_move-serve-api-under-backend/.ito.yaml
  .ito/changes/024-19_move-serve-api-under-backend/design.md
  .ito/changes/024-19_move-serve-api-under-backend/proposal.md
  .ito/changes/024-19_move-serve-api-under-backend/specs/backend-agent-instructions/spec.md
  .ito/changes/024-19_move-serve-api-under-backend/specs/backend-server-cli/spec.md
  .ito/changes/024-19_move-serve-api-under-backend/tasks.md
  .ito/config.json
  .ito/modules/024_ito-backend/module.md
  .ito/workflows/.state/change-allocations.json
  .opencode/agent/ito-general.md
  .opencode/agent/ito-quick.md
  .opencode/agent/ito-thinking.md
  .opencode/agent/test-runner.md
  .opencode/agents/code-simplifier.md
  .opencode/agents/documentation-police.md
  .opencode/agents/ito-general.md
  .opencode/agents/ito-quick.md
  .opencode/agents/ito-thinking.md
  ito-rs/crates/ito-templates/src/agents.rs
  ito-rs/tools/check_cargo_no_local_version.py
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(024-18): add direct backend import workflow
  .ito/changes/024-18_import-local-state-to-backend/tasks.md
  ito-rs/crates/ito-cli/src/cli/backend.rs
  ito-rs/crates/ito-cli/src/commands/backend.rs
  ito-rs/crates/ito-cli/tests/backend_import.rs
  ito-rs/crates/ito-core/src/backend_import.rs
  ito-rs/crates/ito-core/src/backend_sync.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/tests/import.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Fix Homebrew publish step for current cargo-dist formula output (#165)
  .github/workflows/v-release.yml
  RELEASE.md
Due: markdownlint-cli2

fix(024-18): tighten import planning and config loading
  ito-rs/crates/ito-cli/src/commands/backend.rs
  ito-rs/crates/ito-core/src/backend_import.rs
  ito-rs/crates/ito-core/tests/import.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(024-18): address import review feedback
  ito-rs/crates/ito-cli/src/commands/backend.rs
  ito-rs/crates/ito-cli/tests/backend_import.rs
  ito-rs/crates/ito-core/src/backend_import.rs
  ito-rs/crates/ito-core/tests/import.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(024-18): ignore stray archive directories during import
  ito-rs/crates/ito-core/src/backend_import.rs
  ito-rs/crates/ito-core/tests/import.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(024-18): add direct backend import workflow (#168)
  .ito/changes/024-18_import-local-state-to-backend/tasks.md
  ito-rs/crates/ito-cli/src/cli/backend.rs
  ito-rs/crates/ito-cli/src/commands/backend.rs
  ito-rs/crates/ito-cli/tests/backend_import.rs
  ito-rs/crates/ito-core/src/backend_import.rs
  ito-rs/crates/ito-core/src/backend_sync.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/tests/import.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(024-19): move backend server under backend command
  .github/workflows/v-release.yml
  .ito/changes/024-19_move-serve-api-under-backend/tasks.md
  AGENTS.md
  Dockerfile.backend
  README.md
  demos/backend-shared-state/demo.md
  docs/backend-client-mode.md
  infra/docker/Dockerfile
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/cli/backend.rs
  ito-rs/crates/ito-cli/src/commands/backend.rs
  ito-rs/crates/ito-cli/src/commands/serve_api.rs
  ito-rs/crates/ito-cli/tests/backend_serve.rs
  ito-rs/crates/ito-cli/tests/backend_status_more.rs
  ito-rs/crates/ito-cli/tests/cli_smoke.rs
  ito-rs/crates/ito-cli/tests/cli_snapshots.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_backend_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_backend_serve_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-templates/assets/instructions/agent/backend.md.j2
  qa/backend/README.md
  qa/backend/test-backend-walkthrough.sh
  services/com.withakay.ito.backend.plist
  services/ito-backend.service
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

refactor(024-19): simplify backend serve migration path
  README.md
  docs/backend-client-mode.md
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/cli/backend.rs
  ito-rs/crates/ito-cli/src/commands/backend.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/src/commands/serve_api.rs
  ito-rs/crates/ito-cli/src/commands/serve_api/serve_api_tests.rs
  ito-rs/crates/ito-cli/tests/backend_serve.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_backend_serve_help.snap
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(024-19): move backend server under backend command (#169)
  .github/workflows/v-release.yml
  .ito/changes/024-19_move-serve-api-under-backend/tasks.md
  AGENTS.md
  Dockerfile.backend
  README.md
  demos/backend-shared-state/demo.md
  docs/backend-client-mode.md
  infra/docker/Dockerfile
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/cli/backend.rs
  ito-rs/crates/ito-cli/src/commands/backend.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/src/commands/serve_api.rs
  ito-rs/crates/ito-cli/src/commands/serve_api/serve_api_tests.rs
  ito-rs/crates/ito-cli/tests/backend_serve.rs
  ito-rs/crates/ito-cli/tests/backend_status_more.rs
  ito-rs/crates/ito-cli/tests/cli_smoke.rs
  ito-rs/crates/ito-cli/tests/cli_snapshots.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_backend_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_backend_serve_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-templates/assets/instructions/agent/backend.md.j2
  qa/backend/README.md
  qa/backend/test-backend-walkthrough.sh
  services/com.withakay.ito.backend.plist
  services/ito-backend.service
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(009-03): route audit storage off work branches
  .gitignore
  .ito/changes/009-03_move-audit-storage-off-work-branches/.ito.yaml
  .ito/changes/009-03_move-audit-storage-off-work-branches/design.md
  .ito/changes/009-03_move-audit-storage-off-work-branches/proposal.md
  .ito/changes/009-03_move-audit-storage-off-work-branches/specs/audit-remote-mirroring/spec.md
  .ito/changes/009-03_move-audit-storage-off-work-branches/specs/audit-storage-routing/spec.md
  .ito/changes/009-03_move-audit-storage-off-work-branches/specs/backend-event-ingest/spec.md
  .ito/changes/009-03_move-audit-storage-off-work-branches/specs/execution-logs/spec.md
  .ito/changes/009-03_move-audit-storage-off-work-branches/tasks.md
  .ito/modules/009_logging-telemetry/module.md
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-backend/tests/event_ingest.rs
  ito-rs/crates/ito-cli/src/app/validate.rs
  ito-rs/crates/ito-cli/src/commands/audit.rs
  ito-rs/crates/ito-cli/src/runtime.rs
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/crates/ito-cli/tests/audit_more.rs
  ito-rs/crates/ito-cli/tests/audit_remote_mode.rs
  ito-rs/crates/ito-cli/tests/coverage_smoke.rs
  ito-rs/crates/ito-cli/tests/validate_more.rs
  ito-rs/crates/ito-core/src/audit/mirror.rs
  ito-rs/crates/ito-core/src/audit/mod.rs
  ito-rs/crates/ito-core/src/audit/reader.rs
  ito-rs/crates/ito-core/src/audit/reconcile.rs
  ito-rs/crates/ito-core/src/audit/store.rs
  ito-rs/crates/ito-core/src/audit/stream.rs
  ito-rs/crates/ito-core/src/audit/worktree.rs
  ito-rs/crates/ito-core/src/audit/writer.rs
  ito-rs/crates/ito-core/src/backend_http.rs
  ito-rs/crates/ito-core/src/event_forwarder.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-core/tests/audit_mirror.rs
  ito-rs/crates/ito-core/tests/audit_storage.rs
  qa/backend/README.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails
