Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

fix: address PR review feedback
  ito-rs/crates/ito-cli/tests/support/mod.rs
  ito-rs/crates/ito-core/src/errors.rs
  ito-rs/crates/ito-core/src/harness/claude_code.rs
  ito-rs/crates/ito-core/src/harness/codex.rs
  ito-rs/crates/ito-core/src/harness/github_copilot.rs
  ito-rs/crates/ito-core/src/harness/streaming_cli.rs
  ito-rs/crates/ito-test-support/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style: fix import ordering in streaming_cli.rs
  ito-rs/crates/ito-core/src/harness/streaming_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: address round-2 PR review feedback
  ito-rs/crates/ito-core/src/errors.rs
  ito-rs/crates/ito-test-support/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: replace Err(_) wildcard match arms with named bindings in streaming_cli.rs
  ito-rs/crates/ito-core/src/harness/streaming_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: add missing imports and ignore markers to doctests in errors.rs and git.rs
  ito-rs/crates/ito-core/src/errors.rs
  ito-rs/crates/ito-core/src/git.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: handle incomplete UTF-8 sequences at chunk boundaries in stream_pipe
  ito-rs/crates/ito-core/src/harness/streaming_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: remove empty lines between doc comment lines
  ito-rs/crates/ito-core/src/harness/claude_code.rs
  ito-rs/crates/ito-core/src/harness/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

refactor: address PR review nitpicks
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/commands/ralph.rs
  ito-rs/crates/ito-cli/tests/aliases.rs
  ito-rs/crates/ito-cli/tests/cli_snapshots.rs
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/ralph_smoke.rs
  ito-rs/crates/ito-cli/tests/support/mod.rs
  ito-rs/crates/ito-core/src/errors.rs
  ito-rs/crates/ito-core/src/git.rs
  ito-rs/crates/ito-core/src/harness/claude_code.rs
  ito-rs/crates/ito-core/src/harness/codex.rs
  ito-rs/crates/ito-core/src/harness/github_copilot.rs
  ito-rs/crates/ito-core/src/harness/opencode.rs
  ito-rs/crates/ito-core/src/harness/streaming_cli.rs
  ito-rs/crates/ito-core/src/harness/types.rs
  ito-rs/crates/ito-core/src/ralph/runner.rs
  ito-rs/crates/ito-core/tests/harness_opencode.rs
  ito-rs/crates/ito-core/tests/harness_stub.rs
  ito-rs/crates/ito-test-support/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style: fix trailing whitespace, missing EOF newline, and fmt in files from main
  .gitignore
  docs-tools/mkdocs-rustdoc-plugin/mkdocs_rustdoc_plugin/plugin.py
  ito-rs/crates/ito-cli/src/app/init.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: mark inaccessible doctests as ignore and fix imports
  ito-rs/crates/ito-core/src/errors.rs
  ito-rs/crates/ito-core/src/git.rs
  ito-rs/crates/ito-core/src/harness/claude_code.rs
  ito-rs/crates/ito-core/src/harness/codex.rs
  ito-rs/crates/ito-core/src/harness/github_copilot.rs
  ito-rs/crates/ito-core/src/harness/opencode.rs
  ito-rs/crates/ito-core/src/harness/streaming_cli.rs
  ito-rs/crates/ito-core/src/harness/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: mark ito-test-support private function doctests as ignore
  ito-rs/crates/ito-test-support/src/lib.rs
  ito-rs/crates/ito-test-support/src/pty/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

ci: fix required-checks-pr docs dependency
  .github/workflows/ci.yml
Due: arch-guardrails

feat(002-14): add Ralph harnesses for Claude Code, Codex, and GitHub Copilot (#48)
  .github/workflows/ci.yml
  .gitignore
  .ito/changes/000-10_cli-type-safe-args/.ito.yaml
  .ito/changes/000-10_cli-type-safe-args/proposal.md
  .ito/changes/000-10_cli-type-safe-args/specs/cli-bridge-types/spec.md
  .ito/changes/000-10_cli-type-safe-args/specs/cli-ralph/spec.md
  .ito/changes/000-10_cli-type-safe-args/tasks.md
  .ito/changes/002-14_ralph-harnesses-claude-codex-copilot/tasks.md
  .ito/modules/000_ungrouped/module.md
  .ito/workflows/.state/change-allocations.json
  docs-tools/mkdocs-rustdoc-plugin/mkdocs_rustdoc_plugin/plugin.py
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/ralph.rs
  ito-rs/crates/ito-cli/tests/aliases.rs
  ito-rs/crates/ito-cli/tests/cli_snapshots.rs
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/ralph_smoke.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_ralph_help.snap
  ito-rs/crates/ito-cli/tests/support/mod.rs
  ito-rs/crates/ito-core/src/errors.rs
  ito-rs/crates/ito-core/src/git.rs
  ito-rs/crates/ito-core/src/harness/claude_code.rs
  ito-rs/crates/ito-core/src/harness/codex.rs
  ito-rs/crates/ito-core/src/harness/github_copilot.rs
  ito-rs/crates/ito-core/src/harness/mod.rs
  ito-rs/crates/ito-core/src/harness/opencode.rs
  ito-rs/crates/ito-core/src/harness/streaming_cli.rs
  ito-rs/crates/ito-core/src/harness/types.rs
  ito-rs/crates/ito-core/src/ralph/runner.rs
  ito-rs/crates/ito-core/tests/harness_opencode.rs
  ito-rs/crates/ito-core/tests/harness_stub.rs
  ito-rs/crates/ito-test-support/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(000-09): stabilize pre-push behavior and bootstrap tooling (#43)
  .ito/changes/000-08_init-coordination-branch-setup/.ito.yaml
  .ito/changes/000-08_init-coordination-branch-setup/proposal.md
  .ito/changes/000-08_init-coordination-branch-setup/specs/change-coordination-branch/spec.md
  .ito/changes/000-08_init-coordination-branch-setup/specs/cli-init/spec.md
  .ito/changes/000-08_init-coordination-branch-setup/tasks.md
  .ito/changes/000-09_add-cli-aliases/.ito.yaml
  .ito/changes/000-09_add-cli-aliases/design.md
  .ito/changes/000-09_add-cli-aliases/proposal.md
  .ito/changes/000-09_add-cli-aliases/specs/cli-aliases/spec.md
  .ito/changes/000-09_add-cli-aliases/tasks.md
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

archived
  .ito/changes/000-08_init-coordination-branch-setup/.ito.yaml
  .ito/changes/000-08_init-coordination-branch-setup/proposal.md
  .ito/changes/000-08_init-coordination-branch-setup/specs/change-coordination-branch/spec.md
  .ito/changes/000-08_init-coordination-branch-setup/specs/cli-init/spec.md
  .ito/changes/000-08_init-coordination-branch-setup/tasks.md
  .ito/changes/000-09_add-cli-aliases/.ito.yaml
  .ito/changes/000-09_add-cli-aliases/design.md
  .ito/changes/000-09_add-cli-aliases/proposal.md
  .ito/changes/000-09_add-cli-aliases/specs/cli-aliases/spec.md
  .ito/changes/000-09_add-cli-aliases/tasks.md
Due: none

docs(ito-commit): add pre-commit safety guidance for agents
  .claude/skills/ito-commit/SKILL.md
  .codex/skills/ito-commit/SKILL.md
  .github/skills/ito-commit/SKILL.md
  .opencode/skills/ito-commit/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-commit/SKILL.md
Due: markdownlint-cli2

feat: implement advisory pre-commit lock to prevent stash races
  Makefile
  ito-rs/AGENTS.md
  ito-rs/tools/hooks/pre-commit
  ito-rs/tools/precommit-lock.sh
Due: markdownlint-cli2, arch-guardrails

chore(coordination): reserve 002-15_retriable-harness-crashes
  .ito/changes/002-15_retriable-harness-crashes/.ito.yaml
Due: none

refactor(002-15): introduce CliHarness trait and deduplicate CLI harnesses
  ito-rs/crates/ito-core/src/harness/claude_code.rs
  ito-rs/crates/ito-core/src/harness/codex.rs
  ito-rs/crates/ito-core/src/harness/github_copilot.rs
  ito-rs/crates/ito-core/src/harness/mod.rs
  ito-rs/crates/ito-core/src/harness/opencode.rs
  ito-rs/crates/ito-core/src/harness/streaming_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(002-15): add retriable exit code handling for harness crashes
  ito-rs/crates/ito-core/src/harness/types.rs
  ito-rs/crates/ito-core/src/ralph/runner.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

test(002-15): add tests for retriable harness exit code behavior
  ito-rs/crates/ito-core/tests/ralph.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
