Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

chore: sync coordination worktree
  .ito/changes/001-34_add-ddd-discovery-workflow/demos/task-2.1-domain-validation.md
Due: none

chore: complete task for change 001-34_add-ddd-discovery-workflow
  .ito/changes/001-34_add-ddd-discovery-workflow/tasks.md
Due: none

chore: start task for change 001-34_add-ddd-discovery-workflow
  .ito/changes/001-34_add-ddd-discovery-workflow/tasks.md
Due: none

chore: complete task for change 001-34_add-ddd-discovery-workflow
  .ito/changes/001-34_add-ddd-discovery-workflow/demos/task-2.2-context-boundary-validation.md
  .ito/changes/001-34_add-ddd-discovery-workflow/tasks.md
Due: none

chore: complete task for change 001-34_add-ddd-discovery-workflow
  .ito/changes/001-34_add-ddd-discovery-workflow/demos/task-3.1-workflow-review-docs.md
  .ito/changes/001-34_add-ddd-discovery-workflow/tasks.md
Due: none

chore: complete task for change 001-34_add-ddd-discovery-workflow
  .ito/changes/001-34_add-ddd-discovery-workflow/demos/task-2.2-context-boundary-validation.md
  .ito/changes/001-34_add-ddd-discovery-workflow/demos/task-3.2-final-validation.md
  .ito/changes/001-34_add-ddd-discovery-workflow/tasks.md
Due: none

chore: sync coordination worktree
  .ito/changes/001-34_add-ddd-discovery-workflow/demos/iteration-4-verification.md
Due: none

Ralph loop iteration 14
  docs/ito/changes/active/001-33_enhance-spec-driven-workflow-validation/demos/task-3.1-final-gate.md
  docs/ito/changes/active/001-34_add-ddd-discovery-workflow/artifacts/strategic_ddd_for_coding_agents.md
Due: markdownlint-cli2

update ito files
  .opencode/agents/ito-orchestrator.md
  .opencode/agents/ito-planner.md
  .opencode/agents/ito-researcher.md
  .opencode/agents/ito-test-runner.md
  .opencode/agents/test-runner.md
  paseo.json
Due: markdownlint-cli2

Ralph loop iteration 31
  ito-rs/crates/ito-core/src/installers/agent_frontmatter.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-templates/assets/commands/ito-apply.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: sync coordination worktree
  .ito/changes/001-34_add-ddd-discovery-workflow/demos/iteration-5-final-verification.md
Due: none

chore: sync coordination worktree
  .ito/changes/001-34_add-ddd-discovery-workflow/demos/final-validation.md
Due: none

chore: sync coordination worktree
  .ito/changes/001-34_add-ddd-discovery-workflow/demos/final-validation.md
  .ito/changes/001-34_add-ddd-discovery-workflow/tasks.md
Due: none

chore: sync coordination worktree
  .ito/changes/001-34_add-ddd-discovery-workflow/demos/final-ddd-discovery-validation.md
Due: none

chore: sync coordination worktree
  .ito/changes/001-34_add-ddd-discovery-workflow/demos/final-validation.md
  .ito/changes/001-34_add-ddd-discovery-workflow/demos/final-validator-fixes.md
Due: none

chore: sync coordination worktree
  .ito/changes/001-34_add-ddd-discovery-workflow/demos/iteration-15-boundary-regression.md
Due: none

chore: sync coordination worktree
  .ito/changes/001-34_add-ddd-discovery-workflow/demos/final-validation.md
  .ito/changes/001-34_add-ddd-discovery-workflow/demos/iteration-18-validator-regressions.md
Due: none

feat(001-32): add flexible planning workflow
  .claude/commands/ito-plan.md
  .claude/skills/ito-plan/SKILL.md
  .claude/skills/ito/SKILL.md
  .codex/prompts/ito-plan.md
  .codex/skills/ito-plan/SKILL.md
  .codex/skills/ito/SKILL.md
  .github/prompts/ito-plan.prompt.md
  .github/skills/ito-plan/SKILL.md
  .github/skills/ito/SKILL.md
  .opencode/commands/ito-plan.md
  .opencode/skills/ito-plan/SKILL.md
  .opencode/skills/ito/SKILL.md
  .pi/commands/ito-plan.md
  .pi/skills/ito-plan/SKILL.md
  .pi/skills/ito/SKILL.md
  README.md
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/plan.rs
  ito-rs/crates/ito-cli/tests/init_agent_activation.rs
  ito-rs/crates/ito-cli/tests/misc_more.rs
  ito-rs/crates/ito-cli/tests/plan_state_more.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/parity_help_version__parity_help.snap
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-core/src/planning_init.rs
  ito-rs/crates/ito-core/tests/planning_init.rs
  ito-rs/crates/ito-domain/src/planning.rs
  ito-rs/crates/ito-domain/tests/planning.rs
  ito-rs/crates/ito-domain/tests/schema_roundtrip.rs
  ito-rs/crates/ito-templates/assets/commands/ito-plan.md
  ito-rs/crates/ito-templates/assets/skills/ito-plan/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito/SKILL.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(001-32): centralize planning status summary
  ito-rs/crates/ito-cli/src/commands/plan.rs
  ito-rs/crates/ito-core/src/planning_init.rs
  ito-rs/crates/ito-core/tests/planning_init.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(001-32): support research and markdown workspaces
  ito-rs/crates/ito-cli/tests/plan_state_more.rs
  ito-rs/crates/ito-core/src/planning_init.rs
  ito-rs/crates/ito-core/tests/planning_init.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs(001-32): clarify planning workspace helpers
  ito-rs/crates/ito-core/src/planning_init.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(001-32): surface full planning status notices
  ito-rs/crates/ito-cli/src/commands/plan.rs
  ito-rs/crates/ito-core/src/planning_init.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(001-32): add flexible planning workflow (#239)
  .claude/commands/ito-plan.md
  .claude/skills/ito-plan/SKILL.md
  .claude/skills/ito/SKILL.md
  .codex/prompts/ito-plan.md
  .codex/skills/ito-plan/SKILL.md
  .codex/skills/ito/SKILL.md
  .github/prompts/ito-plan.prompt.md
  .github/skills/ito-plan/SKILL.md
  .github/skills/ito/SKILL.md
  .opencode/commands/ito-plan.md
  .opencode/skills/ito-plan/SKILL.md
  .opencode/skills/ito/SKILL.md
  .pi/commands/ito-plan.md
  .pi/skills/ito-plan/SKILL.md
  .pi/skills/ito/SKILL.md
  README.md
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/plan.rs
  ito-rs/crates/ito-cli/tests/init_agent_activation.rs
  ito-rs/crates/ito-cli/tests/misc_more.rs
  ito-rs/crates/ito-cli/tests/plan_state_more.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/parity_help_version__parity_help.snap
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-core/src/planning_init.rs
  ito-rs/crates/ito-core/tests/planning_init.rs
  ito-rs/crates/ito-domain/src/planning.rs
  ito-rs/crates/ito-domain/tests/planning.rs
  ito-rs/crates/ito-domain/tests/schema_roundtrip.rs
  ito-rs/crates/ito-templates/assets/commands/ito-plan.md
  ito-rs/crates/ito-templates/assets/skills/ito-plan/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito/SKILL.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(001-34): add DDD discovery workflow
  docs/agent-workflow.md
  docs/presentations/march-2026/ito-workflow-diagram.mmd
  docs/schema-customization.md
  ito-rs/crates/ito-cli/src/app/manifesto_instructions.rs
  ito-rs/crates/ito-cli/src/app/status.rs
  ito-rs/crates/ito-cli/tests/cli_smoke.rs
  ito-rs/crates/ito-cli/tests/instructions_more.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/src/templates/review.rs
  ito-rs/crates/ito-core/src/templates/types.rs
  ito-rs/crates/ito-core/src/validate/delta_rules.rs
  ito-rs/crates/ito-core/src/validate/domain_discovery_rules.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/src/validate/rules_engine.rs
  ito-rs/crates/ito-core/tests/templates_apply_instructions.rs
  ito-rs/crates/ito-core/tests/templates_change_status.rs
  ito-rs/crates/ito-core/tests/templates_review_context.rs
  ito-rs/crates/ito-core/tests/templates_schemas_listing.rs
  ito-rs/crates/ito-core/tests/validate.rs
  ito-rs/crates/ito-core/tests/validate_delta_rules.rs
  ito-rs/crates/ito-core/tests/validate_domain_discovery_boundary_regressions.rs
  ito-rs/crates/ito-core/tests/validate_domain_discovery_doc_consistency.rs
  ito-rs/crates/ito-core/tests/validate_domain_discovery_rules.rs
  ito-rs/crates/ito-templates/assets/commands/ito-plan.md
  ito-rs/crates/ito-templates/assets/instructions/agent/new-proposal.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/review.md.j2
  ito-rs/crates/ito-templates/assets/schemas/event-driven/schema.yaml
  ito-rs/crates/ito-templates/assets/schemas/event-driven/templates/domain-discovery.md
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/schema.yaml
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/domain-discovery.md
  ito-rs/crates/ito-templates/assets/skills/ito-plan/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-proposal-intake/SKILL.md
  ito-rs/crates/ito-templates/src/instructions_tests.rs
  ito-rs/crates/ito-templates/src/lib.rs
  ito-rs/crates/source-guide.md
  source-guide.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(001-34): clarify optional artifact completion
  ito-rs/crates/ito-cli/src/app/status.rs
  ito-rs/crates/ito-cli/tests/cli_smoke.rs
  ito-rs/crates/ito-templates/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(001-34): add DDD discovery workflow (#240)
  docs/agent-workflow.md
  docs/presentations/march-2026/ito-workflow-diagram.mmd
  docs/schema-customization.md
  ito-rs/crates/ito-cli/src/app/manifesto_instructions.rs
  ito-rs/crates/ito-cli/src/app/status.rs
  ito-rs/crates/ito-cli/tests/cli_smoke.rs
  ito-rs/crates/ito-cli/tests/instructions_more.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/src/templates/review.rs
  ito-rs/crates/ito-core/src/templates/types.rs
  ito-rs/crates/ito-core/src/validate/delta_rules.rs
  ito-rs/crates/ito-core/src/validate/domain_discovery_rules.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/src/validate/rules_engine.rs
  ito-rs/crates/ito-core/tests/templates_apply_instructions.rs
  ito-rs/crates/ito-core/tests/templates_change_status.rs
  ito-rs/crates/ito-core/tests/templates_review_context.rs
  ito-rs/crates/ito-core/tests/templates_schemas_listing.rs
  ito-rs/crates/ito-core/tests/validate.rs
  ito-rs/crates/ito-core/tests/validate_delta_rules.rs
  ito-rs/crates/ito-core/tests/validate_domain_discovery_boundary_regressions.rs
  ito-rs/crates/ito-core/tests/validate_domain_discovery_doc_consistency.rs
  ito-rs/crates/ito-core/tests/validate_domain_discovery_rules.rs
  ito-rs/crates/ito-templates/assets/commands/ito-plan.md
  ito-rs/crates/ito-templates/assets/instructions/agent/new-proposal.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/review.md.j2
  ito-rs/crates/ito-templates/assets/schemas/event-driven/schema.yaml
  ito-rs/crates/ito-templates/assets/schemas/event-driven/templates/domain-discovery.md
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/schema.yaml
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/domain-discovery.md
  ito-rs/crates/ito-templates/assets/skills/ito-plan/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-proposal-intake/SKILL.md
  ito-rs/crates/ito-templates/src/instructions_tests.rs
  ito-rs/crates/ito-templates/src/lib.rs
  ito-rs/crates/source-guide.md
  source-guide.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: sync coordination worktree
  .ito/changes/archive/2026-05-12-001-32_add-planning-workflow/.ito.yaml
  .ito/changes/archive/2026-05-12-001-32_add-planning-workflow/demos/final-planning-workflow-validation.md
  .ito/changes/archive/2026-05-12-001-32_add-planning-workflow/demos/final-validation-test-hardening.md
  .ito/changes/archive/2026-05-12-001-32_add-planning-workflow/demos/final-validation.md
  .ito/changes/archive/2026-05-12-001-32_add-planning-workflow/demos/iteration-20-validation.md
  .ito/changes/archive/2026-05-12-001-32_add-planning-workflow/demos/iteration-30-cli-path-fix.md
  .ito/changes/archive/2026-05-12-001-32_add-planning-workflow/demos/planning-workflow-final-validation.md
  .ito/changes/archive/2026-05-12-001-32_add-planning-workflow/demos/planning-workflow-validation.md
  .ito/changes/archive/2026-05-12-001-32_add-planning-workflow/demos/planning-workflow.md
  .ito/changes/archive/2026-05-12-001-32_add-planning-workflow/design.md
  .ito/changes/archive/2026-05-12-001-32_add-planning-workflow/proposal.md
  .ito/changes/archive/2026-05-12-001-32_add-planning-workflow/specs/cli-plan/spec.md
  .ito/changes/archive/2026-05-12-001-32_add-planning-workflow/specs/ito-slash-command/spec.md
  .ito/changes/archive/2026-05-12-001-32_add-planning-workflow/specs/planning-workflow/spec.md
  .ito/changes/archive/2026-05-12-001-32_add-planning-workflow/tasks.md
  .ito/modules/001_workflow-enhancements/module.md
  .ito/specs/cli-plan/spec.md
  .ito/specs/ito-slash-command/spec.md
  .ito/specs/planning-workflow/spec.md
Due: none

chore: sync coordination worktree
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/.ito.yaml
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/final-validation-iteration-37.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/final-validation-repair.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/final-validation-ui-mechanics.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/final-validation.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/iteration-16-validation-repair.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/iteration-23-rule-alignment.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/iteration-25-ui-mechanics-rule.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/iteration-29-doc-clarification.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/iteration-32-validation-repair.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/iteration-33-capabilities-parser.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/iteration-37-repair-verification.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/iteration-6-doc-alignment.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/task-1.1-spec-driven-templates.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/task-1.2-delta-shape-and-export.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/task-1.3-validation-rules-plumbing.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/task-1.4-enhanced-task-quality-fields.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/task-2.1-scenario-grammar.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/task-2.2-capabilities-consistency.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/task-2.3-contract-refs.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/task-2.4-task-quality.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/task-2.5-docs-and-instructions.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/task-3.1-final-gate-iteration-1.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/task-3.1-final-gate.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/validation-parity-fix.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/demos/validation-repair.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/design.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/proposal.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/specs/cli-templates-schemas/spec.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/specs/cli-validate/spec.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/specs/ito-schemas/spec.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/specs/tasks-tracking/spec.md
  .ito/changes/archive/2026-05-12-001-33_enhance-spec-driven-workflow-validation/tasks.md
  .ito/modules/001_workflow-enhancements/module.md
  .ito/specs/cli-templates-schemas/spec.md
  .ito/specs/cli-validate/spec.md
  .ito/specs/ito-schemas/spec.md
  .ito/specs/tasks-tracking/spec.md
Due: none

chore: sync coordination worktree
  .ito/changes/archive/2026-05-12-001-34_add-ddd-discovery-workflow/.ito.yaml
  .ito/changes/archive/2026-05-12-001-34_add-ddd-discovery-workflow/artifacts/strategic_ddd_for_coding_agents.md
  .ito/changes/archive/2026-05-12-001-34_add-ddd-discovery-workflow/demos/final-ddd-discovery-validation.md
  .ito/changes/archive/2026-05-12-001-34_add-ddd-discovery-workflow/demos/final-validation.md
  .ito/changes/archive/2026-05-12-001-34_add-ddd-discovery-workflow/demos/final-validator-fixes.md
  .ito/changes/archive/2026-05-12-001-34_add-ddd-discovery-workflow/demos/iteration-15-boundary-regression.md
  .ito/changes/archive/2026-05-12-001-34_add-ddd-discovery-workflow/demos/iteration-18-validator-regressions.md
  .ito/changes/archive/2026-05-12-001-34_add-ddd-discovery-workflow/demos/iteration-4-verification.md
  .ito/changes/archive/2026-05-12-001-34_add-ddd-discovery-workflow/demos/iteration-5-final-verification.md
  .ito/changes/archive/2026-05-12-001-34_add-ddd-discovery-workflow/demos/task-1.1-ddd-discovery-bundle.md
  .ito/changes/archive/2026-05-12-001-34_add-ddd-discovery-workflow/demos/task-1.2-domain-discovery-schema-hooks.md
  .ito/changes/archive/2026-05-12-001-34_add-ddd-discovery-workflow/demos/task-2.1-domain-validation.md
  .ito/changes/archive/2026-05-12-001-34_add-ddd-discovery-workflow/demos/task-2.2-context-boundary-validation.md
  .ito/changes/archive/2026-05-12-001-34_add-ddd-discovery-workflow/demos/task-3.1-workflow-review-docs.md
  .ito/changes/archive/2026-05-12-001-34_add-ddd-discovery-workflow/demos/task-3.2-final-validation.md
  .ito/changes/archive/2026-05-12-001-34_add-ddd-discovery-workflow/design.md
  .ito/changes/archive/2026-05-12-001-34_add-ddd-discovery-workflow/proposal.md
  .ito/changes/archive/2026-05-12-001-34_add-ddd-discovery-workflow/specs/cli-validate/spec.md
  .ito/changes/archive/2026-05-12-001-34_add-ddd-discovery-workflow/specs/domain-discovery-workflow/spec.md
  .ito/changes/archive/2026-05-12-001-34_add-ddd-discovery-workflow/specs/ito-schemas/spec.md
  .ito/changes/archive/2026-05-12-001-34_add-ddd-discovery-workflow/specs/workflow-convergence/spec.md
  .ito/changes/archive/2026-05-12-001-34_add-ddd-discovery-workflow/tasks.md
  .ito/modules/001_workflow-enhancements/module.md
  .ito/specs/cli-validate/spec.md
  .ito/specs/domain-discovery-workflow/spec.md
  .ito/specs/ito-schemas/spec.md
  .ito/specs/workflow-convergence/spec.md
Due: none

chore: unshelve task for change 019-09_ito-update-repo-skill
  .ito/changes/019-09_ito-update-repo-skill/tasks.md
Due: none

chore: start task for change 019-09_ito-update-repo-skill
  .ito/changes/019-09_ito-update-repo-skill/tasks.md
Due: none

chore: complete task for change 019-09_ito-update-repo-skill
  .ito/changes/019-09_ito-update-repo-skill/tasks.md
Due: none

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
