Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            feat,
            fix,
            docs,
            style,
            refactor,
            perf,
            test,
            build,
            ci,
            chore,
            revert,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.20.0]
        args: [--config, .markdownlint-cli2.yaml]
        files: \.md$
        exclude: ^\.ito/

      - id: cargo-fmt
        name: cargo fmt (ito-rs)
        entry: make
        language: system
        args: [fmt]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-clippy
        name: cargo clippy (ito-rs)
        entry: make
        language: system
        args: [clippy]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-test-coverage
        name: cargo test with coverage (ito-rs)
        entry: make
        language: system
        args: [test-coverage]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-push]

      - id: cargo-test-affected
        name: cargo test affected (ito-rs)
        entry: make
        language: system
        args: [test-affected]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-commit]

      - id: check-max-lines
        name: check max lines (ito-rs)
        entry: make
        language: system
        args: [check-max-lines]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$

      - id: arch-guardrails
        name: architecture guardrails
        entry: make
        language: system
        args: [arch-guardrails]
        pass_filenames: false
        files: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$

      - id: cargo-deny
        name: cargo deny (license/advisory checks)
        entry: make
        language: system
        args: [cargo-deny]
        pass_filenames: false
        files: ^ito-rs/.*\.(toml|lock)$

chore: start task for change 011-06_extend-ito-validate-repo-audit-repository-backend-rules
  .ito/changes/011-06_extend-ito-validate-repo-audit-repository-backend-rules/tasks.md
Due: none

chore: complete task for change 011-06_extend-ito-validate-repo-audit-repository-backend-rules
  .ito/changes/011-06_extend-ito-validate-repo-audit-repository-backend-rules/tasks.md
Due: none

feat(011-06): add audit, repository, and backend validation rules
  ito-rs/crates/ito-config/src/config/mod.rs
  ito-rs/crates/ito-core/src/validate_repo/audit_rules.rs
  ito-rs/crates/ito-core/src/validate_repo/backend_rules.rs
  ito-rs/crates/ito-core/src/validate_repo/mod.rs
  ito-rs/crates/ito-core/src/validate_repo/registry.rs
  ito-rs/crates/ito-core/src/validate_repo/repository_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(011-06): address Wave 1 review feedback
  ito-rs/crates/ito-core/src/validate_repo/audit_rules.rs
  ito-rs/crates/ito-core/src/validate_repo/backend_rules.rs
  ito-rs/crates/ito-core/src/validate_repo/repository_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: sync coordination worktree
  .ito/changes/028-02_centralize-instruction-source-of-truth/demos/task-1.3-agent-template-activation.md
Due: none

chore: complete task for change 011-06_extend-ito-validate-repo-audit-repository-backend-rules
  .ito/changes/011-06_extend-ito-validate-repo-audit-repository-backend-rules/tasks.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/demos/task-1.3-agent-template-activation.md
Due: none

test(011-06): registry integration test + CLI integration tests
  ito-rs/crates/ito-cli/tests/validate_repo_cli.rs
  ito-rs/crates/ito-core/src/validate_repo/registry.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs(011-06): describe full validate_repo rule set in architecture.md
  .ito/architecture.md
  ito-rs/crates/ito-core/src/validate_repo/registry.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: complete task for change 028-02_centralize-instruction-source-of-truth
  .ito/changes/028-02_centralize-instruction-source-of-truth/demos/task-1.3-agent-template-activation.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/tasks.md
Due: none

chore: start task for change 028-02_centralize-instruction-source-of-truth
  .ito/changes/028-02_centralize-instruction-source-of-truth/tasks.md
Due: none

test(011-06): extract run_git helper that fails fast on git errors
  ito-rs/crates/ito-cli/tests/validate_repo_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: complete task for change 028-02_centralize-instruction-source-of-truth
  .ito/changes/028-02_centralize-instruction-source-of-truth/demos/task-1.4-thin-orchestration-surfaces.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/tasks.md
Due: none

chore: complete task for change 028-02_centralize-instruction-source-of-truth
  .ito/changes/028-02_centralize-instruction-source-of-truth/demos/task-2.1-coordination-symlink-repair.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/tasks.md
Due: none

chore: complete task for change 028-02_centralize-instruction-source-of-truth
  .ito/changes/028-02_centralize-instruction-source-of-truth/demos/task-2.2-generated-installs-quality-gate.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/tasks.md
Due: none

chore: sync coordination worktree
  .ito/changes/archive/2026-04-29-011-05_add-ito-validate-repo-coordination-rules/.ito.yaml
  .ito/changes/archive/2026-04-29-011-05_add-ito-validate-repo-coordination-rules/demos/wave-1-engine-scaffold.md
  .ito/changes/archive/2026-04-29-011-05_add-ito-validate-repo-coordination-rules/demos/wave-2-rules-and-detection.md
  .ito/changes/archive/2026-04-29-011-05_add-ito-validate-repo-coordination-rules/demos/wave-3-cli-surface.md
  .ito/changes/archive/2026-04-29-011-05_add-ito-validate-repo-coordination-rules/demos/wave-6-self-test.md
  .ito/changes/archive/2026-04-29-011-05_add-ito-validate-repo-coordination-rules/design.md
  .ito/changes/archive/2026-04-29-011-05_add-ito-validate-repo-coordination-rules/proposal.md
  .ito/changes/archive/2026-04-29-011-05_add-ito-validate-repo-coordination-rules/specs/ito-init/spec.md
  .ito/changes/archive/2026-04-29-011-05_add-ito-validate-repo-coordination-rules/specs/ito-update-repo-skill/spec.md
  .ito/changes/archive/2026-04-29-011-05_add-ito-validate-repo-coordination-rules/specs/pre-commit-hook-detection/spec.md
  .ito/changes/archive/2026-04-29-011-05_add-ito-validate-repo-coordination-rules/specs/pre-commit-hooks/spec.md
  .ito/changes/archive/2026-04-29-011-05_add-ito-validate-repo-coordination-rules/specs/validate-repo-cli-surface/spec.md
  .ito/changes/archive/2026-04-29-011-05_add-ito-validate-repo-coordination-rules/specs/validate-repo-coordination-rules/spec.md
  .ito/changes/archive/2026-04-29-011-05_add-ito-validate-repo-coordination-rules/specs/validate-repo-engine/spec.md
  .ito/changes/archive/2026-04-29-011-05_add-ito-validate-repo-coordination-rules/specs/validate-repo-worktrees-rules/spec.md
  .ito/changes/archive/2026-04-29-011-05_add-ito-validate-repo-coordination-rules/tasks.md
  .ito/modules/011_config-system/module.md
  .ito/specs/ito-init/spec.md
  .ito/specs/ito-update-repo-skill/spec.md
  .ito/specs/pre-commit-hook-detection/spec.md
  .ito/specs/pre-commit-hooks/spec.md
  .ito/specs/validate-repo-cli-surface/spec.md
  .ito/specs/validate-repo-coordination-rules/spec.md
  .ito/specs/validate-repo-engine/spec.md
  .ito/specs/validate-repo-worktrees-rules/spec.md
Due: none

feat(011-06): audit/repository/backend validation rules (#230)
  .ito/architecture.md
  ito-rs/crates/ito-cli/tests/validate_repo_cli.rs
  ito-rs/crates/ito-config/src/config/mod.rs
  ito-rs/crates/ito-core/src/validate_repo/audit_rules.rs
  ito-rs/crates/ito-core/src/validate_repo/backend_rules.rs
  ito-rs/crates/ito-core/src/validate_repo/mod.rs
  ito-rs/crates/ito-core/src/validate_repo/registry.rs
  ito-rs/crates/ito-core/src/validate_repo/repository_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

memory updated
  .brv/_queue_status.json
  .brv/context-tree/_index.md
  .brv/context-tree/_manifest.json
  .brv/context-tree/development/_index.md
  .brv/context-tree/development/ito_workflow/_index.md
  .brv/context-tree/development/ito_workflow/ito_orchestration_consolidation.abstract.md
  .brv/context-tree/development/ito_workflow/ito_orchestration_consolidation.md
  .brv/context-tree/development/ito_workflow/ito_orchestration_consolidation.overview.md
  .brv/dream-state.json
  .gitignore
Due: markdownlint-cli2

chore: sync coordination worktree
  .ito/changes/archive/2026-04-29-011-06_extend-ito-validate-repo-audit-repository-backend-rules/.ito.yaml
  .ito/changes/archive/2026-04-29-011-06_extend-ito-validate-repo-audit-repository-backend-rules/proposal.md
  .ito/changes/archive/2026-04-29-011-06_extend-ito-validate-repo-audit-repository-backend-rules/specs/validate-repo-audit-rules/spec.md
  .ito/changes/archive/2026-04-29-011-06_extend-ito-validate-repo-audit-repository-backend-rules/specs/validate-repo-backend-rules/spec.md
  .ito/changes/archive/2026-04-29-011-06_extend-ito-validate-repo-audit-repository-backend-rules/specs/validate-repo-repository-rules/spec.md
  .ito/changes/archive/2026-04-29-011-06_extend-ito-validate-repo-audit-repository-backend-rules/tasks.md
  .ito/modules/011_config-system/module.md
  .ito/specs/validate-repo-audit-rules/spec.md
  .ito/specs/validate-repo-backend-rules/spec.md
  .ito/specs/validate-repo-repository-rules/spec.md
Due: none

docs: compress AGENTS.md and codemap files for token efficiency
  .ito/AGENTS.md
  AGENTS.md
  codemap.md
  ito-rs/AGENTS.md
  ito-rs/codemap.md
  ito-rs/crates/codemap.md
  ito-rs/crates/ito-backend/codemap.md
  ito-rs/crates/ito-cli/AGENTS.md
  ito-rs/crates/ito-cli/codemap.md
  ito-rs/crates/ito-common/AGENTS.md
  ito-rs/crates/ito-common/codemap.md
  ito-rs/crates/ito-config/AGENTS.md
  ito-rs/crates/ito-config/codemap.md
  ito-rs/crates/ito-core/AGENTS.md
  ito-rs/crates/ito-core/codemap.md
  ito-rs/crates/ito-domain/AGENTS.md
  ito-rs/crates/ito-domain/codemap.md
  ito-rs/crates/ito-logging/AGENTS.md
  ito-rs/crates/ito-logging/codemap.md
  ito-rs/crates/ito-templates/AGENTS.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/AGENTS.md
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/codemap.md
  ito-rs/crates/ito-test-support/AGENTS.md
  ito-rs/crates/ito-test-support/codemap.md
  ito-rs/crates/ito-web/AGENTS.md
  ito-rs/crates/ito-web/codemap.md
Due: markdownlint-cli2

update ito repo files
  .claude/commands/ito-update-repo.md
  .claude/skills/ito-update-repo/SKILL.md
  .codex/prompts/ito-update-repo.md
  .codex/skills/ito-update-repo/SKILL.md
  .github/prompts/ito-update-repo.prompt.md
  .github/skills/ito-update-repo/SKILL.md
  .ito/AGENTS.md
  .opencode/commands/ito-update-repo.md
  .opencode/skills/ito-update-repo/SKILL.md
  .pi/commands/ito-update-repo.md
  .pi/skills/ito-update-repo/SKILL.md
Due: markdownlint-cli2

chore: sync coordination worktree
  .ito/changes/001-34_add-ddd-discovery-workflow/.ito.yaml
  .ito/workflows/.state/change-allocations.json
Due: none

chore: sync coordination worktree
  .ito/changes/001-35_add-ddd-discovery-workflow/.ito.yaml
  .ito/workflows/.state/change-allocations.json
Due: none

chore: sync coordination worktree
  .ito/changes/001-34_add-ddd-discovery-workflow/design.md
  .ito/changes/001-34_add-ddd-discovery-workflow/proposal.md
  .ito/changes/001-34_add-ddd-discovery-workflow/specs/cli-validate/spec.md
  .ito/changes/001-34_add-ddd-discovery-workflow/specs/domain-discovery-workflow/spec.md
  .ito/changes/001-34_add-ddd-discovery-workflow/specs/ito-schemas/spec.md
  .ito/changes/001-34_add-ddd-discovery-workflow/specs/workflow-convergence/spec.md
  .ito/changes/001-34_add-ddd-discovery-workflow/tasks.md
  .ito/changes/001-37_fix-worktree-symlink-recovery/.ito.yaml
  .ito/changes/001-37_fix-worktree-symlink-recovery/design.md
  .ito/changes/001-37_fix-worktree-symlink-recovery/proposal.md
  .ito/changes/001-37_fix-worktree-symlink-recovery/specs/change-creation/spec.md
  .ito/changes/001-37_fix-worktree-symlink-recovery/specs/cli-init/spec.md
  .ito/changes/001-37_fix-worktree-symlink-recovery/specs/coordination-worktree/spec.md
  .ito/changes/001-37_fix-worktree-symlink-recovery/specs/worktree-lifecycle/spec.md
  .ito/changes/001-37_fix-worktree-symlink-recovery/tasks.md
  .ito/modules/001_workflow-enhancements/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

chore: start task for change 001-37_fix-worktree-symlink-recovery
  .ito/changes/001-37_fix-worktree-symlink-recovery/tasks.md
Due: none

chore: complete task for change 001-37_fix-worktree-symlink-recovery
  .ito/changes/001-37_fix-worktree-symlink-recovery/tasks.md
Due: none
