Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

Dev (#105)
  .ito/specs/rust-installers/spec.md
Due: none

style: cargo fmt
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/app/show.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/show_specs_bundle.rs
  ito-rs/crates/ito-core/tests/show.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Dev (#107)
  .ito/specs/rust-installers/spec.md
  ito-rs/crates/ito-core/src/show/mod.rs
  ito-rs/crates/ito-core/tests/show.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style: pretty format json
  .pi/settings.json
Due: none

feat(023-07): harness context inference (#109)
  .claude/hooks/ito-context.sh
  .claude/session-start.sh
  .claude/settings.json
  .github/copilot-instructions.md
  .ito/changes/023-07_harness-context-inference/.ito.yaml
  .ito/changes/023-07_harness-context-inference/design.md
  .ito/changes/023-07_harness-context-inference/proposal.md
  .ito/changes/023-07_harness-context-inference/specs/harness-context-inference/spec.md
  .ito/changes/023-07_harness-context-inference/tasks.md
  .ito/modules/023_harness-hooks/module.md
  .ito/workflows/.state/change-allocations.json
  .opencode/plugins/ito-skills.js
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/tests/agent_instruction_context.rs
  ito-rs/crates/ito-core/src/harness_context.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/tests/harness_context.rs
  ito-rs/crates/ito-templates/assets/adapters/claude/hooks/ito-context.sh
  ito-rs/crates/ito-templates/assets/adapters/claude/session-start.sh
  ito-rs/crates/ito-templates/assets/adapters/opencode/ito-skills.js
  ito-rs/crates/ito-templates/assets/default/project/.claude/settings.json
  ito-rs/crates/ito-templates/assets/default/project/.github/copilot-instructions.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat: add Pi harness integration (shares OpenCode skills/commands)
  .pi/extensions/ito-skills.ts
  .pi/prompts/ito-apply.md
  .pi/prompts/ito-archive.md
  .pi/prompts/ito-list.md
  .pi/prompts/ito-project-setup.md
  .pi/prompts/ito-proposal.md
  .pi/prompts/ito-research.md
  .pi/prompts/ito-review.md
  .pi/prompts/ito.md
  .pi/settings.json
Due: markdownlint-cli2

feat(pi): add pi-subagents config and agents
  .pi/agents/ito-general.md
  .pi/agents/ito-quick.md
  .pi/agents/ito-thinking.md
  .pi/commands/ito-project-setup.md
  .pi/settings.json
Due: markdownlint-cli2

chore(schemas): remove legacy workflow schema copies (#112)
  schemas/README.md
  schemas/spec-driven/schema.yaml
  schemas/spec-driven/templates/design.md
  schemas/spec-driven/templates/proposal.md
  schemas/spec-driven/templates/spec.md
  schemas/spec-driven/templates/tasks.md
  schemas/tdd/schema.yaml
  schemas/tdd/templates/docs.md
  schemas/tdd/templates/implementation.md
  schemas/tdd/templates/spec.md
  schemas/tdd/templates/test.md
Due: markdownlint-cli2

chore(pi): add pi-subagents npm metadata
  .pi/npm/.gitignore
  .pi/npm/package-lock.json
  .pi/npm/package.json
Due: none

Ralph loop iteration 1
  ito-rs/crates/ito-cli/tests/config_more.rs
  ito-rs/crates/ito-config/src/config/mod.rs
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-core/src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 2
  .ito/changes/000-07_remote-audit-mirror-branch/tasks.md
  ito-rs/crates/ito-core/src/audit/mirror.rs
  ito-rs/crates/ito-core/src/audit/mod.rs
  ito-rs/crates/ito-core/src/audit/writer.rs
  ito-rs/crates/ito-core/tests/audit_mirror.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 1
  .ito/changes/001-12_project-setup-wizard/tasks.md
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-core/src/audit/mod.rs
  ito-rs/crates/ito-core/src/audit/writer.rs
  ito-rs/crates/ito-templates/assets/adapters/codex/ito-skills-bootstrap.md
  ito-rs/crates/ito-templates/assets/default/project/.claude/commands/ito-project-setup.md
  ito-rs/crates/ito-templates/assets/default/project/.codex/commands/ito-project-setup.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/project.md
  ito-rs/crates/ito-templates/assets/default/project/.opencode/commands/ito-project-setup.md
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/assets/default/project/CLAUDE.md
  ito-rs/crates/ito-templates/assets/instructions/agent/project-setup.md.j2
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

001-25
  .ito/changes/001-25_tracking-file-support/tasks.md
  .ito/config.json
  ito-rs/crates/ito-core/src/audit/mirror.rs
  ito-rs/crates/ito-core/src/tasks.rs
  ito-rs/crates/ito-core/src/templates/types.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/tests/audit_mirror.rs
  ito-rs/crates/ito-core/tests/tasks_api.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 2
  .ito/changes/006-21_remove-ito-state-command/tasks.md
  README.md
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/cli_smoke.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

update ito install
  .claude/session-start.sh
  .claude/settings.json
  .claude/skills/ito-apply-change-proposal/SKILL.md
  .claude/skills/ito-write-change-proposal/SKILL.md
  .codex/skills/ito-apply-change-proposal/SKILL.md
  .codex/skills/ito-write-change-proposal/SKILL.md
  .github/skills/ito-apply-change-proposal/SKILL.md
  .github/skills/ito-write-change-proposal/SKILL.md
  .ito/planning/STATE.md
  .opencode/plugins/ito-skills.js
  .opencode/skills/ito-apply-change-proposal/SKILL.md
  .opencode/skills/ito-write-change-proposal/SKILL.md
  .pi/agents/ito-general.md
  .pi/agents/ito-quick.md
  .pi/agents/ito-thinking.md
  .pi/skills/ito-test-with-subagent/SKILL.md
  .pi/skills/ito-using-git-worktrees/SKILL.md
  .pi/skills/ito-using-ito-skills/SKILL.md
Due: markdownlint-cli2

Ralph loop iteration 1
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/help.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/src/commands/state.rs
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/crates/ito-cli/tests/cli_smoke.rs
  ito-rs/crates/ito-cli/tests/plan_state_more.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/state.rs
  ito-rs/crates/ito-core/src/stats.rs
  ito-rs/crates/ito-domain/src/lib.rs
  ito-rs/crates/ito-domain/src/state.rs
  ito-rs/crates/ito-domain/tests/state.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(019-07): ship embedded schema validation.yaml (#113)
  .ito/changes/019-07_embedded-schema-validation/.ito.yaml
  .ito/changes/019-07_embedded-schema-validation/proposal.md
  .ito/changes/019-07_embedded-schema-validation/specs/ito-schemas/spec.md
  .ito/changes/019-07_embedded-schema-validation/tasks.md
  .ito/modules/019_templates/module.md
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-cli/tests/templates_schemas_export.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-templates/assets/schemas/event-driven/validation.yaml
  ito-rs/crates/ito-templates/assets/schemas/minimalist/validation.yaml
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/validation.yaml
  ito-rs/crates/ito-templates/assets/schemas/tdd/validation.yaml
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

update ito install
  .claude/skills/ito-using-git-worktrees/SKILL.md
  .codex/skills/ito-using-git-worktrees/SKILL.md
  .github/skills/ito-using-git-worktrees/SKILL.md
  .opencode/skills/ito-using-git-worktrees/SKILL.md
  .pi/skills/ito-using-git-worktrees/SKILL.md
Due: markdownlint-cli2

fix(audit): ignore hook git env in mirror sync
  ito-rs/crates/ito-core/src/process.rs
  ito-rs/crates/ito-core/tests/audit_mirror.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
