Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

chore: start task for change 001-37_fix-worktree-symlink-recovery
  .ito/changes/001-37_fix-worktree-symlink-recovery/tasks.md
Due: none

chore: complete task for change 001-37_fix-worktree-symlink-recovery
  .ito/changes/001-37_fix-worktree-symlink-recovery/tasks.md
Due: none

chore: sync coordination worktree
  .ito/changes/001-37_fix-worktree-symlink-recovery/demos/wave-1-2-worktree-recovery.md
  .ito/changes/001-37_fix-worktree-symlink-recovery/tasks.md
Due: none

fix(worktree): repair Ito coordination links in change worktrees
  demos/001-37-fix-worktree-symlink-recovery/wave-1-2-worktree-recovery.md
  demos/001-37-fix-worktree-symlink-recovery/wave-3-docs-and-validation.md
  docs/agent-workflow.md
  issues.md
  ito-rs/crates/ito-cli/tests/init_coordination.rs
  ito-rs/crates/ito-core/src/coordination_worktree.rs
  ito-rs/crates/ito-core/src/create/mod.rs
  ito-rs/crates/ito-core/src/worktree_ensure.rs
  ito-rs/crates/ito-core/src/worktree_init.rs
  ito-rs/crates/ito-core/tests/create.rs
  ito-rs/crates/ito-core/tests/worktree_ensure_e2e.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/worktree-init.md.j2
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: sync coordination worktree
  .ito/changes/001-37_fix-worktree-symlink-recovery/demos/wave-1-2-worktree-recovery.md
Due: none

chore: sync coordination worktree
  .ito/changes/001-34_add-ddd-discovery-workflow/design.md
  .ito/changes/001-34_add-ddd-discovery-workflow/proposal.md
  .ito/changes/001-34_add-ddd-discovery-workflow/specs/domain-discovery-workflow/spec.md
  .ito/changes/001-34_add-ddd-discovery-workflow/specs/ito-schemas/spec.md
  .ito/changes/001-34_add-ddd-discovery-workflow/specs/workflow-convergence/spec.md
  .ito/changes/001-34_add-ddd-discovery-workflow/tasks.md
Due: none

fix(review): tighten worktree repair flow and redact local paths
  demos/001-37-fix-worktree-symlink-recovery/wave-1-2-worktree-recovery.md
  demos/001-37-fix-worktree-symlink-recovery/wave-3-docs-and-validation.md
  issues.md
  ito-rs/crates/ito-core/src/worktree_ensure.rs
  ito-rs/crates/ito-core/tests/worktree_ensure_e2e.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(worktree): repair Ito coordination links in change worktrees (#232)
  demos/001-37-fix-worktree-symlink-recovery/wave-1-2-worktree-recovery.md
  demos/001-37-fix-worktree-symlink-recovery/wave-3-docs-and-validation.md
  docs/agent-workflow.md
  issues.md
  ito-rs/crates/ito-cli/tests/init_coordination.rs
  ito-rs/crates/ito-core/src/coordination_worktree.rs
  ito-rs/crates/ito-core/src/create/mod.rs
  ito-rs/crates/ito-core/src/worktree_ensure.rs
  ito-rs/crates/ito-core/src/worktree_init.rs
  ito-rs/crates/ito-core/tests/create.rs
  ito-rs/crates/ito-core/tests/worktree_ensure_e2e.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/worktree-init.md.j2
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: sync coordination worktree
  .ito/changes/001-34_add-ddd-discovery-workflow/design.md
  .ito/changes/001-34_add-ddd-discovery-workflow/proposal.md
  .ito/changes/001-34_add-ddd-discovery-workflow/specs/cli-validate/spec.md
  .ito/changes/001-34_add-ddd-discovery-workflow/specs/domain-discovery-workflow/spec.md
  .ito/changes/001-34_add-ddd-discovery-workflow/specs/ito-schemas/spec.md
  .ito/changes/001-34_add-ddd-discovery-workflow/specs/workflow-convergence/spec.md
  .ito/changes/001-34_add-ddd-discovery-workflow/tasks.md
Due: none

chore: sync coordination worktree
  .ito/changes/001-34_add-ddd-discovery-workflow/artifacts/strategic_ddd_for_coding_agents.md
  .ito/changes/001-34_add-ddd-discovery-workflow/design.md
  .ito/changes/001-34_add-ddd-discovery-workflow/proposal.md
  .ito/changes/001-34_add-ddd-discovery-workflow/specs/domain-discovery-workflow/spec.md
  .ito/changes/001-34_add-ddd-discovery-workflow/specs/workflow-convergence/spec.md
  .ito/changes/001-34_add-ddd-discovery-workflow/tasks.md
Due: none

chore: create change 019-13_fix-opencode-agent-mode
  .ito/changes/019-13_fix-opencode-agent-mode/.ito.yaml
  .ito/modules/019_templates/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

fix(templates): keep OpenCode Ito agents top-level
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(templates): keep OpenCode Ito agents top-level (#233)
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: sync coordination worktree
  .ito/changes/019-13_fix-opencode-agent-mode/design.md
  .ito/changes/019-13_fix-opencode-agent-mode/proposal.md
  .ito/changes/019-13_fix-opencode-agent-mode/specs/rust-installers/spec.md
  .ito/changes/019-13_fix-opencode-agent-mode/tasks.md
Due: none

feat(001-34): add DDD discovery workflow proposal with strategic DDD reference
  .brv/context-tree/_index.md
  .brv/context-tree/_manifest.json
  .brv/context-tree/development/_index.md
  .brv/context-tree/development/ito_workflow/_index.md
  .brv/context-tree/development/ito_workflow/context.md
  .brv/context-tree/development/ito_workflow/ddd_discovery_workflow.abstract.md
  .brv/context-tree/development/ito_workflow/ddd_discovery_workflow.md
  .brv/context-tree/development/ito_workflow/ddd_discovery_workflow.overview.md
  .brv/context-tree/development/ito_workflow/ito_orchestration_consolidation.md
  .brv/context-tree/development/source_guides/_index.md
  .brv/context-tree/development/source_guides/source_guide_workflow.md
  .brv/dream-log/drm-1777572210709.json
  .brv/dream-state.json
  .brv/review-backups/development/ito_workflow/ddd_discovery_workflow.md
Due: markdownlint-cli2

feat(001-34): add DDD discovery workflow proposal (#234)
  .brv/context-tree/_index.md
  .brv/context-tree/_manifest.json
  .brv/context-tree/development/_index.md
  .brv/context-tree/development/ito_workflow/_index.md
  .brv/context-tree/development/ito_workflow/context.md
  .brv/context-tree/development/ito_workflow/ddd_discovery_workflow.abstract.md
  .brv/context-tree/development/ito_workflow/ddd_discovery_workflow.md
  .brv/context-tree/development/ito_workflow/ddd_discovery_workflow.overview.md
  .brv/context-tree/development/ito_workflow/ito_orchestration_consolidation.md
  .brv/context-tree/development/source_guides/_index.md
  .brv/context-tree/development/source_guides/source_guide_workflow.md
  .brv/dream-log/drm-1777572210709.json
  .brv/dream-state.json
  .brv/review-backups/development/ito_workflow/ddd_discovery_workflow.md
Due: markdownlint-cli2

fix(review): trim OpenCode agent frontmatter lines fully
  ito-rs/crates/ito-core/src/installers/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

update ito files
  .brv/context-tree/development/source_guides/_index.md
  .brv/context-tree/development/source_guides/source_guide_workflow.abstract.md
  .brv/context-tree/development/source_guides/source_guide_workflow.md
  .brv/context-tree/development/source_guides/source_guide_workflow.overview.md
  .ito/user-prompts/apply.md
  issues.md
  ito-rs/crates/ito-backend/source-guide.md
  ito-rs/crates/ito-cli/source-guide.md
  ito-rs/crates/ito-common/source-guide.md
  ito-rs/crates/ito-config/source-guide.md
  ito-rs/crates/ito-core/source-guide.md
  ito-rs/crates/ito-domain/source-guide.md
  ito-rs/crates/ito-logging/source-guide.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-prompts/apply.md
  ito-rs/crates/ito-templates/source-guide.md
  ito-rs/crates/ito-test-support/source-guide.md
  ito-rs/crates/ito-web/source-guide.md
  ito-rs/crates/source-guide.md
  ito-rs/source-guide.md
  source-guide.md
Due: markdownlint-cli2

chore: sync coordination worktree
  .ito/changes/archive/2026-04-30-000-15_publish-ito-state-mirror/.ito.yaml
  .ito/changes/archive/2026-04-30-000-15_publish-ito-state-mirror/README.md
  .ito/changes/archive/2026-04-30-000-15_publish-ito-state-mirror/demos/task-1.1-published-mirror-config.md
  .ito/changes/archive/2026-04-30-000-15_publish-ito-state-mirror/demos/task-1.2-published-mirror-renderer.md
  .ito/changes/archive/2026-04-30-000-15_publish-ito-state-mirror/demos/task-2.1-publication-workflow.md
  .ito/changes/archive/2026-04-30-000-15_publish-ito-state-mirror/demos/task-2.2-docs-and-mirror.md
  .ito/changes/archive/2026-04-30-000-15_publish-ito-state-mirror/design.md
  .ito/changes/archive/2026-04-30-000-15_publish-ito-state-mirror/proposal.md
  .ito/changes/archive/2026-04-30-000-15_publish-ito-state-mirror/specs/ito-config-crate/spec.md
  .ito/changes/archive/2026-04-30-000-15_publish-ito-state-mirror/specs/published-ito-mirror/spec.md
  .ito/changes/archive/2026-04-30-000-15_publish-ito-state-mirror/tasks.md
  .ito/modules/000_ungrouped/module.md
  .ito/specs/ito-config-crate/spec.md
  .ito/specs/published-ito-mirror/spec.md
Due: none

chore: sync coordination worktree
  .ito/changes/archive/2026-04-30-001-37_fix-worktree-symlink-recovery/.ito.yaml
  .ito/changes/archive/2026-04-30-001-37_fix-worktree-symlink-recovery/design.md
  .ito/changes/archive/2026-04-30-001-37_fix-worktree-symlink-recovery/proposal.md
  .ito/changes/archive/2026-04-30-001-37_fix-worktree-symlink-recovery/specs/change-creation/spec.md
  .ito/changes/archive/2026-04-30-001-37_fix-worktree-symlink-recovery/specs/cli-init/spec.md
  .ito/changes/archive/2026-04-30-001-37_fix-worktree-symlink-recovery/specs/coordination-worktree/spec.md
  .ito/changes/archive/2026-04-30-001-37_fix-worktree-symlink-recovery/specs/worktree-lifecycle/spec.md
  .ito/changes/archive/2026-04-30-001-37_fix-worktree-symlink-recovery/tasks.md
  .ito/modules/001_workflow-enhancements/module.md
  .ito/specs/change-creation/spec.md
  .ito/specs/cli-init/spec.md
  .ito/specs/coordination-worktree/spec.md
  .ito/specs/worktree-lifecycle/spec.md
Due: none

chore: sync coordination worktree
  .ito/changes/archive/2026-04-30-019-10_manifesto-instruction/.ito.yaml
  .ito/changes/archive/2026-04-30-019-10_manifesto-instruction/demos/task-1.1-manifesto-cli-surface.md
  .ito/changes/archive/2026-04-30-019-10_manifesto-instruction/demos/task-1.2-manifesto-context.md
  .ito/changes/archive/2026-04-30-019-10_manifesto-instruction/demos/task-2-wave-rendering.md
  .ito/changes/archive/2026-04-30-019-10_manifesto-instruction/demos/task-3-regressions-and-discoverability.md
  .ito/changes/archive/2026-04-30-019-10_manifesto-instruction/design.md
  .ito/changes/archive/2026-04-30-019-10_manifesto-instruction/proposal.md
  .ito/changes/archive/2026-04-30-019-10_manifesto-instruction/specs/agent-instructions/spec.md
  .ito/changes/archive/2026-04-30-019-10_manifesto-instruction/tasks.md
  .ito/modules/019_templates/module.md
  .ito/specs/agent-instructions/spec.md
Due: none

chore: sync coordination worktree
  .ito/changes/archive/2026-04-30-019-11_rename-orchestrator-assets/.ito.yaml
  .ito/changes/archive/2026-04-30-019-11_rename-orchestrator-assets/demos/rename-specialist-role-assets.md
  .ito/changes/archive/2026-04-30-019-11_rename-orchestrator-assets/specs/template-assets/spec.md
  .ito/changes/archive/2026-04-30-019-11_rename-orchestrator-assets/tasks.md
  .ito/modules/019_templates/module.md
  .ito/specs/template-assets/spec.md
Due: none

chore: sync coordination worktree
  .ito/changes/archive/2026-04-30-019-12_compress-template-prompts/.ito.yaml
  .ito/changes/archive/2026-04-30-019-12_compress-template-prompts/proposal.md
  .ito/changes/archive/2026-04-30-019-12_compress-template-prompts/specs/template-markdown-compression/spec.md
  .ito/changes/archive/2026-04-30-019-12_compress-template-prompts/tasks.md
  .ito/modules/019_templates/module.md
  .ito/specs/template-markdown-compression/spec.md
Due: none

chore: sync coordination worktree
  .ito/changes/archive/2026-04-30-019-13_fix-opencode-agent-mode/.ito.yaml
  .ito/changes/archive/2026-04-30-019-13_fix-opencode-agent-mode/design.md
  .ito/changes/archive/2026-04-30-019-13_fix-opencode-agent-mode/proposal.md
  .ito/changes/archive/2026-04-30-019-13_fix-opencode-agent-mode/specs/rust-installers/spec.md
  .ito/changes/archive/2026-04-30-019-13_fix-opencode-agent-mode/tasks.md
  .ito/modules/019_templates/module.md
  .ito/specs/rust-installers/spec.md
Due: none

chore: sync coordination worktree
  .ito/changes/archive/2026-04-30-028-02_centralize-instruction-source-of-truth/.ito.yaml
  .ito/changes/archive/2026-04-30-028-02_centralize-instruction-source-of-truth/demos/task-1.1-agent-surface-inventory.md
  .ito/changes/archive/2026-04-30-028-02_centralize-instruction-source-of-truth/demos/task-1.2-authoritative-instruction-templates.md
  .ito/changes/archive/2026-04-30-028-02_centralize-instruction-source-of-truth/demos/task-1.3-agent-template-activation.md
  .ito/changes/archive/2026-04-30-028-02_centralize-instruction-source-of-truth/demos/task-1.4-thin-orchestration-surfaces.md
  .ito/changes/archive/2026-04-30-028-02_centralize-instruction-source-of-truth/demos/task-2.1-coordination-symlink-repair.md
  .ito/changes/archive/2026-04-30-028-02_centralize-instruction-source-of-truth/demos/task-2.2-generated-installs-quality-gate.md
  .ito/changes/archive/2026-04-30-028-02_centralize-instruction-source-of-truth/design.md
  .ito/changes/archive/2026-04-30-028-02_centralize-instruction-source-of-truth/proposal.md
  .ito/changes/archive/2026-04-30-028-02_centralize-instruction-source-of-truth/specs/agent-memory-abstraction/spec.md
  .ito/changes/archive/2026-04-30-028-02_centralize-instruction-source-of-truth/specs/agent-surface-taxonomy/spec.md
  .ito/changes/archive/2026-04-30-028-02_centralize-instruction-source-of-truth/specs/coordination-worktree/spec.md
  .ito/changes/archive/2026-04-30-028-02_centralize-instruction-source-of-truth/specs/instruction-source-of-truth/spec.md
  .ito/changes/archive/2026-04-30-028-02_centralize-instruction-source-of-truth/specs/orchestrate-instruction/spec.md
  .ito/changes/archive/2026-04-30-028-02_centralize-instruction-source-of-truth/tasks.md
  .ito/specs/agent-memory-abstraction/spec.md
  .ito/specs/agent-surface-taxonomy/spec.md
  .ito/specs/coordination-worktree/spec.md
  .ito/specs/instruction-source-of-truth/spec.md
  .ito/specs/orchestrate-instruction/spec.md
Due: none

Apply suggestion from @coderabbitai[bot]
  ito-rs/crates/ito-common/src/harness.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: start task for change 025-11_repository-backed-artifact-mutations
  .ito/changes/025-11_repository-backed-artifact-mutations/tasks.md
Due: none

chore: complete task for change 025-11_repository-backed-artifact-mutations
  .ito/changes/025-11_repository-backed-artifact-mutations/tasks.md
Due: none

chore: sync coordination worktree
  .ito/changes/025-11_repository-backed-artifact-mutations/demos/task-1-model-and-spec-validation.md
Due: none

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
