Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

fix(templates): tighten commands, adapters, schemas, remove stale refs
  ito-rs/crates/ito-templates/assets/adapters/codex/ito-skills-bootstrap.md
  ito-rs/crates/ito-templates/assets/adapters/opencode/ito-skills.js
  ito-rs/crates/ito-templates/assets/commands/ito-apply.md
  ito-rs/crates/ito-templates/assets/default/project/.github/workflows/copilot-setup-steps.yml
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/tasks.md
  ito-rs/crates/ito-templates/assets/schemas/tdd/schema.yaml
Due: markdownlint-cli2

feat(templates): add github-copilot harness support to bootstrap
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/tests/agent_instruction_bootstrap.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/bootstrap.md.j2
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fmt
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-templates/tests/worktree_template_rendering.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(templates): hide internal guidance scaffolding from instruction output
  .ito/changes/019-02_internal-guidance-comments/.ito.yaml
  .ito/changes/019-02_internal-guidance-comments/proposal.md
  .ito/changes/019-02_internal-guidance-comments/specs/instruction-guidance-injection/spec.md
  .ito/changes/019-02_internal-guidance-comments/tasks.md
  .ito/modules/019_templates/module.md
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/tests/templates_user_guidance.rs
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-guidance.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-prompts/apply.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-prompts/guidance.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-prompts/proposal.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-prompts/tasks.md
  ito-rs/crates/ito-templates/tests/user_guidance_template.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fmt
  ito-rs/crates/ito-core/tests/templates_user_guidance.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(coordination): reserve 019-03_upgrade-marker-managed-prompt-refresh
  .ito/changes/019-03_upgrade-marker-managed-prompt-refresh/.ito.yaml
Due: none

fix(019-02): hide internal guidance scaffolding from instruction output (#93)
  .ito/changes/019-02_internal-guidance-comments/.ito.yaml
  .ito/changes/019-02_internal-guidance-comments/proposal.md
  .ito/changes/019-02_internal-guidance-comments/specs/instruction-guidance-injection/spec.md
  .ito/changes/019-02_internal-guidance-comments/tasks.md
  .ito/modules/019_templates/module.md
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/tests/templates_user_guidance.rs
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-guidance.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-prompts/apply.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-prompts/guidance.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-prompts/proposal.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-prompts/tasks.md
  ito-rs/crates/ito-templates/tests/user_guidance_template.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs(019-03): add marker-scoped prompt upgrade proposal
  .ito/changes/019-03_upgrade-marker-managed-prompt-refresh/.ito.yaml
  .ito/changes/019-03_upgrade-marker-managed-prompt-refresh/design.md
  .ito/changes/019-03_upgrade-marker-managed-prompt-refresh/proposal.md
  .ito/changes/019-03_upgrade-marker-managed-prompt-refresh/specs/ito-init/spec.md
  .ito/changes/019-03_upgrade-marker-managed-prompt-refresh/specs/rust-installers/spec.md
  .ito/changes/019-03_upgrade-marker-managed-prompt-refresh/tasks.md
  .ito/modules/019_templates/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

fmt
  .ito/workflows/.state/change-allocations.json
Due: none

Update .ito/modules/019_templates/module.md
  .ito/modules/019_templates/module.md
Due: none

docs(019-03): add marker-scoped prompt upgrade proposal (#94)
  .ito/changes/019-03_upgrade-marker-managed-prompt-refresh/.ito.yaml
  .ito/changes/019-03_upgrade-marker-managed-prompt-refresh/design.md
  .ito/changes/019-03_upgrade-marker-managed-prompt-refresh/proposal.md
  .ito/changes/019-03_upgrade-marker-managed-prompt-refresh/specs/ito-init/spec.md
  .ito/changes/019-03_upgrade-marker-managed-prompt-refresh/specs/rust-installers/spec.md
  .ito/changes/019-03_upgrade-marker-managed-prompt-refresh/tasks.md
  .ito/modules/019_templates/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

fix(pr95): address review feedback on bootstrap and templates
  .github/workflows/ci.yml
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-cli/tests/support/mod.rs
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-templates/assets/adapters/codex/ito-skills-bootstrap.md
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/tasks.md
  ito-rs/crates/ito-templates/assets/skills/ito-commit/SKILL.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

refactor(templates): split guidance and task parsing modules
  ito-rs/crates/ito-core/src/templates/guidance.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/src/templates/task_parsing.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: align templates exports and formatting for push checks
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-templates/tests/worktree_template_rendering.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(templates): harden apply instruction shell snippets
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
Due: none

fmt: apply hook formatting after merge resolution
  ito-rs/crates/ito-cli/tests/update_smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Dev (#95)
  .github/workflows/ci.yml
  .ito/changes/019-02_internal-guidance-comments/.ito.yaml
  .ito/changes/019-02_internal-guidance-comments/proposal.md
  .ito/changes/019-02_internal-guidance-comments/specs/instruction-guidance-injection/spec.md
  .ito/changes/019-02_internal-guidance-comments/tasks.md
  .ito/changes/019-03_upgrade-marker-managed-prompt-refresh/.ito.yaml
  .ito/changes/019-03_upgrade-marker-managed-prompt-refresh/design.md
  .ito/changes/019-03_upgrade-marker-managed-prompt-refresh/proposal.md
  .ito/changes/019-03_upgrade-marker-managed-prompt-refresh/specs/ito-init/spec.md
  .ito/changes/019-03_upgrade-marker-managed-prompt-refresh/specs/rust-installers/spec.md
  .ito/changes/019-03_upgrade-marker-managed-prompt-refresh/tasks.md
  .ito/modules/019_templates/module.md
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-cli/tests/agent_instruction_bootstrap.rs
  ito-rs/crates/ito-cli/tests/support/mod.rs
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-core/src/templates/guidance.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/src/templates/task_parsing.rs
  ito-rs/crates/ito-core/tests/templates_user_guidance.rs
  ito-rs/crates/ito-templates/assets/adapters/codex/ito-skills-bootstrap.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-guidance.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-prompts/apply.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-prompts/guidance.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-prompts/proposal.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-prompts/tasks.md
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/tasks.md
  ito-rs/crates/ito-templates/assets/skills/ito-commit/SKILL.md
  ito-rs/crates/ito-templates/tests/user_guidance_template.rs
  ito-rs/crates/ito-templates/tests/worktree_template_rendering.rs
  scripts/docs_copy_zensical_assets.py
  scripts/docs_prepare_check_config.py
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: refresh README and Windows install
  .github/workflows/ci.yml
  .github/workflows/polish-release-notes.yml
  README.md
  docs/index.md
  scripts/install.ps1
Due: markdownlint-cli2, arch-guardrails

chore: refresh README and Windows install (#98)
  .github/workflows/ci.yml
  .github/workflows/polish-release-notes.yml
  README.md
  docs/index.md
  scripts/install.ps1
Due: markdownlint-cli2, arch-guardrails

prek
  .pre-commit-config.yaml
Due: arch-guardrails

chore(coordination): reserve 019-04_schema-driven-validation
  .ito/changes/019-04_schema-driven-validation/.ito.yaml
Due: none

chore(coordination): reserve 001-24_schema-validation-format-specs
  .ito/changes/001-24_schema-validation-format-specs/.ito.yaml
Due: none

chore(coordination): reserve 001-25_tracking-file-support
  .ito/changes/001-25_tracking-file-support/.ito.yaml
Due: none

chore(coordination): reserve 019-05_embed-openspec-schemas
  .ito/changes/019-05_embed-openspec-schemas/.ito.yaml
Due: none

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
