Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

feat: sync coordination state at workflow boundaries
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-cli/tests/instructions_more.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/archive.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/finish.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/new-proposal.md.j2
  ito-rs/crates/ito-templates/src/instructions_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: sync coordination worktree
  .ito/changes/019-09_ito-update-repo-skill/proposal.md
  .ito/changes/019-09_ito-update-repo-skill/specs/ito-managed-asset-versioning/spec.md
  .ito/changes/019-09_ito-update-repo-skill/tasks.md
  .ito/changes/029-02_agent-memory-abstraction/README.md
  .ito/changes/029-02_agent-memory-abstraction/proposal.md
  .ito/changes/029-02_agent-memory-abstraction/specs/agent-instructions/spec.md
  .ito/changes/029-02_agent-memory-abstraction/specs/agent-memory-abstraction/spec.md
  .ito/changes/029-02_agent-memory-abstraction/tasks.md
Due: none

chore: create change 012-06_enforce-worktree-change-guidance
  .ito/changes/012-06_enforce-worktree-change-guidance/.ito.yaml
  .ito/modules/012_git-worktrees/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

chore: create change 012-07_guard-opencode-worktree-path
  .ito/changes/012-07_guard-opencode-worktree-path/.ito.yaml
  .ito/modules/012_git-worktrees/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

chore: sync coordination worktree
  .ito/changes/012-06_enforce-worktree-change-guidance/design.md
  .ito/changes/012-06_enforce-worktree-change-guidance/proposal.md
  .ito/changes/012-06_enforce-worktree-change-guidance/specs/cli-artifact-workflow/spec.md
  .ito/changes/012-06_enforce-worktree-change-guidance/tasks.md
  .ito/changes/012-07_guard-opencode-worktree-path/design.md
  .ito/changes/012-07_guard-opencode-worktree-path/proposal.md
  .ito/changes/012-07_guard-opencode-worktree-path/specs/cli-artifact-workflow/spec.md
  .ito/changes/012-07_guard-opencode-worktree-path/specs/cli-config/spec.md
  .ito/changes/012-07_guard-opencode-worktree-path/tasks.md
Due: none

chore: start task for change 019-09_ito-update-repo-skill
  .ito/changes/019-09_ito-update-repo-skill/tasks.md
Due: none

chore: complete task for change 019-09_ito-update-repo-skill
  .ito/changes/019-09_ito-update-repo-skill/tasks.md
Due: none

chore: shelve task for change 019-09_ito-update-repo-skill
  .ito/changes/019-09_ito-update-repo-skill/tasks.md
Due: none

feat(029-01): add ByteRover integration and bootstrap curation (#206)
  .agents/skills/byterover/README.md
  .agents/skills/byterover/byterover-audit/SKILL.md
  .agents/skills/byterover/byterover-explore/SKILL.md
  .agents/skills/byterover/byterover-plan/SKILL.md
  .agents/skills/byterover/byterover-review/SKILL.md
  .claude/skills/byterover-audit/SKILL.md
  .claude/skills/byterover-explore/SKILL.md
  .claude/skills/byterover-plan/SKILL.md
  .claude/skills/byterover-review/SKILL.md
  .claude/skills/byterover/SKILL.md
  .gitignore
Due: markdownlint-cli2

chore: sync coordination worktree
  .ito/changes/019-09_ito-update-repo-skill/tasks.md
  .ito/changes/023-09_marker-aware-manifest-installs/.ito.yaml
  .ito/changes/023-09_marker-aware-manifest-installs/proposal.md
  .ito/changes/023-09_marker-aware-manifest-installs/specs/cli-update/spec.md
  .ito/changes/023-09_marker-aware-manifest-installs/tasks.md
  .ito/modules/023_harness-hooks/module.md
Due: none

chore: start task for change 023-09_marker-aware-manifest-installs
  .ito/changes/023-09_marker-aware-manifest-installs/tasks.md
Due: none

fix: keep create syncs blocking
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: complete task for change 023-09_marker-aware-manifest-installs
  .ito/changes/023-09_marker-aware-manifest-installs/tasks.md
Due: none

Add workflow dispatch trigger to code review
  .github/workflows/claude-code-review.yml
Due: none

Sync coordination state at workflow boundaries (#209)
  ito-rs/crates/ito-cli/src/app/archive.rs
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-cli/tests/instructions_more.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/archive.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/finish.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/new-proposal.md.j2
  ito-rs/crates/ito-templates/src/instructions_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: complete task for change 029-02_agent-memory-abstraction
  .ito/changes/029-02_agent-memory-abstraction/tasks.md
Due: none

chore: start task for change 029-02_agent-memory-abstraction
  .ito/changes/029-02_agent-memory-abstraction/tasks.md
Due: none

feat(023-09): marker-scoped harness manifest installs
  ito-rs/crates/ito-cli/tests/update_marker_scoped.rs
  ito-rs/crates/ito-core/src/distribution.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-core/tests/distribution.rs
  ito-rs/crates/ito-templates/assets/skills/ito-update-repo/SKILL.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
