Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

chore: start task for change 016-18_add-archived-list-filter
  .ito/changes/016-18_add-archived-list-filter/tasks.md
Due: none

chore: complete task for change 016-18_add-archived-list-filter
  .ito/changes/016-18_add-archived-list-filter/demos/archived-list-filter.md
  .ito/changes/016-18_add-archived-list-filter/tasks.md
Due: none

feat(cli): add archived list filter
  ito-rs/crates/ito-cli/src/app/list.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/list_archive.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_list_help.snap
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

test(cli): stabilize ito-plan asset assertions
  ito-rs/crates/ito-cli/tests/init_agent_activation.rs
  ito-rs/crates/ito-cli/tests/update_smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs: fix markdownlint issues in archived changes
  docs/ito/changes/active/026-01_ito-cleanup/proposal.md
  docs/ito/changes/archive/2025-12-21-add-config-command/design.md
  docs/ito/changes/archive/2026-02-10-015-14_consolidate-workspace-crates/specs/repo-precommit-quality-gates/spec.md
  docs/ito/changes/archive/2026-02-15-005-10_integrate-bacon-workflow/design.md
  docs/ito/changes/archive/2026-04-25-029-02_agent-memory-abstraction/proposal.md
  docs/ito/changes/archive/2026-04-29-011-05_add-ito-validate-repo-coordination-rules/demos/wave-2-rules-and-detection.md
  docs/ito/changes/archive/2026-04-30-019-11_rename-orchestrator-assets/demos/rename-specialist-role-assets.md
Due: markdownlint-cli2

docs(agents): add pre-push adversarial review guidance
  .agents/skills/ito-general/SKILL.md
  .brv/context-tree/_index.md
  .brv/context-tree/_manifest.json
  .brv/context-tree/development/_index.md
  .brv/context-tree/development/ito_workflow/_index.md
  .brv/context-tree/development/ito_workflow/audit_mirror_concurrency_and_temp_naming.md
  .brv/context-tree/development/ito_workflow/coordination_branch_git_behavior.md
  .brv/context-tree/development/ito_workflow/coordination_symlink_repair_and_sync.md
  .brv/context-tree/development/ito_workflow/obsolete_specialist_cleanup.md
  .brv/context-tree/development/ito_workflow/pre_push_adversarial_code_review.abstract.md
  .brv/context-tree/development/ito_workflow/pre_push_adversarial_code_review.md
  .brv/context-tree/development/ito_workflow/pre_push_adversarial_code_review.overview.md
  .brv/context-tree/development/source_guides/source_guide_workflow.md
Due: markdownlint-cli2

chore: start task for change 011-04_ito-init-update
  .ito/changes/011-04_ito-init-update/tasks.md
Due: none

chore: complete task for change 011-04_ito-init-update
  .ito/changes/011-04_ito-init-update/tasks.md
Due: none

chore: sync coordination worktree
  .ito/changes/012-08_replace-raw-git-worktrees-with-worktrunk/tasks.md
Due: none

feat(init): add update worktree configuration flags
  README.md
  docs/config.md
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/app/update.rs
  ito-rs/crates/ito-cli/src/app/worktree_wizard.rs
  ito-rs/crates/ito-cli/src/app/worktree_wizard/worktree_wizard_tests.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/cli/init_update.rs
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/init_rendering.rs
  ito-rs/crates/ito-cli/tests/init_worktree_flags.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_init_help.snap
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-config/src/config/mod.rs
  ito-rs/crates/ito-config/src/config/setup_coverage.rs
  ito-rs/crates/ito-templates/assets/skills/ito-plan/SKILL.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(worktrees): use worktrunk for worktree setup
  ito-rs/crates/ito-core/src/audit/worktree.rs
  ito-rs/crates/ito-core/src/worktree_ensure.rs
  ito-rs/crates/ito-core/src/worktree_ensure_tests.rs
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/new-proposal.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/worktrees.md.j2
  ito-rs/crates/ito-templates/assets/skills/ito-using-git-worktrees/SKILL.md
  ito-rs/crates/ito-templates/src/instructions_tests.rs
  ito-rs/crates/ito-templates/src/project_templates.rs
  ito-rs/crates/ito-templates/tests/worktree_template_rendering.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(schemas): embed openspec schema metadata
  THIRD_PARTY_NOTICES.md
  docs/config.md
  ito-rs/crates/ito-cli/tests/templates_schemas_export.rs
  ito-rs/crates/ito-core/src/templates/types.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/tests/validate.rs
  ito-rs/crates/ito-templates/assets/schemas/event-driven/UPSTREAM.md
  ito-rs/crates/ito-templates/assets/schemas/event-driven/validation.yaml
  ito-rs/crates/ito-templates/assets/schemas/minimalist/UPSTREAM.md
  ito-rs/crates/ito-templates/assets/schemas/minimalist/validation.yaml
  ito-rs/crates/ito-templates/src/lib.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: complete task for change 026-01_ito-cleanup
  .ito/changes/012-08_replace-raw-git-worktrees-with-worktrunk/tasks.md
  .ito/changes/019-05_embed-openspec-schemas/tasks.md
  .ito/changes/022-01_separate-tests-into-foo-tests/tasks.md
  .ito/changes/026-01_ito-cleanup/tasks.md
Due: none

chore: complete task for change 026-01_ito-cleanup
  .ito/changes/026-01_ito-cleanup/tasks.md
Due: none

chore: complete task for change 027-01_add-ito-wiki
  .ito/changes/027-01_add-ito-wiki/tasks.md
Due: none

feat(cleanup): add Ito managed asset cleanup
  docs/ito/changes/active/026-01_ito-cleanup/proposal.md
  docs/ito/changes/archive/2025-12-21-add-config-command/design.md
  docs/ito/changes/archive/2026-02-10-015-14_consolidate-workspace-crates/specs/repo-precommit-quality-gates/spec.md
  docs/ito/changes/archive/2026-02-15-005-10_integrate-bacon-workflow/design.md
  docs/ito/changes/archive/2026-04-25-029-02_agent-memory-abstraction/proposal.md
  docs/ito/changes/archive/2026-04-29-011-05_add-ito-validate-repo-coordination-rules/demos/wave-2-rules-and-detection.md
  docs/ito/changes/archive/2026-04-30-019-11_rename-orchestrator-assets/demos/rename-specialist-role-assets.md
  ito-rs/crates/ito-cli/src/app/cleanup_instructions.rs
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/mod.rs
  ito-rs/crates/ito-cli/src/cli/agent.rs
  ito-rs/crates/ito-cli/src/cli/init_update.rs
  ito-rs/crates/ito-cli/tests/agent_instruction_cleanup.rs
  ito-rs/crates/ito-cli/tests/init_cleanup.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_agent_instruction_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_init_help.snap
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/cleanup.md.j2
  ito-rs/crates/ito-templates/assets/skills/ito-cleanup/SKILL.md
  ito-rs/crates/ito-templates/src/instructions_tests.rs
  ito-rs/crates/ito-templates/src/legacy.rs
  ito-rs/crates/ito-templates/src/legacy_tests.rs
  ito-rs/crates/ito-templates/src/lib.rs
  ito-rs/crates/ito-templates/src/manifest.rs
  ito-rs/crates/ito-templates/src/manifest_tests.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(wiki): integrate workflow guidance
  ito-rs/crates/ito-templates/assets/default/project/.ito/AGENTS.md
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/assets/instructions/agent/archive.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/new-proposal.md.j2
  ito-rs/crates/ito-templates/assets/skills/ito-archive/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-proposal/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-research/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-research/research-architecture.md
  ito-rs/crates/ito-templates/assets/skills/ito-research/research-features.md
  ito-rs/crates/ito-templates/assets/skills/ito-research/research-pitfalls.md
  ito-rs/crates/ito-templates/assets/skills/ito-research/research-stack.md
  ito-rs/crates/ito-templates/assets/skills/ito-research/research-synthesize.md
  ito-rs/crates/ito-templates/assets/skills/ito-research/review-edge.md
  ito-rs/crates/ito-templates/assets/skills/ito-research/review-scale.md
  ito-rs/crates/ito-templates/assets/skills/ito-research/review-security.md
  ito-rs/crates/ito-templates/src/instructions_tests.rs
  ito-rs/crates/ito-templates/src/lib.rs
  ito-rs/crates/ito-templates/src/project_templates.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(wiki): scaffold Ito project wiki
  ito-rs/crates/ito-core/src/installers/json_tests.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-core/tests/distribution.rs
  ito-rs/crates/ito-core/tests/wiki_install.rs
  ito-rs/crates/ito-templates/assets/default/project/.ito/wiki/_meta/config.yaml
  ito-rs/crates/ito-templates/assets/default/project/.ito/wiki/_meta/schema.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/wiki/_meta/status.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/wiki/index.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/wiki/log.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/wiki/overview.md
  ito-rs/crates/ito-templates/assets/skills/ito-wiki-search/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-wiki/SKILL.md
  ito-rs/crates/ito-templates/src/lib.rs
  ito-rs/crates/ito-templates/tests/wiki_scaffold.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(wiki): seed Ito project wiki
  .ito/wiki/_meta/config.yaml
  .ito/wiki/_meta/schema.md
  .ito/wiki/_meta/status.md
  .ito/wiki/index.md
  .ito/wiki/log.md
  .ito/wiki/overview.md
  .ito/wiki/research/rust-port.md
  .ito/wiki/topics/distribution-and-agents.md
  .ito/wiki/topics/runtime-and-storage.md
  .ito/wiki/topics/validation-quality-gates.md
  .ito/wiki/topics/workflow.md
  ito-rs/crates/ito-templates/src/lib.rs
  ito-rs/crates/ito-templates/src/wiki_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
