Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: cargo
  language: system
  args:
  - fmt
  - --manifest-path
  - ito-rs/Cargo.toml
  - --all
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: cargo
  language: system
  args:
  - clippy
  - --manifest-path
  - ito-rs/Cargo.toml
  - --workspace
  - --all-targets
  - --
  - -D
  - warnings
  - -D
  - clippy::dbg_macro
  - -D
  - clippy::todo
  - -D
  - clippy::unimplemented
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

cargo-test:
  name: cargo test (ito-rs)
  entry: make
  language: system
  args:
  - test
  pass_filenames: false
  stages:
  - pre-push

check-max-lines:
  name: check max lines (ito-rs)
  entry: python3
  language: system
  args:
  - ito-rs/tools/check_max_lines.py
  - --soft-limit
  - '1000'
  - --hard-limit
  - '1200'
  - --root
  - ito-rs
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

Update ito-rs/tools/test-affected.sh
  ito-rs/tools/test-affected.sh
Due: none

fix(ci): fix doctest and formatting regressions
  ito-rs/crates/ito-cli/tests/list_regression.rs
  ito-rs/crates/ito-core/src/list.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

fix env
  ito-rs/tools/test-affected.sh
Due: none

Correct DEPENDENTS map in test-affected.sh to match actual workspace dependencies (#13)
  ito-rs/tools/test-affected.sh
Due: none

slacked deny and regen locl
  Cargo.lock
  deny.toml
Due: none

archive completed changes
  .ito/changes/archive/2026-02-10-001-19_archive-completed-flag/.ito.yaml
  .ito/changes/archive/2026-02-10-001-19_archive-completed-flag/proposal.md
  .ito/changes/archive/2026-02-10-001-19_archive-completed-flag/specs/cli-archive/spec.md
  .ito/changes/archive/2026-02-10-001-19_archive-completed-flag/tasks.md
  .ito/changes/archive/2026-02-10-003-03_optimize-unit-test-speed/.ito.yaml
  .ito/changes/archive/2026-02-10-003-03_optimize-unit-test-speed/design.md
  .ito/changes/archive/2026-02-10-003-03_optimize-unit-test-speed/proposal.md
  .ito/changes/archive/2026-02-10-003-03_optimize-unit-test-speed/specs/harness-timeout-fix/spec.md
  .ito/changes/archive/2026-02-10-003-03_optimize-unit-test-speed/tasks.md
  .ito/changes/archive/2026-02-10-003-04_optimize-test-execution/.ito.yaml
  .ito/changes/archive/2026-02-10-003-04_optimize-test-execution/proposal.md
  .ito/changes/archive/2026-02-10-003-04_optimize-test-execution/specs/qa-testing-area/spec.md
  .ito/changes/archive/2026-02-10-003-04_optimize-test-execution/tasks.md
  .ito/changes/archive/2026-02-10-005-15_automated-rust-releases/.ito.yaml
  .ito/changes/archive/2026-02-10-005-15_automated-rust-releases/design.md
  .ito/changes/archive/2026-02-10-005-15_automated-rust-releases/proposal.md
  .ito/changes/archive/2026-02-10-005-15_automated-rust-releases/specs/release-artifacts/spec.md
  .ito/changes/archive/2026-02-10-005-15_automated-rust-releases/specs/release-automation/spec.md
  .ito/changes/archive/2026-02-10-005-15_automated-rust-releases/tasks.md
  .ito/modules/003_qa-testing/module.md
  .ito/modules/005_dev-tooling/module.md
  .ito/specs/cli-archive/spec.md
  .ito/specs/harness-timeout-fix/spec.md
  .ito/specs/qa-testing-area/spec.md
  .ito/specs/release-artifacts/spec.md
  .ito/specs/release-automation/spec.md
Due: none

chore: release v0.1.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  ito-rs/crates/ito-common/CHANGELOG.md
  ito-rs/crates/ito-config/CHANGELOG.md
  ito-rs/crates/ito-core/CHANGELOG.md
  ito-rs/crates/ito-domain/CHANGELOG.md
  ito-rs/crates/ito-logging/CHANGELOG.md
  ito-rs/crates/ito-templates/CHANGELOG.md
  ito-rs/crates/ito-web/CHANGELOG.md
Due: markdownlint-cli2

Ralph loop iteration 1
  .ito/changes/003-03_optimize-unit-test-speed/tasks.md
  Makefile
Due: arch-guardrails

Update CHANGELOG.md
  CHANGELOG.md
Due: markdownlint-cli2

Ralph loop iteration 2
  .ito/changes/003-03_optimize-unit-test-speed/tasks.md
  .ito/changes/003-04_optimize-test-execution/.ito.yaml
  .ito/changes/003-04_optimize-test-execution/proposal.md
  .ito/changes/003-04_optimize-test-execution/specs/qa-testing-area/spec.md
  .ito/changes/003-04_optimize-test-execution/tasks.md
  Cargo.lock
Due: none

perf(tests): add nextest, test profile opt-level=1, TIA script
  .ito/changes/003-04_optimize-test-execution/tasks.md
Due: none

fix: address PR #9 review feedback
  .ito/changes/003-04_optimize-test-execution/tasks.md
  ito-rs/crates/ito-cli/tests/list_regression.rs
  ito-rs/crates/ito-core/src/list.rs
  ito-rs/tools/test-affected.sh
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

chore(changelog): clean duplicate headers in release PR
  ito-rs/crates/ito-cli/CHANGELOG.md
  ito-rs/crates/ito-common/CHANGELOG.md
  ito-rs/crates/ito-config/CHANGELOG.md
  ito-rs/crates/ito-core/CHANGELOG.md
  ito-rs/crates/ito-domain/CHANGELOG.md
  ito-rs/crates/ito-logging/CHANGELOG.md
  ito-rs/crates/ito-templates/CHANGELOG.md
  ito-rs/crates/ito-test-support/CHANGELOG.md
  ito-rs/crates/ito-web/CHANGELOG.md
Due: markdownlint-cli2

chore: release v0.1.1 (#14)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  ito-rs/crates/ito-cli/CHANGELOG.md
  ito-rs/crates/ito-common/CHANGELOG.md
  ito-rs/crates/ito-config/CHANGELOG.md
  ito-rs/crates/ito-core/CHANGELOG.md
  ito-rs/crates/ito-domain/CHANGELOG.md
  ito-rs/crates/ito-logging/CHANGELOG.md
  ito-rs/crates/ito-templates/CHANGELOG.md
  ito-rs/crates/ito-test-support/CHANGELOG.md
  ito-rs/crates/ito-web/CHANGELOG.md
Due: markdownlint-cli2

fix(ci): disable publish for ito-test-support in release-plz
  release-plz.toml
Due: none

Ralph loop iteration 1
  .ito/changes/002-10_validate-completion-before-exit/tasks.md
Due: none

ADD so release trigger homebrew automatically
  .github/workflows/v-release.yml
Due: none

Ralph loop iteration 1
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/app/update.rs
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-core/src/distribution.rs
  ito-rs/crates/ito-core/tests/distribution.rs
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/assets/skills/using-git-worktrees/SKILL.md
  ito-rs/crates/ito-templates/src/project_templates.rs
  ito-rs/crates/ito-templates/tests/worktree_template_rendering.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

Ralph loop iteration 2
  .ito/changes/012-03_worktree-aware-agents-md/tasks.md
Due: none

feat(workflow): embed schemas and add export command
  .ito/changes/001-21_embed-and-export-workflow-schemas/.ito.yaml
  .ito/changes/001-21_embed-and-export-workflow-schemas/design.md
  .ito/changes/001-21_embed-and-export-workflow-schemas/proposal.md
  .ito/changes/001-21_embed-and-export-workflow-schemas/specs/artifact-graph/spec.md
  .ito/changes/001-21_embed-and-export-workflow-schemas/specs/cli-templates-schemas/spec.md
  .ito/changes/001-21_embed-and-export-workflow-schemas/tasks.md
  .ito/modules/001_workflow-enhancements/module.md
  docs/schema-customization.md
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/help.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/src/commands/templates.rs
  ito-rs/crates/ito-cli/tests/templates_schemas_export.rs
  ito-rs/crates/ito-core/src/workflow/mod.rs
  ito-rs/crates/ito-core/src/workflow/schema_assets.rs
  ito-rs/crates/ito-core/tests/workflow_schema_resolution.rs
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/schema.yaml
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/design.md
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/proposal.md
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/spec.md
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/tasks.md
  ito-rs/crates/ito-templates/assets/schemas/tdd/schema.yaml
  ito-rs/crates/ito-templates/assets/schemas/tdd/templates/docs.md
  ito-rs/crates/ito-templates/assets/schemas/tdd/templates/implementation.md
  ito-rs/crates/ito-templates/assets/schemas/tdd/templates/spec.md
  ito-rs/crates/ito-templates/assets/schemas/tdd/templates/test.md
  ito-rs/crates/ito-templates/src/lib.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

refactor(workflow): make ito workflow a no-op surface
  .ito/changes/001-22_sunset-legacy-workflow-command/.ito.yaml
  .ito/changes/001-22_sunset-legacy-workflow-command/design.md
  .ito/changes/001-22_sunset-legacy-workflow-command/proposal.md
  .ito/changes/001-22_sunset-legacy-workflow-command/specs/agent-instructions/spec.md
  .ito/changes/001-22_sunset-legacy-workflow-command/specs/cli-workflow/spec.md
  .ito/changes/001-22_sunset-legacy-workflow-command/specs/workflow-convergence/spec.md
  .ito/changes/001-22_sunset-legacy-workflow-command/tasks.md
  .ito/modules/001_workflow-enhancements/module.md
  README.md
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/workflow.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_domain_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/workflow_templates.rs
  ito-rs/crates/ito-core/tests/workflow_templates.rs
  schemas/spec-driven/schema.yaml
  schemas/spec-driven/templates/proposal.md
  schemas/spec-driven/templates/tasks.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test: any of: ^ito-rs/.*\.(rs|toml)$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
