Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            feat,
            fix,
            docs,
            style,
            refactor,
            perf,
            test,
            build,
            ci,
            chore,
            revert,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.20.0]
        args: [--config, .markdownlint-cli2.yaml]
        files: \.md$
        exclude: ^\.ito/

      - id: cargo-fmt
        name: cargo fmt (ito-rs)
        entry: make
        language: system
        args: [fmt]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-clippy
        name: cargo clippy (ito-rs)
        entry: make
        language: system
        args: [clippy]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-test-coverage
        name: cargo test with coverage (ito-rs)
        entry: make
        language: system
        args: [test-coverage]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-push]

      - id: cargo-test-affected
        name: cargo test affected (ito-rs)
        entry: make
        language: system
        args: [test-affected]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-commit]

      - id: check-max-lines
        name: check max lines (ito-rs)
        entry: make
        language: system
        args: [check-max-lines]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$

      - id: arch-guardrails
        name: architecture guardrails
        entry: make
        language: system
        args: [arch-guardrails]
        pass_filenames: false
        files: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$

      - id: cargo-deny
        name: cargo deny (license/advisory checks)
        entry: make
        language: system
        args: [cargo-deny]
        pass_filenames: false
        files: ^ito-rs/.*\.(toml|lock)$

feat(024-10): integrate front matter validation into change repository
  .ito/changes/024-10_multi-tenant-backend-server/tasks.md
  ito-rs/crates/ito-core/src/change_repository.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 1
  .ito/changes/024-10_multi-tenant-backend-server/tasks.md
  .ito/changes/archive/2026-02-02-005-12_change-module-repositories/design.md
  .ito/changes/archive/2026-02-02-005-12_change-module-repositories/proposal.md
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-backend/src/auth.rs
  ito-rs/crates/ito-backend/src/server.rs
  ito-rs/crates/ito-backend/src/state.rs
  ito-rs/crates/ito-backend/tests/multi_tenant.rs
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_agent_instruction_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-core/src/backend_client.rs
  ito-rs/crates/ito-core/src/fs_project_store.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/sqlite_project_store.rs
  ito-rs/crates/ito-core/tests/backend_client_mode.rs
  ito-rs/crates/ito-domain/src/backend.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/backend.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/bootstrap.md.j2
  ito-rs/crates/ito-templates/assets/skills/ito-workflow/SKILL.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: address PR review feedback - path traversal, auth redaction, and docs consistency
  .claude/skills/ito-loop/SKILL.md
  .codex/skills/ito-loop/SKILL.md
  .github/skills/ito-loop/SKILL.md
  .opencode/skills/ito-loop/SKILL.md
  .pi/skills/ito-loop/SKILL.md
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-backend/src/auth.rs
  ito-rs/crates/ito-backend/src/state.rs
  ito-rs/crates/ito-core/src/fs_project_store.rs
  ito-rs/crates/ito-templates/assets/skills/ito-loop/SKILL.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(024-11): add grep command
  .ito/changes/024-11_add-grep-command/tasks.md
  Cargo.lock
  Cargo.toml
  ito-rs/crates/ito-cli/src/app/grep.rs
  ito-rs/crates/ito-cli/src/app/mod.rs
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/cli/grep.rs
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/crates/ito-cli/tests/grep_more.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-core/Cargo.toml
  ito-rs/crates/ito-core/src/grep.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/stats.rs
  ito-rs/crates/ito-core/tests/grep_scopes.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

fix(grep): address PR review feedback
  ito-rs/crates/ito-cli/src/app/grep.rs
  ito-rs/crates/ito-cli/src/cli/grep.rs
  ito-rs/crates/ito-core/src/grep.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: add missing ito-loop template skill to salvage
  ito-rs/crates/ito-templates/assets/skills/ito-loop/SKILL.md
Due: markdownlint-cli2

chore(grep): apply import ordering after hooks
  ito-rs/crates/ito-cli/src/app/grep.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(024-10): wire multi-tenant backend server config
  .ito/changes/024-10_multi-tenant-backend-server/tasks.md
  Cargo.lock
  ito-rs/crates/ito-backend/Cargo.toml
  ito-rs/crates/ito-backend/src/api.rs
  ito-rs/crates/ito-backend/src/auth.rs
  ito-rs/crates/ito-backend/src/error.rs
  ito-rs/crates/ito-backend/src/lib.rs
  ito-rs/crates/ito-backend/src/server.rs
  ito-rs/crates/ito-backend/src/state.rs
  ito-rs/crates/ito-backend/tests/bootstrap_endpoints.rs
  ito-rs/crates/ito-backend/tests/event_ingest.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/serve_api.rs
  ito-rs/crates/ito-config/src/config/backend_types.rs
  ito-rs/crates/ito-config/src/config/mod.rs
  ito-rs/crates/ito-config/src/config/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

chore(024): add proposals for multi-tenant backend and grep
  .ito/changes/024-10_multi-tenant-backend-server/.ito.yaml
  .ito/changes/024-10_multi-tenant-backend-server/design.md
  .ito/changes/024-10_multi-tenant-backend-server/proposal.md
  .ito/changes/024-10_multi-tenant-backend-server/specs/artifact-front-matter/spec.md
  .ito/changes/024-10_multi-tenant-backend-server/specs/backend-agent-instructions/spec.md
  .ito/changes/024-10_multi-tenant-backend-server/specs/backend-artifact-store/spec.md
  .ito/changes/024-10_multi-tenant-backend-server/specs/backend-auth/spec.md
  .ito/changes/024-10_multi-tenant-backend-server/specs/backend-client-project-scope/spec.md
  .ito/changes/024-10_multi-tenant-backend-server/specs/backend-event-ingest/spec.md
  .ito/changes/024-10_multi-tenant-backend-server/specs/backend-project-store/spec.md
  .ito/changes/024-10_multi-tenant-backend-server/specs/backend-state-api/spec.md
  .ito/changes/024-10_multi-tenant-backend-server/specs/config/spec.md
  .ito/changes/024-10_multi-tenant-backend-server/tasks.md
  .ito/changes/024-11_add-grep-command/.ito.yaml
  .ito/changes/024-11_add-grep-command/design.md
  .ito/changes/024-11_add-grep-command/proposal.md
  .ito/changes/024-11_add-grep-command/specs/cli-grep/spec.md
  .ito/changes/024-11_add-grep-command/tasks.md
  .ito/modules/024_ito-backend/module.md
Due: none

feat(024-10): add YAML front matter parsing/writing utilities
  .ito/changes/024-10_multi-tenant-backend-server/tasks.md
  Cargo.lock
  ito-rs/crates/ito-core/Cargo.toml
  ito-rs/crates/ito-core/src/front_matter.rs
  ito-rs/crates/ito-core/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

Update ito-rs/crates/ito-core/src/grep.rs
  ito-rs/crates/ito-core/src/grep.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(ralph): harden continue-module filtering and commit checks
  ito-rs/crates/ito-core/src/ralph/runner.rs
  ito-rs/crates/ito-core/src/ralph/runner/runner_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(grep): address PR review feedback - normalize alias, for-loop style
  ito-rs/crates/ito-cli/src/app/grep.rs
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/crates/ito-core/src/grep.rs
  ito-rs/crates/ito-core/tests/grep_scopes.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

refactor(grep): pass module_repo to materialize, extract file collection helper
  ito-rs/crates/ito-cli/src/app/grep.rs
  ito-rs/crates/ito-core/src/grep.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Add `/respond`-triggered PR review triage workflow for Copilot follow-up (#127)
  .github/workflows/pr-respond-agent.yml
Due: none

feat(024-11): add grep command (#122)
  .ito/changes/024-11_add-grep-command/tasks.md
  Cargo.lock
  Cargo.toml
  ito-rs/crates/ito-cli/src/app/grep.rs
  ito-rs/crates/ito-cli/src/app/mod.rs
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/cli/grep.rs
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/crates/ito-cli/tests/grep_more.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-core/Cargo.toml
  ito-rs/crates/ito-core/src/grep.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/stats.rs
  ito-rs/crates/ito-core/tests/grep_scopes.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

fix(serve): eliminate ETXTBSY flakiness in tailscale detection tests (#132)
  ito-rs/crates/ito-cli/src/commands/serve.rs
  ito-rs/crates/ito-cli/src/commands/serve/serve_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(ralph): continue-module skips processed and validates worktree tasks
  ito-rs/crates/ito-core/src/ralph/runner.rs
  ito-rs/crates/ito-core/src/ralph/runner/runner_tests.rs
  ito-rs/crates/ito-core/src/ralph/validation.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

UPDATE AGENTS
  ito-rs/AGENTS.md
Due: markdownlint-cli2
