Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

updates
  Cargo.lock
  Cargo.toml
  ito-rs/tools/sync_versions.py
Due: none

feat(002-16): add worktree resolution for Ralph working directory
  ito-rs/crates/ito-cli/src/commands/ralph.rs
  ito-rs/crates/ito-core/src/audit/mod.rs
  ito-rs/crates/ito-core/src/audit/worktree.rs
  ito-rs/crates/ito-core/src/ralph/mod.rs
  ito-rs/crates/ito-core/src/ralph/runner.rs
  ito-rs/crates/ito-core/tests/ralph.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(002-16): thread resolved worktree cwd through Ralph pipeline
  ito-rs/crates/ito-cli/src/commands/ralph.rs
  ito-rs/crates/ito-core/src/audit/worktree.rs
  ito-rs/crates/ito-core/src/ralph/runner.rs
  ito-rs/crates/ito-core/tests/ralph.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

test(002-16): add worktree integration tests for Ralph pipeline
  ito-rs/crates/ito-core/tests/ralph.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(002-16): mark all 16 tasks complete
  .ito/changes/002-16_ralph-worktree-awareness/tasks.md
Due: none

feat(019-01): normalize all output paths to absolute
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/app/update.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-cli/src/commands/templates.rs
  ito-rs/crates/ito-core/tests/distribution.rs
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/skills/using-git-worktrees/SKILL.md
  ito-rs/crates/ito-templates/src/project_templates.rs
  ito-rs/crates/ito-templates/tests/worktree_template_rendering.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs: add worktree corrupt index troubleshooting to AGENTS.md
  AGENTS.md
Due: markdownlint-cli2

fix(002-16): address PR review round 2 feedback
  ito-rs/crates/ito-cli/src/commands/ralph.rs
  ito-rs/crates/ito-core/tests/ralph.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(019-01): address PR review feedback
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/app/update.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-cli/src/commands/templates.rs
  ito-rs/crates/ito-config/src/ito_dir/mod.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(019-01): address CodeRabbit nitpicks
  ito-rs/crates/ito-cli/src/app/update.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(019-01): address CodeRabbit nitpicks
  ito-rs/crates/ito-cli/src/app/update.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

refactor(002-16): address gemini re-review nitpicks
  ito-rs/crates/ito-cli/src/commands/ralph.rs
  ito-rs/crates/ito-core/src/audit/worktree.rs
  ito-rs/crates/ito-core/src/ralph/runner.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(002-16): update tasks with PR follow-up
  .ito/changes/002-16_ralph-worktree-awareness/tasks.md
Due: none

fix(config): restore build by removing stray token
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/app/update.rs
  ito-rs/crates/ito-cli/src/commands/create.rs
  ito-rs/crates/ito-cli/src/commands/templates.rs
  ito-rs/crates/ito-config/src/ito_dir/mod.rs
  ito-rs/crates/ito-templates/src/project_templates.rs
  ito-rs/crates/ito-templates/tests/worktree_template_rendering.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(002-16): Ralph worktree awareness (#60)
  .ito/changes/002-16_ralph-worktree-awareness/tasks.md
  ito-rs/crates/ito-cli/src/commands/ralph.rs
  ito-rs/crates/ito-core/src/audit/mod.rs
  ito-rs/crates/ito-core/src/audit/worktree.rs
  ito-rs/crates/ito-core/src/ralph/mod.rs
  ito-rs/crates/ito-core/src/ralph/runner.rs
  ito-rs/crates/ito-core/tests/ralph.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(002-16): archive ralph worktree awareness
  .ito/changes/archive/2026-02-15-002-16_ralph-worktree-awareness/.ito.yaml
  .ito/changes/archive/2026-02-15-002-16_ralph-worktree-awareness/proposal.md
  .ito/changes/archive/2026-02-15-002-16_ralph-worktree-awareness/specs/cli-ralph/spec.md
  .ito/changes/archive/2026-02-15-002-16_ralph-worktree-awareness/specs/ralph-worktree-awareness/spec.md
  .ito/changes/archive/2026-02-15-002-16_ralph-worktree-awareness/specs/rust-ralph/spec.md
  .ito/changes/archive/2026-02-15-002-16_ralph-worktree-awareness/tasks.md
  .ito/modules/002_ralph-loop/module.md
  .ito/specs/cli-ralph/spec.md
  .ito/specs/ralph-worktree-awareness/spec.md
  .ito/specs/rust-ralph/spec.md
Due: none

feat(002-09): add interactive ralph mode
  .ito/changes/002-09_add-ralph-interactive-mode/specs/cli-ralph/spec.md
  .ito/changes/002-09_add-ralph-interactive-mode/tasks.md
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/commands/ralph.rs
  ito-rs/crates/ito-cli/tests/ralph_smoke.rs
  ito-rs/crates/ito-cli/tests/support/mod.rs
  ito-rs/crates/ito-core/src/ralph/runner.rs
  ito-rs/crates/ito-core/src/ralph/runner/runner_tests.rs
  ito-rs/crates/ito-test-support/src/pty/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(019-01): add ito path helpers for agent output
  .ito/changes/019-01_absolute-paths-in-output/specs/absolute-path-output/spec.md
  .ito/changes/019-01_absolute-paths-in-output/specs/worktree-aware-template-rendering/spec.md
  .ito/changes/019-01_absolute-paths-in-output/tasks.md
  docs/agents/prek-index-corruption.md
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/cli/path.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/src/commands/path.rs
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/crates/ito-cli/tests/path_more.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-cli/tests/support/mod.rs
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/worktrees.md.j2
  ito-rs/crates/ito-templates/assets/skills/finishing-a-development-branch/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-path/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/research/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/subagent-driven-development/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/systematic-debugging/CREATION-LOG.md
  ito-rs/crates/ito-templates/assets/skills/systematic-debugging/root-cause-tracing.md
  ito-rs/crates/ito-templates/assets/skills/using-git-worktrees/SKILL.md
  ito-rs/crates/ito-templates/src/project_templates.rs
  ito-rs/crates/ito-templates/tests/worktree_template_rendering.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(002-09): address PR review feedback
  ito-rs/crates/ito-cli/src/commands/ralph.rs
  ito-rs/crates/ito-core/src/ralph/runner.rs
  ito-rs/crates/ito-core/src/ralph/runner/runner_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(019-01): harden instruction templates against injection
  ito-rs/crates/ito-cli/src/commands/path.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/worktrees.md.j2
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: address CodeRabbit nitpicks
  ito-rs/crates/ito-templates/assets/skills/subagent-driven-development/SKILL.md
  ito-rs/crates/ito-templates/src/project_templates.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(ito-config): repair ito_dir doctests
  ito-rs/crates/ito-config/src/ito_dir/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(ito-templates): add missing import in WorktreeTemplateContext doctest (#66)
  ito-rs/crates/ito-templates/src/project_templates.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(002-09): add interactive ralph mode (#64)
  .ito/changes/002-09_add-ralph-interactive-mode/specs/cli-ralph/spec.md
  .ito/changes/002-09_add-ralph-interactive-mode/tasks.md
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/commands/ralph.rs
  ito-rs/crates/ito-cli/tests/ralph_smoke.rs
  ito-rs/crates/ito-cli/tests/support/mod.rs
  ito-rs/crates/ito-config/src/ito_dir/mod.rs
  ito-rs/crates/ito-core/src/ralph/runner.rs
  ito-rs/crates/ito-core/src/ralph/runner/runner_tests.rs
  ito-rs/crates/ito-templates/src/project_templates.rs
  ito-rs/crates/ito-test-support/src/pty/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(ci): restore shell invocation and doctest examples
  ito-rs/crates/ito-config/src/ito_dir/mod.rs
  ito-rs/crates/ito-core/src/process.rs
  ito-rs/crates/ito-core/src/ralph/validation.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
