Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

chore: start task for change 011-05_add-ito-validate-repo-coordination-rules
  .ito/changes/011-05_add-ito-validate-repo-coordination-rules/tasks.md
Due: none

chore: complete task for change 011-05_add-ito-validate-repo-coordination-rules
  .ito/changes/011-05_add-ito-validate-repo-coordination-rules/tasks.md
Due: none

chore: start task for change 011-05_add-ito-validate-repo-coordination-rules
  .ito/changes/011-05_add-ito-validate-repo-coordination-rules/demos/wave-3-cli-surface.md
  .ito/changes/011-05_add-ito-validate-repo-coordination-rules/tasks.md
Due: none

chore: complete task for change 011-05_add-ito-validate-repo-coordination-rules
  .ito/changes/011-05_add-ito-validate-repo-coordination-rules/demos/wave-6-self-test.md
  .ito/changes/011-05_add-ito-validate-repo-coordination-rules/tasks.md
Due: none

docs(011-05): document validate_repo engine in architecture + AGENTS
  .ito/architecture.md
  ito-rs/crates/ito-cli/AGENTS.md
  ito-rs/crates/ito-core/AGENTS.md
Due: markdownlint-cli2

feat(011-05): scaffold validate_repo engine in ito-core
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/validate_repo/mod.rs
  ito-rs/crates/ito-core/src/validate_repo/registry.rs
  ito-rs/crates/ito-core/src/validate_repo/rule.rs
  ito-rs/crates/ito-core/src/validate_repo/staged.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(011-05): add ito validate repo CLI subcommand
  ito-rs/crates/ito-cli/src/app/entrypoint.rs
  ito-rs/crates/ito-cli/src/app/mod.rs
  ito-rs/crates/ito-cli/src/app/validate.rs
  ito-rs/crates/ito-cli/src/app/validate_repo.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/cli/validate.rs
  ito-rs/crates/ito-cli/src/cli_error.rs
  ito-rs/crates/ito-cli/tests/validate_repo_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(011-05): extend ito-update-repo skill + project-setup with pre-commit setup
  ito-rs/crates/ito-templates/assets/commands/ito-update-repo.md
  ito-rs/crates/ito-templates/assets/instructions/agent/project-setup.md.j2
  ito-rs/crates/ito-templates/assets/skills/ito-update-repo/SKILL.md
Due: markdownlint-cli2

feat(011-05): implement coordination, worktrees rules + pre-commit detection
  ito-rs/crates/ito-core/src/coordination_worktree.rs
  ito-rs/crates/ito-core/src/validate_repo/coordination_rules.rs
  ito-rs/crates/ito-core/src/validate_repo/mod.rs
  ito-rs/crates/ito-core/src/validate_repo/pre_commit_detect.rs
  ito-rs/crates/ito-core/src/validate_repo/registry.rs
  ito-rs/crates/ito-core/src/validate_repo/worktrees_rules.rs
  ito-rs/crates/ito-core/src/worktree_validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(011-05): wire pre-commit hook + ito init advisory
  .pre-commit-config.yaml
  ito-rs/AGENTS.md
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/tools/hooks/pre-commit
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(templates): apply cargo fmt drift
  ito-rs/crates/ito-templates/src/project_templates.rs
  ito-rs/crates/ito-templates/tests/worktree_template_rendering.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(011-05): expose canonical gitignore_entries() in ito-core::coordination
  ito-rs/crates/ito-core/src/coordination.rs
  ito-rs/crates/ito-core/src/coordination_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(011-05): keep coordination_worktree.rs at baseline line count
  ito-rs/crates/ito-core/src/coordination_worktree.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: sync coordination worktree
  .ito/changes/011-05_add-ito-validate-repo-coordination-rules/demos/wave-6-self-test.md
Due: none

chore: start task for change 028-02_centralize-instruction-source-of-truth
  .ito/changes/028-02_centralize-instruction-source-of-truth/tasks.md
Due: none

fix(011-05): address CodeRabbit + Gemini review feedback
  .ito/architecture.md
  ito-rs/AGENTS.md
  ito-rs/crates/ito-cli/src/app/validate_repo.rs
  ito-rs/crates/ito-cli/tests/validate_repo_cli.rs
  ito-rs/crates/ito-core/src/coordination_worktree.rs
  ito-rs/crates/ito-core/src/validate_repo/coordination_rules.rs
  ito-rs/crates/ito-core/src/validate_repo/mod.rs
  ito-rs/crates/ito-core/src/validate_repo/worktrees_rules.rs
  ito-rs/crates/ito-templates/assets/skills/ito-update-repo/SKILL.md
  ito-rs/tools/max_lines_baseline.txt
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: complete task for change 028-02_centralize-instruction-source-of-truth
  .ito/changes/028-02_centralize-instruction-source-of-truth/demos/task-1.1-agent-surface-inventory.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/tasks.md
Due: none

chore: complete task for change 028-02_centralize-instruction-source-of-truth
  .ito/changes/028-02_centralize-instruction-source-of-truth/demos/task-1.2-authoritative-instruction-templates.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/tasks.md
Due: none

feat(011-05): ito validate repo + coordination/worktrees rules (#229)
  .ito/architecture.md
  .pre-commit-config.yaml
  ito-rs/AGENTS.md
  ito-rs/crates/ito-cli/AGENTS.md
  ito-rs/crates/ito-cli/src/app/entrypoint.rs
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/app/mod.rs
  ito-rs/crates/ito-cli/src/app/validate.rs
  ito-rs/crates/ito-cli/src/app/validate_repo.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/cli/validate.rs
  ito-rs/crates/ito-cli/src/cli_error.rs
  ito-rs/crates/ito-cli/tests/validate_repo_cli.rs
  ito-rs/crates/ito-core/AGENTS.md
  ito-rs/crates/ito-core/src/coordination.rs
  ito-rs/crates/ito-core/src/coordination_tests.rs
  ito-rs/crates/ito-core/src/coordination_worktree.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/validate_repo/coordination_rules.rs
  ito-rs/crates/ito-core/src/validate_repo/mod.rs
  ito-rs/crates/ito-core/src/validate_repo/pre_commit_detect.rs
  ito-rs/crates/ito-core/src/validate_repo/registry.rs
  ito-rs/crates/ito-core/src/validate_repo/rule.rs
  ito-rs/crates/ito-core/src/validate_repo/staged.rs
  ito-rs/crates/ito-core/src/validate_repo/worktrees_rules.rs
  ito-rs/crates/ito-core/src/worktree_validate.rs
  ito-rs/crates/ito-templates/assets/commands/ito-update-repo.md
  ito-rs/crates/ito-templates/assets/instructions/agent/project-setup.md.j2
  ito-rs/crates/ito-templates/assets/skills/ito-update-repo/SKILL.md
  ito-rs/crates/ito-templates/src/project_templates.rs
  ito-rs/crates/ito-templates/tests/worktree_template_rendering.rs
  ito-rs/tools/hooks/pre-commit
  ito-rs/tools/max_lines_baseline.txt
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: start task for change 011-06_extend-ito-validate-repo-audit-repository-backend-rules
  .ito/changes/011-06_extend-ito-validate-repo-audit-repository-backend-rules/tasks.md
Due: none

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
