Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

Update new-proposal.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/new-proposal.md.j2
Due: none

change proposals
  .ito/changes/024-10_import-existing-and-archived-changes/.ito.yaml
  .ito/changes/024-10_import-existing-and-archived-changes/design.md
  .ito/changes/024-10_import-existing-and-archived-changes/proposal.md
  .ito/changes/024-10_import-existing-and-archived-changes/specs/backend-change-sync/spec.md
  .ito/changes/024-10_import-existing-and-archived-changes/specs/change-repository/spec.md
  .ito/changes/024-10_import-existing-and-archived-changes/specs/cli-init/spec.md
  .ito/changes/024-10_import-existing-and-archived-changes/tasks.md
  .ito/changes/024-11_export-changes-zip-archive/.ito.yaml
  .ito/changes/024-11_export-changes-zip-archive/design.md
  .ito/changes/024-11_export-changes-zip-archive/proposal.md
  .ito/changes/024-11_export-changes-zip-archive/specs/backend-change-sync/spec.md
  .ito/changes/024-11_export-changes-zip-archive/specs/change-repository/spec.md
  .ito/changes/024-11_export-changes-zip-archive/tasks.md
  .ito/modules/024_ito-backend/module.md
  .ito/workflows/.state/change-allocations.json
  AGENTS.md
Due: markdownlint-cli2

lint fixes
  .github/workflows/ito-apply.lock.yml
  .github/workflows/ito-proposal.lock.yml
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-templates/assets/instructions/agent/new-proposal.md.j2
Due: none

fix merge
  .ito/workflows/.state/change-allocations.json
Due: none

fix: resolve merge conflict markers
  .ito/modules/024_ito-backend/module.md
  AGENTS.md
Due: markdownlint-cli2

feat: add finish instruction and consolidate proposal guidance
  AGENTS.md
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/agent_instruction_bootstrap.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_agent_instruction_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-templates/assets/adapters/codex/ito-skills-bootstrap.md
  ito-rs/crates/ito-templates/assets/commands/ito-proposal.md
  ito-rs/crates/ito-templates/assets/instructions/agent/apply.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/bootstrap.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/finish.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/new-proposal.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/worktrees.md.j2
  ito-rs/crates/ito-templates/assets/skills/ito-finishing-a-development-branch/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-proposal/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-using-git-worktrees/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-workflow/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-write-change-proposal/SKILL.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

refactor: rename ito-apply-change-proposal to ito-apply and ito-write-change-proposal to ito-proposal in command metadata
  .claude/commands/ito-apply.md
  .claude/commands/ito-proposal.md
  .codex/prompts/ito-apply.md
  .codex/prompts/ito-proposal.md
  .github/prompts/ito-apply.prompt.md
  .github/prompts/ito-proposal.prompt.md
  .opencode/commands/ito-apply.md
  .opencode/commands/ito-proposal.md
  .pi/commands/ito-apply.md
  .pi/commands/ito-proposal.md
  ito-rs/crates/ito-templates/assets/commands/ito-apply.md
  ito-rs/crates/ito-templates/assets/commands/ito-proposal.md
Due: markdownlint-cli2

refactor: update skill metadata across all harnesses
  .claude/skills/ito-apply-change-proposal/SKILL.md
  .claude/skills/ito-brainstorming/SKILL.md
  .claude/skills/ito-finishing-a-development-branch/SKILL.md
  .claude/skills/ito-subagent-driven-development/SKILL.md
  .claude/skills/ito-workflow/SKILL.md
  .claude/skills/ito-write-change-proposal/SKILL.md
  .codex/skills/ito-apply-change-proposal/SKILL.md
  .codex/skills/ito-brainstorming/SKILL.md
  .codex/skills/ito-finishing-a-development-branch/SKILL.md
  .codex/skills/ito-subagent-driven-development/SKILL.md
  .codex/skills/ito-workflow/SKILL.md
  .codex/skills/ito-write-change-proposal/SKILL.md
  .github/skills/ito-apply-change-proposal/SKILL.md
  .github/skills/ito-brainstorming/SKILL.md
  .github/skills/ito-finishing-a-development-branch/SKILL.md
  .github/skills/ito-subagent-driven-development/SKILL.md
  .github/skills/ito-workflow/SKILL.md
  .github/skills/ito-write-change-proposal/SKILL.md
  .opencode/skills/ito-apply-change-proposal/SKILL.md
  .opencode/skills/ito-brainstorming/SKILL.md
  .opencode/skills/ito-finishing-a-development-branch/SKILL.md
  .opencode/skills/ito-subagent-driven-development/SKILL.md
  .opencode/skills/ito-workflow/SKILL.md
  .opencode/skills/ito-write-change-proposal/SKILL.md
  .pi/skills/ito-apply-change-proposal/SKILL.md
  .pi/skills/ito-brainstorming/SKILL.md
  .pi/skills/ito-finishing-a-development-branch/SKILL.md
  .pi/skills/ito-subagent-driven-development/SKILL.md
  .pi/skills/ito-workflow/SKILL.md
  .pi/skills/ito-write-change-proposal/SKILL.md
Due: markdownlint-cli2

chore: remove legacy planning files from project template
  ito-rs/crates/ito-templates/assets/default/project/.ito/planning/PROJECT.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/planning/ROADMAP.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/planning/STATE.md
Due: markdownlint-cli2

chore: remove legacy skill assets from templates
  ito-rs/crates/ito-templates/assets/commands/loop.md
  ito-rs/crates/ito-templates/assets/skills/ito-apply-change-proposal/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-finishing-a-development-branch/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-write-change-proposal/SKILL.md
Due: markdownlint-cli2

refactor: update embedded skill assets
  ito-rs/crates/ito-templates/assets/skills/ito-brainstorming/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-subagent-driven-development/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-verification-before-completion/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-workflow/SKILL.md
Due: markdownlint-cli2

refactor: update instructions.rs and test support code for skill consolidation
  ito-rs/crates/ito-cli/tests/instructions_more.rs
  ito-rs/crates/ito-templates/src/instructions.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

test: update test files and module metadata
  .ito/modules/013_ito-skills-adoption/module.md
  ito-rs/crates/ito-cli/tests/support/mod.rs
  ito-rs/crates/ito-cli/tests/update_smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs: update archived change documentation for skill consolidation
  .ito/changes/archive/2026-01-31-013-12_integrate-plan-skills-with-ito-workflow/design.md
  .ito/changes/archive/2026-01-31-013-12_integrate-plan-skills-with-ito-workflow/proposal.md
  .ito/changes/archive/2026-01-31-013-12_integrate-plan-skills-with-ito-workflow/specs/ito-aware-plan-skills/spec.md
  .ito/changes/archive/2026-01-31-013-12_integrate-plan-skills-with-ito-workflow/tasks.md
  .ito/changes/archive/2026-01-31-013-13_merge-writing-plans-into-ito-proposal/design.md
  .ito/changes/archive/2026-01-31-013-13_merge-writing-plans-into-ito-proposal/proposal.md
  .ito/changes/archive/2026-01-31-013-13_merge-writing-plans-into-ito-proposal/specs/merge-writing-plans/spec.md
  .ito/changes/archive/2026-01-31-013-13_merge-writing-plans-into-ito-proposal/tasks.md
  .ito/changes/archive/2026-01-31-013-15_update-subagent-driven-development/design.md
  .ito/changes/archive/2026-01-31-013-15_update-subagent-driven-development/proposal.md
  .ito/changes/archive/2026-01-31-013-15_update-subagent-driven-development/specs/update-subagent-skill/spec.md
  .ito/changes/archive/2026-01-31-013-15_update-subagent-driven-development/tasks.md
  .ito/changes/archive/2026-01-31-013-17_update-finishing-branch-skill/design.md
  .ito/changes/archive/2026-01-31-013-17_update-finishing-branch-skill/proposal.md
  .ito/changes/archive/2026-01-31-013-17_update-finishing-branch-skill/specs/update-finishing-skill/spec.md
  .ito/changes/archive/2026-01-31-013-17_update-finishing-branch-skill/tasks.md
  .ito/changes/archive/2026-02-02-000-04_ready-work-commands/tasks.md
  .ito/changes/archive/2026-02-03-013-14_rename-ito-workflow-skills/design.md
  .ito/changes/archive/2026-02-03-013-14_rename-ito-workflow-skills/proposal.md
  .ito/changes/archive/2026-02-03-013-14_rename-ito-workflow-skills/specs/rename-workflow-skills/spec.md
  .ito/changes/archive/2026-02-03-013-14_rename-ito-workflow-skills/tasks.md
  .ito/changes/archive/2026-03-02-019-06_schema-selection-guidance/design.md
  .ito/changes/archive/2026-03-02-019-06_schema-selection-guidance/proposal.md
  .ito/changes/archive/2026-03-02-019-06_schema-selection-guidance/tasks.md
Due: none

refactor: add renamed ito template assets
  ito-rs/crates/ito-templates/assets/commands/ito-loop.md
  ito-rs/crates/ito-templates/assets/skills/ito-apply/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-finish/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-proposal/SKILL.md
Due: markdownlint-cli2

test: move instruction renderer tests into separate module
  ito-rs/crates/ito-templates/src/instructions_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(ito-cli): trim doc examples to satisfy size gate
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/cli.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

test: fix init update recreation regression
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/instructions_more.rs
  ito-rs/crates/ito-templates/assets/skills/ito-apply/SKILL.md
  ito-rs/crates/ito-templates/src/instructions.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

test: update template rename expectations
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-core/tests/distribution.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style: format distribution test assertions
  ito-rs/crates/ito-core/tests/distribution.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(024): draft backend state API change set
  .ito/changes/024-01_add-shared-state-api/specs/backend-artifact-store/spec.md
  .ito/changes/024-01_add-shared-state-api/specs/backend-auth/spec.md
  .ito/changes/024-01_add-shared-state-api/specs/backend-event-ingest/spec.md
  .ito/changes/024-01_add-shared-state-api/specs/change-allocation/spec.md
  .ito/changes/024-01_add-shared-state-api/specs/change-leasing/spec.md
  .ito/changes/024-02_add-cli-backend-client/.ito.yaml
  .ito/changes/024-02_add-cli-backend-client/design.md
  .ito/changes/024-02_add-cli-backend-client/proposal.md
  .ito/changes/024-02_add-cli-backend-client/specs/backend-change-claim/spec.md
  .ito/changes/024-02_add-cli-backend-client/specs/backend-change-sync/spec.md
  .ito/changes/024-02_add-cli-backend-client/specs/backend-client-runtime/spec.md
  .ito/changes/024-02_add-cli-backend-client/specs/change-repository/spec.md
  .ito/changes/024-02_add-cli-backend-client/specs/cli-tasks/spec.md
  .ito/changes/024-02_add-cli-backend-client/specs/config/spec.md
  .ito/changes/024-02_add-cli-backend-client/specs/task-repository/spec.md
  .ito/changes/024-02_add-cli-backend-client/tasks.md
  .ito/changes/024-03_add-backend-project-bootstrap/.ito.yaml
  .ito/changes/024-03_add-backend-project-bootstrap/design.md
  .ito/changes/024-03_add-backend-project-bootstrap/proposal.md
  .ito/changes/024-03_add-backend-project-bootstrap/specs/backend-project-bootstrap/spec.md
  .ito/changes/024-03_add-backend-project-bootstrap/tasks.md
  .ito/changes/024-04_add-backend-event-forwarding/.ito.yaml
  .ito/changes/024-04_add-backend-event-forwarding/design.md
  .ito/changes/024-04_add-backend-event-forwarding/proposal.md
  .ito/changes/024-04_add-backend-event-forwarding/specs/backend-event-forwarding/spec.md
  .ito/changes/024-04_add-backend-event-forwarding/tasks.md
  .ito/changes/024-05_add-backend-archive-sync/.ito.yaml
  .ito/changes/024-05_add-backend-archive-sync/design.md
  .ito/changes/024-05_add-backend-archive-sync/proposal.md
  .ito/changes/024-05_add-backend-archive-sync/specs/backend-archive-sync/spec.md
  .ito/changes/024-05_add-backend-archive-sync/specs/cli-archive/spec.md
  .ito/changes/024-05_add-backend-archive-sync/tasks.md
Due: none

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
