Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.20.0]
        args: [--config, .markdownlint-cli2.yaml]
        files: \.md$
        exclude: ^\.ito/

      - id: cargo-fmt
        name: cargo fmt (ito-rs)
        entry: cargo
        language: system
        args: [fmt, --manifest-path, ito-rs/Cargo.toml, --all]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-clippy
        name: cargo clippy (ito-rs)
        entry: cargo
        language: system
        args:
          - clippy
          - --manifest-path
          - ito-rs/Cargo.toml
          - --workspace
          - --all-targets
          - --
          - -D
          - warnings
          - -D
          - clippy::dbg_macro
          - -D
          - clippy::todo
          - -D
          - clippy::unimplemented
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-test-coverage
        name: cargo test with coverage (ito-rs)
        entry: make
        language: system
        args: [test-coverage]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-commit, pre-push]

      - id: cargo-test
        name: cargo test (ito-rs)
        entry: make
        language: system
        args: [test]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$
        stages: [pre-push]

      - id: check-max-lines
        name: check max lines (ito-rs)
        entry: python3
        language: system
        args: [ito-rs/tools/check_max_lines.py, --soft-limit, "1000", --hard-limit, "1200", --root, ito-rs]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$

      - id: arch-guardrails
        name: architecture guardrails
        entry: make
        language: system
        args: [arch-guardrails]
        pass_filenames: false
        files: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$

Ralph loop iteration 2
  .ito/changes/003-03_optimize-unit-test-speed/tasks.md
  .ito/changes/003-04_optimize-test-execution/.ito.yaml
  .ito/changes/003-04_optimize-test-execution/proposal.md
  .ito/changes/003-04_optimize-test-execution/specs/qa-testing-area/spec.md
  .ito/changes/003-04_optimize-test-execution/tasks.md
  .ito/modules/003_qa-testing/module.md
  .ito/workflows/.state/change-allocations.json
  ito-rs/AGENTS.md
  ito-rs/Cargo.lock
  ito-rs/Cargo.toml
  ito-rs/crates/ito-cli/Cargo.toml
  ito-rs/crates/ito-cli/tests/list_regression.rs
  ito-rs/crates/ito-core/Cargo.toml
  ito-rs/crates/ito-core/src/list.rs
  ito-rs/crates/ito-core/src/process.rs
  ito-rs/crates/ito-core/src/ralph/validation.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

perf(tests): add nextest, test profile opt-level=1, TIA script
  .ito/changes/003-04_optimize-test-execution/tasks.md
  Makefile
  ito-rs/.config/nextest.toml
  ito-rs/Cargo.toml
  ito-rs/tools/test-affected.sh
Due: cargo-fmt, cargo-clippy, cargo-test, arch-guardrails

refactor(workspace): move Cargo workspace to repo root
  .github/workflows/ci.yml
  .github/workflows/release-plz.yml
  .opencode/agent/code-simplifier.md
  Cargo.lock
  Cargo.toml
  Makefile
  deny.toml
  ito-rs/AGENTS.md
  ito-rs/crates/ito-cli/build.rs
  ito-rs/tools/arch_guardrails.py
  ito-rs/tools/sync_versions.py
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

feat(release): publish GitHub releases via cargo-dist
  .github/workflows/homebrew.yml
  .github/workflows/polish-release-notes.yml
  .github/workflows/release.yml
  .github/workflows/update-homebrew.yml
  cliff.toml
  dist-workspace.toml
  ito-rs/crates/ito-web/Cargo.toml
  release-plz.toml
Due: cargo-fmt, cargo-clippy, cargo-test, arch-guardrails

docs(release): update release documentation
  RELEASE.md
  docs/RELEASING.md
Due: markdownlint-cli2

chore(ito): add 005-15 automated release change
  .ito/changes/005-15_automated-rust-releases/.ito.yaml
  .ito/changes/005-15_automated-rust-releases/design.md
  .ito/changes/005-15_automated-rust-releases/proposal.md
  .ito/changes/005-15_automated-rust-releases/specs/release-artifacts/spec.md
  .ito/changes/005-15_automated-rust-releases/specs/release-automation/spec.md
  .ito/changes/005-15_automated-rust-releases/tasks.md
  .ito/modules/005_dev-tooling/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

fix(ci): install rustfmt/clippy for mise toolchain
  .github/workflows/ci.yml
Due: arch-guardrails

fix(ci): install rustfmt/clippy in lint job
  .github/workflows/ci.yml
Due: arch-guardrails

chore(ito): mark 005-15 tasks complete
  .ito/changes/005-15_automated-rust-releases/tasks.md
Due: none

feat(release): restrict cargo-dist workflow to v* tags
  .github/workflows/v-release.yml
  .ito/changes/005-15_automated-rust-releases/design.md
  .ito/changes/005-15_automated-rust-releases/tasks.md
  RELEASE.md
  dist-workspace.toml
Due: markdownlint-cli2

chore(review): tighten docs and simplify commands
  .github/workflows/ci.yml
  .ito/changes/005-15_automated-rust-releases/proposal.md
  .ito/changes/005-15_automated-rust-releases/specs/release-automation/spec.md
  Makefile
  deny.toml
  release-plz.toml
Due: arch-guardrails

Release automation: root Cargo workspace + cargo-dist GitHub releases (#10)
  .github/workflows/ci.yml
  .github/workflows/homebrew.yml
  .github/workflows/polish-release-notes.yml
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
  .github/workflows/update-homebrew.yml
  .github/workflows/v-release.yml
  .ito/changes/005-15_automated-rust-releases/.ito.yaml
  .ito/changes/005-15_automated-rust-releases/design.md
  .ito/changes/005-15_automated-rust-releases/proposal.md
  .ito/changes/005-15_automated-rust-releases/specs/release-artifacts/spec.md
  .ito/changes/005-15_automated-rust-releases/specs/release-automation/spec.md
  .ito/changes/005-15_automated-rust-releases/tasks.md
  .ito/modules/005_dev-tooling/module.md
  .ito/workflows/.state/change-allocations.json
  .opencode/agent/code-simplifier.md
  Cargo.lock
  Cargo.toml
  Makefile
  RELEASE.md
  cliff.toml
  deny.toml
  dist-workspace.toml
  docs/RELEASING.md
  ito-rs/AGENTS.md
  ito-rs/crates/ito-cli/build.rs
  ito-rs/crates/ito-web/Cargo.toml
  ito-rs/tools/arch_guardrails.py
  ito-rs/tools/sync_versions.py
  release-plz.toml
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

chore: release v0.1.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  ito-rs/crates/ito-common/CHANGELOG.md
  ito-rs/crates/ito-config/CHANGELOG.md
  ito-rs/crates/ito-core/CHANGELOG.md
  ito-rs/crates/ito-domain/CHANGELOG.md
  ito-rs/crates/ito-logging/CHANGELOG.md
  ito-rs/crates/ito-templates/CHANGELOG.md
  ito-rs/crates/ito-web/CHANGELOG.md
Due: markdownlint-cli2

fix: address PR #9 review feedback
  .ito/changes/003-04_optimize-test-execution/tasks.md
  ito-rs/.config/nextest.toml
  ito-rs/crates/ito-cli/tests/list_regression.rs
  ito-rs/crates/ito-core/src/list.rs
  ito-rs/tools/test-affected.sh
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

fix(ci): allow getrandom split and skip non-publishable crates
  deny.toml
  release-plz.toml
Due: none

Update ito-rs/tools/test-affected.sh
  ito-rs/tools/test-affected.sh
Due: none

Correct DEPENDENTS map in test-affected.sh to match actual workspace dependencies (#13)
  ito-rs/tools/test-affected.sh
Due: none

added editorconfig
  .editorconfig
Due: none

fix(ci): fix doctest and formatting regressions
  ito-rs/crates/ito-cli/tests/list_regression.rs
  ito-rs/crates/ito-core/src/list.rs
  ito-rs/crates/ito-core/src/process.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

perf: optimize test execution speed (44% reduction) + archive 015-14 (#9)
  .editorconfig
  .ito/changes/003-03_optimize-unit-test-speed/tasks.md
  .ito/changes/003-04_optimize-test-execution/.ito.yaml
  .ito/changes/003-04_optimize-test-execution/proposal.md
  .ito/changes/003-04_optimize-test-execution/specs/qa-testing-area/spec.md
  .ito/changes/003-04_optimize-test-execution/tasks.md
  .ito/modules/003_qa-testing/module.md
  .ito/workflows/.state/change-allocations.json
  Cargo.lock
  Cargo.toml
  Makefile
  ito-rs/.config/nextest.toml
  ito-rs/AGENTS.md
  ito-rs/crates/ito-cli/Cargo.toml
  ito-rs/crates/ito-cli/tests/list_regression.rs
  ito-rs/crates/ito-core/Cargo.toml
  ito-rs/crates/ito-core/src/list.rs
  ito-rs/crates/ito-core/src/process.rs
  ito-rs/crates/ito-core/src/ralph/validation.rs
  ito-rs/tools/test-affected.sh
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

fix env
  ito-rs/tools/test-affected.sh
Due: none

Ralph loop iteration 1
  Makefile
Due: arch-guardrails

Ralph loop iteration 2
  .ito/workflows/.state/change-allocations.json
Due: none

perf(tests): add nextest, test profile opt-level=1, TIA script
  Makefile
  ito-rs/tools/test-affected.sh
Due: arch-guardrails

fix: address PR #9 review feedback
  ito-rs/crates/ito-cli/tests/list_regression.rs
  ito-rs/crates/ito-core/src/list.rs
  ito-rs/tools/test-affected.sh
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails
