Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            feat,
            fix,
            docs,
            style,
            refactor,
            perf,
            test,
            build,
            ci,
            chore,
            revert,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.20.0]
        args: [--config, .markdownlint-cli2.yaml]
        files: \.md$
        exclude: ^\.ito/

      - id: cargo-fmt
        name: cargo fmt (ito-rs)
        entry: make
        language: system
        args: [fmt]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-clippy
        name: cargo clippy (ito-rs)
        entry: make
        language: system
        args: [clippy]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-test-coverage
        name: cargo test with coverage (ito-rs)
        entry: make
        language: system
        args: [test-coverage]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-push]

      - id: cargo-test-affected
        name: cargo test affected (ito-rs)
        entry: make
        language: system
        args: [test-affected]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-commit]

      - id: check-max-lines
        name: check max lines (ito-rs)
        entry: make
        language: system
        args: [check-max-lines]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$

      - id: arch-guardrails
        name: architecture guardrails
        entry: make
        language: system
        args: [arch-guardrails]
        pass_filenames: false
        files: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$

      - id: cargo-deny
        name: cargo deny (license/advisory checks)
        entry: make
        language: system
        args: [cargo-deny]
        pass_filenames: false
        files: ^ito-rs/.*\.(toml|lock)$

refactor(templates): remove generic skills, rename kept skills to ito- prefix
  ito-rs/crates/ito-cli/tests/update_smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(ito): add pending schema and instruction artifacts
  ito-rs/crates/ito-core/src/templates/review.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

change proposl admin
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/src/validate/repo_integrity.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(001-25): add tracking_file_path and fix missing review module export
  ito-rs/crates/ito-core/src/tasks.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style: apply cargo fmt import sorting to validate and template test files
  ito-rs/crates/ito-core/src/validate/issue.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-templates/tests/worktree_template_rendering.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: remove duplicate tracking_file_path re-introduced by rebase
  ito-rs/crates/ito-core/src/tasks.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(001-24): remove orphaned change dir re-introduced by merge
  .ito/changes/023-07_harness-context-inference/.ito.yaml
Due: none

merge
  .ito/workflows/.state/change-allocations.json
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/src/templates/review.rs
  ito-rs/crates/ito-core/src/validate/repo_integrity.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(show): add specs bundle output
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/app/show.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/show_specs_bundle.rs
  ito-rs/crates/ito-core/src/show/mod.rs
  ito-rs/crates/ito-core/tests/show.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(show): harden specs bundling + skill docs cleanup (#106)
  .ito/changes/019-07_embedded-schema-validation/.ito.yaml
Due: none

style: cargo fmt
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/app/show.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/show_specs_bundle.rs
  ito-rs/crates/ito-core/tests/show.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat: add Pi harness integration (shares OpenCode skills/commands)
  .pi/prompts/ito-apply.md
  .pi/prompts/ito-archive.md
  .pi/prompts/ito-list.md
  .pi/prompts/ito-project-setup.md
  .pi/prompts/ito-proposal.md
  .pi/prompts/ito-research.md
  .pi/prompts/ito-review.md
  .pi/prompts/ito.md
Due: markdownlint-cli2

chore(pi): add pi-subagents npm metadata
  .pi/npm/.gitignore
  .pi/npm/package-lock.json
  .pi/npm/package.json
Due: none

feat(pi): add pi-subagents config and agents
  .pi/agents/ito-general.md
  .pi/agents/ito-quick.md
  .pi/agents/ito-thinking.md
  .pi/commands/ito-project-setup.md
  .pi/settings.json
Due: markdownlint-cli2

Ralph loop iteration 1
  .ito/changes/001-12_project-setup-wizard/tasks.md
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-core/src/audit/mod.rs
  ito-rs/crates/ito-core/src/audit/writer.rs
  ito-rs/crates/ito-templates/assets/adapters/codex/ito-skills-bootstrap.md
  ito-rs/crates/ito-templates/assets/default/project/.claude/commands/ito-project-setup.md
  ito-rs/crates/ito-templates/assets/default/project/.codex/commands/ito-project-setup.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/project.md
  ito-rs/crates/ito-templates/assets/default/project/.opencode/commands/ito-project-setup.md
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/assets/default/project/CLAUDE.md
  ito-rs/crates/ito-templates/assets/instructions/agent/project-setup.md.j2
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

001-25
  .ito/changes/001-25_tracking-file-support/tasks.md
  .ito/config.json
  ito-rs/crates/ito-core/src/audit/mirror.rs
  ito-rs/crates/ito-core/src/tasks.rs
  ito-rs/crates/ito-core/src/templates/types.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/tests/audit_mirror.rs
  ito-rs/crates/ito-core/tests/tasks_api.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 1
  ito-rs/crates/ito-cli/tests/config_more.rs
  ito-rs/crates/ito-config/src/config/mod.rs
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-core/src/config.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 2
  .ito/changes/000-07_remote-audit-mirror-branch/tasks.md
  ito-rs/crates/ito-core/src/audit/mirror.rs
  ito-rs/crates/ito-core/src/audit/mod.rs
  ito-rs/crates/ito-core/src/audit/writer.rs
  ito-rs/crates/ito-core/tests/audit_mirror.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 1
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/help.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/src/commands/state.rs
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/crates/ito-cli/tests/cli_smoke.rs
  ito-rs/crates/ito-cli/tests/plan_state_more.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/state.rs
  ito-rs/crates/ito-core/src/stats.rs
  ito-rs/crates/ito-domain/src/lib.rs
  ito-rs/crates/ito-domain/src/state.rs
  ito-rs/crates/ito-domain/tests/state.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Ralph loop iteration 2
  .ito/changes/006-21_remove-ito-state-command/tasks.md
  README.md
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/tests/cli_smoke.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

check in
  .ito/changes/019-06_schema-selection-guidance/.ito.yaml
  .ito/changes/019-06_schema-selection-guidance/design.md
  .ito/changes/019-06_schema-selection-guidance/proposal.md
  .ito/changes/019-06_schema-selection-guidance/specs/agent-instructions/spec.md
  .ito/changes/019-06_schema-selection-guidance/tasks.md
  .ito/modules/019_templates/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

fmt
  .ito/workflows/.state/change-allocations.json
Due: none

fix(audit): enable auto-fix drift reconciliation by default
  .ito/changes/019-06_schema-selection-guidance/tasks.md
  .pi/extensions/ito-skills.ts
  ito-rs/crates/ito-templates/assets/adapters/opencode/ito-skills.js
  ito-rs/crates/ito-templates/assets/adapters/pi/ito-skills.ts
Due: none

fix(audit): ignore hook git env in mirror sync
  ito-rs/crates/ito-core/src/process.rs
  ito-rs/crates/ito-core/tests/audit_mirror.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(019-06): add schemas instruction artifact with text and JSON output
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/schemas.md.j2
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(019-06): update write-change-proposal skill with schema selection step
  .ito/changes/019-06_schema-selection-guidance/tasks.md
  ito-rs/crates/ito-templates/assets/skills/ito-write-change-proposal/SKILL.md
Due: markdownlint-cli2

feat(019-06): add schemas section to bootstrap instruction template
  .ito/changes/019-06_schema-selection-guidance/tasks.md
  ito-rs/crates/ito-templates/assets/instructions/agent/bootstrap.md.j2
Due: none

test(019-06): add tests for schema listing output
  .ito/changes/019-06_schema-selection-guidance/tasks.md
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/tests/templates_schemas_listing.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(dev): apply hook formatting and adapter sync
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-core/src/templates/mod.rs
  ito-rs/crates/ito-core/tests/templates_schemas_listing.rs
  ito-rs/crates/ito-templates/assets/adapters/opencode/ito-skills.js
  ito-rs/crates/ito-templates/assets/adapters/pi/ito-skills.ts
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(audit): silence drift notice when auto-fix succeeds
  .opencode/plugins/ito-skills.js
  .pi/extensions/ito-skills.ts
Due: none

chore(tasks): reconcile 019-06 task status drift
  .ito/changes/019-06_schema-selection-guidance/tasks.md
Due: none

chore(019-06): mark all tasks complete
  .ito/changes/019-06_schema-selection-guidance/tasks.md
Due: none

fix(review): address PR 114 workflow feedback
  .claude/session-start.sh
  .claude/skills/ito-apply-change-proposal/SKILL.md
  .codex/skills/ito-apply-change-proposal/SKILL.md
  .github/skills/ito-apply-change-proposal/SKILL.md
  .opencode/plugins/ito-skills.js
  .opencode/skills/ito-apply-change-proposal/SKILL.md
Due: markdownlint-cli2

fix(review): JSON-encode session start context
  .claude/session-start.sh
Due: none

update schema
  schemas/ito-config.schema.json
Due: none

fix(review): make opencode audit autofix opt-out
  .opencode/plugins/ito-skills.js
Due: none

rebase on main
  .claude/skills/ito-apply-change-proposal/SKILL.md
  .claude/skills/ito-write-change-proposal/SKILL.md
  .codex/skills/ito-apply-change-proposal/SKILL.md
  .codex/skills/ito-write-change-proposal/SKILL.md
  .github/skills/ito-apply-change-proposal/SKILL.md
  .github/skills/ito-write-change-proposal/SKILL.md
  .ito/changes/001-25_tracking-file-support/tasks.md
  .ito/changes/022-01_separate-tests-into-foo-tests/tasks.md
  .ito/changes/023-06_harness-audit-hooks/.ito.yaml
  .ito/changes/archive/2026-02-11-003-03_optimize-unit-test-speed/tasks.md
  .ito/changes/archive/2026-02-11-003-04_optimize-test-execution/.ito.yaml
  .ito/changes/archive/2026-02-11-003-04_optimize-test-execution/proposal.md
  .ito/changes/archive/2026-02-11-003-04_optimize-test-execution/specs/qa-testing-area/spec.md
  .ito/changes/archive/2026-02-11-003-04_optimize-test-execution/tasks.md
  .ito/changes/archive/2026-02-14-002-15_retriable-harness-crashes/.ito.yaml
  .ito/changes/archive/2026-02-14-002-15_retriable-harness-crashes/proposal.md
  .ito/changes/archive/2026-02-14-002-15_retriable-harness-crashes/specs/retriable-harness-crashes/spec.md
  .ito/changes/archive/2026-02-14-002-15_retriable-harness-crashes/specs/rust-ralph/spec.md
  .ito/changes/archive/2026-02-14-002-15_retriable-harness-crashes/tasks.md
  .ito/modules/023_harness-hooks/module.md
  .ito/user-prompts/guidance.md
  .opencode/skills/ito-apply-change-proposal/SKILL.md
  .opencode/skills/ito-write-change-proposal/SKILL.md
  ito-rs/AGENTS.md
  ito-rs/crates/ito-cli/src/app/show.rs
  ito-rs/crates/ito-core/src/show/mod.rs
  ito-rs/crates/ito-core/tests/show.rs
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/assets/skills/ito-apply-change-proposal/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-test-with-subagent/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-using-ito-skills/SKILL.md
  ito-rs/crates/ito-templates/assets/skills/ito-write-change-proposal/SKILL.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails
