Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            feat,
            fix,
            docs,
            style,
            refactor,
            perf,
            test,
            build,
            ci,
            chore,
            revert,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.20.0]
        args: [--config, .markdownlint-cli2.yaml]
        files: \.md$
        exclude: ^\.ito/

      - id: cargo-fmt
        name: cargo fmt (ito-rs)
        entry: make
        language: system
        args: [fmt]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-clippy
        name: cargo clippy (ito-rs)
        entry: make
        language: system
        args: [clippy]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-test-coverage
        name: cargo test with coverage (ito-rs)
        entry: make
        language: system
        args: [test-coverage]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-push]

      - id: cargo-test-affected
        name: cargo test affected (ito-rs)
        entry: make
        language: system
        args: [test-affected]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-commit]

      - id: check-max-lines
        name: check max lines (ito-rs)
        entry: make
        language: system
        args: [check-max-lines]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$

      - id: arch-guardrails
        name: architecture guardrails
        entry: make
        language: system
        args: [arch-guardrails]
        pass_filenames: false
        files: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$

      - id: cargo-deny
        name: cargo deny (license/advisory checks)
        entry: make
        language: system
        args: [cargo-deny]
        pass_filenames: false
        files: ^ito-rs/.*\.(toml|lock)$

fix(audit): stop reconcile repair loops
  .agents/skills/byterover/SKILL.md
  .agents/skills/ito-general/SKILL.md
  .agents/skills/ito-quick/SKILL.md
  .agents/skills/ito-thinking/SKILL.md
  .brv/_queue_status.json
  .brv/config.json
  .brv/context-tree/_index.md
  .brv/context-tree/_manifest.json
  .brv/context-tree/development/_index.md
  .brv/context-tree/development/ito_templates/_index.md
  .brv/context-tree/development/ito_templates/template_bundle_retrofit.abstract.md
  .brv/context-tree/development/ito_templates/template_bundle_retrofit.overview.md
  .brv/context-tree/development/release_workflow/_index.md
  .brv/context-tree/development/release_workflow/release_workflow.abstract.md
  .brv/context-tree/development/release_workflow/release_workflow.overview.md
  .brv/dream-state.json
  .pi/agents/ito-orchestrator-planner.md
  .pi/agents/ito-orchestrator-researcher.md
  .pi/agents/ito-orchestrator-reviewer.md
  .pi/agents/ito-orchestrator-worker.md
  .pi/agents/ito-orchestrator.md
  ito-rs/crates/ito-cli/src/commands/audit.rs
  ito-rs/crates/ito-core/src/audit/mirror.rs
  ito-rs/crates/ito-core/src/audit/reader_tests.rs
  ito-rs/crates/ito-core/src/audit/reconcile.rs
  ito-rs/crates/ito-core/src/audit/store.rs
  ito-rs/crates/ito-core/src/audit/stream.rs
  ito-rs/crates/ito-core/src/audit/validate.rs
  ito-rs/crates/ito-core/src/audit/worktree.rs
  ito-rs/crates/ito-core/src/audit/writer.rs
  ito-rs/crates/ito-core/src/event_forwarder.rs
  ito-rs/crates/ito-core/tests/audit_mirror.rs
  ito-rs/crates/ito-core/tests/audit_storage.rs
  ito-rs/crates/ito-core/tests/event_forwarding.rs
  ito-rs/crates/ito-domain/src/audit/event.rs
  ito-rs/crates/ito-domain/src/audit/materialize.rs
  ito-rs/crates/ito-domain/src/audit/writer.rs
  ito-rs/crates/ito-domain/src/backend.rs
  schemas/ito-config.schema.json
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(workflow): opt-in validation rules + richer spec-driven templates (001-33) (#215)
  .agents/skills/byterover/byterover-audit/SKILL.md
  .claude/skills/byterover-audit/SKILL.md
  .claude/skills/byterover/SKILL.md
  .ito/user-prompts/proposal.md
  docs/schema-customization.md
  ito-rs/crates/ito-cli/src/app/validate.rs
  ito-rs/crates/ito-cli/src/diagnostics.rs
  ito-rs/crates/ito-cli/tests/templates_schemas_export.rs
  ito-rs/crates/ito-core/src/memory/mod.rs
  ito-rs/crates/ito-core/src/show/mod.rs
  ito-rs/crates/ito-core/src/templates/types.rs
  ito-rs/crates/ito-core/src/validate/delta_rules.rs
  ito-rs/crates/ito-core/src/validate/issue.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/src/validate/report.rs
  ito-rs/crates/ito-core/src/validate/rules_engine.rs
  ito-rs/crates/ito-core/src/validate/tracking_rules.rs
  ito-rs/crates/ito-core/src/worktree_ensure.rs
  ito-rs/crates/ito-core/tests/show.rs
  ito-rs/crates/ito-core/tests/templates_schema_resolution.rs
  ito-rs/crates/ito-core/tests/templates_schemas_listing.rs
  ito-rs/crates/ito-core/tests/validate_delta_rules.rs
  ito-rs/crates/ito-core/tests/validate_rules_extension.rs
  ito-rs/crates/ito-core/tests/validate_tracking_rules.rs
  ito-rs/crates/ito-domain/tests/tasks_quality_fields.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/artifact.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/new-proposal.md.j2
  ito-rs/crates/ito-templates/assets/schemas/event-driven/templates/specs/spec.md
  ito-rs/crates/ito-templates/assets/schemas/minimalist/templates/specs/spec.md
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/design.md
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/proposal.md
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/spec.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs: expand Ito manifesto proposal
  docs/proposals/ito-manifesto.md
Due: markdownlint-cli2

feat(templates): add Ito manifesto instruction template
  ito-rs/crates/ito-templates/assets/instructions/agent/manifesto.md.j2
Due: none

prep: add manifesto Ito proposal handoff (pre-proposal)
  .ito/pre-proposal/manifesto-instruction/proposal.md
Due: none

chore: start task for change 012-07_guard-opencode-worktree-path
  .ito/changes/012-07_guard-opencode-worktree-path/tasks.md
Due: none

chore: create change 019-10_manifesto-instruction
  .ito/changes/019-10_manifesto-instruction/.ito.yaml
  .ito/modules/019_templates/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

chore: sync coordination worktree
  .ito/changes/019-10_manifesto-instruction/proposal.md
Due: none

chore: start task for change 027-01_add-ito-wiki
  .ito/changes/027-01_add-ito-wiki/tasks.md
Due: none

chore: complete task for change 027-01_add-ito-wiki
  .ito/changes/027-01_add-ito-wiki/demos/task-1.1-wiki-scaffold.md
  .ito/changes/027-01_add-ito-wiki/tasks.md
Due: none

chore: sync coordination worktree
  .ito/changes/019-10_manifesto-instruction/design.md
  .ito/changes/019-10_manifesto-instruction/proposal.md
  .ito/changes/019-10_manifesto-instruction/specs/agent-instructions/spec.md
  .ito/changes/019-10_manifesto-instruction/tasks.md
Due: none

chore: complete task for change 027-01_add-ito-wiki
  .ito/changes/019-10_manifesto-instruction/tasks.md
  .ito/changes/027-01_add-ito-wiki/demos/task-1.2-wiki-preservation.md
  .ito/changes/027-01_add-ito-wiki/tasks.md
Due: none

chore: complete task for change 027-01_add-ito-wiki
  .ito/changes/027-01_add-ito-wiki/demos/task-1.3-wiki-schema.md
  .ito/changes/027-01_add-ito-wiki/tasks.md
Due: none

chore: complete task for change 027-01_add-ito-wiki
  .ito/changes/027-01_add-ito-wiki/demos/task-2.1-wiki-maintenance-skill.md
  .ito/changes/027-01_add-ito-wiki/tasks.md
Due: none

chore: complete task for change 027-01_add-ito-wiki
  .ito/changes/027-01_add-ito-wiki/demos/task-2.2-wiki-search-skill.md
  .ito/changes/027-01_add-ito-wiki/tasks.md
Due: none

chore: complete task for change 027-01_add-ito-wiki
  .ito/changes/027-01_add-ito-wiki/demos/task-2.3-skill-distribution.md
  .ito/changes/027-01_add-ito-wiki/tasks.md
Due: none

chore: complete task for change 012-07_guard-opencode-worktree-path
  .ito/changes/012-07_guard-opencode-worktree-path/tasks.md
  .ito/changes/027-01_add-ito-wiki/demos/task-1.2-wiki-preservation.md
Due: none

chore: complete task for change 012-07_guard-opencode-worktree-path
  .ito/changes/012-07_guard-opencode-worktree-path/tasks.md
Due: none

chore: complete task for change 027-01_add-ito-wiki
  .ito/changes/027-01_add-ito-wiki/tasks.md
Due: none

fix(checks): stabilize local quality gates
  .pre-commit-config.yaml
  Makefile
  deny.toml
  ito-rs/tools/check_max_lines.py
  ito-rs/tools/max_lines_baseline.txt
Due: arch-guardrails

docs(memory): update check guardrail context
  .brv/_queue_status.json
  .brv/context-tree/_index.md
  .brv/context-tree/_manifest.json
  .brv/context-tree/development/_index.md
  .brv/context-tree/development/ito_templates/_index.md
  .brv/context-tree/development/release_workflow/_index.md
  .brv/context-tree/development/release_workflow/build_and_coverage_guardrails.abstract.md
  .brv/context-tree/development/release_workflow/build_and_coverage_guardrails.md
  .brv/context-tree/development/release_workflow/build_and_coverage_guardrails.overview.md
  .brv/dream-log/drm-1777205792479.json
  .brv/dream-state.json
  .brv/dream.lock
  .brv/review-backups/development/ito_templates/template_bundle_retrofit.abstract.md
  .brv/review-backups/development/ito_templates/template_bundle_retrofit.md
  .brv/review-backups/development/ito_templates/template_bundle_retrofit.overview.md
  .brv/review-backups/development/release_workflow/release_workflow.abstract.md
  .brv/review-backups/development/release_workflow/release_workflow.md
  .brv/review-backups/development/release_workflow/release_workflow.overview.md
Due: markdownlint-cli2

feat(worktree): guard OpenCode change worktree paths
  .brv/_queue_status.json
  .brv/context-tree/_index.md
  .brv/context-tree/_manifest.json
  .brv/context-tree/development/_index.md
  .brv/context-tree/development/ito_workflow/_index.md
  .brv/context-tree/development/ito_workflow/worktree_validation_flow.abstract.md
  .brv/context-tree/development/ito_workflow/worktree_validation_flow.md
  .brv/context-tree/development/ito_workflow/worktree_validation_flow.overview.md
  .brv/dream-log/drm-1777236335887.json
  .brv/dream-state.json
  .brv/dream.lock
  .opencode/commands/ito-project-setup.md
  .opencode/plugins/ito-skills.js
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/cli/worktree.rs
  ito-rs/crates/ito-cli/src/cli_tests.rs
  ito-rs/crates/ito-cli/src/commands/worktree.rs
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-cli/tests/worktree_validate.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/worktree_validate.rs
  ito-rs/crates/ito-templates/assets/adapters/opencode/ito-skills.js
  ito-rs/crates/ito-templates/assets/default/project/.opencode/commands/ito-project-setup.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: sync coordination worktree
  .ito/changes/027-01_add-ito-wiki/demos/task-3-workflow-integration.md
Due: none
