Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            feat,
            fix,
            docs,
            style,
            refactor,
            perf,
            test,
            build,
            ci,
            chore,
            revert,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.20.0]
        args: [--config, .markdownlint-cli2.yaml]
        files: \.md$
        exclude: ^\.ito/

      - id: cargo-fmt
        name: cargo fmt (ito-rs)
        entry: make
        language: system
        args: [fmt]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-clippy
        name: cargo clippy (ito-rs)
        entry: make
        language: system
        args: [clippy]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-test-coverage
        name: cargo test with coverage (ito-rs)
        entry: make
        language: system
        args: [test-coverage]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-push]

      - id: cargo-test-affected
        name: cargo test affected (ito-rs)
        entry: make
        language: system
        args: [test-affected]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-commit]

      - id: check-max-lines
        name: check max lines (ito-rs)
        entry: make
        language: system
        args: [check-max-lines]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$

      - id: arch-guardrails
        name: architecture guardrails
        entry: make
        language: system
        args: [arch-guardrails]
        pass_filenames: false
        files: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$

      - id: cargo-deny
        name: cargo deny (license/advisory checks)
        entry: make
        language: system
        args: [cargo-deny]
        pass_filenames: false
        files: ^ito-rs/.*\.(toml|lock)$

UPDATE AGENTS
  ito-rs/AGENTS.md
Due: markdownlint-cli2

UPDATE AGENTS
  AGENTS.md
Due: markdownlint-cli2

fix(019): archive completed changes and restore canonical specs
  .ito/changes/archive/2026-03-02-019-05_embed-openspec-schemas/.ito.yaml
  .ito/changes/archive/2026-03-02-019-05_embed-openspec-schemas/design.md
  .ito/changes/archive/2026-03-02-019-05_embed-openspec-schemas/proposal.md
  .ito/changes/archive/2026-03-02-019-05_embed-openspec-schemas/specs/embedded-openspec-schemas/spec.md
  .ito/changes/archive/2026-03-02-019-05_embed-openspec-schemas/tasks.md
  .ito/changes/archive/2026-03-02-019-06_schema-selection-guidance/.ito.yaml
  .ito/changes/archive/2026-03-02-019-06_schema-selection-guidance/design.md
  .ito/changes/archive/2026-03-02-019-06_schema-selection-guidance/proposal.md
  .ito/changes/archive/2026-03-02-019-06_schema-selection-guidance/specs/agent-instructions/spec.md
  .ito/changes/archive/2026-03-02-019-06_schema-selection-guidance/tasks.md
  .ito/changes/archive/2026-03-02-019-07_embedded-schema-validation/proposal.md
  .ito/changes/archive/2026-03-02-019-07_embedded-schema-validation/specs/ito-schemas/spec.md
  .ito/changes/archive/2026-03-02-019-07_embedded-schema-validation/tasks.md
  .ito/modules/019_templates/module.md
  .ito/specs/agent-instructions/spec.md
  .ito/specs/embedded-openspec-schemas/spec.md
  .ito/specs/ito-schemas/spec.md
  AGENTS.md
Due: markdownlint-cli2

feat(001-26): add on-demand pr-fix workflow
  .github/aw/actions-lock.json
  .github/workflows/pr-fix.lock.yml
  .github/workflows/pr-fix.md
  .ito/changes/001-26_add-pr-fix-workflow/.ito.yaml
  .ito/changes/001-26_add-pr-fix-workflow/design.md
  .ito/changes/001-26_add-pr-fix-workflow/proposal.md
  .ito/changes/001-26_add-pr-fix-workflow/specs/pr-fix-workflow/spec.md
  .ito/changes/001-26_add-pr-fix-workflow/tasks.md
  .ito/modules/001_workflow-enhancements/module.md
  .ito/workflows/.state/change-allocations.json
  AGENTS.md
Due: markdownlint-cli2

feat(001-26): add on-demand pr-fix workflow
  .github/aw/actions-lock.json
  .github/workflows/pr-fix.lock.yml
  .github/workflows/pr-fix.md
  .ito/changes/001-26_add-pr-fix-workflow/.ito.yaml
  .ito/changes/001-26_add-pr-fix-workflow/design.md
  .ito/changes/001-26_add-pr-fix-workflow/proposal.md
  .ito/changes/001-26_add-pr-fix-workflow/specs/pr-fix-workflow/spec.md
  .ito/changes/001-26_add-pr-fix-workflow/tasks.md
  .ito/modules/001_workflow-enhancements/module.md
  .ito/workflows/.state/change-allocations.json
Due: markdownlint-cli2

chore(001-26): apply hook formatting updates
  .gitattributes
  .github/workflows/pr-fix.lock.yml
  .ito/workflows/.state/change-allocations.json
Due: none

chore(001-26): normalize gitattributes newline
  .gitattributes
Due: none

feat(024-12): add Docker Compose backend runtime for local testing
  Dockerfile.backend
  README.md
  docker-compose.backend.yml
  docs/backend-client-mode.md
  scripts/backend-health.sh
Due: markdownlint-cli2

chore: add .env.backend.example to version control
  .env.backend.example
  .gitignore
Due: none

feat(024-13): add Homebrew and systemd backend service support
  README.md
  docs/backend-client-mode.md
  services/com.withakay.ito.backend.plist
  services/ito-backend.service
Due: markdownlint-cli2

feat(001-26): add on-demand pr-fix workflow (#133)
  .gitattributes
  .github/aw/actions-lock.json
  .github/workflows/pr-fix.lock.yml
  .github/workflows/pr-fix.md
  .ito/changes/001-26_add-pr-fix-workflow/.ito.yaml
  .ito/changes/001-26_add-pr-fix-workflow/design.md
  .ito/changes/001-26_add-pr-fix-workflow/proposal.md
  .ito/changes/001-26_add-pr-fix-workflow/specs/pr-fix-workflow/spec.md
  .ito/changes/001-26_add-pr-fix-workflow/tasks.md
  .ito/modules/001_workflow-enhancements/module.md
  .ito/workflows/.state/change-allocations.json
Due: markdownlint-cli2

feat: add `ito util parse-id` command and update ito-loop skill to use it (#125)
  .claude/skills/ito-loop/SKILL.md
  .codex/skills/ito-loop/SKILL.md
  .github/skills/ito-loop/SKILL.md
  .opencode/skills/ito-loop/SKILL.md
  .pi/skills/ito-loop/SKILL.md
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/cli/util.rs
  ito-rs/crates/ito-cli/src/commands/help.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/src/commands/util.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-templates/assets/skills/ito-loop/SKILL.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(024-12): add Docker Compose backend runtime for local testing (#134)
  .env.backend.example
  .gitignore
  Dockerfile.backend
  README.md
  docker-compose.backend.yml
  docs/backend-client-mode.md
  scripts/backend-health.sh
Due: markdownlint-cli2

Update README.md
  README.md
Due: markdownlint-cli2

feat(024-13): add Homebrew and systemd backend service support (#135)
  .github/workflows/ito-apply.lock.yml
  .github/workflows/ito-proposal.lock.yml
  README.md
  docs/backend-client-mode.md
  services/com.withakay.ito.backend.plist
  services/ito-backend.service
Due: markdownlint-cli2

Update config.md
  docs/config.md
Due: markdownlint-cli2

Document `ito serve-api` usage and backend client setup (#144)
  README.md
  docs/backend-client-mode.md
  docs/config.md
Due: markdownlint-cli2

lint
  .github/workflows/pr-fix.lock.yml
  .ito/workflows/.state/change-allocations.json
  AGENTS.md
Due: markdownlint-cli2

style: fix MD004 lint violations in AGENTS.md (asterisk to dash)
  .github/workflows/pr-fix.lock.yml
  AGENTS.md
Due: markdownlint-cli2

style: fix trailing whitespace in pr-fix lock file
  .github/workflows/pr-fix.lock.yml
Due: none

docs: include lore updates for AGENTS.md (edit tool + MD004 gotchas)
  AGENTS.md
Due: markdownlint-cli2

change proposals
  .ito/workflows/.state/change-allocations.json
  .pre-commit-config.yaml
  AGENTS.md
Due: markdownlint-cli2, arch-guardrails

change proposals
  .ito/changes/024-12_add-docker-compose-backend-runtime/.ito.yaml
  .ito/changes/024-12_add-docker-compose-backend-runtime/design.md
  .ito/changes/024-12_add-docker-compose-backend-runtime/proposal.md
  .ito/changes/024-12_add-docker-compose-backend-runtime/specs/backend-state-api/spec.md
  .ito/changes/024-12_add-docker-compose-backend-runtime/tasks.md
  .ito/changes/024-13_add-homebrew-systemd-backend-services/.ito.yaml
  .ito/changes/024-13_add-homebrew-systemd-backend-services/design.md
  .ito/changes/024-13_add-homebrew-systemd-backend-services/proposal.md
  .ito/changes/024-13_add-homebrew-systemd-backend-services/specs/backend-state-api/spec.md
  .ito/changes/024-13_add-homebrew-systemd-backend-services/tasks.md
  .ito/modules/024_ito-backend/module.md
  .ito/workflows/.state/change-allocations.json
  AGENTS.md
Due: markdownlint-cli2

Update new-proposal.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/new-proposal.md.j2
Due: none
