Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

chore: sync coordination worktree
  .ito/changes/019-10_manifesto-instruction/demos/task-3-regressions-and-discoverability.md
Due: none

chore: create change 025-10_repository-backed-artifact-mutations
  .ito/changes/025-10_repository-backed-artifact-mutations/.ito.yaml
  .ito/changes/025-10_repository-backed-artifact-mutations/README.md
  .ito/modules/025_repository-backends/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

chore: create change 025-11_repository-backed-artifact-mutations
  .ito/changes/025-11_repository-backed-artifact-mutations/.ito.yaml
  .ito/changes/025-11_repository-backed-artifact-mutations/README.md
  .ito/modules/025_repository-backends/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

chore: complete task for change 001-01_add-opencode-session-title
  .ito/changes/019-10_manifesto-instruction/demos/task-3-regressions-and-discoverability.md
Due: none

chore: complete task for change 019-10_manifesto-instruction
  .ito/changes/019-10_manifesto-instruction/tasks.md
Due: none

chore: sync coordination worktree
  .ito/changes/025-11_repository-backed-artifact-mutations/design.md
  .ito/changes/025-11_repository-backed-artifact-mutations/proposal.md
  .ito/changes/025-11_repository-backed-artifact-mutations/specs/agent-instructions/spec.md
  .ito/changes/025-11_repository-backed-artifact-mutations/specs/backend-agent-instructions/spec.md
  .ito/changes/025-11_repository-backed-artifact-mutations/specs/backend-client-runtime/spec.md
  .ito/changes/025-11_repository-backed-artifact-mutations/specs/repository-runtime-selection/spec.md
  .ito/changes/025-11_repository-backed-artifact-mutations/tasks.md
Due: none

fix(init): refresh managed agent templates on update
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(agent): add manifesto instruction artifact
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/manifesto_instructions.rs
  ito-rs/crates/ito-cli/src/app/memory_instructions.rs
  ito-rs/crates/ito-cli/src/app/mod.rs
  ito-rs/crates/ito-cli/src/cli/agent.rs
  ito-rs/crates/ito-cli/src/commands/sync.rs
  ito-rs/crates/ito-cli/tests/help.rs
  ito-rs/crates/ito-cli/tests/instructions_more.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_agent_instruction_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-templates/assets/instructions/agent/manifesto.md.j2
  ito-rs/crates/ito-templates/src/instructions.rs
  ito-rs/crates/ito-templates/src/instructions_manifesto_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(checks): stabilize quality guardrails
  ito-rs/crates/ito-domain/src/tasks/compute.rs
  ito-rs/crates/ito-web/src/terminal.rs
  ito-rs/tools/check_max_lines.py
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs(memory): record manifesto instruction constraints
  .brv/context-tree/_index.md
  .brv/context-tree/_manifest.json
  .brv/context-tree/development/_index.md
  .brv/context-tree/development/release_workflow/_index.md
  .brv/context-tree/development/release_workflow/build_and_coverage_guardrails.abstract.md
  .brv/context-tree/development/release_workflow/build_and_coverage_guardrails.overview.md
  .brv/context-tree/development/release_workflow/manifesto_instruction_implementation_notes.abstract.md
  .brv/context-tree/development/release_workflow/manifesto_instruction_implementation_notes.md
  .brv/context-tree/development/release_workflow/manifesto_instruction_implementation_notes.overview.md
  .brv/dream-log/drm-1777205792479.json
  .brv/dream-state.json
Due: markdownlint-cli2

fix(init): refresh managed agent templates on update (#220)
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(019-10): add manifesto instruction artifact (#219)
  .brv/context-tree/_index.md
  .brv/context-tree/_manifest.json
  .brv/context-tree/development/_index.md
  .brv/context-tree/development/release_workflow/_index.md
  .brv/context-tree/development/release_workflow/manifesto_instruction_implementation_notes.abstract.md
  .brv/context-tree/development/release_workflow/manifesto_instruction_implementation_notes.md
  .brv/context-tree/development/release_workflow/manifesto_instruction_implementation_notes.overview.md
  .brv/dream-state.json
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/manifesto_instructions.rs
  ito-rs/crates/ito-cli/src/app/memory_instructions.rs
  ito-rs/crates/ito-cli/src/app/mod.rs
  ito-rs/crates/ito-cli/src/cli/agent.rs
  ito-rs/crates/ito-cli/src/commands/sync.rs
  ito-rs/crates/ito-cli/tests/help.rs
  ito-rs/crates/ito-cli/tests/instructions_more.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_agent_instruction_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-domain/src/tasks/compute.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/manifesto.md.j2
  ito-rs/crates/ito-templates/src/instructions.rs
  ito-rs/crates/ito-templates/src/instructions_manifesto_tests.rs
  ito-rs/crates/ito-web/src/terminal.rs
  ito-rs/tools/check_max_lines.py
  ito-rs/tools/max_lines_baseline.txt
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs(templates): clarify artifact mutation guidance
  ito-rs/crates/ito-templates/assets/agents/claude-code/ito-general.md
  ito-rs/crates/ito-templates/assets/agents/claude-code/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/agents/claude-code/ito-quick.md
  ito-rs/crates/ito-templates/assets/agents/claude-code/ito-thinking.md
  ito-rs/crates/ito-templates/assets/agents/codex/ito-general/SKILL.md
  ito-rs/crates/ito-templates/assets/agents/codex/ito-orchestrator-worker/SKILL.md
  ito-rs/crates/ito-templates/assets/agents/codex/ito-quick/SKILL.md
  ito-rs/crates/ito-templates/assets/agents/codex/ito-thinking/SKILL.md
  ito-rs/crates/ito-templates/assets/agents/github-copilot/ito-general.md
  ito-rs/crates/ito-templates/assets/agents/github-copilot/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/agents/opencode/ito-general.md
  ito-rs/crates/ito-templates/assets/agents/opencode/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/agents/opencode/ito-quick.md
  ito-rs/crates/ito-templates/assets/agents/opencode/ito-thinking.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-general.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-orchestrator-worker.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-quick.md
  ito-rs/crates/ito-templates/assets/agents/pi/ito-thinking.md
  ito-rs/crates/ito-templates/assets/instructions/agent/backend.md.j2
Due: markdownlint-cli2

docs(memory): update published mirror memory
  .brv/context-tree/_index.md
  .brv/context-tree/_manifest.json
  .brv/context-tree/development/_index.md
  .brv/context-tree/development/ito_workflow/_index.md
  .brv/context-tree/development/ito_workflow/context.md
  .brv/context-tree/development/ito_workflow/published_ito_mirror.abstract.md
  .brv/context-tree/development/ito_workflow/published_ito_mirror.md
  .brv/context-tree/development/ito_workflow/published_ito_mirror.overview.md
Due: markdownlint-cli2

ignore autopilot sessions
  .autopilot/.gitignore
Due: none

chore: create change 019-11_rename-orchestrator-assets
  .ito/changes/019-11_rename-orchestrator-assets/.ito.yaml
  .ito/modules/019_templates/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

chore: sync coordination worktree
  .ito/changes/019-11_rename-orchestrator-assets/specs/template-assets/spec.md
  .ito/changes/019-11_rename-orchestrator-assets/tasks.md
Due: none

chore: create change 000-01_fix-opencode-agents-path
  .ito/changes/019-11_rename-orchestrator-assets/tasks.md
Due: none

chore: sync coordination worktree
  .ito/changes/019-11_rename-orchestrator-assets/tasks.md
Due: none

chore: start task for change 019-11_rename-orchestrator-assets
  .ito/changes/019-11_rename-orchestrator-assets/tasks.md
Due: none

chore: create change 000-16_fix-opencode-agents-path
  .ito/changes/000-16_fix-opencode-agents-path/.ito.yaml
  .ito/modules/000_ungrouped/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

chore: complete task for change 019-11_rename-orchestrator-assets
  .ito/changes/019-11_rename-orchestrator-assets/tasks.md
Due: none

chore: sync coordination worktree
  .ito/changes/000-16_fix-opencode-agents-path/specs/cli-update/spec.md
  .ito/changes/000-16_fix-opencode-agents-path/tasks.md
Due: none

chore: sync coordination worktree
  .ito/changes/000-16_fix-opencode-agents-path/tasks.md
Due: none

fix(opencode): install agents in plural directory
  .opencode/agent/ito-general.md
  .opencode/agent/ito-quick.md
  .opencode/agent/ito-thinking.md
  .opencode/agent/test-runner.md
  .opencode/agents/ito-orchestrator-planner.md
  .opencode/agents/ito-orchestrator-researcher.md
  .opencode/agents/ito-orchestrator-reviewer.md
  .opencode/agents/ito-orchestrator-worker.md
  .opencode/agents/ito-orchestrator.md
  .opencode/agents/ito-test-runner.md
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-templates/src/agents.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

docs(028-02): propose centralizing instruction source of truth
  .ito/changes/028-02_centralize-instruction-source-of-truth/.ito.yaml
  .ito/changes/028-02_centralize-instruction-source-of-truth/design.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/proposal.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/specs/agent-memory-abstraction/spec.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/specs/coordination-worktree/spec.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/specs/instruction-source-of-truth/spec.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/specs/orchestrate-instruction/spec.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/tasks.md
Due: none

Proposal 028-02: centralize instruction source of truth (#223)
  .ito/changes/028-02_centralize-instruction-source-of-truth/.ito.yaml
  .ito/changes/028-02_centralize-instruction-source-of-truth/design.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/proposal.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/specs/agent-memory-abstraction/spec.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/specs/coordination-worktree/spec.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/specs/instruction-source-of-truth/spec.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/specs/orchestrate-instruction/spec.md
  .ito/changes/028-02_centralize-instruction-source-of-truth/tasks.md
Due: none

chore: complete task for change 019-11_rename-orchestrator-assets
  .ito/changes/000-16_fix-opencode-agents-path/demos/opencode-agents-path.md
  .ito/changes/000-16_fix-opencode-agents-path/specs/cli-update/spec.md
  .ito/changes/000-16_fix-opencode-agents-path/tasks.md
  .ito/changes/019-11_rename-orchestrator-assets/demos/rename-specialist-role-assets.md
  .ito/changes/019-11_rename-orchestrator-assets/tasks.md
Due: none

docs: add source guide atlas
  .brv/context-tree/_index.md
  .brv/context-tree/_manifest.json
  .brv/context-tree/development/_index.md
  .brv/context-tree/development/source_guides/_index.md
  .brv/context-tree/development/source_guides/source_guide_workflow.abstract.md
  .brv/context-tree/development/source_guides/source_guide_workflow.md
  .brv/context-tree/development/source_guides/source_guide_workflow.overview.md
  .brv/dream-state.json
  .ito/user-prompts/apply.md
  ito-rs/crates/ito-backend/source-guide.md
  ito-rs/crates/ito-cli/source-guide.md
  ito-rs/crates/ito-common/source-guide.md
  ito-rs/crates/ito-config/source-guide.md
  ito-rs/crates/ito-core/source-guide.md
  ito-rs/crates/ito-domain/source-guide.md
  ito-rs/crates/ito-logging/source-guide.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-prompts/apply.md
  ito-rs/crates/ito-templates/source-guide.md
  ito-rs/crates/ito-test-support/source-guide.md
  ito-rs/crates/ito-web/source-guide.md
  ito-rs/crates/source-guide.md
  ito-rs/source-guide.md
  source-guide.json
  source-guide.md
  zoekt-usage-log.md
Due: markdownlint-cli2

docs: add source guide atlas (#224)
  .brv/context-tree/_index.md
  .brv/context-tree/_manifest.json
  .brv/context-tree/development/_index.md
  .brv/context-tree/development/source_guides/_index.md
  .brv/context-tree/development/source_guides/source_guide_workflow.abstract.md
  .brv/context-tree/development/source_guides/source_guide_workflow.md
  .brv/context-tree/development/source_guides/source_guide_workflow.overview.md
  .brv/dream-state.json
  .ito/user-prompts/apply.md
  ito-rs/crates/ito-backend/source-guide.md
  ito-rs/crates/ito-cli/source-guide.md
  ito-rs/crates/ito-common/source-guide.md
  ito-rs/crates/ito-config/source-guide.md
  ito-rs/crates/ito-core/source-guide.md
  ito-rs/crates/ito-domain/source-guide.md
  ito-rs/crates/ito-logging/source-guide.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-prompts/apply.md
  ito-rs/crates/ito-templates/source-guide.md
  ito-rs/crates/ito-test-support/source-guide.md
  ito-rs/crates/ito-web/source-guide.md
  ito-rs/crates/source-guide.md
  ito-rs/source-guide.md
  source-guide.json
  source-guide.md
  zoekt-usage-log.md
Due: markdownlint-cli2

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
