Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.20.0]
        args: [--config, .markdownlint-cli2.yaml]
        files: \.md$
        exclude: ^\.ito/

      - id: cargo-fmt
        name: cargo fmt (ito-rs)
        entry: cargo
        language: system
        args: [fmt, --manifest-path, ito-rs/Cargo.toml, --all]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-clippy
        name: cargo clippy (ito-rs)
        entry: cargo
        language: system
        args:
          - clippy
          - --manifest-path
          - ito-rs/Cargo.toml
          - --workspace
          - --all-targets
          - --
          - -D
          - warnings
          - -D
          - clippy::dbg_macro
          - -D
          - clippy::todo
          - -D
          - clippy::unimplemented
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-test-coverage
        name: cargo test with coverage (ito-rs)
        entry: make
        language: system
        args: [test-coverage]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-commit, pre-push]

      - id: cargo-test
        name: cargo test (ito-rs)
        entry: make
        language: system
        args: [test]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$
        stages: [pre-push]

      - id: check-max-lines
        name: check max lines (ito-rs)
        entry: python3
        language: system
        args: [ito-rs/tools/check_max_lines.py, --soft-limit, "1000", --hard-limit, "1200", --root, ito-rs]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$

      - id: arch-guardrails
        name: architecture guardrails
        entry: make
        language: system
        args: [arch-guardrails]
        pass_filenames: false
        files: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$

feat(workflow): add phase-specific user prompt guidance
  .ito/changes/001-21_phase-specific-user-prompts/.ito.yaml
  .ito/changes/001-21_phase-specific-user-prompts/design.md
  .ito/changes/001-21_phase-specific-user-prompts/proposal.md
  .ito/changes/001-21_phase-specific-user-prompts/specs/instruction-guidance-injection/spec.md
  .ito/changes/001-21_phase-specific-user-prompts/specs/phase-specific-user-prompts/spec.md
  .ito/changes/001-21_phase-specific-user-prompts/specs/user-guidance-file/spec.md
  .ito/changes/001-21_phase-specific-user-prompts/tasks.md
  .ito/modules/001_workflow-enhancements/module.md
  docs/config.md
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/tests/user_guidance_injection.rs
  ito-rs/crates/ito-core/src/workflow/mod.rs
  ito-rs/crates/ito-core/tests/workflow_user_guidance.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

fix: address PR review nits
  .ito/changes/001-22_sunset-legacy-workflow-command/specs/cli-workflow/spec.md
  schemas/spec-driven/templates/tasks.md
Due: markdownlint-cli2

chore: drop manual module tracker edit
  .ito/modules/001_workflow-enhancements/module.md
Due: none

chore: restore workflow module tracking entry
  .ito/modules/001_workflow-enhancements/module.md
Due: none

fix(init): scaffold managed user-prompts stubs
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-core/src/installers/mod.rs
  ito-rs/crates/ito-core/tests/workflow_user_guidance.rs
  ito-rs/crates/ito-templates/assets/default/project/.ito/AGENTS.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-prompts/apply.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-prompts/guidance.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-prompts/proposal.md
  ito-rs/crates/ito-templates/assets/default/project/.ito/user-prompts/tasks.md
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/assets/default/project/CLAUDE.md
  ito-rs/crates/ito-templates/tests/user_guidance_template.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

refactor: make ito workflow a no-op surface (#17)
  .ito/changes/001-22_sunset-legacy-workflow-command/.ito.yaml
  .ito/changes/001-22_sunset-legacy-workflow-command/design.md
  .ito/changes/001-22_sunset-legacy-workflow-command/proposal.md
  .ito/changes/001-22_sunset-legacy-workflow-command/specs/agent-instructions/spec.md
  .ito/changes/001-22_sunset-legacy-workflow-command/specs/cli-workflow/spec.md
  .ito/changes/001-22_sunset-legacy-workflow-command/specs/workflow-convergence/spec.md
  .ito/changes/001-22_sunset-legacy-workflow-command/tasks.md
  .ito/modules/001_workflow-enhancements/module.md
  README.md
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/workflow.rs
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_domain_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_all.snap
  ito-rs/crates/ito-cli/tests/snapshots/cli_snapshots__ito_help_subcommand_all.snap
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/workflow_templates.rs
  ito-rs/crates/ito-core/tests/workflow_templates.rs
  schemas/spec-driven/schema.yaml
  schemas/spec-driven/templates/proposal.md
  schemas/spec-driven/templates/tasks.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

Update ito-rs/crates/ito-core/src/workflow/mod.rs
  ito-rs/crates/ito-core/src/workflow/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

Update ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/cli.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

Update ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/spec.md
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/spec.md
Due: markdownlint-cli2

fix: address PR review feedback
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/app/update.rs
  ito-rs/crates/ito-core/src/config.rs
  ito-rs/crates/ito-core/src/distribution.rs
  ito-rs/crates/ito-core/src/workflow/mod.rs
  ito-rs/crates/ito-core/tests/workflow_user_guidance.rs
  ito-rs/crates/ito-templates/assets/skills/using-git-worktrees/SKILL.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

chore: satisfy max-lines guardrail
  ito-rs/crates/ito-core/src/workflow/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

fix: address gemini PR findings for schema safety and managed templates
  docs/changes/001-21_embed-and-export-workflow-schemas/artifact-graph-spec.md
  docs/changes/001-21_embed-and-export-workflow-schemas/tasks-plan.md
  ito-rs/crates/ito-core/src/workflow/mod.rs
  ito-rs/crates/ito-core/src/workflow/schema_assets.rs
  ito-rs/crates/ito-core/tests/workflow_schema_resolution.rs
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/design.md
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/proposal.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

fix: resolve rebase hook regressions
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/commands/help.rs
  ito-rs/crates/ito-cli/src/commands/templates.rs
  ito-rs/crates/ito-cli/tests/templates_schemas_export.rs
  ito-rs/crates/ito-core/src/workflow/mod.rs
  ito-rs/crates/ito-core/src/workflow/schema_assets.rs
  ito-rs/crates/ito-core/src/workflow/types.rs
  ito-rs/crates/ito-core/tests/workflow_schema_resolution.rs
  ito-rs/crates/ito-templates/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

docs: fix doctest snippets and clarify templates handler runtime
  ito-rs/crates/ito-cli/src/commands/help.rs
  ito-rs/crates/ito-cli/src/commands/templates.rs
  ito-rs/crates/ito-templates/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

fix: harden schema path resolution and add traversal tests
  ito-rs/crates/ito-core/src/workflow/schema_assets.rs
  ito-rs/crates/ito-core/tests/workflow_schema_resolution.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

chore: trim cli spacing to satisfy line limit hooks
  ito-rs/crates/ito-cli/src/cli.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

Dev (#23)
  .github/workflows/v-release.yml
  .ito/changes/012-03_worktree-aware-agents-md/tasks.md
  ito-rs/crates/ito-cli/src/app/init.rs
  ito-rs/crates/ito-cli/src/app/update.rs
  ito-rs/crates/ito-cli/tests/init_more.rs
  ito-rs/crates/ito-cli/tests/update_smoke.rs
  ito-rs/crates/ito-core/src/distribution.rs
  ito-rs/crates/ito-core/tests/distribution.rs
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/assets/skills/using-git-worktrees/SKILL.md
  ito-rs/crates/ito-templates/src/project_templates.rs
  ito-rs/crates/ito-templates/tests/worktree_template_rendering.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails

feat(workflow): embed schemas and add export command
  .ito/changes/001-21_embed-and-export-workflow-schemas/.ito.yaml
  .ito/changes/001-21_embed-and-export-workflow-schemas/design.md
  .ito/changes/001-21_embed-and-export-workflow-schemas/proposal.md
  .ito/changes/001-21_embed-and-export-workflow-schemas/specs/artifact-graph/spec.md
  .ito/changes/001-21_embed-and-export-workflow-schemas/specs/cli-templates-schemas/spec.md
  .ito/changes/001-21_embed-and-export-workflow-schemas/tasks.md
  .ito/modules/001_workflow-enhancements/module.md
  docs/schema-customization.md
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/help.rs
  ito-rs/crates/ito-cli/src/commands/mod.rs
  ito-rs/crates/ito-cli/src/commands/templates.rs
  ito-rs/crates/ito-cli/tests/templates_schemas_export.rs
  ito-rs/crates/ito-core/src/workflow/mod.rs
  ito-rs/crates/ito-core/src/workflow/schema_assets.rs
  ito-rs/crates/ito-core/tests/workflow_schema_resolution.rs
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/schema.yaml
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/design.md
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/proposal.md
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/spec.md
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/tasks.md
  ito-rs/crates/ito-templates/assets/schemas/tdd/schema.yaml
  ito-rs/crates/ito-templates/assets/schemas/tdd/templates/docs.md
  ito-rs/crates/ito-templates/assets/schemas/tdd/templates/implementation.md
  ito-rs/crates/ito-templates/assets/schemas/tdd/templates/spec.md
  ito-rs/crates/ito-templates/assets/schemas/tdd/templates/test.md
  ito-rs/crates/ito-templates/src/lib.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test, check-max-lines, arch-guardrails
