Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

fix(001-26): reconcile pr-fix workflow archive state
  .github/workflows/pr-fix.md
  .ito/changes/001-26_add-pr-fix-workflow/.ito.yaml
  .ito/changes/001-26_add-pr-fix-workflow/design.md
  .ito/changes/001-26_add-pr-fix-workflow/proposal.md
  .ito/changes/001-26_add-pr-fix-workflow/specs/pr-fix-workflow/spec.md
  .ito/changes/001-26_add-pr-fix-workflow/tasks.md
  .ito/specs/pr-fix-workflow/spec.md
Due: markdownlint-cli2

test(backend): add repeatable QA walkthrough
  docs/backend-qa-walkthrough.md
  ito-rs/crates/ito-cli/tests/backend_qa_walkthrough.rs
  scripts/backend-qa-walkthrough.sh
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

refactor(qa): move backend walkthrough under qa
  ito-rs/crates/ito-cli/tests/backend_qa_walkthrough.rs
  qa/README.md
  qa/backend/README.md
  qa/backend/test-backend-walkthrough.sh
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix: skip r-efi@5 duplicate in cargo-deny bans
  deny.toml
Due: none

changes
  .ito/changes/024-12_add-cloudflare-deployment/tasks.md
  .ito/changes/archive/2026-03-06-024-10_import-existing-and-archived-changes/.ito.yaml
  .ito/changes/archive/2026-03-06-024-10_import-existing-and-archived-changes/design.md
  .ito/changes/archive/2026-03-06-024-10_import-existing-and-archived-changes/proposal.md
  .ito/changes/archive/2026-03-06-024-10_import-existing-and-archived-changes/specs/backend-change-sync/spec.md
  .ito/changes/archive/2026-03-06-024-10_import-existing-and-archived-changes/specs/change-repository/spec.md
  .ito/changes/archive/2026-03-06-024-10_import-existing-and-archived-changes/specs/cli-init/spec.md
  .ito/changes/archive/2026-03-06-024-10_import-existing-and-archived-changes/tasks.md
  .ito/changes/archive/2026-03-06-024-11_export-changes-zip-archive/.ito.yaml
  .ito/changes/archive/2026-03-06-024-11_export-changes-zip-archive/design.md
  .ito/changes/archive/2026-03-06-024-11_export-changes-zip-archive/proposal.md
  .ito/changes/archive/2026-03-06-024-11_export-changes-zip-archive/specs/backend-change-sync/spec.md
  .ito/changes/archive/2026-03-06-024-11_export-changes-zip-archive/specs/change-repository/spec.md
  .ito/changes/archive/2026-03-06-024-11_export-changes-zip-archive/tasks.md
  .ito/changes/archive/2026-03-06-024-12_add-cloudflare-deployment/proposal.md
  .ito/changes/archive/2026-03-06-024-12_add-cloudflare-deployment/specs/backend-artifact-store/spec.md
  .ito/changes/archive/2026-03-06-024-12_add-cloudflare-deployment/specs/distribution/spec.md
  .ito/changes/archive/2026-03-06-024-12_add-cloudflare-deployment/tasks.md
  .ito/changes/archive/2026-03-06-024-12_add-docker-compose-backend-runtime/.ito.yaml
  .ito/changes/archive/2026-03-06-024-12_add-docker-compose-backend-runtime/design.md
  .ito/changes/archive/2026-03-06-024-12_add-docker-compose-backend-runtime/proposal.md
  .ito/changes/archive/2026-03-06-024-12_add-docker-compose-backend-runtime/specs/backend-state-api/spec.md
  .ito/changes/archive/2026-03-06-024-12_add-docker-compose-backend-runtime/tasks.md
  .ito/changes/archive/2026-03-06-024-13_add-homebrew-systemd-backend-services/.ito.yaml
  .ito/changes/archive/2026-03-06-024-13_add-homebrew-systemd-backend-services/design.md
  .ito/changes/archive/2026-03-06-024-13_add-homebrew-systemd-backend-services/proposal.md
  .ito/changes/archive/2026-03-06-024-13_add-homebrew-systemd-backend-services/specs/backend-state-api/spec.md
  .ito/changes/archive/2026-03-06-024-13_add-homebrew-systemd-backend-services/tasks.md
  .ito/modules/001_workflow-enhancements/module.md
  .ito/modules/024_ito-backend/module.md
  .ito/specs/backend-artifact-store/spec.md
  .ito/specs/backend-change-sync/spec.md
  .ito/specs/backend-state-api/spec.md
  .ito/specs/change-repository/spec.md
  .ito/specs/cli-init/spec.md
  .ito/specs/distribution/spec.md
Due: none

added note
  notes.md
Due: markdownlint-cli2

fix: use step output for secrets check in polish-release-notes workflow
  .github/workflows/polish-release-notes.yml
Due: none

fix(qa): address PR review security and reliability issues
  ito-rs/crates/ito-cli/tests/backend_qa_walkthrough.rs
  qa/backend/test-backend-walkthrough.sh
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(qa): fix macOS tempdir path validation and clippy needless borrow
  ito-rs/crates/ito-cli/tests/backend_qa_walkthrough.rs
  qa/backend/test-backend-walkthrough.sh
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(qa): address Gemini follow-up feedback
  ito-rs/crates/ito-cli/tests/backend_qa_walkthrough.rs
  qa/backend/test-backend-walkthrough.sh
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: update claude-code-review workflow with Ito project context
  .github/workflows/claude-code-review.yml
Due: none

docs(qa): add showboat demo for backend shared-state API
  demos/backend-shared-state/demo.md
Due: markdownlint-cli2

test(backend): add repeatable QA walkthrough (#151)
  demos/backend-shared-state/demo.md
  ito-rs/crates/ito-cli/tests/backend_qa_walkthrough.rs
  qa/README.md
  qa/backend/README.md
  qa/backend/test-backend-walkthrough.sh
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: markdownlint-cli2

fix review workflow
  .github/workflows/claude-code-review.yml
Due: none

feat(024-14): add serve-api --init and global config fallback for auth tokens
  Cargo.lock
  README.md
  docs/backend-client-mode.md
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/serve_api.rs
  ito-rs/crates/ito-config/src/config/mod.rs
  ito-rs/crates/ito-core/Cargo.toml
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/token.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

refactor(024-14): harden serve-api auth — use base64 crate, 0600 config, move logic to ito-core
  Cargo.lock
  Cargo.toml
  README.md
  ito-rs/AGENTS.md
  ito-rs/crates/ito-cli/src/commands/serve_api.rs
  ito-rs/crates/ito-core/Cargo.toml
  ito-rs/crates/ito-core/src/backend_auth.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/token.rs
  ito-rs/crates/ito-core/tests/backend_auth.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

style: apply cargo fmt
  ito-rs/crates/ito-core/src/backend_auth.rs
  ito-rs/crates/ito-core/tests/backend_auth.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore(024-14): route opencode formatting through manual prek hooks
  .pre-commit-opencode.yaml
  opencode.jsonc
Due: none

feat(024-14): add serve-api --init and global config fallback for auth tokens (#154)
  .pre-commit-opencode.yaml
  Cargo.lock
  Cargo.toml
  README.md
  docs/backend-client-mode.md
  ito-rs/AGENTS.md
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/serve_api.rs
  ito-rs/crates/ito-config/src/config/mod.rs
  ito-rs/crates/ito-core/Cargo.toml
  ito-rs/crates/ito-core/src/backend_auth.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/src/token.rs
  ito-rs/crates/ito-core/tests/backend_auth.rs
  opencode.jsonc
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

feat(024-15): add Docker image and Helm chart for ito-backend
  .github/workflows/docker-publish.yml
  .pre-commit-config.yaml
  README.md
  docs/backend-client-mode.md
  infra/docker/Dockerfile
  infra/helm/ito-backend/Chart.yaml
  infra/helm/ito-backend/README.md
  infra/helm/ito-backend/templates/NOTES.txt
  infra/helm/ito-backend/templates/_helpers.tpl
  infra/helm/ito-backend/templates/deployment.yaml
  infra/helm/ito-backend/templates/ingress.yaml
  infra/helm/ito-backend/templates/pvc.yaml
  infra/helm/ito-backend/templates/secret.yaml
  infra/helm/ito-backend/templates/service.yaml
  infra/helm/ito-backend/values.yaml
Due: markdownlint-cli2, arch-guardrails

fix: address PR review - add Helm guards and fix latest tag
  .github/workflows/docker-publish.yml
  infra/helm/ito-backend/templates/deployment.yaml
  infra/helm/ito-backend/templates/secret.yaml
Due: none

fix: use flavor latest=auto, conditional health URL, SQLite docs
  .github/workflows/docker-publish.yml
  infra/helm/ito-backend/templates/NOTES.txt
  infra/helm/ito-backend/values.yaml
Due: none

feat(024-15): Docker image and Helm chart for ito-backend (#155)
  .github/workflows/docker-publish.yml
  .pre-commit-config.yaml
  README.md
  docs/backend-client-mode.md
  infra/docker/Dockerfile
  infra/helm/ito-backend/Chart.yaml
  infra/helm/ito-backend/README.md
  infra/helm/ito-backend/templates/NOTES.txt
  infra/helm/ito-backend/templates/_helpers.tpl
  infra/helm/ito-backend/templates/deployment.yaml
  infra/helm/ito-backend/templates/ingress.yaml
  infra/helm/ito-backend/templates/pvc.yaml
  infra/helm/ito-backend/templates/secret.yaml
  infra/helm/ito-backend/templates/service.yaml
  infra/helm/ito-backend/values.yaml
Due: markdownlint-cli2, arch-guardrails

feat(024-16): align Homebrew install and service bootstrap
  .github/workflows/polish-release-notes.yml
  .github/workflows/v-release.yml
  .ito/changes/024-16_homebrew-service-bootstrap/.ito.yaml
  .ito/changes/024-16_homebrew-service-bootstrap/proposal.md
  .ito/changes/024-16_homebrew-service-bootstrap/specs/backend-state-api/spec.md
  .ito/changes/024-16_homebrew-service-bootstrap/specs/homebrew-formula/spec.md
  .ito/changes/024-16_homebrew-service-bootstrap/tasks.md
  .ito/modules/024_ito-backend/module.md
  .ito/workflows/.state/change-allocations.json
  README.md
  docs/backend-client-mode.md
  docs/install.md
  ito-rs/crates/ito-cli/Cargo.toml
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/serve_api.rs
  ito-rs/crates/ito-cli/tests/serve_api_service.rs
  ito-rs/crates/ito-core/tests/backend_auth_service.rs
  services/com.withakay.ito.backend.plist
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

fix(024-16): address PR review follow-ups
  docs/backend-client-mode.md
  ito-rs/crates/ito-cli/tests/serve_api_service.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(024-16): apply review hook formatting
  ito-rs/crates/ito-cli/tests/serve_api_service.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(024-16): align Homebrew install and service bootstrap (#156)
  .github/workflows/polish-release-notes.yml
  .github/workflows/v-release.yml
  .ito/changes/024-16_homebrew-service-bootstrap/.ito.yaml
  .ito/changes/024-16_homebrew-service-bootstrap/proposal.md
  .ito/changes/024-16_homebrew-service-bootstrap/specs/backend-state-api/spec.md
  .ito/changes/024-16_homebrew-service-bootstrap/specs/homebrew-formula/spec.md
  .ito/changes/024-16_homebrew-service-bootstrap/tasks.md
  .ito/modules/024_ito-backend/module.md
  .ito/workflows/.state/change-allocations.json
  README.md
  docs/backend-client-mode.md
  docs/install.md
  ito-rs/crates/ito-cli/Cargo.toml
  ito-rs/crates/ito-cli/src/cli.rs
  ito-rs/crates/ito-cli/src/commands/serve_api.rs
  ito-rs/crates/ito-cli/tests/serve_api_service.rs
  ito-rs/crates/ito-core/tests/backend_auth_service.rs
  services/com.withakay.ito.backend.plist
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
