Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

chore: start task for change 001-33_enhance-spec-driven-workflow-validation
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/tasks.md
Due: none

chore: complete task for change 001-33_enhance-spec-driven-workflow-validation
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/demos/task-1.2-delta-shape-and-export.md
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/tasks.md
Due: none

fix(templates): align delta schema spec templates (refs 001-33 task 1.2)
  ito-rs/crates/ito-cli/tests/templates_schemas_export.rs
  ito-rs/crates/ito-core/tests/templates_schemas_listing.rs
  ito-rs/crates/ito-templates/assets/schemas/event-driven/templates/specs/spec.md
  ito-rs/crates/ito-templates/assets/schemas/minimalist/templates/specs/spec.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: complete task for change 001-33_enhance-spec-driven-workflow-validation
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/demos/task-1.3-validation-rules-plumbing.md
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/tasks.md
Due: none

feat(validate): add rules and proposal validation plumbing (refs 001-33 task 1.3)
  ito-rs/crates/ito-cli/src/app/validate.rs
  ito-rs/crates/ito-cli/src/diagnostics.rs
  ito-rs/crates/ito-core/src/templates/types.rs
  ito-rs/crates/ito-core/src/validate/issue.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/src/validate/report.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: complete task for change 001-33_enhance-spec-driven-workflow-validation
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/demos/task-1.4-enhanced-task-quality-fields.md
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/tasks.md
Due: none

test(tasks): cover enhanced quality fields (refs 001-33 task 1.4)
  ito-rs/crates/ito-domain/tests/tasks_quality_fields.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: complete task for change 001-33_enhance-spec-driven-workflow-validation
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/demos/task-2.1-scenario-grammar.md
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/tasks.md
Due: none

feat(validate): add scenario grammar checks (refs 001-33 task 2.1)
  ito-rs/crates/ito-core/src/show/mod.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: complete task for change 001-33_enhance-spec-driven-workflow-validation
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/demos/task-2.2-capabilities-consistency.md
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/tasks.md
Due: none

feat(validate): check proposal capability drift (refs 001-33 task 2.2)
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: complete task for change 001-33_enhance-spec-driven-workflow-validation
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/demos/task-2.3-contract-refs.md
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/tasks.md
Due: none

feat(validate): add contract reference checks (refs 001-33 task 2.3)
  ito-rs/crates/ito-core/src/show/mod.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: complete task for change 001-33_enhance-spec-driven-workflow-validation
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/demos/task-2.4-task-quality.md
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/tasks.md
Due: none

feat(validate): enforce task quality rules (refs 001-33 task 2.4)
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/tests/validate.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

chore: complete task for change 001-33_enhance-spec-driven-workflow-validation
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/demos/task-2.5-docs-and-instructions.md
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/tasks.md
Due: none

docs(workflow): document rule opt-ins and facets (refs 001-33 task 2.5)
  .ito/user-prompts/proposal.md
  docs/schema-customization.md
  ito-rs/crates/ito-core/src/memory/mod.rs
  ito-rs/crates/ito-core/src/worktree_ensure.rs
  ito-rs/crates/ito-templates/assets/instructions/agent/artifact.md.j2
  ito-rs/crates/ito-templates/assets/instructions/agent/new-proposal.md.j2
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(validate): split rule suites for gate checks (refs 001-33 task 3.1)
  .agents/skills/byterover/SKILL.md
  .agents/skills/byterover/byterover-audit/SKILL.md
  .claude/skills/byterover-audit/SKILL.md
  .claude/skills/byterover/SKILL.md
  ito-rs/crates/ito-core/src/validate/delta_rules.rs
  ito-rs/crates/ito-core/src/validate/mod.rs
  ito-rs/crates/ito-core/src/validate/rules_engine.rs
  ito-rs/crates/ito-core/src/validate/tracking_rules.rs
  ito-rs/crates/ito-core/tests/templates_schema_resolution.rs
  ito-rs/crates/ito-core/tests/validate.rs
  ito-rs/crates/ito-core/tests/validate_delta_rules.rs
  ito-rs/crates/ito-core/tests/validate_rules_extension.rs
  ito-rs/crates/ito-core/tests/validate_tracking_rules.rs
  ito-rs/crates/ito-domain/tests/tasks_quality_fields.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(validate): respect rule level in task_quality (refs 001-33)
  ito-rs/crates/ito-core/src/validate/tracking_rules.rs
  ito-rs/crates/ito-core/tests/validate_tracking_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(validate): emit io error in task_quality (refs 001-33)
  ito-rs/crates/ito-core/src/validate/tracking_rules.rs
  ito-rs/crates/ito-core/tests/validate_tracking_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(validate): respect rule level in ui_mechanics (refs 001-33)
  ito-rs/crates/ito-core/src/validate/delta_rules.rs
  ito-rs/crates/ito-core/tests/validate_delta_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(cli): surface rule_id in diagnostics renderer (refs 001-33)
  ito-rs/crates/ito-cli/src/diagnostics.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(show): consistent first-wins for requirement metadata (refs 001-33)
  ito-rs/crates/ito-core/src/show/mod.rs
  ito-rs/crates/ito-core/tests/show.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(show): contract refs split on ", " not "," (refs 001-33)
  ito-rs/crates/ito-core/src/show/mod.rs
  ito-rs/crates/ito-core/tests/show.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(templates): default Public Contract to none (refs 001-33)
  ito-rs/crates/ito-core/tests/templates_schema_resolution.rs
  ito-rs/crates/ito-templates/assets/schemas/spec-driven/templates/proposal.md
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

style(validate, show): explicit for loops + let-else per repo style (refs 001-33)
  ito-rs/crates/ito-core/src/show/mod.rs
  ito-rs/crates/ito-core/src/validate/delta_rules.rs
  ito-rs/crates/ito-core/src/validate/tracking_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(validate): broader implementation-file detection (refs 001-33)
  ito-rs/crates/ito-core/src/validate/tracking_rules.rs
  ito-rs/crates/ito-core/tests/validate_tracking_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

ci: use self-hosted arm runners
  .github/workflows/ci.yml
Due: arch-guardrails

chore: sync coordination worktree
  .ito/changes/001-33_enhance-spec-driven-workflow-validation/demos/task-3.1-final-gate.md
Due: none

chore: create change 009-04_fix-audit-reconcile-loop-and-prune-audit-mirror
  .ito/changes/009-04_fix-audit-reconcile-loop-and-prune-audit-mirror/.ito.yaml
  .ito/modules/009_logging-telemetry/module.md
  .ito/workflows/.state/change-allocations.json
Due: none

chore: sync coordination worktree
  .ito/changes/009-04_fix-audit-reconcile-loop-and-prune-audit-mirror/proposal.md
  .ito/changes/009-04_fix-audit-reconcile-loop-and-prune-audit-mirror/specs/audit-remote-mirroring/spec.md
  .ito/changes/009-04_fix-audit-reconcile-loop-and-prune-audit-mirror/specs/audit-storage-routing/spec.md
  .ito/changes/009-04_fix-audit-reconcile-loop-and-prune-audit-mirror/tasks.md
  .ito/modules/009_logging-telemetry/module.md
Due: none

docs: propose prompt-only Ito manifesto
  docs/proposals/ito-manifesto.md
Due: markdownlint-cli2

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
