Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.6.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args:
          [
            feat,
            fix,
            docs,
            style,
            refactor,
            perf,
            test,
            build,
            ci,
            chore,
            revert,
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
      - id: pretty-format-json
        args: [--autofix, --indent=2, --no-sort-keys]

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]

  - repo: local
    hooks:
      - id: markdownlint-cli2
        name: markdownlint-cli2
        entry: markdownlint-cli2
        language: node
        additional_dependencies: [markdownlint-cli2@0.20.0]
        args: [--config, .markdownlint-cli2.yaml]
        files: \.md$
        exclude: ^\.ito/

      - id: cargo-fmt
        name: cargo fmt (ito-rs)
        entry: make
        language: system
        args: [fmt]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-clippy
        name: cargo clippy (ito-rs)
        entry: make
        language: system
        args: [clippy]
        pass_filenames: false
        files: ^ito-rs/.*\.(rs|toml)$

      - id: cargo-test-coverage
        name: cargo test with coverage (ito-rs)
        entry: make
        language: system
        args: [test-coverage]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-push]

      - id: cargo-test-affected
        name: cargo test affected (ito-rs)
        entry: make
        language: system
        args: [test-affected]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$
        stages: [pre-commit]

      - id: check-max-lines
        name: check max lines (ito-rs)
        entry: make
        language: system
        args: [check-max-lines]
        pass_filenames: false
        files: ^ito-rs/.*\.rs$

      - id: arch-guardrails
        name: architecture guardrails
        entry: make
        language: system
        args: [arch-guardrails]
        pass_filenames: false
        files: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$

      - id: cargo-deny
        name: cargo deny (license/advisory checks)
        entry: make
        language: system
        args: [cargo-deny]
        pass_filenames: false
        files: ^ito-rs/.*\.(toml|lock)$

feat(024-02): add backend runtime config, client factory, and domain ports
  .ito/changes/024-02_add-cli-backend-client/tasks.md
Due: none

feat(024-02): integrate backend sync into task mutation commands
  .ito/changes/024-02_add-cli-backend-client/tasks.md
Due: none

feat(024-02): add backend repository adapters and artifact sync service
  .ito/changes/024-02_add-cli-backend-client/tasks.md
Due: none

feat(024-02): add CLI claim/release/allocate/sync command surface
  .ito/changes/024-02_add-cli-backend-client/tasks.md
Due: none

Ralph loop iteration 1
  .ito/changes/024-02_add-cli-backend-client/tasks.md
Due: none

Ralph loop iteration 1
  .ito/changes/024-03_add-backend-project-bootstrap/tasks.md
Due: none

Ralph loop iteration 1
  .ito/changes/024-04_add-backend-event-forwarding/tasks.md
Due: none

feat: add finish instruction and consolidate proposal guidance
  ito-rs/crates/ito-cli/src/cli.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

fix(024): improve backend-mode ergonomics + docs consistency
  .ito/changes/024-01_add-shared-state-api/specs/backend-artifact-store/spec.md
  .ito/changes/024-02_add-cli-backend-client/specs/config/spec.md
Due: none

Ralph loop iteration 1
  .ito/changes/024-05_add-backend-archive-sync/tasks.md
Due: none

chore(ito-cli): apply rustfmt after rebase
  ito-rs/crates/ito-cli/src/cli.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

feat(024): draft backend state API change set
  .ito/changes/024-01_add-shared-state-api/specs/backend-artifact-store/spec.md
  .ito/changes/024-01_add-shared-state-api/specs/backend-auth/spec.md
  .ito/changes/024-01_add-shared-state-api/specs/backend-event-ingest/spec.md
  .ito/changes/024-01_add-shared-state-api/specs/change-allocation/spec.md
  .ito/changes/024-01_add-shared-state-api/specs/change-leasing/spec.md
  .ito/changes/024-02_add-cli-backend-client/.ito.yaml
  .ito/changes/024-02_add-cli-backend-client/design.md
  .ito/changes/024-02_add-cli-backend-client/proposal.md
  .ito/changes/024-02_add-cli-backend-client/specs/backend-change-claim/spec.md
  .ito/changes/024-02_add-cli-backend-client/specs/backend-change-sync/spec.md
  .ito/changes/024-02_add-cli-backend-client/specs/backend-client-runtime/spec.md
  .ito/changes/024-02_add-cli-backend-client/specs/change-repository/spec.md
  .ito/changes/024-02_add-cli-backend-client/specs/cli-tasks/spec.md
  .ito/changes/024-02_add-cli-backend-client/specs/config/spec.md
  .ito/changes/024-02_add-cli-backend-client/specs/task-repository/spec.md
  .ito/changes/024-02_add-cli-backend-client/tasks.md
  .ito/changes/024-03_add-backend-project-bootstrap/.ito.yaml
  .ito/changes/024-03_add-backend-project-bootstrap/design.md
  .ito/changes/024-03_add-backend-project-bootstrap/proposal.md
  .ito/changes/024-03_add-backend-project-bootstrap/specs/backend-project-bootstrap/spec.md
  .ito/changes/024-03_add-backend-project-bootstrap/tasks.md
  .ito/changes/024-04_add-backend-event-forwarding/.ito.yaml
  .ito/changes/024-04_add-backend-event-forwarding/design.md
  .ito/changes/024-04_add-backend-event-forwarding/proposal.md
  .ito/changes/024-04_add-backend-event-forwarding/specs/backend-event-forwarding/spec.md
  .ito/changes/024-04_add-backend-event-forwarding/tasks.md
  .ito/changes/024-05_add-backend-archive-sync/.ito.yaml
  .ito/changes/024-05_add-backend-archive-sync/design.md
  .ito/changes/024-05_add-backend-archive-sync/proposal.md
  .ito/changes/024-05_add-backend-archive-sync/specs/backend-archive-sync/spec.md
  .ito/changes/024-05_add-backend-archive-sync/specs/cli-archive/spec.md
  .ito/changes/024-05_add-backend-archive-sync/tasks.md
Due: none

archived
  .ito/changes/archive/2026-03-06-001-26_add-pr-fix-workflow/.ito.yaml
  .ito/changes/archive/2026-03-06-001-26_add-pr-fix-workflow/design.md
  .ito/changes/archive/2026-03-06-001-26_add-pr-fix-workflow/proposal.md
  .ito/changes/archive/2026-03-06-001-26_add-pr-fix-workflow/specs/pr-fix-workflow/spec.md
  .ito/changes/archive/2026-03-06-001-26_add-pr-fix-workflow/tasks.md
  .ito/changes/archive/2026-03-06-024-02_add-cli-backend-client/.ito.yaml
  .ito/changes/archive/2026-03-06-024-02_add-cli-backend-client/design.md
  .ito/changes/archive/2026-03-06-024-02_add-cli-backend-client/proposal.md
  .ito/changes/archive/2026-03-06-024-02_add-cli-backend-client/specs/backend-change-claim/spec.md
  .ito/changes/archive/2026-03-06-024-02_add-cli-backend-client/specs/backend-change-sync/spec.md
  .ito/changes/archive/2026-03-06-024-02_add-cli-backend-client/specs/backend-client-runtime/spec.md
  .ito/changes/archive/2026-03-06-024-02_add-cli-backend-client/specs/change-repository/spec.md
  .ito/changes/archive/2026-03-06-024-02_add-cli-backend-client/specs/cli-tasks/spec.md
  .ito/changes/archive/2026-03-06-024-02_add-cli-backend-client/specs/config/spec.md
  .ito/changes/archive/2026-03-06-024-02_add-cli-backend-client/specs/task-repository/spec.md
  .ito/changes/archive/2026-03-06-024-02_add-cli-backend-client/tasks.md
  .ito/changes/archive/2026-03-06-024-03_add-backend-project-bootstrap/.ito.yaml
  .ito/changes/archive/2026-03-06-024-03_add-backend-project-bootstrap/design.md
  .ito/changes/archive/2026-03-06-024-03_add-backend-project-bootstrap/proposal.md
  .ito/changes/archive/2026-03-06-024-03_add-backend-project-bootstrap/specs/backend-project-bootstrap/spec.md
  .ito/changes/archive/2026-03-06-024-03_add-backend-project-bootstrap/tasks.md
  .ito/changes/archive/2026-03-06-024-04_add-backend-event-forwarding/.ito.yaml
  .ito/changes/archive/2026-03-06-024-04_add-backend-event-forwarding/design.md
  .ito/changes/archive/2026-03-06-024-04_add-backend-event-forwarding/proposal.md
  .ito/changes/archive/2026-03-06-024-04_add-backend-event-forwarding/specs/backend-event-forwarding/spec.md
  .ito/changes/archive/2026-03-06-024-04_add-backend-event-forwarding/tasks.md
  .ito/changes/archive/2026-03-06-024-05_add-backend-archive-sync/.ito.yaml
  .ito/changes/archive/2026-03-06-024-05_add-backend-archive-sync/design.md
  .ito/changes/archive/2026-03-06-024-05_add-backend-archive-sync/proposal.md
  .ito/changes/archive/2026-03-06-024-05_add-backend-archive-sync/specs/backend-archive-sync/spec.md
  .ito/changes/archive/2026-03-06-024-05_add-backend-archive-sync/specs/cli-archive/spec.md
  .ito/changes/archive/2026-03-06-024-05_add-backend-archive-sync/tasks.md
  .ito/modules/001_workflow-enhancements/module.md
  .ito/specs/config/spec.md
  .ito/specs/pr-fix-workflow/spec.md
Due: none

feat(001-26): add on-demand PR fix workflow (#150)
  .ito/changes/001-26_add-pr-fix-workflow/.ito.yaml
  .ito/changes/001-26_add-pr-fix-workflow/design.md
  .ito/changes/001-26_add-pr-fix-workflow/proposal.md
  .ito/changes/001-26_add-pr-fix-workflow/specs/pr-fix-workflow/spec.md
  .ito/changes/001-26_add-pr-fix-workflow/tasks.md
  .ito/modules/001_workflow-enhancements/module.md
Due: none

fix(001-26): reconcile pr-fix workflow archive state
  .github/workflows/pr-fix.md
  .ito/changes/001-26_add-pr-fix-workflow/.ito.yaml
  .ito/changes/001-26_add-pr-fix-workflow/design.md
  .ito/changes/001-26_add-pr-fix-workflow/proposal.md
  .ito/changes/001-26_add-pr-fix-workflow/specs/pr-fix-workflow/spec.md
  .ito/changes/001-26_add-pr-fix-workflow/tasks.md
  .ito/specs/pr-fix-workflow/spec.md
Due: markdownlint-cli2
