Repository withakay/ito: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

markdownlint-cli2:
  name: markdownlint-cli2
  entry: markdownlint-cli2
  language: node
  additional_dependencies:
  - markdownlint-cli2@0.20.0
  args:
  - --config
  - .markdownlint-cli2.yaml

cargo-fmt:
  name: cargo fmt (ito-rs)
  entry: make
  language: system
  args:
  - fmt
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (ito-rs)
  entry: make
  language: system
  args:
  - clippy
  pass_filenames: false

cargo-test-coverage:
  name: cargo test with coverage (ito-rs)
  entry: make
  language: system
  args:
  - test-coverage
  pass_filenames: false
  stages:
  - pre-push

cargo-test-affected:
  name: cargo test affected (ito-rs)
  entry: make
  language: system
  args:
  - test-affected
  pass_filenames: false
  stages:
  - pre-commit

check-max-lines:
  name: check max lines (ito-rs)
  entry: make
  language: system
  args:
  - check-max-lines
  pass_filenames: false

arch-guardrails:
  name: architecture guardrails
  entry: make
  language: system
  args:
  - arch-guardrails
  pass_filenames: false

cargo-deny:
  name: cargo deny (license/advisory checks)
  entry: make
  language: system
  args:
  - cargo-deny
  pass_filenames: false

chore: start task for change 031-03_gate-experimental-backend-coordination
  .ito/changes/031-03_gate-experimental-backend-coordination/tasks.md
Due: none

feat(031-01): add coordination migration recovery
  .ito/wiki/topics/runtime-and-storage.md
  Cargo.lock
  docs/agent-workflow.md
  docs/config.md
  ito-rs/crates/ito-cli/src/app/instructions.rs
  ito-rs/crates/ito-cli/src/app/legacy_coordination.rs
  ito-rs/crates/ito-cli/src/app/legacy_coordination_tests.rs
  ito-rs/crates/ito-cli/src/app/mod.rs
  ito-rs/crates/ito-cli/src/app/run.rs
  ito-rs/crates/ito-cli/src/cli/agent.rs
  ito-rs/crates/ito-cli/src/commands/sync.rs
  ito-rs/crates/ito-cli/src/diagnostics.rs
  ito-rs/crates/ito-cli/src/runtime.rs
  ito-rs/crates/ito-cli/src/util.rs
  ito-rs/crates/ito-cli/tests/legacy_coordination_guard.rs
  ito-rs/crates/ito-cli/tests/migrate_to_main_instruction.rs
  ito-rs/crates/ito-core/codemap.md
  ito-rs/crates/ito-core/src/coordination.rs
  ito-rs/crates/ito-core/src/distribution.rs
  ito-rs/crates/ito-core/src/legacy_coordination.rs
  ito-rs/crates/ito-core/src/legacy_coordination_tests.rs
  ito-rs/crates/ito-core/src/lib.rs
  ito-rs/crates/ito-core/tests/distribution.rs
  ito-rs/crates/ito-templates/assets/commands/ito-migrate-to-main.md
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/assets/instructions/agent/migrate-to-main.md.j2
  ito-rs/crates/ito-templates/src/instructions.rs
  ito-rs/crates/ito-templates/src/instructions_migrate_to_main_tests.rs
  ito-rs/crates/ito-templates/src/lib.rs
  ito-rs/crates/ito-test-support/Cargo.toml
  ito-rs/crates/ito-test-support/src/lib.rs
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails, cargo-deny

chore: complete task for change 031-03_gate-experimental-backend-coordination
  .ito/changes/031-03_gate-experimental-backend-coordination/tasks.md
Due: none

feat(031-03): adopt main-compatible runtime defaults
  .ito/wiki/topics/runtime-and-storage.md
  docs/config.md
  ito-rs/crates/ito-cli/tests/feature_unavailable.rs
  ito-rs/crates/ito-config/src/config/config_tests.rs
  ito-rs/crates/ito-config/src/config/coordination_storage_tests.rs
  ito-rs/crates/ito-config/src/config/types.rs
  ito-rs/crates/ito-core/src/artifact_mutations_tests.rs
  ito-rs/crates/ito-core/src/capabilities_tests.rs
  ito-rs/crates/ito-core/src/legacy_coordination_tests.rs
  ito-rs/crates/ito-core/src/validate_repo/audit_rules_tests.rs
  schemas/ito-config.schema.json
Due: markdownlint-cli2, cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

build(031-03): split shipping and experimental lanes
  Makefile
  ito-rs/tools/test-affected.sh
Due: arch-guardrails

ci(031-03): require shipping and experimental lanes
  .github/workflows/ci.yml
Due: arch-guardrails

build(031-03): pin standard release features
  .github/workflows/ci.yml
  .github/workflows/v-release.yml
  Makefile
  README.md
  dist-workspace.toml
  docs/backend-client-mode.md
  infra/docker/Dockerfile
  ito-rs/tools/check_release_features.py
Due: markdownlint-cli2, arch-guardrails

chore: complete task for change 031-03_gate-experimental-backend-coordination
  .ito/changes/031-03_gate-experimental-backend-coordination/demos/feature-boundary.md
  .ito/changes/031-03_gate-experimental-backend-coordination/tasks.md
Due: none

docs(031-06): close cutover audit
  .ito/changes/031-06_migrate-ito-authority-and-release/evidence/release-verification.md
  .ito/changes/031-06_migrate-ito-authority-and-release/requirement-audit.md
  .ito/changes/031-06_migrate-ito-authority-and-release/reviews/migration-requirements-review.md
  .ito/changes/031-06_migrate-ito-authority-and-release/tasks.md
  codemap.json
Due: none

ci: target active self-hosted runner scale set
  .github/workflows/ci.yml
Due: arch-guardrails

fix(ito-apply): preserve interactive shell on preflight failure
  .claude/skills/ito-apply/SKILL.md
  .codex/skills/ito-apply/SKILL.md
  .github/skills/ito-apply/SKILL.md
  .opencode/skills/ito-apply/SKILL.md
  .pi/skills/ito-apply/SKILL.md
  ito-rs/crates/ito-templates/assets/default/project/AGENTS.md
  ito-rs/crates/ito-templates/assets/instructions/agent/worktrees.md.j2
  ito-rs/crates/ito-templates/assets/skills/ito-apply/SKILL.md
Due: markdownlint-cli2

fix(docs): honor configured Cargo target directory
  Makefile
Due: arch-guardrails

ci(review): allow trusted autofix bot
  .github/workflows/claude-code-review.yml
Due: none

ci: allow release test suites to finish
  .github/workflows/ci.yml
Due: arch-guardrails

test(git): initialize fixtures on main
  ito-rs/crates/ito-cli/tests/support/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

test(ralph): fake native notifications on Linux
  ito-rs/crates/ito-cli/tests/ralph_smoke.rs
Due: cargo-fmt, cargo-clippy, cargo-test-coverage, cargo-test-affected, check-max-lines, arch-guardrails

ci: install worktrunk for integration tests
  mise.toml
Due: none

ci: allow feature matrix to finish
  .github/workflows/ci.yml
Due: arch-guardrails

Path conditions:
  markdownlint-cli2: any of: \.md$, but not: ^\.ito/
  cargo-fmt: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-clippy: any of: ^ito-rs/.*\.(rs|toml)$
  cargo-test-coverage: any of: ^ito-rs/.*\.rs$
  cargo-test-affected: any of: ^ito-rs/.*\.rs$
  check-max-lines: any of: ^ito-rs/.*\.rs$
  arch-guardrails: any of: ^(ito-rs/.*\.(rs|toml)|Makefile|\.pre-commit-config\.yaml|\.github/workflows/ci\.yml)$
  cargo-deny: any of: ^ito-rs/.*\.(toml|lock)$
